@use 'sass:map';
@use '@swisspost/design-system-styles/core' as post;

$bg-classes: ();

@each $color, $value in post.$background-colors {
  @if (
    map.has-key(post.$contextual-colors, $color) ==
      false and
      map.has-key(post.$accent-colors, $color) ==
      false and
      map.has-key(post.$signal-colors, $color) ==
      false
  ) {
    $bg-classes: append($bg-classes, 'bg-#{$color}');
  }
}

@each $color, $value in post.$contextual-colors {
  $bg-classes: append($bg-classes, 'bg-#{$color}');
}

@each $color, $value in post.$accent-colors {
  $bg-classes: append($bg-classes, 'bg-#{$color}');
}

@each $color, $value in post.$signal-colors {
  $bg-classes: append($bg-classes, 'bg-#{$color}');
}

:export {
  bgClasses: $bg-classes;
}
