@use 'sass:list';
@use 'sass:map';
@use '@swisspost/design-system-styles/core' as post;

$background-classes: ();

@each $key in map.keys(post.$background-colors) {
  $background-classes: list.append($background-classes, 'bg-#{$key}', $separator: comma);
}

:export {
  bg-classes: [$background-classes];
}
