.version-switch {
  margin: -1rem;
}

.dropdown-button {
  align-items: center;
  padding-inline: 1rem;
  padding-block: 0;
  min-height: 0;
  height: 64px; // Static header height
}

.dropdown-item {
  border-top: 1px solid var(--post-black-10);

  &:first-child {
    border-top: none;
  }
}

.icons {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.75rem;

  span {
    display: flex;
    align-items: center;
    gap: 0.25rem;
  }

  img {
    max-width: 1.5em;
  }
}
