@use '@swisspost/design-system-styles/components/tabs/tab-title';
@use '@swisspost/design-system-styles/core' as post;

:host {
  height: 100%;
  display: flex;
  align-self: end;
}

.tab-title {
  @include post.reset-button;
}
