.good-example .my-content {
  border: 1px solid rgba(#107800, 0.5);
  background-color: rgba(#107800, 0.2);
}

.bad-example .my-content {
  border: 1px solid rgba(#b20000, 0.5);
  background-color: rgba(#b20000, 0.2);
}
