@use '@swisspost/design-system-styles/core' as post;

:host {
  display: block;
}

post-language-switch {
  post-list > div[role='list'] {
    flex-direction: row;
    gap: 8px;
  }

  .hide {
    display: none;
  }

  post-language-option {
    width: 100%;
  }
}
