@use '@swisspost/design-system-styles/tokens/components';
@use '@swisspost/design-system-styles/functions/tokens';
@use '@swisspost/design-system-styles/mixins/button' as button-mx;
@use '@swisspost/design-system-styles/mixins/utilities' as utilities-mx;
@use '@swisspost/design-system-styles/components/header/mixins' as header-mx;
@use '@swisspost/design-system-styles/mixins/media';

tokens.$default-map: components.$post-button;

:host {
  display: flex;

  > span {
    display: flex;
    flex-shrink: 0;
    width: 40px;
    height: 40px;
    align-items: center;
    justify-content: center;
    background-color: #050400;
    color: #fff;
    border-radius: 2px;
  }
}

:host(:where([variant='list'])) {
  column-gap: 0.5rem;
}

.post-language-switch-dropdown-container {
  display: flex;
  flex-direction: column;

  > * {
    width: 100%;
  }
}

.post-language-switch-trigger {
  cursor: pointer;
  @include button-mx.reset-button;
  @include header-mx.subsidiary-header-interactive;

  @include utilities-mx.focus-style;
  @include utilities-mx.not-disabled-hover() {
    @include button-mx.button-variant-def('hover', 'tertiary');
  }

  post-icon {
    height: var(--post-core-dimension-16);
    width: var(--post-core-dimension-16);
  }

  @include utilities-mx.high-contrast-mode() {
    background-color: ButtonFace !important;
    color: ButtonText !important;
    border: 2px solid ButtonBorder;
    &:hover {
      border-color: Highlight !important;
    }
  }
}
