# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# these users will be requested for
# review when someone opens a pull request.
#
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Maintainers have to sign off PRs to main as required in branch protection rules
packages/documentation @swisspost/design-system-members
* @swisspost/design-system-maintainers
