@use 'sass:map';
@use '@swisspost/design-system-styles/core.scss' as post;
@use '@swisspost/design-system-styles/mixins/utilities';

$tile-size: var(--post-docs-tile-size, 120px);
$tile-rg-size: var(--post-docs-tile-rg-size, calc($tile-size / 1.2));

:host {
  a {
    @include utilities.focus-style {
      border-radius: post.$border-radius;
    }
  }

  .tile {
    display: flex;
    flex-direction: column;
    width: $tile-size;
    height: $tile-size;
    background-color: post.$white;
    border-radius: post.$size-regular;
    box-shadow: 0 2px 5px 0 rgba(82, 49, 120, 0.3);
    text-decoration: none;
    text-align: center;

    @include utilities.high-contrast-mode() {
      border: 2px solid transparent;
    }

    .tile--title {
      display: flex;
      justify-content: center;
      align-items: center;
      flex: 0 0 auto;
      padding: 0 post.$size-micro;
      height: calc(#{post.$size-mini * 2} + 2.2em);
      background-color: post.$yellow;
      border-top-left-radius: inherit;
      border-top-right-radius: inherit;
      font-size: max(12px, calc($tile-size * 0.1));
      font-weight: post.$font-weight-bold;
      color: post.$black;
      z-index: 1;
      line-height: 1.1;
      box-shadow: 0 2px 0 1px rgba(post.$yellow, 0.5);

      ~ .tile--icon {
        img {
          max-height: 50px;
        }
      }
    }

    .tile--icon {
      flex: 0 1 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: post.$size-micro;
      border-bottom-left-radius: inherit;
      border-bottom-right-radius: inherit;

      ::slotted(img) {
        height: 0;
        min-height: min(100%, calc($tile-size * 0.4));
      }

      ::slotted(span) {
        font-size: 0.6875em;
        color: post.$gray-600;
      }
    }

    &[href] {
      transition: transform 150ms ease-out;

      &:hover {
        transform: scale(1.1);
      }
    }

    @include post.media-breakpoint-down(md) {
      width: $tile-rg-size;
      height: $tile-rg-size;
      .tile--title {
        height: calc(#{post.$size-mini * 1.5} + 2.2em);

        ~ .tile--icon {
          ::slotted(img) {
            min-height: calc($tile-size * 0.3);
          }
        }
      }

      .tile--icon {
        ::slotted(img) {
          min-height: calc($tile-size * 0.4);
        }
      }
    }
  }
}
