@use '@swisspost/design-system-styles/core' as post;

.heading {
  position: relative;
  margin-top: 0;

  & + * {
    position: relative;
    z-index: 1;
  }
}

.versions {
  text-align: left;
}

.heading-visual {
  position: absolute;
  z-index: -1;
  right: 0;
  top: 0;
  max-width: 42%;

  @include post.media-breakpoint-down(rg) {
    display: none;
  }
}

.bubble-tea {
  margin-top: 2rem;
  padding: 1rem 0 2rem 0;
  list-style: none;
  counter-reset: bubble-tea;

  h3,
  h4 {
    margin-bottom: 1rem;
  }

  > li {
    counter-increment: bubble-tea;
    position: relative;
    margin-left: 2rem;
    padding-bottom: 2rem;
    padding-left: 3rem;
    border-left: 4px solid white;
    min-height: 5rem;

    @include post.media-breakpoint-down(rg) {
      margin-left: 1rem;
      padding-bottom: 1rem;
      padding-left: 2rem;
      min-height: 3rem;
    }

    &:last-child {
      min-height: 0;
      padding-bottom: 0;
    }

    &:before {
      content: counter(bubble-tea);
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      border-radius: 50%;
      top: -1rem;
      left: calc(-2rem - 2px);
      width: 4rem;
      height: 4rem;
      background: white;
      text-align: center;
      font-weight: bold;
      font-size: 1.2em;

      @include post.media-breakpoint-down(rg) {
        width: 3rem;
        height: 3rem;
        font-size: 1em;
        left: calc(-1.5rem - 2px);
        top: -0.8rem;
      }
    }
  }

  .bg-white {
    > *:last-child {
      margin-bottom: 0;
    }
  }
}

.accordion-button {
  @include post.font-curve(post.$accordion-font-curve);

  small {
    @include post.font-curve('tiny');
    display: inline-block;
    padding-left: 1em;
    font-weight: post.$font-weight-base;
  }
}

.highlight {
  display: inline;
  font-family: post.$font-family-monospace;
  color: post.$coral-bright;
}

.info {
  display: block;
  margin-bottom: 1rem;
  font-size: post.$font-size-tiny;
  color: post.$gray-40;

  + .info {
    margin-top: -1rem;
  }
}

.form-check-label {
  code:not(.block, .d-block),
  .change-badge {
    display: inline-block;
    padding: 0.05rem 0.3rem;
    border-radius: 3px;
    font-family: post.$font-family-monospace;
    font-size: 12px;
    vertical-align: text-bottom;
  }

  ul {
    padding-left: 1.15em;
  }

  .form-check-input:checked ~ & {
    opacity: 0.5;
  }
}
