registry=https://registry.npmjs.org/
# Added for storybook peer dependencies to react
strict-peer-dependencies=false
# Install new dependencies with exact version to let renovate handle the update
save-exact=true
