@use '../tokens/components';
@use '../tokens/elements';
@use '../functions/tokens';

tokens.$default-map: components.$post-lead;

%lead {
  font-size: tokens.get('post-lead-font-size');
  font-weight: tokens.get('post-lead-font-weight');
}

%body {
  font-size: tokens.get('post-body-font-size', elements.$post-body);
  font-weight: tokens.get('post-body-font-weight', elements.$post-body);
}
