@use './../mixins/utilities';
@use './../mixins/color' as color-mx;
@use './../variables/components/button';

%btn-default {
  border: button.$btn-border-width solid rgba(var(--post-contrast-color-rgb), 0.6);

  @include utilities.not-disabled-focus-hover() {
    border-color: var(--post-contrast-color);
    color: var(--post-contrast-color); // Override <a> color
  }

  @include color-mx.on-dark-background() {
    border-color: var(--post-contrast-color);

    @include utilities.not-disabled-focus-hover() {
      border-color: rgba(var(--post-contrast-color-rgb), 0.4);
    }
  }

  &:disabled {
    border-color: rgba(var(--post-contrast-color-rgb), 0.4);
    color: rgba(var(--post-contrast-color-rgb), 0.6);
  }
}

%btn-transparent-background {
  // Invert icon on dark backgrounds
  @include color-mx.on-dark-background() {
    .pi {
      filter: invert(1);
    }
  }
}
