@use './../mixins/button' as button-mx;
@use './../mixins/color' as color-mx;
@use './../mixins/forms' as forms-mx;
@use './../mixins/icons' as icons-mx;

@use './../variables/animation';
@use './../variables/color';
@use './../variables/components/close';

%btn-close {
  @include button-mx.reset-button;
  @include forms-mx.focus-outline;
  @include icons-mx.pi(2043);

  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: close.$close-size;
  width: close.$close-size;
  border-radius: close.$close-border-radius;
  opacity: close.$close-opacity;
  transition: opacity animation.$transition-base-timing;
  outline-color: color.$white;

  &:hover,
  &:focus {
    opacity: close.$close-hover-opacity;
  }

  @include color-mx.on-dark-background {
    filter: invert(1);
  }
}
