@use './../mixins/button';
@use './../mixins/icons';
@use './../mixins/utilities';

@use './../variables/commons';
@use './../variables/components/close';

@include icons.custom-property(2043);

%btn-close {
  @include button.reset-button;
  border-radius: close.$close-border-radius;
  color: close.$close-color;
  transition: close.$close-transition;
  cursor: pointer;

  @include utilities.focus-style {
    border-radius: commons.$border-radius;
  }

  &::before {
    content: '';
    display: block;
    height: close.$close-size;
    width: close.$close-size;
    @include icons.mask-image(2043);
  }

  @include utilities.not-disabled-focus-hover() {
    color: close.$close-hover-color;
  }

  &:disabled {
    color: close.$close-disabled-color;
  }

  @include utilities.high-contrast-mode() {
    color: CanvasText;
    forced-color-adjust: none;

    @include utilities.not-disabled-focus-hover() {
      color: Highlight;
    }
  }
}
