@use './../variables/components/alert';
@use './../variables/components/close';

%notification {
  --post-notification-padding-x: #{alert.$alert-padding-x};
  --post-notification-padding-y: #{alert.$alert-padding-y};
  --post-notification-margin-bottom: #{alert.$alert-margin-bottom};
  --post-notification-box-shadow: #{alert.$alert-box-shadow};
  --post-notification-border-radius: #{alert.$alert-border-radius};
  --post-notification-gap-x: #{alert.$alert-gap-x};
  --post-notification-gap-y: #{alert.$alert-gap-y};
  --post-notification-font-size: #{alert.$alert-font-size};
  --post-notification-font-weight: #{alert.$alert-font-weight};
  --post-notification-heading-font-size: #{alert.$alert-heading-font-size};
  --post-notification-heading-font-weight: #{alert.$alert-heading-font-weight};
  --post-notification-link-font-weight: #{alert.$alert-link-font-weight};
  --post-notification-hr-margin-top: #{alert.$alert-hr-margin-top};
  --post-notification-hr-margin-bottom: #{alert.$alert-hr-margin-bottom};
  --post-notification-icon-size: #{alert.$alert-icon-size};
  --post-notification-action-button-margin-start: #{alert.$alert-action-button-margin-start};

  background-size: var(--post-notification-icon-size);
  background-position: var(--post-notification-padding-x) var(--post-notification-padding-y);
  background-repeat: no-repeat;
  min-height: calc(2 * var(--post-notification-padding-y) + var(--post-notification-icon-size));
  padding: var(--post-notification-padding-y) var(--post-notification-padding-x);
  padding-inline-start: calc(
    var(--post-notification-padding-x) + var(--post-notification-icon-size) +
      var(--post-notification-gap-x)
  );
  margin-block-end: var(--post-notification-margin-bottom);
  box-shadow: var(--post-notification-box-shadow);
  border-radius: var(--post-notification-border-radius);
  font-size: var(--post-notification-font-size);
  font-weight: var(--post-notification-font-weight);

  &.no-icon {
    background-image: none;
    padding-inline-start: var(--post-notification-padding-x);
    min-height: initial;
  }
}

%notification-dismissible {
  position: relative;
  padding-inline-end: calc(
    var(--post-notification-padding-x) + var(--post-notification-gap-x) + #{close.$close-size}
  );
}

%notification-close-button {
  position: absolute;
  inset-block-start: alert.$alert-padding-y;
  inset-inline-end: var(--post-notification-padding-x);
}

%notification-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: var(--post-notification-gap-y);

  > * {
    margin: 0;
  }

  hr {
    margin-block: var(--post-notification-hr-margin-top) var(--post-notification-hr-margin-bottom);
  }

  a {
    font-weight: var(--post-notification-link-font-weight);
  }
}

%notification-title {
  font-size: var(--post-notification-heading-font-size);
  font-weight: var(--post-notification-heading-font-weight);
}
