@use 'sass:map';
@use '@swisspost/design-system-styles/functions/tokens';
@use '@swisspost/design-system-styles/tokens/components';
@use '@swisspost/design-system-styles/mixins/utilities';
@use '@swisspost/design-system-styles/mixins/media';

@use '../post-breadcrumb-item/mixins' as breadcrumb-item-mx;

tokens.$default-map: components.$post-breadcrumb;

:host {
  position: relative;
}

nav {
  max-width: 100%;

  &.invisible {
    visibility: hidden;
  }

  &:not(.invisible) {
    position: absolute;
    inset: 0;
  }
}

[role='list'] {
  display: flex;
  align-items: center;
  gap: tokens.get('breadcrumb-gap-inline-outer');
}

.breadcrumb-item {
  @include breadcrumb-item-mx.breadcrumb-item;
}

.home {
  &::before {
    content: unset;
  }

  post-icon {
    font-size: tokens.get('breadcrumb-icon-size');

    @include media.only(mobile) {
      font-size: 20px;
    }
  }
}

.visually-hidden {
  @include utilities.visuallyhidden;
}
