@use '@swisspost/design-system-styles/variables/color';
@use '@swisspost/design-system-styles/placeholders/text';
@use '@swisspost/design-system-styles/functions';
@use '@swisspost/design-system-styles/mixins/utilities';
@use '../../utils/utils.scss';
@use '../../utils/mixins.scss';

:host {
  --host-window-height: var(--window-height, 100vh);
  --calculated-header-height: calc(var(--header-height) + 1px);

  display: block;
  min-width: 0;
  height: var(--header-height);
  flex-shrink: 0;
}

:host(.no-animation) {
  * {
    animation: none !important;
    transition: none !important;
  }
}

.main-navigation,
.main-container,
.main-container li,
.main-link {
  @include mixins.min(lg) {
    height: 100%;
  }
}

.main-navigation {
  font-size: functions.px-to-rem(18px);

  @include mixins.min(lg) {
    font-size: functions.px-to-rem(16px);
    margin: 0 0.75rem;
  }

  @include mixins.min(xl) {
    font-size: functions.px-to-rem(18px);
  }

  @include mixins.min(xxl) {
    font-size: functions.px-to-rem(20px);
  }

  @include mixins.max(lg) {
    position: absolute;
    top: var(--calculated-header-height);
    left: 0;
    background: white;
    height: calc(var(--host-window-height) - var(--calculated-header-height));
    width: 100%;
    margin: 0;
    overflow: hidden scroll;
    -webkit-overflow-scrolling: touch;
    overscroll-behavior: contain;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: -1;
    visibility: hidden;
    transform: translateY(-100%);
    transition: transform 0.35s, visibility 0.35s;

    @media (prefers-reduced-motion: reduce) {
      transition: none;
    }

    &.open {
      transform: translateY(0);
      visibility: visible;
    }
  }
}

.main-container {
  @extend %no-list;

  display: flex;
  align-items: center;
  justify-content: flex-start;

  @include mixins.max(lg) {
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;

    > li + li {
      border-top: 1px solid color.$gray-10;
    }
  }

  @include mixins.min(lg) {
    padding-right: 0;
    padding-left: 0;
  }

  > li {
    flex: 0 1 auto;
    min-width: 0;
  }
}

.main-link {
  @extend %nav-link;

  display: flex;
  align-items: center;
  padding-right: 0.75rem;
  padding-left: 0.75rem;
  text-align: left;
  cursor: pointer;
  width: 100%;

  @include mixins.min(lg) {
    svg {
      display: none;
    }
  }

  @include mixins.max(lg) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 300;
    padding: 0.625rem 0;
    width: 100%;
    text-align: left;

    svg {
      width: 1.5rem;
      height: 1.5rem;
    }
  }

  span {
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.main-link,
.flyout-link {
  position: relative;
  color: black;

  &::after {
    content: '';
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: transparent;
    opacity: 0;
    transform: scaleX(0.8);
    transition: opacity 0.25s cubic-bezier(0.4, 0, 0.2, 1),
      transform 0.25s cubic-bezier(0.4, 0, 0.2, 1);

    @media (prefers-reduced-motion: reduce) {
      transition: none;
    }
  }

  &:hover,
  &.focus {
    &::after {
      background-color: color.$gray-20;
      opacity: 1;
      transform: scale(1);
      transition: opacity 0.25s cubic-bezier(0.4, 0, 0.2, 1),
        transform 0.25s cubic-bezier(0.4, 0, 0.2, 1);
    }
  }

  &.active {
    font-weight: 700;

    &::after {
      background-color: color.$yellow;
      opacity: 1;
      transform: scale(1);
    }
  }

  &:hover,
  &.focus,
  &.active {
    @include utilities.high-contrast-mode() {
      background-color: Highlight;
    }
  }
}

.flyout {
  left: 0;
  width: 100%;
  background: white;
  padding-bottom: 3rem;
  overflow: auto;
  overscroll-behavior: contain;
  visibility: hidden;

  @include mixins.min(lg) {
    position: absolute;
    top: 100%;
    max-height: calc(100vh - var(--header-height) - var(--meta-header-height) - 1px);
    z-index: -1;
    box-shadow: 0 0 1px 0 rgb(0 0 0 / 40%);
    transform: translateY(-100%);

    &.open {
      box-shadow: 0 0 8px 0 rgb(0 0 0 / 40%);
      transform: translateY(0);
    }
  }

  @include mixins.max(lg) {
    position: fixed;
    top: 0;
    height: 100%;
    z-index: 1;
    transform: translateX(100%);

    &.open {
      transform: translateX(0);
    }
  }

  &.open {
    visibility: visible;
  }

  &.animate {
    transition: transform 0.35s, visibility 0.35s, box-shadow 0.35s;

    @media (prefers-reduced-motion: reduce) {
      transition: none;
    }
  }
}

.flyout-nav {
  @extend %font-curve-small;

  display: flex;
  justify-content: space-between;
  min-height: 3.5rem;

  // Change box-sizing to content-box to add 1px border width to flyout-nav hight.
  // This ensures flyout-nav has same hight as main-navigation-container.
  box-sizing: content-box;
}

.flyout-row {
  display: flex;
  gap: 1.5rem;

  @include mixins.max(lg) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  @include mixins.max(rg) {
    grid-template-columns: 1fr;
  }
}

.flyout-column {
  flex: 1;
  max-width: 25%;

  @include mixins.max(lg) {
    max-width: none;
  }

  h3 {
    @extend %font-curve-small;
    margin-top: 0;
  }
}

.flyout-back-button {
  @include mixins.container-padding();

  display: flex;
  align-items: center;
  font-size: functions.px-to-rem(16px);
  font-weight: 400;
  cursor: pointer;

  svg {
    width: 1.5rem;
    height: 1.5rem;
  }

  @include mixins.min(lg) {
    display: none;
  }
}

.flyout-close-button {
  @extend %nav-link;

  display: flex;
  align-items: center;
  margin-left: auto;
  padding: 0 1.5rem;
  cursor: pointer;

  svg {
    width: 1.5rem;
    height: 1.5rem;
  }

  @include mixins.max(lg) {
    display: none;
  }
}

.flyout-linklist {
  @extend %no-list;

  li {
    border-top: 1px solid color.$gray-10;
  }

  &:first-child > li {
    border-top-color: transparent;
  }
}

.flyout-link {
  @extend %nav-link;

  display: block;
  padding: 0.75rem 0;
}

.flyout-title {
  @extend %font-curve-bigger-regular;

  margin: 2.5rem 0 1.5rem 0;

  @include mixins.min(lg) {
    display: none;
  }
}
