@use 'sass:color';
@use '@swisspost/design-system-styles/core' as post;

$margin-color: color.adjust(post.$coral-bright, $lightness: 30%);
$padding-color: color.complement($margin-color);
$gap-color: color.adjust(post.$aubergine-bright, $lightness: 30%);
$content-color: post.$white;
$border: 1px solid post.$gray-40;

.margin-padding-example {
  display: flex;
  width: fit-content;
  background-color: $margin-color;

  > div {
    height: 100px;
    width: 100px;
    background-image: linear-gradient($content-color, $content-color), linear-gradient($padding-color, $padding-color);
    background-clip: content-box, padding-box;
    border: $border;
  }
}

.gap-example {
  > div {
    width: fit-content;
    background-color: $gap-color;
    border: $border;
    text-align: center;

    > div {
      background-color: $content-color;
      padding: 12px 16px;
    }
  }
}

.legend {
  .margin {
    background-color: $margin-color;
  }

  .padding {
    background-color: $padding-color;
  }

  .gap {
    background-color: $gap-color;
  }

  .element {
    background-color: $content-color;
    border: $border;
  }
}
