@use '../variables/color';
@use '../variables/commons';
@use '../variables/type';
@use '../variables/spacing';
@use '../variables/animation';
@use '../variables/components/form-check';
@use '../mixins/color' as color-mx;
@use '../mixins/icons' as icons-mx;
@use '../mixins/utilities' as utility-mx;
@use '../tokens/components';
@use '../tokens/helpers';
@use '../functions/tokens';

.form-check {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  width: fit-content;
  border-radius: tokens.get('focus-border-radius', helpers.$post-focus);

  &-inline {
    display: inline-flex;
    vertical-align: top;
  }

  &:has(> input:not(:only-child)) {
    @include utility-mx.focus-style();

    > input {
      @include utility-mx.focus-style-none();
    }
  }

  > label {
    transition: color #{animation.$transition-base-timing};
    flex: 1;

    @include utility-mx.high-contrast-mode {
      transition: none;
    }
  }

  > input[type='radio'],
  &:not(.form-switch) > input[type='checkbox'] {
    &:not([disabled]) {
      ~ label {
        cursor: pointer;
      }

      &:hover ~ label {
        @include utility-mx.high-contrast-mode() {
          color: Highlight;
        }
      }
    }

    &[disabled] ~ label {
      @include utility-mx.high-contrast-mode() {
        color: GrayText;
      }
    }
  }
}
