@use '../variables/color';
@use '../variables/commons';
@use '../variables/type';
@use '../variables/spacing';
@use '../variables/animation';
@use '../variables/components/form-check';
@use '../mixins/color' as color-mx;
@use '../mixins/icons' as icons-mx;
@use '../mixins/utilities' as utility-mx;
@use '../tokens/components';
@use '../tokens/helpers';
@use '../functions/tokens';

.form-check {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  width: fit-content;
  border-radius: tokens.get('focus-border-radius', helpers.$post-focus);

  &-inline {
    display: inline-flex;
    vertical-align: top;

    fieldset > & {
      &:not(:last-of-type) {
        margin-right: form-check.$form-check-inline-margin-right;
      }
    }
  }

  &:has(> input:not(:only-child)) {
    @include utility-mx.focus-style();

    > input {
      @include utility-mx.focus-style-none();
    }
  }

  // Checkbox
  &:has(input[type='checkbox']):not(.form-switch) {
    padding-block: tokens.get('checkbox-padding-block-single', components.$post-checkbox);

    fieldset > & {
      &:not(:last-of-type) {
        margin-bottom: tokens.get('checkbox-gap-block-group', components.$post-checkbox);
      }
    }

    > input[type='checkbox'] {
      ~ label {
        padding-block: tokens.get('checkbox-label-padding-block', components.$post-checkbox);
        padding-inline-start: tokens.get(
            'checkbox-gap-inline-text-start',
            components.$post-checkbox
        );
        color: tokens.get('checkbox-enabled-fg', components.$post-checkbox);
      }

      &:not([disabled]) {
        ~ label {
          cursor: pointer;
        }

        &:hover ~ label {
          color: tokens.get('checkbox-hover-fg', components.$post-checkbox);

          @include utility-mx.high-contrast-mode() {
            color: Highlight;
          }
        }
      }

      &[disabled] ~ label {
        color: tokens.get('checkbox-disabled-fg', components.$post-checkbox);

        @include utility-mx.high-contrast-mode() {
          color: GrayText;
        }
      }
    }
  }

  &.form-switch {
    > input[type='checkbox'] {
      ~ label {
        color: tokens.get('switch-text-enabled-fg', components.$post-switch);
      }

      &:not([disabled]) {
        ~ label {
          cursor: pointer;
        }

        &:hover ~ label {
          color: tokens.get('switch-text-enabled-fg', components.$post-switch);

          @include utility-mx.high-contrast-mode() {
            color: Highlight;
          }
        }
      }

      &[disabled] ~ label {
        color: tokens.get('switch-text-disabled-fg', components.$post-switch);
        @include utility-mx.high-contrast-mode() {
          color: GrayText;
        }
      }
    }
  }

  // Radio Button
  &:has(input[type='radio']) {
    padding-block: tokens.get('radio-button-padding-block-single', components.$post-radio-button);

    fieldset > & {
      &:not(:last-of-type) {
        margin-bottom: tokens.get('radio-button-gap-block-group', components.$post-radio-button);
      }
    }

    > input[type='radio'] {
      ~ label {
        padding-block: tokens.get(
            'radio-button-label-padding-block',
            components.$post-radio-button
        );
        padding-inline-start: tokens.get(
            'radio-button-gap-inline-text-start',
            components.$post-radio-button
        );
        color: tokens.get('radio-button-enabled-fg', components.$post-radio-button);
      }

      &:not([disabled]) {
        ~ label {
          cursor: pointer;
        }

        &:hover ~ label {
          color: tokens.get('radio-button-hover-fg', components.$post-radio-button);

          @include utility-mx.high-contrast-mode() {
            color: Highlight;
          }
        }
      }

      &[disabled] ~ label {
        color: tokens.get('radio-button-disabled-fg', components.$post-radio-button);

        @include utility-mx.high-contrast-mode() {
          color: GrayText;
        }
      }
    }
  }

  // Small variant (Checkbox & Radio Button)
  &.form-check-sm:not(.form-switch) {
    display: flex;
    align-items: center;

    &:has(input[type='checkbox']) {
      > input[type='checkbox'] ~ label {
        font-size: tokens.get('checkbox-small-label-font-size', components.$post-checkbox);
        padding-block: tokens.get('checkbox-small-label-padding-block', components.$post-checkbox);
        padding-inline-start: tokens.get(
            'checkbox-small-gap-inline-text-start',
            components.$post-checkbox
        );
      }
    }

    &:has(input[type='radio']) {
      > input[type='radio'] ~ label {
        font-size: tokens.get('radio-button-small-label-font-size', components.$post-radio-button);
        padding-block: tokens.get(
            'radio-button-small-label-padding-block',
            components.$post-radio-button
        );
        padding-inline-start: tokens.get(
            'radio-button-small-gap-inline-text-start',
            components.$post-radio-button
        );
      }
    }
  }

  > label {
    transition: color #{animation.$transition-base-timing};
    flex: 1;

    @include utility-mx.high-contrast-mode {
      transition: none;
    }
  }
}

// Checkbox Group
/* Checkbox Group / Grouped/Vertical */
fieldset .form-check:not(.form-check-inline):not(:last-of-type) {
  margin-block-end: tokens.get('checkbox-gap-block-group');
}

/* Checkbox Group / Inline/Horizontal */
fieldset:has(.form-check-inline) {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

/* Spacing for Checkbox Group Grouped/Vertical default */
fieldset .form-check:not(.form-check-inline):not(:last-of-type) {
  margin-block-end: tokens.get('checkbox-gap-block-group');
}

/* Spacing Checkbox Group Inline/Horizontal default */
fieldset .form-check.form-check-inline {
  margin-inline-end: tokens.get('checkbox-gap-block-group');
}

// Small group spacing
/* Checkbox small vertical */
fieldset
.form-check-sm:has(input[type='checkbox']):not(.form-switch, .form-check-inline, :last-of-type) {
  margin-block-end: tokens.get('checkbox-small-group-items-gap-block', components.$post-checkbox);
}

/* Checkbox small inline */
fieldset
.form-check-sm.form-check-inline:has(input[type='checkbox']):not(.form-switch):not(
    :last-of-type
  ) {
  margin-inline-end: tokens.get('checkbox-small-group-items-gap-inline', components.$post-checkbox);
}

/* Radio small vertical */
fieldset
.form-check-sm:has(input[type='radio']):not(.form-switch, .form-check-inline, :last-of-type) {
  margin-block-end: tokens.get(
      'radio-button-small-group-items-gap-block',
      components.$post-radio-button
  );
}

/* Radio small inline */
fieldset
.form-check-sm.form-check-inline:has(input[type='radio']):not(.form-switch):not(:last-of-type) {
  margin-inline-end: tokens.get(
      'radio-button-small-group-items-gap-inline',
      components.$post-radio-button
  );
}
