@forward './../variables/options';

@use 'sass:map';

@use './../lic/bootstrap-license';
@use './../themes/bootstrap/core' as *;

@use './../functions/contrast' as contrast-fn;
@use './../mixins/color' as color-mx;
@use './../mixins/icons' as icons-mx;
@use './../placeholders/notifications' as notifications-ph;

@use './../variables/breakpoints';
@use './../variables/commons';
@use './../variables/grid';
@use './../variables/components/alert';
@use './../variables/components/close';


.alert {
  @extend %notification;

  &:not(.alert-action) {
    @extend %notification-content;
  }
}

.alert > *:only-child,
.alert > .btn-close:first-child + *:last-child,
.alert-heading {
  @extend %notification-title;
}

.alert-dismissible {
  @extend %notification-dismissible;

  > .btn-close {
    @extend %notification-close-button;
  }
}

.alert-action {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--post-notification-gap-x);

  > .alert-content {
    flex: 1 1 auto;
    @extend %notification-content;
  }

  > .alert-buttons {
    flex: 0 0 auto;
    display: flex;
    align-items: center;

    > .btn {
      margin-inline-start: var(--post-notification-action-button-margin-start);
    }
  }

  @include media-breakpoint-up(md) {
    &.alert-dismissible > .btn-close {
      inset-block-start: calc(50% - #{close.$close-size / 2});
    }
  }

  @include media-breakpoint-down(md) {
    flex-direction: column;
    align-items: stretch;
    padding-inline: var(--post-notification-padding-x);

    > .alert-content {
      padding-inline-start: calc(var(--post-notification-gap-x) + var(--post-notification-icon-size));
      padding-inline-end: calc(var(--post-notification-gap-x) + #{close.$close-size});
    }

    > .alert-buttons {
      display: flex;

      > .btn {
        flex: 1 0 0;
        width: 100%;

        &:first-child {
          margin-inline-start: 0;
        }
      }
    }
  }
}

.alert-fixed-bottom {
  --post-notification-margin-bottom: 0;
  --post-notification-border-radius: 0;

  position: fixed;
  inset-block-end: 0;
  inset-inline-start: 0;
  inset-inline-end: 0;
  z-index: commons.$zindex-fixed;

  @include media-breakpoint-up(xxl) {
    $container-max-width: map.get(breakpoints.$grid-breakpoints, 'xxl');
    $container-padding-x: map.get(grid.$grid-container-padding, 'xxl');
    --post-notification-padding-x: calc((100vw - #{$container-max-width}) / 2 + #{$container-padding-x});
  }
}

@each $name, $color, $icon in alert.$alert-variants {
  .alert-#{$name} {
    @include color-mx.colored-background($color);
    @include icons-mx.pi($icon, contrast-fn.get-best-contrast-text($color));

    > .btn-close {
      --post-close-filter: #{contrast-fn.get-black-icon-filter($color)};
    }
  }
}
