@use '../functions/tokens';
@use '../tokens/components';
@use '../mixins/utilities';

tokens.$default-map: components.$post-app-store-badge;

.app-store-badge {
  display: inline-flex;
  border-radius: tokens.get('app-store-border-radius');

  img {
    display: block;
    height: tokens.get('app-store-height');
  }

  @include utilities.focus-style(
    $offset: tokens.get('app-store-focus-outline-offset'),
    $width: tokens.get('app-store-focus-outline-width'),
    $color: tokens.get('app-store-focus-outline-color')
  );
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
