@use '../tokens/components';
@use '../functions/tokens';
@use './../mixins/button';
@use './../mixins/utilities';

tokens.$default-map: components.$post-avatar;

post-avatar,
post-avatar2,
post-avatar3 {
  @at-root :has(> &):not(:has(> :not(.visually-hidden) ~ &, > & ~ :not(.visually-hidden))) {
    a:where(&) {
      display: inline-block;
    }

    button:where(&) {
      @include button.reset-button;

      &:hover > post-avatar,
      &:hover > post-avatar2,
      &:hover > post-avatar3 {
        @include utilities.high-contrast-mode() {
          --post-avatar-bg: Highlight !important;
        }
      }
    }

    :is(a, button):where(&) {
      &:hover > post-avatar,
      &:hover > post-avatar2,
      &:hover > post-avatar3 {
        --post-avatar-bg: #{tokens.get('avatar-hover-bg')};
        --post-avatar-fg: #{tokens.get('avatar-hover-fg')};

        &::after {
          background-color: tokens.get('avatar-image-hover-opacity');
        }
      }

      @include utilities.focus-style {
        border-radius: tokens.get('avatar-border-radius');
      }
    }
  }
}
