@use '../tokens/components';
@use '../functions/tokens';

tokens.$default-map: components.$post-avatar;

a,
button {
  &:where(:has(post-avatar:only-child)) {
    display: inline-flex;
    padding: 0;
    background-color: transparent;
    border: 0 none;
    border-radius: tokens.get('avatar-border-radius');
    text-decoration: none;
  }

  &:hover {
    post-avatar {
      --post-avatar-bg: #{tokens.get('avatar-hover-bg')};
      --post-avatar-fg: #{tokens.get('avatar-hover-fg')};

      &::after {
        background-color: tokens.get('avatar-image-hover-opacity');
      }
    }
  }
}
