@forward './../variables/options';

@use './../lic/bootstrap-license';
@use './../themes/bootstrap/core' as *;
@use './../themes/bootstrap/badge' as bb;

@use './../variables/components/badge';
@use './../variables/components/forms';
@use './../variables/components/form-check';
@use './../variables/color';
@use './../mixins/utilities';
@use './../mixins/forms' as forms-mx;
@use './../mixins/badge' as badge-mx;
@use './../placeholders/badge' as badge-ph;
@use './../functions/icons' as icons-fn;

.badge {
  @extend %badge;
}

a,
button {
  &.badge {
    @include forms-mx.focus-outline;
    background-color: transparent;
    text-decoration: none;
    transition: badge.$badge-transition;

    @include utilities.not-disabled-focus-hover {
      @include badge-mx.badge-hover-state;
    }

    &:active,
    &.active {
      @include badge-mx.badge-active-state;
    }
  }
}

.badge-check {
  &-label {
    @extend %badge;
    @include forms-mx.focus-outline;
    transition: badge.$badge-transition;
    cursor: pointer;
  }

  &-input {
    @include utilities.visuallyhidden;
  }

  &-input:focus-visible + &-label {
    outline-offset: forms.$input-focus-outline-thickness;
    outline: forms.$input-focus-outline-thickness solid var(--post-contrast-color);
  }

  &-input:not(:checked) + &-label:hover {
    @include badge-mx.badge-hover-state;
  }

  &-input:checked + &-label {
    @include badge-mx.badge-active-state;
  }
}

@include utilities.high-contrast-mode() {
  .badge-check {
    &-input:focus-visible + &-label {
      border-color: Highlight;
      outline-color: Highlight;
    }

    &-input:checked + &-label {
      &:hover {
        @include badge-mx.badge-hover-state;
      }
    }
  }

  button.badge,
  a.badge,
  .badge-check-label {
    transition: none;
  }
}
