@use '../tokens/components';
@use '../functions/tokens';

tokens.$default-map: components.$post-quote;

.blockquote {
  font-size: tokens.get('post-quote-font-size');
  font-weight: tokens.get('post-quote-font-weight');
  margin: tokens.get('post-quote-margin-block') tokens.get('post-quote-margin-inline');
  padding: 0 tokens.get('post-quote-padding-inline-end') 0
    tokens.get('post-quote-padding-inline-start');
  border-inline-start: tokens.get('post-quote-border-width-left') tokens.get('post-quote-border-left-color');
    tokens.get('post-quote-border-left-color');
}

figure:has(.blockquote) {
  margin: tokens.get('post-quote-margin-block') tokens.get('post-quote-margin-inline');
  padding: 0 tokens.get('post-quote-padding-inline-end') 0
    tokens.get('post-quote-padding-inline-start');
  border-inline-start: tokens.get('post-quote-border-width-left')
    tokens.get('post-quote-border-left-style') tokens.get('post-quote-border-left-color');

  .blockquote {
    margin: 0;
    padding: 0;
    border-width: 0;
    border-style: none;
    border-color: transparent;
  }
}

figcaption .blockquote-footer {
  margin-top: tokens.get('post-quote-gap-inline');
}
