@use 'sass:map';

@use './../themes/bootstrap/core' as *;
@use './../themes/bootstrap/breadcrumbs' as bb;

@use './../variables/type';
@use './../variables/spacing';
@use './../variables/components/breadcrumbs';
@use './../placeholders/text';

@use '../functions/tokens';
@use '../tokens/utilities';

.breadcrumb {
  @extend %font-curve-small;
  flex-wrap: nowrap;
  height: tokens.get('utility-gap-40', utilities.$post-spacing);
  overflow: hidden;
  font-weight: type.$font-weight-normal;
  white-space: nowrap;
}
