@forward './../variables/options';

@use 'sass:map';

@use './../themes/bootstrap/core' as *;
@use './../themes/bootstrap/breadcrumbs' as bb;

@use './../variables/type';
@use './../variables/spacing';
@use './../variables/components/breadcrumbs';
@use './../placeholders/text';

.breadcrumb {
  @extend %font-curve-small;
  flex-wrap: nowrap;
  height: map.get(spacing.$post-sizes, 'bigger-big');
  overflow: hidden;
  font-weight: type.$font-weight-normal;
  white-space: nowrap;
}

.breadcrumb-item {
  display: flex;
  align-items: center;

  .ppm-breadcrumb-divider {
    fill: breadcrumbs.$breadcrumb-divider-color;
  }

  a {
    display: flex;
    align-content: center;
    align-items: center;
    color: breadcrumbs.$breadcrumb-link-color;
    text-decoration: none;

    &:hover {
      color: breadcrumbs.$breadcrumb-hover-color;
    }
  }
}

