@forward './../variables/options';

@use './../lic/bootstrap-license';
@use './../themes/bootstrap/core' as *;
@use './../themes/bootstrap/button-group' as bg;

@use './../mixins/utilities';
@use './../variables/color';
@use './../variables/commons';
@use './../variables/components/button';
@use './../variables/components/forms';

.btn-group {
  max-width: 100%;

  > .btn-check {
    @include utilities.visuallyhidden;
  }

  > .btn {
    white-space: normal;
    cursor: pointer;

    @include utilities.high-contrast-mode() {
      transition: none !important;
    }

    z-index: 0;
    outline: forms.$input-focus-outline-thickness solid transparent;
    transition: z-index (0.5 * button.$btn-transition-duration) linear,
      outline-color (0.75 * button.$btn-transition-duration), button.$btn-transition;

    &:hover {
      z-index: commons.$zindex-button-group - 1 !important;
    }
  }


  .btn:focus-visible,
  .btn-check:focus-visible + .btn {
    z-index: commons.$zindex-button-group !important;
    outline-color: var(--post-contrast-color);
    border-color: var(--post-contrast-color);
    transition: z-index (0.5 * button.$btn-transition-duration) linear,
      outline-color (0.75 * button.$btn-transition-duration) ease
        (0.25 * button.$btn-transition-duration),
      button.$btn-transition;
  }

  // secondary button variant (only official variant)
  > .btn-secondary {
    border-color: color.$gray-20;
  }

  > .btn-secondary.active,
  > .btn-check:checked + .btn-secondary {
    background-color: color.$yellow;

    @include utilities.high-contrast-mode() {
      background-color: Highlight;
    }
  }

  > .btn-check:disabled + .btn-secondary {
    pointer-events: none;
    color: rgba(var(--post-contrast-color-rgb), 0.6);
  }
}
