@use 'sass:map';
@use './../mixins/utilities';
@use '../functions/tokens';
@use '../tokens/components';
@use './../variables/breakpoints';
@use './../mixins/media';
@use './../mixins/button-group' as bg;

tokens.$default-map: components.$post-button-group;

.btn-group {
  position: relative;
  box-shadow: tokens.get('button-group-elevation');

  label,
  button,
  a {
    text-decoration: none;
    border-radius: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border: tokens.get('button-group-button-border-width') solid
      tokens.get('button-group-button-color-enabled-stroke');
    font-weight: tokens.get('button-group-button-label-font-weight');
    background-color: tokens.get('button-group-button-color-enabled-bg');
    color: tokens.get('button-group-button-color-enabled-fg');
    cursor: pointer;
    box-shadow: none;

    &:hover {
      background-color: tokens.get('button-group-button-color-hovered-bg');
      color: tokens.get('button-group-button-color-hovered-fg');
      border-color: tokens.get('button-group-button-color-hovered-stroke');
    }
  }

  input:disabled + label,
  button:disabled {
    background-color: tokens.get('button-group-button-color-disabled-bg');
    color: tokens.get('button-group-button-color-disabled-fg');
    border-color: tokens.get('button-group-button-color-disabled-stroke');
    border-style: tokens.get('button-border-style-disabled', components.$post-button);
    cursor: default;
  }

  // Selected
  input:checked + label {
    background-color: tokens.get('button-group-button-color-selected-enabled-bg');
    color: tokens.get('button-group-button-color-selected-enabled-fg');
    border-color: tokens.get('button-group-button-color-selected-enabled-stroke');

    &:hover {
      background-color: tokens.get('button-group-button-color-selected-hovered-bg');
      color: tokens.get('button-group-button-color-selected-hovered-fg');
      border-color: tokens.get('button-group-button-color-selected-hovered-stroke');
    }
  }

  input:disabled + label {
    z-index: 1;
  }

  label:has(+ input:disabled) {
    z-index: 2;
  }

  input:checked + label,
  input:focus + label,
  button:focus,
  button:active,
  a:focus,
  a:active {
    z-index: 3;
  }

  input {
    position: absolute;
    clip: rect(0, 0, 0, 0);
    pointer-events: none;
    @include utilities.focus-style('+ label');
  }

  // default is horizontal
  @include bg.horizontal-variant();

  &.btn-group-vertical {
    @include bg.vertical-variant();
  }
}

// Generates breakpoint classes
@each $key, $value in breakpoints.$grid-breakpoints {
  .btn-group.btn-group-#{$key}-horizontal {
    @include media.min($key) {
      @include bg.horizontal-variant;
    }
  }

  .btn-group.btn-group-#{$key}-vertical {
    @include media.min($key) {
      @include bg.vertical-variant;
    }
  }
}
