@use './../variables/commons';
@use './../mixins/icons' as icons-mx;
@use './../variables/icons';
@use '../mixins/utilities' as utilities-mx;

@use './../functions/tokens';
@use './../mixins/color-scheme';
@use './../tokens/utilities';
@use './../tokens/components';

tokens.$default-map: components.$post-cards;

@include icons-mx.custom-property('arrowright');

.card {
  display: flex;
  flex-direction: column;
  transition: all 250ms;
  border-radius: tokens.get('card-border-radius');
  background-color: tokens.get('card-bg');
  color: tokens.get('card-fg');
  border: 1px solid tokens.get('card-non-interactive-stroke');
  @include color-scheme.set(tokens.get('card-scheme'));

  // Add an elevation only if card is interactive
  &:is(post-linkarea) {
    border: 0;
    box-shadow: tokens.get('card-interactive-elevation');

    &:hover {
      background-color: tokens.get('card-hover-bg');

      p,
      h1,
      h2,
      h3,
      h4,
      h5,
      h6,
      a,
      .btn-tertiary {
        color: tokens.get('card-hover-fg');
      }
    }
  }

  > *:first-child {
    border-start-start-radius: tokens.get('card-border-radius');
    border-start-end-radius: tokens.get('card-border-radius');
  }

  > *:last-child {
    border-end-start-radius: tokens.get('card-border-radius');
    border-end-end-radius: tokens.get('card-border-radius');
  }

  .card-body {
    padding: tokens.get('card-padding-1');
  }

  .list-interactive {
    margin-block: 0 !important;
  }

  .list-interactive-item {
    padding: 1.25rem 1rem;

    &:not(:first-child) {
      border-top: 1px solid tokens.get('card-non-interactive-stroke');
    }

    // Card elements have paddings, prevent double spacing by removing
    // elements margins
    > *:first-child {
      margin-block-start: 0;
    }

    > *:last-child {
      margin-block-end: 0;
    }
  }
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .card {
    img {
      height: 100%;
    }
  }
}

.card-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-inline: 0.5rem;

  a {
    display: inline-flex;
    align-items: center;
    padding-inline: tokens.get('utility-gap-8', utilities.$post-spacing);
    gap: tokens.get('utility-gap-8', utilities.$post-spacing);
    text-decoration: none;
    -ms-flex-align: center;

    &::before {
      @include icons-mx.icon('arrowright');
      content: '';
      display: inline-block;
      width: icons.$icon-size-default;
      height: icons.$icon-size-default;
    }
  }
}

// Card product
.product-card {
  text-decoration: none;
  box-shadow: none;

  &:hover,
  &:focus {
    z-index: 1;
    box-shadow: commons.$box-shadow-lg;
    color: var(--post-current-fg);
    text-decoration: none;
  }

  > *:not(:first-child) {
    border-top: 1px solid tokens.get('card-non-interactive-stroke');
  }

  .link-icon {
    text-decoration: none;
    display: flex;
    align-items: center;
    transition: opacity 250ms;
    opacity: 0.75;

    &:hover,
    &:focus {
      opacity: 1;
    }

    post-icon {
      width: 1.5rem;
      height: 1.5rem;
      margin-inline-end: 0.5rem;
    }
  }
}
