@use '../variables/components/form-check';
@use '../mixins/forms' as forms-mx;
@use '../mixins/utilities' as utility-mx;
@use '../functions/tokens';
@use '../tokens/components';
@use '../tokens/utilities';

tokens.$default-map: components.$post-card-control;

fieldset {
  .card-control {
    &:not(:last-child) {
      margin-bottom: tokens.get('utility-gap-16', utilities.$post-spacing);
    }
  }
}

.card-control {
  --post-current-bg: var(--post-card-control-bg);
  --post-current-fg: var(--post-card-control-fg);

  --post-card-control-scheme: #{tokens.get('card-control-unselected-scheme')};
  --post-card-control-padding: 1rem;
  --post-card-control-bg: #{tokens.get('card-control-unselected-bg')};
  --post-card-control-border-width: 2px;
  --post-card-control-border-style: solid;
  --post-card-control-border-color: #{tokens.get('card-control-unselected-stroke')};
  --post-card-control-border-radius: 8px;
  --post-card-control-column-gap: 1rem;
  --post-card-control-color: #{tokens.get('card-control-unselected-fg')};

  --post-card-control-input-margin-block: 4px;
  --post-card-control-label-padding-block: 1px;
  --post-card-control-label-font-weight: 700;
  --post-card-control-icon-size: 32px;
  --post-card-control-description-font-size: 1rem;

  display: grid;
  grid-template-areas: 'input label icon';
  grid-template-columns: min-content 1fr max-content;
  column-gap: var(--post-card-control-column-gap);
  align-content: start;
  padding: var(--post-card-control-padding);
  background-color: var(--post-card-control-bg);
  border-width: var(--post-card-control-border-width);
  border-style: var(--post-card-control-border-style);
  border-color: var(--post-card-control-border-color);
  border-radius: var(--post-card-control-border-radius);
  color: var(--post-card-control-color);
  cursor: pointer;

  @include utility-mx.focus-style();

  &:not(:has(input:disabled)):hover {
    --post-card-control-border-color: #{tokens.get('card-control-unselected-hovered-stroke')};
    --post-card-control-color: #{tokens.get('card-control-unselected-hovered-fg')};
  }

  &:has(input:disabled) {
    --post-card-control-border-style: dashed;
    --post-card-control-border-color: #{tokens.get('card-control-unselected-disabled-stroke')};
    --post-card-control-color: #{tokens.get('card-control-unselected-disabled-fg')};
    cursor: default;
  }

  &:has(input:checked) {
    --post-card-control-scheme: #{tokens.get('card-control-selected-scheme')};
    --post-card-control-bg: #{tokens.get('card-control-selected-bg')};
    --post-card-control-border-color: #{tokens.get('card-control-selected-stroke')};
    --post-card-control-color: #{tokens.get('card-control-selected-fg')};

    &:not(:has(input:disabled)):hover {
      --post-card-control-border-color: #{tokens.get('card-control-selected-hovered-stroke')};
      --post-card-control-color: #{tokens.get('card-control-selected-hovered-fg')};
    }

    &:has(input:disabled) {
      --post-card-control-border-style: dashed;
      --post-card-control-border-color: #{tokens.get('card-control-selected-disabled-stroke')};
      --post-card-control-color: #{tokens.get('card-control-selected-disabled-fg')};
    }
  }

  > * {
    // HINT: keeping the color-scheme on the child elements, prevents the focus-outline from having the wrong color in some cases.
    color-scheme: var(--post-card-control-scheme);

    // every custom-content is located on: row 2, column 'label' to 'icon'
    grid-row: 2;
    grid-column: label / icon;
  }

  &:where(:has(> .card-control--description)) > * {
    // if a description is present (located on row 2, column 'label' to 'icon'),
    // every custom-content needs to be re-located to: row 3, column 'label' to 'icon'
    grid-row: 3;
  }

  > input {
    grid-row: 1;
    grid-column: input;
    margin: var(--post-card-control-input-margin-block) 0 !important;
    outline: 0 none !important;
    transition: none !important;

    &[type='checkbox'] {
      @include forms-mx.checkbox(
        $custom-hover-selector: '.card-control:hover > input:not([disabled])'
      );
    }

    &[type='radio'] {
      @include forms-mx.radio-button(
        $custom-hover-selector: '.card-control:hover > input:not([disabled])'
      );
    }
  }

  > label {
    grid-row: 1;
    grid-column: label / icon;
    padding-block: var(--post-card-control-label-padding-block);
    font-weight: var(--post-card-control-label-font-weight);
    cursor: inherit;
  }

  &:has(> .card-control--icon) {
    > label {
      grid-column: label;
    }
  }

  > .card-control--icon {
    grid-row: 1;
    grid-column: icon;
    font-size: var(--post-card-control-icon-size);
    line-height: 1;

    &:not(post-icon) {
      height: 1em;

      > * {
        width: auto !important;
        height: 100% !important;
      }
    }
  }

  > .card-control--description {
    grid-row: 2;
    grid-column: label / icon;
    align-items: start;
    font-size: var(--post-card-control-description-font-size);
  }
}
