@forward './../variables/options';

@use './../themes/bootstrap/core' as *;
@use './../themes/bootstrap/card' as bootstrap-card;
@use './../variables/color';
@use './../variables/spacing';
@use './../variables/commons';
@use './../variables/components/card';
@use './../functions/sizing';
@use './../mixins/icons' as icons-mixins;
@use './../variables/icons';
@use './../variables/animation';

.card-group {
  margin-top: commons.$border-width;
  margin-left: commons.$border-width;
  box-shadow: commons.$box-shadow-lg;
}

.card {
  transition: box-shadow 0.25s;
  border: 0;
  border-radius: 0;
  // Outline with card-group margin trick prevents double/jumping (on hover) borders
  outline: 1px solid card.$card-border-color;
  box-shadow: commons.$box-shadow-lg;

  &.product-card,
  &.card-button {
    box-shadow: none;

    &:hover,
    &:focus {
      z-index: 1;
      box-shadow: commons.$box-shadow-lg;
    }
  }

  & + & {
    margin-top: sizing.calculate-single-box-shadow-size(commons.$box-shadow-lg) * 2;
  }

  .card-group > & {
    margin-right: commons.$border-width;
    margin-bottom: commons.$border-width;
    box-shadow: none;

    + .card {
      margin-top: 0;
    }
  }

  .list-group-item {
    padding: 1.25rem 1rem;
    border-color: card.$card-border-color;
  }

  .link-icon {
    text-decoration: none;

    .pi,
    post-icon {
      width: 1.5rem;
      height: 1.5rem;
      margin-right: 0.5rem;
    }
  }

  > .list-group + .card-footer,
  .card-body ~ .card-body {
    border-top: 1px solid color.$gray-20;
  }
}

// Card elements have paddings, prevent double spacing by removing
// elements margins
.card-header,
.card-body,
.card-footer,
.list-group-item {
  > *:first-child {
    margin-top: 0;
  }

  > *:last-child {
    margin-bottom: 0;
  }
}

.card-header,
.card-footer,
.card-body {
  padding: 1.25rem 1rem;

  .product-card &,
  .card-button & {
    @include media-breakpoint-down(sm) {
      padding: spacing.$size-regular;
    }

    @include media-breakpoint-between(sm, md) {
      padding: spacing.$size-large;
    }

    @include media-breakpoint-between(md, xxl) {
      padding: spacing.$size-big;
    }

    @include media-breakpoint-up(xxl) {
      padding: spacing.$size-bigger-big;
    }
  }

  .card-white & {
    background: color.$white;
  }
}

.card-header {
  align-items: center;

  > *:not(:last-child) {
    margin-right: 1rem;
  }
}

.product-card {
  text-decoration: none;

  &:hover,
  &:focus {
    color: inherit;
    text-decoration: none;
  }

  .link-icon {
    display: flex;
    align-items: center;
    transition: opacity 250ms;
    opacity: 0.75;

    &:hover,
    &:focus {
      opacity: 1;
    }
  }
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .card {
    img {
      height: 100%;
    }
  }

  .card-group .card {
    img {
      height: auto;
      max-height: 50%;
    }

    > .card-header,
    > .card-footer {
      flex: 0 0 auto;
    }
  }
}

.card-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-right: 0.5rem;
  padding-left: 0.5rem;

  a {
    display: inline-flex;
    align-items: center;
    padding-inline: spacing.$size-mini;
    gap: spacing.$size-mini;
    color: color.$gray-60;
    text-decoration: none;
    -ms-flex-align: center;

    &::before {
      @include icons-mixins.icon(3020);
      content: '';
      display: inline-block;
      width: icons.$icon-size-default;
      height: icons.$icon-size-default;
    }

    &:hover,
    &:focus {
      color: color.$black;
    }
  }
}

