@forward './../variables/options';

@use './../themes/bootstrap/carousel' as bc;
@use './../themes/bootstrap/core' as *;

@use './../functions/icons';
@use './../variables/color';
@use './../variables/commons';
@use './../variables/type';
@use './../variables/spacing';
@use './../mixins/utilities';

.carousel {
  &:focus-visible {
    outline: transparent;
    box-shadow:
      0 0 0 2px #fff,
      0 0 0 4px #000,
      0 0 12px 5px rgba(0, 0, 0, 0.24);
  }

  @include utilities.high-contrast-mode() {
    &:focus-visible {
      border-radius: commons.$border-radius;
      outline: spacing.$size-line solid highlight;
      outline-offset: spacing.$size-micro;
      box-shadow: none;
    }
  }
}

.carousel-inner {
  padding-bottom: calc(10% - 0.5rem);

  @include media-breakpoint-down(rg) {
    padding-bottom: 1.5rem;
  }

  @include media-breakpoint-down(md) {
    padding-bottom: calc(10% - 1rem);
  }

  img {
    aspect-ratio: 16/9;
    object-fit: cover;
  }
}

.carousel-caption {
  bottom: -5rem;
  left: 0;
  width: 40%;
  padding: 2rem;
  padding-bottom: 5rem;
  background-color: rgba(color.$nightblue-dark, 0.85);
  color: color.$white;
  text-align: left;

  @include media-breakpoint-up(lg) {
    bottom: -7rem;
  }

  @include media-breakpoint-down(lg) {
    width: 50%;
    padding: 1.5rem;
    padding-bottom: 5rem;
  }

  @include media-breakpoint-down(md) {
    width: 55%;
  }

  @include media-breakpoint-down(rg) {
    position: relative;
    bottom: 0;
    width: 75%;
    margin-top: -7rem;
  }

  @include media-breakpoint-down(sm) {
    width: calc(100% - 2rem);
    margin-top: -3rem;
    margin-left: 1rem;
  }

  .bold {
    margin-bottom: 0;
    font-size: type.$font-size-small-big;
    font-weight: type.$font-weight-bold;
  }

  .subtitle,
  .light {
    font-size: type.$font-size-small-big;
    font-weight: type.$font-weight-light;
  }
}

.carousel-caption::before {
  content: '';
  position: absolute;
  z-index: 0;
  bottom: 3rem;
  left: 0;
  width: 192px; //width from logo
  border-bottom: 10px solid color.$yellow;

  @include media-breakpoint-down(lg) {
    bottom: 2.5rem;
  }
}

.caption-right .carousel-caption {
  right: 0;
  left: auto;
}

.caption-light .carousel-caption {
  background-color: rgba(color.$light, 0.85);
  color: color.$black;
}

.carousel-indicators {
  right: 2%;
  bottom: spacing.$size-huge;
  left: inherit;
  margin: 0;
  float: right;
  text-align: right;

  @include media-breakpoint-down(lg) {
    bottom: 2rem;
  }

  @include media-breakpoint-down(rg) {
    bottom: 1.5rem;
  }

  @include media-breakpoint-down(sm) {
    right: 0;
    bottom: 0.8rem;
    left: 0;
  }
}

.caption-right .carousel-indicators {
  right: auto;
  left: 2%;
  float: left;
  text-align: left;
}

.carousel-indicators [data-bs-target] {
  width: 0.75rem;
  height: 0.75rem;
  border: 1px color.$black solid;
  border-radius: 50%;
  background-color: transparent;

  &:not(:last-child) {
    margin-right: spacing.$size-regular;
  }
}

.carousel-indicators [data-bs-target].active {
  border-color: color.$yellow;
  background-color: color.$yellow;

  @include utilities.high-contrast-mode() {
    border-color: highlight;
    background-color: highlight;
  }
}

.carousel-control-prev,
.carousel-control-next {
  display: none;
}

