@use 'form-check';
@use '../variables/color';
@use '../variables/animation';
@use '../mixins/color' as color-mx;
@use '../mixins/icons' as icons-mx;
@use '../mixins/utilities' as utility-mx;
@use '../tokens/components' as components;
@use '../functions/tokens' as tokens;

tokens.$default-map: components.$post-checkbox;

$checkbox-icon-checked: url("data:image/svg+xml,<svg viewBox='0 0 16 16' xmlns='http://www.w3.org/2000/svg'><path d='M7.51712 12.1332L4.30712 8.69325C4.02712 8.39325 4.03712 7.91325 4.34712 7.63325C4.64712 7.35325 5.12712 7.36325 5.40712 7.67325L7.31712 9.72325L10.7171 4.57325C10.9471 4.22325 11.4071 4.13325 11.7571 4.36325C12.1071 4.59325 12.1971 5.05325 11.9671 5.40325L7.51712 12.1332Z'/></svg>");
$checkbox-icon-indeterminate: url("data:image/svg+xml,<svg width='16' height='16' viewBox='0 0 16 16' xmlns='http://www.w3.org/2000/svg'><path d='M11.21 8.5H4.75C4.34 8.5 4 8.16 4 7.75C4 7.34 4.34 7 4.75 7H11.21C11.62 7 11.96 7.34 11.96 7.75C11.96 8.16 11.62 8.5 11.21 8.5Z'/></svg>");

.form-check {
  &:has(input[type='checkbox']) {
    margin-bottom: tokens.get('checkbox-gap-block-group');

    &:focus-within {
      @include utility-mx.focus-style(
        $offset: tokens.get('checkbox-focus-outline-offset'),
        $width: tokens.get('checkbox-focus-border-width'),
        $color: tokens.get('checkbox-focus-stroke'),
        $style: tokens.get('checkbox-focus-border-style')
      ) {
        color: tokens.get('checkbox-selected-fg');
        background-color: tokens.get('checkbox-selected-bg');
        border-radius: tokens.get('checkbox-focus-border-radius');
        border-color: tokens.get('checkbox-selected-stroke');
        width: fit-content;
      }
    }
  }

  &-input[type='checkbox'] {
    height: tokens.get('checkbox-icon-size');
    width: tokens.get('checkbox-icon-size');
    border: tokens.get('checkbox-icon-border-width') tokens.get('checkbox-border-style-default')
      tokens.get('checkbox-enabled-stroke');
    border-radius: tokens.get('checkbox-border-radius');
    padding: tokens.get('checkbox-icon-padding-container');

    color: tokens.get('checkbox-enabled-fg');
    background-color: tokens.get('checkbox-enabled-bg');

    + .form-check-label {
      flex: 1;
      padding-block: tokens.get('checkbox-label-padding-block');

      :not(.form-switch, .checkbox-button-card) > & {
        padding-inline-start: tokens.get(
          'checkbox-gap-inline-text-start',
          components.$post-checkbox
        );
      }
    }

    &::after {
      flex: 1;
    }

    &:hover:not([disabled]),
    &:hover:not([disabled]) ~ .form-check-label {
      color: tokens.get('checkbox-hover-fg');
      background-color: tokens.get('checkbox-hover-bg');
      border-color: tokens.get('checkbox-hover-stroke');

      @include utility-mx.high-contrast-mode() {
        border-color: Highlight;
      }
    }

    &:checked::after {
      mask-image: $checkbox-icon-checked;
      mask-size: tokens.get('checkbox-icon-size');
      mask-repeat: no-repeat;
      mask-position: center;
      background-color: currentColor;
    }

    &:indeterminate::after {
      mask-image: $checkbox-icon-indeterminate;
      mask-size: tokens.get('checkbox-icon-size');
      mask-repeat: no-repeat;
      mask-position: center;
      background-color: currentColor;
    }

    &:checked,
    &:indeterminate {
      @include utility-mx.high-contrast-mode {
        background-color: SelectedItem !important;
        color: SelectedItemText !important;
      }
    }

    &[disabled] {
      background-color: tokens.get('checkbox-disabled-bg');
      border: tokens.get('checkbox-icon-border-width') tokens.get('checkbox-border-style-disabled')
        tokens.get('checkbox-disabled-stroke');

      &:checked,
      &:indeterminate {
        @include utility-mx.high-contrast-mode {
          background-color: Field !important;
          color: GrayText !important;
        }
      }
      @include color-mx.on-dark-background {
        border: tokens.get('checkbox-icon-border-width')
          tokens.get('checkbox-border-style-disabled') color.$white-alpha-80;
      }
      @include utility-mx.high-contrast-mode {
        border: tokens.get('checkbox-icon-border-width')
          tokens.get('checkbox-border-style-disabled') GrayText;
      }
    }

    &[disabled],
    &[disabled] ~ .form-check-label {
      color: tokens.get('checkbox-disabled-fg');
      background-color: tokens.get('checkbox-disabled-bg');

      @include color-mx.on-dark-background() {
        color: color.$white-alpha-80;
      }
    }

    &.is-invalid {
      border-color: tokens.get('checkbox-enabled-stroke');

      & + label {
        color: tokens.get('checkbox-enabled-fg');
      }
    }
  }
}
