@forward './../variables/options';

@use './../lic/bootstrap-license';
@use './../themes/bootstrap/core' as *;
@use './../themes/bootstrap/close' as bc;

@use './../variables/color';
@use './../variables/icons';
@use './../variables/components/close';
@use './../mixins/icons' as icons-mx;
@use './../mixins/utilities';

.btn-close {
  height: unset;
  min-height: close.$btn-close-height;
  background-image: none;
  transition: close.$btn-close-transition;

  &::before {
    @include icons-mx.icon(2043);
    content: '';
    display: block;
    height: icons.$icon-size-default;
    width: icons.$icon-size-default;
  }

  &:focus {
    outline: 2px solid var(--post-contrast-color);
    box-shadow: none;

    &:not(:focus-visible) {
      outline: 0;
    }
  }
}

// DEPRECATED
.btn-close-white {
  filter: unset;
  color: color.$white;
}
