dialog[data-variant='cookie'] {
  > .dialog-grid {
    grid-template-columns: auto 1fr auto;
    grid-template-areas:
      'icon     header   close-button'
      'icon     body     close-button'
      'controls controls controls';
  }

  post-dialog-icon {
    align-self: flex-start;
  }
}
