dialog[data-variant='notification'] {
  padding: 0;

  > .dialog-grid {
    grid-template-columns: 1fr;
    grid-template-areas:
      'close-button'
      'icon'
      'header'
      'body'
      'controls';
  }

  &[data-type='general'] {
    --post-dialog-background-color: #{color.$info};
  }

  &[data-type='warning'] {
    --post-dialog-background-color: #{color.$warning};
  }

  &[data-type='error'] {
    --post-dialog-background-color: #{color.$error};
  }

  &[data-type='success'] {
    --post-dialog-background-color: #{color.$success};
  }

  > .dialog-grid::before {
    content: '';
    grid-area: close-button / close-button / header / header;
    background-color: var(--post-dialog-background-color);
  }

  post-dialog-close,
  post-dialog-icon,
  post-dialog-header,
  post-dialog-body {
    margin-top: spacing.$size-regular;
  }

  post-dialog-header,
  post-dialog-icon {
    justify-self: center;
  }

  post-dialog-header,
  post-dialog-body,
  post-dialog-controls {
    padding-inline: spacing.$size-regular;
  }

  post-dialog-close {
    margin-right: spacing.$size-regular;
  }

  post-dialog-header,
  post-dialog-controls {
    padding-bottom: spacing.$size-regular;
  }
}
