@use '../functions/tokens';
@use '../tokens/components';

tokens.$default-map: components.$post-divider;

hr {
  border-color: red;
  border-width: 50px;
  margin-block: tokens.get('post-divider-margin-block');
}
