@forward './../variables/options';

@use './../lic/bootstrap-license';
@use './../themes/bootstrap/dropdown' as bd;

@use './../functions/icons';
@use './../variables/color';
@use './../variables/commons';
@use './../variables/spacing';
@use './../placeholders/dropdown';
@use './../mixins/utilities';

.dropdown,
.dropup {
  .dropdown-menu {
    min-width: 200px;
    max-width: 25vw;
    max-height: 50vh;
  }
}

.dropdown-menu {
  z-index: commons.$zindex-dropdown;
  margin-top: 0;
  overflow-y: auto;
  border: 0;
  border-radius: 0;
  box-shadow: commons.$box-shadow;
  font-size: 1rem;

  hr {
    margin: 0.25rem 0;
  }

  @include utilities.high-contrast-mode() {
    .dropdown-item {
      &:hover,
      &:focus-visible {
        outline: spacing.$size-line solid Highlight;
        outline-offset: -(spacing.$size-line);
      }
    }
  }
}

$gray-arrow-down: icons.get-colored-svg-url('2052', color.$gray-80);
$white-arrow-down: icons.get-colored-svg-url('2052', color.$white);
$gray-arrow-up: icons.get-colored-svg-url('2051', color.$gray-80);
$white-arrow-up: icons.get-colored-svg-url('2051', color.$white);
$hcm-arrow-down: icons.get-colored-svg-url('2052', buttonText);
$hcm-arrow-up: icons.get-colored-svg-url('2052', buttonText);

.dropdown-toggle {
  &::after {
    @extend %toggler-icon;
    background-image: url($gray-arrow-down);
    @include utilities.high-contrast-mode() {
      background-image: url($hcm-arrow-down);
    }
  }

  &.btn-primary::after {
    background-image: url($white-arrow-down);
    @include utilities.high-contrast-mode() {
      background-image: url($hcm-arrow-down);
    }
  }

  &[aria-expanded='true'] {
    &::after {
      background-image: url($gray-arrow-up);
      @include utilities.high-contrast-mode() {
        background-image: url($hcm-arrow-up);
      }
    }

    &.btn-primary::after {
      background-image: url($white-arrow-up);
      @include utilities.high-contrast-mode() {
        background-image: url($hcm-arrow-up);
      }
    }
  }

  .dropup & {
    &::after {
      @extend %toggler-icon;
      background-image: url($gray-arrow-up);
      @include utilities.high-contrast-mode() {
        background-image: url($hcm-arrow-up);
      }
    }

    &.btn-primary::after {
      background-image: url($white-arrow-up);
      @include utilities.high-contrast-mode() {
        background-image: url($hcm-arrow-up);
      }
    }

    &[aria-expanded='true'] {
      &::after {
        background-image: url($gray-arrow-down);
        @include utilities.high-contrast-mode() {
          background-image: url($hcm-arrow-down);
        }
      }

      &.btn-primary::after {
        background-image: url($white-arrow-down);
        @include utilities.high-contrast-mode() {
          background-image: url($hcm-arrow-down);
        }
      }
    }
  }
}

.dropdown-item {
  max-width: 100%;
  padding: 0.5rem 0.75rem;
  overflow: hidden;
  text-overflow: ellipsis;

  &:focus {
    outline: 0;
  }
}
