@use './../themes/bootstrap/dropdown' as bd;

@use './../variables/color';
@use './../variables/commons';
@use './../variables/icons';
@use './../variables/spacing';
@use './../mixins/icons' as icons-mx;
@use './../mixins/utilities' as utilities-mx;

@use '../functions/tokens';
@use '../tokens/utilities';

tokens.$default-map: utilities.$post-spacing;

%toggler-icon {
  content: '';
  display: inline-block;
  width: 1em;
  height: 1em;
  margin-left: 0.5rem;
  border: 0;
}

.dropdown,
.dropup {
  .dropdown-menu {
    min-width: 200px;
    max-width: 25vw;
    max-height: 50vh;
  }
}

.dropdown-menu {
  z-index: commons.$zindex-dropdown;
  margin-top: 0;
  overflow-y: auto;
  border: 0;
  border-radius: 0;
  box-shadow: commons.$box-shadow;
  font-size: 1rem;

  hr {
    margin: 0.25rem 0;
  }

  @include utilities-mx.high-contrast-mode() {
    .dropdown-item {
      &:hover,
      &:focus-visible {
        outline: tokens.get('utility-gap-2') solid Highlight;
        outline-offset: calc(tokens.get('utility-gap-2') * -1);
      }
    }
  }
}

.dropdown-toggle {
  &::after {
    @extend %toggler-icon;
    @include icons-mx.icon(2052);
  }

  &[aria-expanded='true']::after,
  .dropup &::after {
    transform: rotate(180deg);
  }

  .dropup &[aria-expanded='true']::after {
    transform: rotate(0deg);
  }
}

.dropdown-item {
  max-width: 100%;
  padding: 0.5rem 0.75rem;
  overflow: hidden;
  text-overflow: ellipsis;

  &:focus {
    outline: 0;
  }
}
