.button-section {
  display: flex;
  gap: 1rem;
  margin-top: 4.75rem;
}

.error-container--image img {
  display: block;
  margin: auto;
}

.error-401 img {
  margin-right: 0 !important;
}

@media (max-width: 1024px) {
  .button-section {
    flex-direction: column;
    align-items: stretch;
    gap: 0.5rem;
  }
}

@media (max-width: 780px) {
  .error-container .row {
    display: flex;
    flex-wrap: wrap;
  }

  .error-container .row > .col {
    flex: 0 0 100%;
  }

  .error-container--image {
    margin-top: 1rem;
    margin-bottom: 2rem;
  }

  .error-400 {
    align-items: stretch;
    transform: rotate(90deg);
    width: 100%;
  }
}
