@use '../mixins/media';

.button-section {
  display: flex;
  gap: 1rem;
  margin-bottom: 80px;
}

.error-container--image {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  padding-bottom: 40px;

  img {
    display: block;
    max-width: 500px;
  }
}

.error-400 {
  padding: 0 !important;
}

.error-container.error-400 {
  height: 100% !important;
}

.error-container--image {
  padding-bottom: 0;
}

@include media.max(lg) {
  .button-section {
    flex-direction: column;
    align-items: stretch;
    gap: 0.5rem;
    margin-top: 3rem;
    margin-bottom: 2rem;
  }

  .error-container--image {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem 1rem;

    img {
      max-width: none;
      max-height: 300px;
      width: auto;
    }
  }
  .error-container.error-400 {
    height: 100% !important;
  }
}

@include media.max(sm) {
  .error-container .row {
    display: flex;
    flex-wrap: wrap;
  }

  .error-container .row > .col {
    flex: 0 0 100vh;
  }

  .error-400 {
    align-items: stretch;
    transform: rotate(90deg);
    width: 100%;
  }
}
