@use 'sass:color';
@use 'sass:math';

@forward './../variables/options';

@use './../mixins/forms' as forms-mx;
@use './../mixins/utilities' as utilities-mx;

@use './../functions/sizing';

@use './../variables/type';
@use './../variables/spacing';
@use './../variables/components/forms';
@use './../variables/components/form-validation';
@use './../variables/animation';
@use './../functions/tokens';
@use './../tokens/components';

tokens.$default-map: components.$post-text-input;

.form-floating {
  position: relative;

  > .form-control,
  > .form-select {
    height: tokens.get('input-sizing-height');
    min-height: tokens.get('input-sizing-height');
    line-height: tokens.get('input-sizing-line-height');
  }

  > label {
    position: absolute;
    z-index: 2;
    text-align: start;
    pointer-events: none;
    display: block;
    top: tokens.get('input-border-width');
    left: tokens.get('input-border-width');
    margin: 0;
    padding-inline: tokens.get('input-label-empty-padding-inline-start')
      tokens.get('input-label-empty-padding-inline-end');
    padding-block-start: tokens.get('input-label-empty-padding-block-start');
    border: 0;
    color: tokens.get('input-color-enabled-fg');
    font-size: tokens.get('input-sizing-label-enabled');
    width: auto;
    height: auto;
    max-width: calc(100% - (#{tokens.get('input-border-width')} * 2));
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transform-origin: tokens.get('input-label-empty-padding-inline-start') 0;
    transition: all 0.25s ease-in-out;
  }

  > .form-control {
    &::placeholder {
      color: transparent;
    }

    &:focus,
    &:not(:placeholder-shown) {
      padding-top: tokens.get('input-filled-padding-block-start');
      padding-bottom: tokens.get('input-padding-block-text2');

      ~ label {
        font-size: tokens.get('input-sizing-label-enabled');
        color: tokens.get('input-color-selected-fg');
        padding-top: tokens.get('input-label-empty-padding-inline-start');
      }
    }

    @include forms-mx.placeholder {
      opacity: 0;
    }

    &:focus {
      @include forms-mx.placeholder {
        color: tokens.get('input-color-helptext-fg');
        opacity: 1;
      }
    }

    &:disabled ~ label {
      color: tokens.get('input-color-disabled-fg');
    }

    &:hover ~ label {
      color: tokens.get('input-color-hover-fg');
    }

    &[type='file'] {
      &:focus,
      &:not(:placeholder-shown) {
        padding-top: calc(#{tokens.get('input-filled-padding-block-start')} * 1.33);
      }
    }
  }

  > .form-select {
    padding-top: tokens.get('input-filled-padding-block-start');
    padding-bottom: tokens.get('input-padding-block-text2');

    ~ label {
      color: tokens.get('input-color-enabled-fg');
      padding-top: tokens.get('input-label-empty-padding-inline-start');
      max-width: calc(100% - (#{tokens.get('input-border-width')} * 2));
      transition: all 0.25s ease-in-out;
    }

    &:disabled {
      ~ label {
        color: tokens.get('input-color-disabled-fg');
      }
    }

    &:empty,
    &.form-select-empty {
      padding-top: tokens.get('input-filled-padding-block-start');
      padding-bottom: tokens.get('input-padding-block-text2');

      ~ label {
        padding-top: tokens.get('input-label-empty-padding-inline-start');
        max-width: calc(100% - (#{tokens.get('input-border-width')} * 2));
      }
    }

    &[multiple] {
      padding-top: spacing.$size-big;
      padding-bottom: 0;
      height: auto;

      ~ label {
        padding-bottom: 0;
        max-width: calc(100% - (#{tokens.get('input-border-width')} * 2));
        height: auto;
      }

      &:not(:disabled) {
        ~ label {
          background-color: tokens.get('input-color-enabled-bg');
        }
      }

      &:empty {
        ~ label {
          padding-top: forms.$form-floating-padding-y;
          padding-bottom: forms.$form-floating-padding-y;
          width: calc(
            100% - (#{tokens.get('input-border-width')} * 2) - #{tokens.get(
                'input-label-empty-padding-inline-start'
              )}
          );
        }
      }
    }
  }

  > .form-control:focus,
  > .form-control:not(:placeholder-shown),
  > .form-select {
    ~ label {
      font-size: tokens.get('input-sizing-label-selected');
    }

    &:not(:hover) {
      ~ label {
        color: tokens.get('input-color-selected-fg');
      }
    }
  }

  // Duplicated because `:-webkit-autofill` invalidates other selectors when grouped
  > .form-control:-webkit-autofill {
    padding-top: tokens.get('input-filled-padding-block-start');
    padding-bottom: tokens.get('input-padding-block-text2');

    ~ label {
      color: tokens.get('input-color-selected-fg');
      font-size: tokens.get('input-sizing-label-selected');
    }
  }

  > :disabled ~ label,
  > .form-control:disabled ~ label {
    // Required for `.form-control`s because of specificity
    color: tokens.get('input-color-disabled-fg');
  }

  > textarea.form-control {
    padding-top: forms.$form-floating-textarea-padding-t !important;
    padding-bottom: spacing.$size-mini;
    padding-right: spacing.$size-large;
    min-height: (forms.$form-floating-label-font-size * forms.$input-line-height-lg) +
      forms.$form-floating-textarea-padding-t + spacing.$size-mini +
      sizing.px-to-rem(forms.$input-border-width * 2);
    height: auto;

    ~ label {
      padding-bottom: 0;
      width: calc(100% - (#{tokens.get('input-border-width')} * 2));
      max-width: none;
      height: unset;
      padding-top: spacing.$size-regular;
    }

    &:focus,
    &:not(:placeholder-shown) {
      padding-bottom: spacing.$size-mini;

      ~ label {
        padding-top: spacing.$size-mini;
        width: calc(100% - (#{tokens.get('input-border-width')} * 2));
        max-width: none;
        background-color: tokens.get('input-color-selected-bg');
      }
    }

    &:is(.is-valid, .is-invalid) {
      ~ label {
        width: calc(
          100% - (#{tokens.get('input-border-width')} * 2) - #{form-validation.$form-feedback-icon-offset} -
            #{tokens.get('input-sizing-height')}
        );
      }

      &:focus,
      &:not(:placeholder-shown) {
        ~ label {
          width: calc(100% - (#{tokens.get('input-border-width')} * 2));
        }
      }
    }
  }

  @include utilities-mx.high-contrast-mode() {
    > input,
    > textarea {
      @include forms-mx.placeholder() {
        opacity: 0;
      }
    }
  }
}
