@forward './../variables/options';

@use './../variables/options';

@font-face {
  font-display: swap;
  font-family: 'Swiss Post Sans v005';
  font-weight: 900;
  src:
    url('#{options.$font-base-path}/FrutigerNeueforPostW05-XBlk.woff2') format('woff2'),
    url('#{options.$font-base-path}/FrutigerNeueforPostW05-XBlk.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: 'Swiss Post Sans v005';
  font-weight: 900;
  font-style: italic;
  src:
    url('#{options.$font-base-path}/FrutigerNeueforPostW05-XBlkIt.woff2') format('woff2'),
    url('#{options.$font-base-path}/FrutigerNeueforPostW05-XBlkIt.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: 'Swiss Post Sans v005';
  font-weight: 700;
  src:
    url('#{options.$font-base-path}/FrutigerNeueforPostW05-Bold.woff2') format('woff2'),
    url('#{options.$font-base-path}/FrutigerNeueforPostW05-Bold.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: 'Swiss Post Sans v005';
  font-weight: 700;
  font-style: italic;
  src:
    url('#{options.$font-base-path}/FrutigerNeueforPostW05-BdIt.woff2') format('woff2'),
    url('#{options.$font-base-path}/FrutigerNeueforPostW05-BdIt.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: 'Swiss Post Sans v005';
  font-weight: 400;
  src:
    url('#{options.$font-base-path}/FrutigerNeueforPostW05-Rg.woff2') format('woff2'),
    url('#{options.$font-base-path}/FrutigerNeueforPostW05-Rg.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: 'Swiss Post Sans v005';
  font-weight: 400;
  font-style: italic;
  src:
    url('#{options.$font-base-path}/FrutigerNeueforPostW05-It.woff2') format('woff2'),
    url('#{options.$font-base-path}/FrutigerNeueforPostW05-It.woff') format('woff');
}
