@forward './../variables/options';

@use './../variables/options';

@font-face {
  font-display: swap;
  font-family: 'Swiss Post Sans';
  font-weight: 700;
  src:
    url('#{options.$font-base-path}/SwissPostSans-Bold.woff2') format('woff2'),
    url('#{options.$font-base-path}/SwissPostSans-Bold.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: 'Swiss Post Sans';
  font-weight: 400;
  src:
    url('#{options.$font-base-path}/SwissPostSans-Regular.woff2') format('woff2'),
    url('#{options.$font-base-path}/SwissPostSans-Regular.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: 'Swiss Post Sans';
  font-weight: 300;
  src:
    url('#{options.$font-base-path}/SwissPostSans-Light.woff2') format('woff2'),
    url('#{options.$font-base-path}/SwissPostSans-Light.woff') format('woff');
}
