@forward './../variables/options';

@use './../variables/options';

@font-face {
  font-family: "Frutiger Neue For Post";
  font-weight: 700;
  src:
    url("https://fonts.post.ch/frutigerneueforpost/v2/FrutigerNeueforPostW05-Bold.woff2") format("woff2"),
    url("https://fonts.post.ch/frutigerneueforpost/v2/FrutigerNeueforPostW05-Bold.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Frutiger Neue For Post";
  font-weight: 700;
  font-style: italic;
  src:
    url("https://fonts.post.ch/frutigerneueforpost/v2/FrutigerNeueforPostW05-BdIt.woff2") format("woff2"),
    url("https://fonts.post.ch/frutigerneueforpost/v2/FrutigerNeueforPostW05-BdIt.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Frutiger Neue For Post";
  font-weight: 400;
  src:
    url("https://fonts.post.ch/frutigerneueforpost/v2/FrutigerNeueforPostW05-Rg.woff2") format("woff2"),
    url("https://fonts.post.ch/frutigerneueforpost/v2/FrutigerNeueforPostW05-Rg.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Frutiger Neue For Post";
  font-weight: 400;
  font-style: italic;
  src:
    url("https://fonts.post.ch/frutigerneueforpost/v2/FrutigerNeueforPostW05-It.woff2") format("woff2"),
    url("https://fonts.post.ch/frutigerneueforpost/v2/FrutigerNeueforPostW05-It.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Frutiger Neue For Post";
  font-weight: 300;
  src:
    url("https://fonts.post.ch/frutigerneueforpost/v2/FrutigerNeueforPostW05-Lt.woff2") format("woff2"),
    url("https://fonts.post.ch/frutigerneueforpost/v2/FrutigerNeueforPostW05-Lt.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Frutiger Neue For Post";
  font-weight: 300;
  font-style: italic;
  src:
    url("https://fonts.post.ch/frutigerneueforpost/v2/FrutigerNeueforPostW05-LtIt.woff2") format("woff2"),
    url("https://fonts.post.ch/frutigerneueforpost/v2/FrutigerNeueforPostW05-LtIt.woff") format("woff");
  font-display: swap;
}