@forward './../variables/options';
@use './../themes/bootstrap/core' as *;

@use '../variables/color';
@use '../variables/commons';
@use '../variables/spacing';
@use './../variables/breakpoints';
@use '../mixins/utilities' as utility-mx;

.form-footer {
  border-top: $border-thick solid $black;
  padding-top: $size-large;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: $size-mini;

  &-right-actions {
    @include utility-mx.responsive-actions();
    gap: $size-mini;
  }

  @include media-breakpoint-up(md) {
    padding-top: $size-big;
    flex-direction: row;
  }
}

