@forward './../variables/options';

@use './../themes/bootstrap/core' as *;
@use './../themes/bootstrap/forms' as bf;

@use './../variables/commons';
@use './../variables/color';
@use './../variables/spacing';
@use './../variables/components/forms';
@use './../mixins/utilities';

$track-height: 4px;
$webkit-progress-height-adjustment: 2px;
$webkit-thumb-width: 32px;

.form-range-wrapper {
  @include utilities.focus-style {
    border-radius: commons.$border-radius;
  }
}

:not(.form-range-wrapper) > {
  .form-range {
    @include utilities.focus-style {
      border-radius: commons.$border-radius;
    }
  }
}

.form-range {
  &::-webkit-slider-container {
    overflow-x: clip;
  }

  &::-moz-range-thumb {
    border-radius: 50%;
    box-sizing: border-box;
    cursor: pointer;
  }

  &::-webkit-slider-runnable-track {
    height: $track-height;
  }

  &::-webkit-slider-thumb {
    // Source: https://antvil.github.io/css-sos/sos/progress/
    clip-path: polygon(
      0 calc(50% - $track-height * 0.5),
      1px calc(50% - #{$track-height * 0.5 + 4px}),
      1px 0,
      $webkit-thumb-width 0,
      $webkit-thumb-width $webkit-thumb-width,
      1px $webkit-thumb-width,
      1px calc(50% + #{$track-height * 0.5 + 4px}),
      0 calc(50% + #{$track-height * 0.5}),
      -100vw calc(50% + #{$track-height * 0.5}),
      -100vw calc(50% - #{$track-height * 0.5})
    );
  }

  &::-moz-range-track,
  &::-moz-range-progress {
    height: $track-height;
  }

  &:not(:disabled, .disabled) {
    &::-webkit-slider-runnable-track {
      background-color: color.$gray-20;
    }

    &::-moz-range-progress {
      background-color: color.$black;
    }

    &::-webkit-slider-thumb {
      box-shadow: calc(-100vw - $webkit-thumb-width) 0 0 100vw color.$black;
    }

    &:hover {
      &::-webkit-slider-thumb {
        border-width: 3px;
      }

      &::-moz-range-thumb {
        border-width: 3px;
      }
    }

    &:focus::-moz-range-thumb {
      box-shadow: none; // Remove default style
    }

    @include utilities.focus-style-custom('::-moz-range-thumb') {
      outline: none;
    }
  }

  &:disabled,
  &.disabled {
    &::-webkit-slider-thumb {
      border-color: forms.$form-range-thumb-disabled-border-color;
      border-style: dashed;
      box-shadow: calc(-100vw - $webkit-thumb-width) 0 0 100vw color.$gray-40;
    }

    &::-moz-range-thumb {
      border-color: forms.$form-range-thumb-disabled-border-color;
      border-style: dashed;
    }

    &::-moz-range-progress {
      background-color: color.$gray-40;
    }
  }

  + .form-hint {
    margin-top: spacing.$size-regular;
    transform: translateY(#{-0.5 * forms.$form-range-height});
  }
}

@include utilities.high-contrast-mode() {
  .form-range {
    // linear-gradient is forced to the value of "none" in forced-color mode
    // so, the "forced-color-adjust" property is necessary for "linear-gradient" to continue to work
    forced-color-adjust: none;

    &::-webkit-slider-thumb {
      box-shadow: calc(-100vw - $webkit-thumb-width) 0 0 100vw SelectedItem !important;
    }

    &::-moz-range-progress {
      background-color: SelectedItem !important;
    }

    &:not(:disabled, .disabled) {
      &::-webkit-slider-runnable-track {
        background-color: ButtonBorder;
      }

      &::-webkit-slider-thumb {
        background-color: ButtonFace;
        border-color: ButtonBorder;
      }

      &::-moz-range-track {
        background-color: ButtonText;
      }

      &::-moz-range-thumb {
        background-color: ButtonFace;
        border-color: ButtonText;
      }

      &:hover {
        &::-webkit-slider-thumb {
          border-color: Highlight;
        }

        &::-moz-range-thumb {
          border-color: Highlight;
        }
      }
    }

    &:disabled,
    &.disabled {
      &::-moz-range-progress {
        background-color: GrayText !important;
      }

      &::-webkit-slider-thumb {
        background-color: ButtonFace;
        border-color: GrayText;

        box-shadow: calc(-100vw - $webkit-thumb-width) 0 0 100vw GrayText !important;
      }

      &::-moz-range-thumb {
        background-color: ButtonFace;
        border-color: GrayText;
      }
    }
  }
}
