@use './../functions/tokens';
@use './../tokens/components';

.search-input {
  position: relative;

  > .form-control {
    padding-right: tokens.get(
      'input-search-empty-padding-inline-end',
      components.$post-search-input
    );
  }

  > .form-control:not(:placeholder-shown) {
    padding-right: tokens.get(
      'input-search-filled-padding-inline-end',
      components.$post-search-input
    );
  }

  > .form-control ~ .form-label {
    z-index: 0;
    padding-right: tokens.get(
      'input-search-label-empty-padding-inline-end',
      components.$post-search-input
    );
  }

  > .form-control:not(:placeholder-shown) ~ .form-label {
    padding-right: tokens.get(
      'input-search-label-filled-padding-inline-end',
      components.$post-search-input
    );
  }

  > .delete-button,
  > .search-button {
    z-index: 1;
    padding: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: tokens.get('input-search-icon-border-radius', components.$post-search-input);
    transition:
      opacity 0.2s ease,
      visibility 0.2s ease;

    > post-icon {
      width: tokens.get('input-sizing-icon', components.$post-text-input);
      height: tokens.get('input-sizing-icon', components.$post-text-input);
    }
  }

  .search-button {
    right: tokens.get('input-search-filled-gap-icon', components.$post-search-input);
  }

  .delete-button {
    right: calc(
      tokens.get('input-sizing-icon', components.$post-text-input) +
        tokens.get('input-search-filled-gap-icon', components.$post-search-input) * 2
    );
    visibility: hidden;
    opacity: 0;
  }

  .form-control:not(:placeholder-shown) ~ .delete-button {
    visibility: visible;
    opacity: 1;
  }
}
