@forward './../variables/options';

@use 'sass:map';

@use './../lic/bootstrap-license';
@use './../themes/bootstrap/core' as b;
@use './../themes/bootstrap/forms/validation' as bfv;

@use './../mixins/color' as color-mx;
@use './../mixins/utilities' as utilities-mx;
@use './../mixins/form-validation' as form-validation-mx;
@use './../variables/color';
@use './../variables/components/form-validation';
@use './../variables/components/forms';
@use './../variables/spacing';
@use './../variables/type';
@use './../mixins/icons';

.invalid-feedback,
.valid-feedback {
  display: none;
  align-items: center;
  width: 100%;
  margin-block: form-validation.$form-feedback-margin-top 0;
  padding: form-validation.$form-feedback-padding-y form-validation.$form-feedback-padding-x;
  font-size: form-validation.$form-feedback-font-size;

  @include utilities-mx.high-contrast-mode() {
    padding-inline: 0;
  }

  &::before {
    content: '';
    flex-shrink: 0;
    mask-repeat: no-repeat;
    align-self: flex-start;
    height: form-validation.$form-feedback-font-size * type.$line-height-copy;
    width: form-validation.$form-feedback-font-size * type.$line-height-copy;
    margin-right: spacing.$size-mini;
  }
}

.invalid-feedback {
  background: form-validation.$form-feedback-invalid-bg;
  color: form-validation.$form-feedback-invalid-text;

  &::before {
    @include icons.icon(2413);
  }
}

.valid-feedback {
  background: form-validation.$form-feedback-valid-bg;
  color: form-validation.$form-feedback-valid-text;

  &::before {
    @include icons.icon(2105);
  }
}

.valid-feedback.custom-feedback {
  background: form-validation.$form-feedback-custom-bg;
  color: form-validation.$form-feedback-custom-text;
}

@each $state, $data in b.$form-validation-states {
  $icon: map.get($data, 'icon');

  @include b.form-validation-state-selector($state) {
    ~ .#{$state}-feedback,
    ~ .#{$state}-tooltip {
      display: inline-flex;
    }
  }

  .input-group {
    > .form-control:not(:focus),
    > .form-select:not(:focus),
    > .form-floating:not(:focus-within) {
      @include b.form-validation-state-selector($state) {
        @if $state == 'valid' {
          z-index: 3;
        } @else if $state == 'invalid' {
          z-index: 4;
        }
      }
    }
  }
}

.is-invalid ~ .invalid-feedback,
.is-valid ~ .valid-feedback,
post-card-control ~ .invalid-feedback {
  display: inline-flex;
}

.form-control,
.form-select {
  &.is-invalid {
    &:not(:disabled) {
      border-color: form-validation.$form-feedback-invalid-color;

      &:focus {
        border-color: form-validation.$form-feedback-invalid-color;
      }
    }

    &.form-control-sm ~ .invalid-feedback {
      padding: form-validation.$form-feedback-padding-y-sm form-validation.$form-feedback-padding-x;
    }
  }

  &.is-valid {
    &:not(:disabled) {
      border-color: var(--post-success);

      &:focus {
        border-color: var(--post-success);
      }
    }

    &.form-control-sm ~ .valid-feedback {
      padding: form-validation.$form-feedback-padding-y-sm form-validation.$form-feedback-padding-x;
    }
  }
}

.form-check-input {
  @include form-validation-mx.form-validation-state-selector(invalid) {
    border-color: form-validation.$form-feedback-invalid-color;

    ~ .form-check-label {
      color: form-validation.$form-feedback-invalid-color;
    }

    @include color-mx.on-dark-background {
      border-color: inherit;

      ~ .form-check-label {
        color: color.$white;
      }
    }

    @include utilities-mx.high-contrast-mode {
      border-color: FieldText; // For blink-browser as otherwise the invalid color will be converted to Highlight
    }
  }
}
