@forward './../variables/options';

@use './../lic/bootstrap-license';

@use './../variables/components/forms';
@use './../variables/spacing';

@use './../mixins/utilities';
@use './../mixins/forms' as form-mixins;

@use './../themes/bootstrap/forms/labels' as bfl;
@use './../themes/bootstrap/forms/form-text' as bfft;
@use './../themes/bootstrap/forms/form-control' as bffc;
@use './../themes/bootstrap/forms/input-group' as bfig;

.form-control-rg {
  @include form-mixins.form-control-rg;
}

.form-control-lg {
  padding: spacing.$size-regular spacing.$size-large spacing.$size-mini spacing.$size-regular;
}

select.form-control-rg:not([size]):not([multiple]) {
  height: forms.$input-height-rg;
}

.form-control {
  position: relative;

  &:disabled {
    color: forms.$input-disabled-color;
  }

  &[readonly]:not(:disabled) {
    border-color: forms.$input-border-color;
    background-color: forms.$input-bg;
  }

  &[type='file'] {
    position: relative;

    min-height: calc(
      (1rem * forms.$input-line-height) + (forms.$input-padding-y * 2) +
        (forms.$input-border-width * 2)
    );

    &::file-selector-button {
      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      margin-inline: 0;
      height: auto;
      background-color: inherit;
      border-right: 0 none;
      border-left: inherit;
    }

    // Fix Safari cutoff when change the initial position of the selector button.
    /* stylelint-disable-next-line */
    @supports (background: - webkit-named-image(i)) {
      &::file-selector-button {
        display: initial;
        position: initial;
        margin-inline: 0;
        padding-inline: 0;
        width: 0;
        border: 0 none;
      }

      &::after {
        display: flex;
        align-items: center;
        content: 'Choose File';
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        z-index: 2;
        padding-inline: forms.$input-padding-y;
        background-color: inherit;
        border-left: inherit;
        text-align: center;

        [lang='de'] & {
          content: 'Datei auswählen';
        }

        [lang='fr'] & {
          content: 'Choisir un fichier';
        }

        [lang='it'] & {
          content: 'Scegli file';
        }
      }

      &[multiple] {
        &::after {
          content: 'Choose Files';

          [lang='de'] & {
            content: 'Dateien auswählen';
          }

          [lang='fr'] & {
            content: 'Choisir des fichiers';
          }
        }
      }
    }

    &.form-control-sm {
      min-height: calc(
        (1rem * forms.$input-line-height-sm) + (forms.$input-padding-y-sm * 2) +
          (forms.$input-border-width * 2)
      );

      &::after {
        padding-inline: forms.$input-padding-y-sm;
      }
    }

    &.form-control-rg {
      min-height: calc(
        (1rem * forms.$input-line-height-rg) + (forms.$input-padding-y-rg * 2) +
          (forms.$input-border-width * 2)
      );

      &::after {
        padding-inline: forms.$input-padding-y-rg;
      }
    }

    &.form-control-lg {
      min-height: calc(
        (1rem * forms.$input-line-height-lg) + (forms.$input-padding-y-lg * 2) +
          (forms.$input-border-width * 2)
      );

      &::after {
        padding-inline: forms.$input-padding-y-lg;
      }
    }
  }

  @include utilities.high-contrast-mode() {
    &:hover,
    &:focus {
      &:not(:disabled) {
        border-color: Highlight;

        &::file-selector-button {
          border-left-color: Highlight;
        }
      }
    }
  }
}
