@forward '../variables/options';

@use '../lic/bootstrap-license';

@use '../variables/components/forms';

@use '../mixins/utilities';
@use '../mixins/forms' as form-mixins;

@use '../themes/bootstrap/forms' as bf;
@use '../themes/bootstrap/forms/input-group';

.form-control-rg {
  @include form-mixins.form-control-rg;
}

select.form-control-rg:not([size]):not([multiple]) {
  height: forms.$input-height-rg;
}

.form-control {
  position: relative;

  &:disabled {
    color: forms.$input-disabled-color;
  }

  &[readonly]:not(:disabled) {
    border-color: forms.$input-border-color;
    background-color: forms.$input-bg;
  }

  &[type='file'] {
    min-height: calc(
      (1rem * forms.$input-line-height) + (forms.$input-padding-y * 2) +
        (forms.$input-border-width * 2)
    );

    &::file-selector-button {
      margin-inline-start: 0;
      margin-inline-end: 0;
      padding-left: 0;
      padding-right: 0;
      width: 0;
      border: 0 none;
    }

    &::after {
      display: flex;
      align-items: center;
      content: 'Choose File';
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      z-index: 2;
      padding-left: inherit;
      padding-right: inherit;
      background-color: inherit;
      border-left: inherit;
      text-align: center;

      [lang='de'] & {
        content: 'Datei auswählen';
      }

      [lang='fr'] & {
        content: 'Choisir un fichier';
      }

      [lang='it'] & {
        content: 'Scegli file';
      }
    }

    &.form-control-sm {
      min-height: calc(
        (1rem * forms.$input-line-height-sm) + (forms.$input-padding-y-sm * 2) +
          (forms.$input-border-width * 2)
      );
    }

    &.form-control-rg {
      min-height: calc(
        (1rem * forms.$input-line-height-rg) + (forms.$input-padding-y-rg * 2) +
          (forms.$input-border-width * 2)
      );
    }

    &.form-control-lg {
      min-height: calc(
        (1rem * forms.$input-line-height-lg) + (forms.$input-padding-y-lg * 2) +
          (forms.$input-border-width * 2)
      );
    }
  }

  @include utilities.high-contrast-mode() {
    &:hover,
    &:focus {
      border-color: Highlight;

      &[type='file'] {
        &::after {
          border-color: Highlight;
        }
      }
    }
  }
}
