@forward './../variables/options';

@use './../variables';
@use './../variables/components/form-feedback';
@use './../variables/components/form-select';
@use './../variables/components/forms';
@use './../variables/components/button';
@use './../mixins/forms' as forms-mixins;
@use './../mixins/utilities' as utility-mixins;

.invalid-feedback,
.valid-feedback {
  margin-bottom: 0;

  @include utility-mixins.high-contrast-mode() {
    color: HighlightText !important;
    background-color: Highlight !important;
    forced-color-adjust: none;
  }
}

.invalid-feedback {
  padding: button.$input-btn-padding-x * 0.5 button.$input-btn-padding-x;
  background: form-feedback.$form-feedback-invalid-bg;
  color: form-feedback.$form-feedback-invalid-text;
}

.valid-feedback {
  padding: button.$input-btn-padding-x * 0.5 button.$input-btn-padding-x;
  background: form-feedback.$form-feedback-valid-bg;
  color: form-feedback.$form-feedback-valid-text;
}

.valid-feedback.custom-feedback {
  background: form-feedback.$form-feedback-custom-bg;
  color: form-feedback.$form-feedback-custom-text;
}

.was-validated .form-control:invalid,
.form-control.is-invalid,
.was-validated .form-control:valid,
.form-control.is-valid {
  background-size: form-feedback.$form-feedback-icon-size;
}
