@forward './../variables/options';

@use './../mixins/color' as color-mx;
@use './../mixins/utilities' as utilities-mx;
@use './../mixins/form-validation' as form-validation-mx;
@use './../variables/color';
@use './../variables/components/form-validation';
@use './../variables/components/forms';

.invalid-feedback,
.valid-feedback {
  display: none;
  width: 100%;
  margin-block: form-validation.$form-feedback-margin-top 0;
  padding: form-validation.$form-feedback-padding-y form-validation.$form-feedback-padding-x;
  font-size: form-validation.$form-feedback-font-size;

  @include utilities-mx.high-contrast-mode() {
    color: HighlightText !important;
    background-color: Highlight !important;
    forced-color-adjust: none;
  }
}

.invalid-feedback {
  background: form-validation.$form-feedback-invalid-bg;
  color: form-validation.$form-feedback-invalid-text;
}

.valid-feedback {
  background: form-validation.$form-feedback-valid-bg;
  color: form-validation.$form-feedback-valid-text;
}

.valid-feedback.custom-feedback {
  background: form-validation.$form-feedback-custom-bg;
  color: form-validation.$form-feedback-custom-text;
}

.is-invalid ~ .invalid-feedback,
.is-valid ~ .valid-feedback {
  display: block;
}

.form-control,
.form-select {
  @include form-validation-mx.form-validation-state-selector(invalid) {
    border-color: form-validation.$form-feedback-invalid-color;

    &:focus {
      border-color: form-validation.$form-feedback-invalid-color;
      box-shadow: form-validation.$form-feedback-invalid-box-shadow;
    }
  }
}

.form-check-input {
  @include form-validation-mx.form-validation-state-selector(invalid) {
    border-color: form-validation.$form-feedback-invalid-color;

    &:focus {
      box-shadow: form-validation.$form-feedback-invalid-box-shadow;
    }

    ~ .form-check-label {
      color: form-validation.$form-feedback-invalid-color;
    }

    @include color-mx.on-dark-background {
      border-color: inherit;

      ~ .form-check-label {
        color: color.$white;
      }
    }
  }
}
