@use '../tokens/components';
@use '../functions/tokens';

//tokens.$default-map: components.$post-input-search;

.search {
  position: relative;
  
  input {
    display: block;
    width: 100%;
    padding: 1.25rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    appearance: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 2px solid hsl(0, 0%, 20%);
    border-radius: 0;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

    &::placeholder {
      color: transparent;
      transition: color 250ms ease;
    }

    &:focus::placeholder,
    &:not(:placeholder-shown)::placeholder {
      color: hsl(0, 0%, 50%);
    }

    &:focus,
    &:not(:placeholder-shown) {
      & + .search-floating-label {
        transform: scale(0.75) translate(-0.5rem, -1.5rem);
        color: hsl(0, 0%, 40%);
      }
    }
  }

  &-floating-label {
    position: absolute;
    top: 1rem;
    left: 1.5rem;
    z-index: 3;
    padding: 0.25rem;
    font-size: 1rem;
    color: hsl(0, 0%, 50%);
    pointer-events: none;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transform-origin: left top;
  }

  & button {
    position: absolute;
    top: 0px;
    right: 0px;
    height: 100%;
    padding-right: 1rem;
    padding-left: 0.5rem;
    display: flex;
    align-items: center;
    cursor: pointer;
    background: none;
    border: 0px;
    box-shadow: none;
  }
}
