@forward './../variables/options';

@use './../lic/bootstrap-license';
@use './../themes/bootstrap/core' as b;
@use './../themes/bootstrap/forms/form-select' as bffs;
@use './../mixins/forms' as forms-mixins;
@use './../mixins/utilities';

@use './../variables/commons';
@use './../variables/components/forms';
@use './../variables/components/form-select' as form-select;

.form-select-wrapper {
  @include utilities.focus-style() {
    border-radius: commons.$border-radius;
  }
}

:not(.form-select-wrapper) > {
  .form-select {
    @include utilities.focus-style() {
      border-radius: 1px; // 1px so that the outline is rounded but not the select
    }
  }
}

.form-select {
  &:focus {
    box-shadow: none; // Override bootstrap

    @include utilities.high-contrast-mode {
      border-color: FieldText !important;
    }
  }

  &:not(:disabled) {
    &:hover,
    &:focus {
      @include utilities.high-contrast-mode {
        border-color: FieldText;
      }
    }

    &:hover {
      @include utilities.high-contrast-mode {
        border-color: Highlight;
      }
    }
  }

  &:disabled {
    @include utilities.high-contrast-mode {
      border-color: GrayText !important;
      background-color: Field !important;
      color: GrayText;
    }
  }

  &:not([multiple]) {
    background-image: b.escape-svg(form-select.$form-select-indicator);
    background-size: forms.$form-bg-size;

    &.form-select-sm {
      background-size: forms.$form-bg-size-sm;
    }

    &:disabled {
      background-image: b.escape-svg(form-select.$form-select-indicator-disabled);
    }
  }

  @include utilities.high-contrast-mode() {
    background-image: b.escape-svg(form-select.$form-select-indicator-hcm-dark);

    @media (prefers-color-scheme: light) {
      background-image: b.escape-svg(form-select.$form-select-indicator-hcm-light);
    }

    background-color: Field;
    border-color: FieldText;
    color: FieldText;

    &:focus-visible {
      color: FieldText;
    }
  }
}

.form-select-rg {
  @include forms-mixins.form-rg;
}

.form-select-sm {
  @include forms-mixins.form-sm;
}

.form-select-lg {
  @include forms-mixins.form-lg;
}
