@use './../functions/tokens';
@use './../tokens/components';

tokens.$default-map: components.$post-assist;

.form-hint {
  color: tokens.get('assist-enabled-fg');
  padding-inline: tokens.get('assist-padding-inline');
  margin-block: tokens.get('post-hint-spacing-block') !important;
  font-size: tokens.get('assist-font-size');
}

.form-control:disabled .form-hint {
  color: tokens.get('assist-disabled-fg');
}
