@forward './../variables/options';

@use 'sass:map';

@use './../themes/bootstrap/core' as *;
@use './../themes/bootstrap/grid' as bg;

@use './../variables/commons';
@use './../variables/spacing';
@use './../variables/grid';

$gutter-x-cache: 0;

@each $breakpoint in grid.$grid-breakpoints-list {
  $gutter-x: map.get(grid.$grid-gutter-x, $breakpoint);

  @if ($gutter-x-cache != $gutter-x) {
    .row {
      @if $breakpoint == 'xs' {
        --bs-gutter-x: #{$gutter-x};
      } @else {
        @include media-breakpoint-up($breakpoint) {
          --bs-gutter-x: #{$gutter-x};
        }
      }
    }
  }
  $gutter-x-cache: $gutter-x;
}

// redefine gutter-utilities, to override the custom gutter-width above
@each $infix in grid.$grid-breakpoints-list {
  @each $postfix, $gutter in $gutters {
    @if $infix == 'xs' {
      .g-#{$postfix},
      .gx-#{$postfix} {
        --bs-gutter-x: #{$gutter};
      }
    } @else {
      @include media-breakpoint-up($infix) {
        .g-#{$infix}-#{$postfix},
        .gx-#{$infix}-#{$postfix} {
          --bs-gutter-x: #{$gutter};
        }
      }
    }
  }
}
