@forward './../variables/options';

@use 'sass:map';

@use './../themes/bootstrap/core' as *;
@use './../themes/bootstrap/grid' as bg;
@use './../themes/bootstrap/containers' as bc;

@use './../variables/commons';
@use './../variables/spacing';
@use './../variables/grid';

$container-padding-x-cache: 0;
$container-fluid-padding-x-cache: 0;
$gutter-x-cache: 0;

.container {
  padding-inline: var(--post-container-padding-x);
}

.container-fluid {
  padding-inline: var(--post-container-fluid-padding-x);
}

@each $breakpoint in grid.$grid-breakpoints-list {
  $container-padding-x: map.get(grid.$grid-container-padding, $breakpoint);
  $container-fluid-padding-x: map.get(grid.$grid-container-fluid-padding, $breakpoint);
  $gutter-x: map.get(grid.$grid-gutter-x, $breakpoint);

  @if ($container-padding-x-cache != $container-padding-x) {
    .container {
      @if $breakpoint == 'xs' {
        --post-container-padding-x: #{$container-padding-x};
      } @else {
        @include media-breakpoint-up($breakpoint) {
          --post-container-padding-x: #{$container-padding-x};
        }
      }
    }
  }

  @if ($container-fluid-padding-x-cache != $container-fluid-padding-x) {
    .container-fluid {
      @if $breakpoint == 'xs' {
        --post-container-fluid-padding-x: #{$container-fluid-padding-x};
      } @else {
        @include media-breakpoint-up($breakpoint) {
          --post-container-fluid-padding-x: #{$container-fluid-padding-x};
        }
      }
    }
  }

  @if ($gutter-x-cache != $gutter-x) {
    .row {
      @if $breakpoint == 'xs' {
        --bs-gutter-x: #{$gutter-x};
      } @else {
        @include media-breakpoint-up($breakpoint) {
          --bs-gutter-x: #{$gutter-x};
        }
      }
    }
  }

  $container-padding-x-cache: $container-padding-x;
  $container-fluid-padding-x-cache: $container-fluid-padding-x;
  $gutter-x-cache: $gutter-x;
}

// redefine gutter-utilities, to override the custom gutter-width above
@each $infix in grid.$grid-breakpoints-list {
  @each $postfix, $gutter in $gutters {
    @if $infix == 'xs' {
      .g-#{$postfix},
      .gx-#{$postfix} {
        --bs-gutter-x: #{$gutter};
      }
    } @else {
      @include media-breakpoint-up($infix) {
        .g-#{$infix}-#{$postfix},
        .gx-#{$infix}-#{$postfix} {
          --bs-gutter-x: #{$gutter};
        }
      }
    }
  }
}

//the following classes are all deprecated and wil be removed in next major version

//deprecated
.vertical-gutters {
  margin-bottom: grid.$grid-gutter-width * -1;

  > .col,
  > [class*='col-'] {
    padding-bottom: grid.$grid-gutter-width;
  }
}

//deprecated
// border-gutters class is used to manipulate border collapse
.row.border-gutters {
  margin-right: -(commons.$border-width);
  margin-bottom: -(commons.$border-width);
  margin-left: 0;

  > .col,
  > [class*='col-'] {
    padding-right: commons.$border-width;
    padding-bottom: commons.$border-width;
    padding-left: 0;
  }
}

//deprecated
$container-cache: 0;

//deprecated
@each $breakpoint in grid.$grid-breakpoints-list {
  $container-padding: map.get(grid.$grid-container-padding, $breakpoint);

  // Ensure this breakpoint is only overwritten when the padding differs from the last breakpoint
  @if ($container-cache != $container-padding) {
    .container-reset {
      @if $breakpoint == 'xs' {
        margin-right: -($container-padding);
        margin-left: -($container-padding);
      } @else {
        @include media-breakpoint-up($breakpoint) {
          margin-right: -($container-padding);
          margin-left: -($container-padding);
        }
      }
    }

    .container-reset-left {
      @if $breakpoint== 'xs' {
        margin-left: -($container-padding);
      } @else {
        @include media-breakpoint-up($breakpoint) {
          margin-left: -($container-padding);
        }
      }
    }

    .container-reset-right {
      @if $breakpoint== 'xs' {
        margin-right: -($container-padding);
      } @else {
        @include media-breakpoint-up($breakpoint) {
          margin-right: -($container-padding);
        }
      }
    }
  }

  //deprecated
  // Container fluid responsive needs to be written every time
  .container-fluid-#{$breakpoint} {
    @include media-breakpoint-only($breakpoint) {
      padding-right: spacing.$spacer;
      padding-left: spacing.$spacer;
    }
  }

  //deprecated
  $container-cache: $container-padding;
}

