@forward './../variables/options';

@use './../variables/icons' as vars;
@use './../variables/color';

@use './../mixins/icons' as icon-mixin;
@use './../mixins/utilities';

.pi,
%pi {
  display: inline-block;
  width: vars.$icon-size-default;
  height: vars.$icon-size-default;
  border: 0;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  vertical-align: middle;

  // Invert icons when HCM is active
  @include utilities.high-contrast-mode() {
    // Override inversion and don't change colors of pre-colored icons, they are like images
    @each $name, $path in vars.$svg-pre-colored-icon-map {
      &.pi-#{$name} {
        filter: none;
        forced-color-adjust: none;
      }
    }
  }
}

.pi-border {
  border: vars.$icon-border-width solid transparent;
  background-size: 90%;
}

@each $size, $value in vars.$icon-sizes {
  .pi-#{$size} {
    width: $value;
    height: $value;
  }
}

@each $name in vars.$legacy-icon-set {
  .pi-#{$name} {
    @include icon-mixin.pi($name);
  }
}

@each $name, $path in vars.$svg-pre-colored-icon-map {
  .pi-#{$name} {
    @include icon-mixin.pi-pre($name);
  }
}

// -- Special Icons --

.pi-favourite {
  @include icon-mixin.pi('2062-f', color.$yellow);
}
