@use '../functions/tokens';
@use '../tokens/elements';
@use '../tokens/components';
@use './../mixins/utilities';

tokens.$default-map: components.$post-inline-notification;

.inline-notification {
  position: relative;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding-block: tokens.get('notification-inline-padding-block');
  padding-inline-start: calc(
    tokens.get('notification-inline-padding-inline') + tokens.get('notification-inline-icon-size') +
      tokens.get('notification-inline-gap-inline')
  );
  padding-inline-end: tokens.get('notification-inline-padding-inline');
  border-style: tokens.get('notification-inline-border-style');
  border-width: tokens.get('notification-inline-border-width');
  border-radius: tokens.get('notification-inline-border-radius');
  row-gap: tokens.get('notification-inline-labels-gap-block');
  column-gap: tokens.get('notification-inline-labels-gap-inline');

  &.inline-notification-singleline {
    flex-wrap: wrap;
    flex-direction: row;
  }

  &::before {
    content: '';
    display: block;
    position: absolute;
    inset-inline-start: tokens.get('notification-inline-padding-inline');
    inset-block-start: tokens.get('notification-inline-padding-block');
    width: tokens.get('notification-inline-icon-size');
    height: tokens.get('notification-inline-icon-size');
  }

  @each $name in 'info', 'success', 'warning', 'error' {
    &.inline-notification-#{$name} {
      border-color: tokens.get('notification-inline-color-#{$name}-stroke');
      background-color: tokens.get('notification-inline-color-#{$name}-bg');
      color: tokens.get('notification-inline-color-#{$name}-fg');
      color-scheme: light;

      &::before {
        background-image: var(--post-signal-icon-#{$name});
      }
    }
  }

  @include utilities.high-contrast-mode {
    border: 2px solid CanvasText;
  }

  > *:first-child {
    font-weight: tokens.get('notification-inline-title-font-weight');
  }

  * {
    margin: 0;
    line-height: tokens.get('body-line-height', elements.$post-body);
    font-size: tokens.get('body-font-size', elements.$post-body);
  }
}
