@use '../functions/tokens';
@use '../mixins/icons' as icon-mixin;
@use '../tokens/components';
@use '../mixins/media';

tokens.$default-map: components.$post-listcheck;

.list-check {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  list-style: none;
  padding-block: tokens.get('list-check-margin-block') tokens.get('list-check-margin-block');
  padding-inline-start: calc(
    #{tokens.get('list-check-sizing-icon')} + 2 * #{tokens.get('list-check-padding-icon')} + #{tokens.get(
        'list-check-icon-gap-inline'
      )} + 2 * #{tokens.get('list-check-icon-container-inline')}
  );
  gap: tokens.get('list-check-item-gap-block-text');

  > li {
    position: relative;
    color: tokens.get('list-check-color-text-fg');
    padding-block: tokens.get('list-check-text-padding');

    &::before {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      margin-inline-start: calc(
        -1 * (#{tokens.get('list-check-sizing-icon')} + 2 * #{tokens.get('list-check-padding-icon')} +
              #{tokens.get('list-check-icon-gap-inline')} + #{tokens.get(
                'list-check-icon-container-inline'
              )})
      );
      margin-block: calc(-1 * tokens.get('list-check-text-padding'));

      background: tokens.get('list-check-color-icon-bg');
      width: calc(
        #{tokens.get('list-check-sizing-icon')} + 2 * #{tokens.get('list-check-padding-icon')}
      );
      height: calc(
        #{tokens.get('list-check-sizing-icon')} + 2 * #{tokens.get('list-check-padding-icon')}
      );
      content: '';
      border-radius: 50%;
      @include media.max(sm) {
        margin-block: tokens.get('list-check-icon-container-block');
        padding-inline: tokens.get('list-check-icon-container-inline');
      }
    }

    &::after {
      display: block;
      position: absolute;
      margin-inline-start: calc(
        -1 * (#{tokens.get('list-check-sizing-icon')} + 2 * #{tokens.get('list-check-padding-icon')} +
              #{tokens.get('list-check-icon-gap-inline')} + #{tokens.get(
                'list-check-icon-container-inline'
              )})
      );
      margin-block: calc(-1 * tokens.get('list-check-text-padding'));
      top: tokens.get('list-check-padding-icon');
      left: tokens.get('list-check-padding-icon');
      width: tokens.get('list-check-sizing-icon');
      height: tokens.get('list-check-sizing-icon');
      content: '';
      @include icon-mixin.icon('3035');
      color: tokens.get('list-check-color-icon-fg');
      @include media.max(sm) {
        margin-block: tokens.get('list-check-icon-container-block');
        padding-inline: tokens.get('list-check-icon-container-inline');
      }
    }
  }
}
