@forward './../variables/options';

@use './../themes/bootstrap/modal' as bm;
@use './../themes/bootstrap/core' as *;

@use './../mixins/scroll-shadows' as scroll-shadows-mixin;

@use './../variables/commons';
@use './../variables/components/modal';

.modal-content {
  border: 0;
  box-shadow: commons.$box-shadow;
}

post-ngb-modal-content {
  display: flex;
  flex-direction: column;
}

.modal-body {
  @include scroll-shadows-mixin.scroll-shadows-y(modal.$modal-content-bg);
  padding: modal.$modal-body-padding;
  overflow-y: auto;
}

.modal-header,
.modal-footer {
  border: 0;
}

.modal-header .btn-close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0;
  margin: modal.$modal-btn-close-margin;
}

.modal-title:focus {
  outline: none; // Removes focus styles when you manually set focus to title with ngbAutofocus https://ng-github.io/#/components/modal/examples#focus
}

@include media-breakpoint-up(sm) {
  post-ngb-modal-content {
    // prevents the modal from exceeding the height of the screen
    max-height: calc(100vh - #{2 * modal.$modal-dialog-margin-y-sm-up});
  }

  // Right and left margins are set to "auto" from the sm breakpoint
  // Paddings below ensure minimal margins on medium screens
  .modal-dialog {
    padding-right: modal.$modal-dialog-margin;
    padding-left: modal.$modal-dialog-margin;
  }
}

@include media-breakpoint-down(sm) {
  post-ngb-modal-content {
    // make the modal cover the full height available on small screens
    height: calc(100vh - #{2 * modal.$modal-dialog-margin});
  }

  .modal-body,
  .modal-header {
    padding-right: modal.$modal-header-padding-y;
    padding-left: modal.$modal-header-padding-y;
  }
}
