@forward './../variables/options';

@use './../themes/bootstrap/pagination' as pg;
@use './../variables/components/pagination';
@use './../variables/spacing';
@use './../variables/commons';
@use './../variables/icons';
@use './../mixins/icons' as icon-mixin;
@use './../mixins/utilities';

.pagination {
  .page-item {
    width: pagination.$pagination-width;
    color: pagination.$pagination-color;

    &.disabled:first-child,
    &.disabled:last-child {
      display: none;
    }

    .page-link {
      height: 100%;
      color: inherit;
      text-align: center;
      text-decoration: none;

      @include utilities.high-contrast-mode() {
        &:focus,
        &:focus-within,
        &:focus-visible {
          border-radius: commons.$border-radius;
          outline: spacing.$size-line solid highlight;
        }
      }

      &[aria-label='First'],
      &[aria-label='Previous'],
      &[aria-label='Next'],
      &[aria-label='Last'] {
        > span {
          display: inline-block;
          color: transparent;
          width: icons.$icon-size-default;
          height: icons.$icon-size-default;
        }
      }

      &[aria-label='Previous'],
      &[aria-label='Next'] {
        > span {
          @include icon-mixin.icon(2110);
        }
      }

      &[aria-label='First'],
      &[aria-label='Last'] {
        > span {
          @include icon-mixin.icon(2396);
        }
      }

      &[aria-label='Next'],
      &[aria-label='Last'] {
        > span {
          transform: rotate(180deg);
        }
      }

      &[aria-disabled] {
        border-top: 0;
        border-bottom: 0;
        background-color: transparent;
      }
    }

    &:hover,
    &:focus,
    &.active {
      color: pagination.$pagination-active-color;
    }

    @include utilities.high-contrast-mode() {
      &.active > .page-link {
        background-color: Highlight;
      }

      &:first-child,
      &:last-child {
        .page-link > span {
          background-color: LinkText;
          color: transparent;
          forced-color-adjust: none;
        }
      }
    }
  }
}
