@use '../functions/tokens';
@use '../tokens/components';
@use '../mixins/supports';

tokens.$default-map: components.$post-palettes;

.palette {
  .palette-text {
    color: tokens.get('palettes-accent');
  }

  @include supports.light-dark(true) {
    color-scheme: #{tokens.get('palettes-scheme')};
  }

  @include supports.light-dark(false) {
    --fallback-prefers-light: #{tokens.get('palettes-scheme')};
  }

  background-color: #{tokens.get('palettes-bg')};
  color: #{tokens.get('palettes-fg')};

  // TODO: define tokens for sizes
  margin-top: 1rem;
  padding: 1rem;

  // TODO: remove for prod
  .palette ~ .palette {
    margin-top: 0;
  }
}
