@use '../functions/tokens';
@use '../tokens/components';
@use '../mixins/color-scheme';
@use '../mixins/supports';

tokens.$default-map: components.$post-palettes;

body,
.palette {
  background-color: #{tokens.get('palettes-bg')};
  color: #{tokens.get('palettes-fg')};

  @include color-scheme.set(tokens.get('palettes-scheme'));

  .palette-text {
    color: tokens.get('palettes-accent');
  }
}
