@use 'sass:map';
@use '../functions/tokens';
@use '../tokens/components';
@use '../tokens/elements';

tokens.$default-map: components.$post-popover;

.popover {
  font-size: tokens.get('popover', 'paragraph-font-size');

  > a {
    font-size: tokens.get('popover', 'link-font-size');
    font-weight: tokens.get('popover', 'link-font-weight');
    color: tokens.get('popover', 'link-enabled-fg');
    padding-block: tokens.get('popover', 'link-padding-block');

    &:hover {
      color: tokens.get('popover', 'link-hover-fg');
    }
    &:focus,
    &:focus-visible {
      outline-color: tokens.get('popover', 'link-focus-stroke');
      border-radius: tokens.get('popover', 'link-focus-border-radius');
    }
  }
}

.popover::selection {
  color: tokens.get('popover', 'text-selected-fg');
}

.popover-header {
  font-size: tokens.get('popover', 'legend-font-size');
  font-weight: tokens.get('legend', 'font-weight', elements.$post-legend);
  margin: 0;
}
