@use 'sass:map';

@use './../variables/breakpoints';

@use './../functions/tokens';
@use './../tokens/elements';
@use './../tokens/utilities';

tokens.$default-map: utilities.$post-spacing;

.product-navigation {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  height: 100%;
}

// Set auto height when product cards break
[data-sync-height-with] {
  @each $breakpoint, $px in breakpoints.$grid-breakpoints {
    [class*='col-#{$breakpoint}-'] > .card > & {
      @media (max-width: #{$px - 0.2}) {
        height: auto !important;
      }
    }
  }
}
