@use '../mixins/color-scheme';
@use '../functions/tokens';
@use '../tokens/elements';

tokens.$default-map: elements.$post-body;

.skiplinks {
  @include color-scheme.set(light);

  a {
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
    clip: rect(0 0 0 0);
    width: 1px;
    overflow: hidden;
    display: flex;
    align-items: center;
    padding: 0.25rem;
    background-color: tokens.get('body-color-bg');
    color: tokens.get('body-color-fg');

    &:focus-visible {
      position: absolute;
      clip: unset;
      width: auto;
    }
  }
}
