@forward './../variables/options';

@use './../themes/bootstrap/core' as *;

@use './../mixins/utilities' as utilities-mx;
@use './../functions/utilities' as utilities-fx;
@use './../variables/components/subnavigation';
@use './../variables/animation';
@use './../variables/spacing';
@use './../placeholders/text';

@use '../functions/tokens';
@use '../tokens/utilities';

tokens.$default-map: utilities.$post-spacing;

$module-name: 'subnavigation';

.#{$module-name} {
  position: relative;
  background-color: subnavigation.$subnavigation-background-color;

  &::after {
    @include utilities-mx.full-width-underscore(
      subnavigation.$subnavigation-border-bottom-color,
      subnavigation.$subnavigation-border-bottom-width
    );
    z-index: utilities-fx.z-index(subnavigation, underscore-root);
  }

  &-alternate {
    background-color: subnavigation.$subnavigation-background-color-alternate;
  }

  &-list {
    display: flex;
    width: calc(100% + 2rem);
    margin: 0 (-($spacer));
    padding: 0 $spacer;
    overflow-x: auto;
    list-style: none;
  }

  &-item {
    min-height: subnavigation.$subnavigation-height-xs;

    @include media-breakpoint-up(lg) {
      min-height: subnavigation.$subnavigation-height-lg;
    }
    @include media-breakpoint-up(xl) {
      min-height: subnavigation.$subnavigation-height-xl;
    }
  }

  &-link {
    @extend %font-curve-small;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    gap: subnavigation.$subnavigation-result-margin-left;
    padding: subnavigation.$subnavigation-link-padding-xs;
    color: subnavigation.$subnavigation-link-color;
    text-decoration: none;
    white-space: nowrap;

    @include transition(
      color animation.$transition-time-default animation.$transition-easing-default
    );

    @include media-breakpoint-up(lg) {
      padding: subnavigation.$subnavigation-link-padding-lg;
    }

    @include utilities-mx.high-contrast-mode() {
      &:hover,
      &:focus-visible {
        outline: tokens.get('utility-gap-2') solid Highlight;
        outline-offset: calc(tokens.get('utility-gap-4') * -1);
      }
    }

    &:hover,
    &:focus {
      color: subnavigation.$subnavigation-link-color-hover;
      text-decoration: none;

      &:not(.active)::after {
        right: 0;
        left: 0;
        opacity: 1;
      }
    }

    &:not(.active)::after {
      @include utilities-mx.full-width-underscore(
        #{subnavigation.$subnavigation-link-underscore-color-hover},
        #{subnavigation.$subnavigation-link-underscore-height}
      );
      z-index: utilities-fx.z-index(subnavigation, underscore-link);
      right: animation.$transition-distance-medium;
      left: animation.$transition-distance-medium;
      opacity: 0;

      @include transition(
        opacity animation.$transition-time-default animation.$transition-easing-default,
        left animation.$transition-time-default animation.$transition-easing-decelerate,
        right animation.$transition-time-default animation.$transition-easing-decelerate
      );

      @include media-breakpoint-up(lg) {
        right: animation.$transition-distance-medium-md;
        left: animation.$transition-distance-medium-md;
      }
    }

    &.active {
      color: subnavigation.$subnavigation-link-color-hover;
      font-weight: $font-weight-bold;

      &::after {
        @include utilities-mx.full-width-underscore(
          #{subnavigation.$subnavigation-link-underscore-color-active},
          #{subnavigation.$subnavigation-link-underscore-height}
        );
        z-index: utilities-fx.z-index(subnavigation, underscore-link);
      }
    }
  }

  @include utilities-mx.high-contrast-mode() {
    &::after {
      background-color: CanvasText;
    }

    &-link {
      &:not(.active)::after {
        display: none;
      }

      &.active {
        // use important so other background colors don't overwrite this color
        color: highlight !important;
        text-decoration: underline;

        &::after {
          display: block;
          background-color: Highlight;
        }
      }
    }
  }
}
