@forward './../variables/options';
@forward './utilities';

@use './../variables/color' as col;
@use './../variables/spacing' as spacing;

.tag:not(.token), // is only a temporary fix till I know how to do it wihtout causing future issues. wihtout this the Code sample would break currently.
.tag-sm {
  display: inline-flex;
  justify-content: flex-start;
  justify-items: center;
  align-items: center;
  gap: spacing.$size-micro;
  padding: 0 spacing.$size-mini;
  font-size: spacing.$size-regular;
  border: spacing.$size-hair solid transparent;
  border-radius: spacing.$size-micro;
  line-height: inherit;
  text-align: center;
  vertical-align: baseline;
  max-width: 296px;

  &.bg-white {
    border-color: col.$black;
  }

  .tag-content {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
}

.tag {
  height: spacing.$size-big;

  .tag-icon {
    height: spacing.$size-small-large;
    min-height: spacing.$size-small-large;
    width: spacing.$size-small-large;
    min-width: spacing.$size-small-large;
  }
}

.tag-sm {
  height: spacing.$size-large;

  .tag-icon {
    height: spacing.$size-regular;
    min-height: spacing.$size-regular;
    width: spacing.$size-regular;
    min-width: spacing.$size-regular;
  }
}
