@forward './../variables/options';

@use 'sass:map';

@use './../mixins/utilities';
@use './../mixins/icons' as icon-mixins;
@use './../mixins/forms' as form-mixins;
@use './../mixins/button' as button-mixins;

@use './../variables/type';
@use './../variables/color';
@use './../variables/components/forms';
@use './../variables/components/button';

// Basic timepicker overrides
.ngb-tp {
  .ngb-tp-input-container {
    width: auto;
  }

  .form-control {
    width: 4.5rem;
  }

  .form-control-sm,
  .form-control-rg {
    width: 4rem;
  }

  .form-control-lg {
    width: 6rem;
    padding: 1rem 1.375rem;
    @include form-mixins.placeholder {
      color: color.$gray-60;
    }
  }

  .ngb-tp-chevron {
    &::before {
      @include icon-mixins.icon('2051');
      width: map.get(button.$old-btn-icon-size-map, 'md');
      height: map.get(button.$old-btn-icon-size-map, 'md');
      transform: none;
    }

    &.bottom::before {
      transform: rotateZ(180deg);
    }
  }

  @each $size in sm, lg {
    .btn-#{$size} .ngb-tp-chevron::before {
      width: map.get(button.$old-btn-icon-size-map, $size);
      height: map.get(button.$old-btn-icon-size-map, $size);
    }
  }

  @include utilities.high-contrast-mode() {
    .form-control {
      &:hover,
      &:focus-visible {
        border-color: Highlight;
      }
    }
  }
}

// Regular-sized timepicker
.timepicker-rg {
  .btn {
    .ngb-tp-chevron::before {
      width: map.get(button.$old-btn-icon-size-map, 'rg');
      height: map.get(button.$old-btn-icon-size-map, 'rg');
    }
  }

  .form-control {
    padding: forms.$input-padding-y-rg forms.$input-padding-x-rg;
    font-size: type.$font-size-regular;
    line-height: forms.$input-line-height-rg;
  }
}

// Timepicker validation
ngb-timepicker {
  &.ng-invalid {
    .form-control {
      border-color: color.$error;

      &:focus {
        border-color: color.$error;
        box-shadow: 0 0 0 forms.$input-focus-width rgba(color.$error, 0.25);
      }
    }

    ~ .invalid-feedback {
      display: block;
    }
  }

  &.ng-valid {
    ~ .valid-feedback {
      display: block;
    }
  }

  @include utilities.high-contrast-mode() {
    &.ng-invalid,
    &.ng-valid {
      .form-control {
        &:hover,
        &:focus-visible {
          border-color: Highlight;
        }
      }
    }
  }
}
