@forward './../variables/options';

@use './../lic/bootstrap-license';
@use './../themes/bootstrap/core' as *;

@use './../functions/contrast' as contrast-fn;
@use './../mixins/color' as color-mx;
@use './../mixins/icons' as icons-mx;
@use './../placeholders/close' as close-ph;
@use './../placeholders/notifications' as notifications-ph;

@use './../variables/commons';
@use './../variables/components/toasts';

.toast-container {
  position: fixed;
  z-index: commons.$zindex-alert;
  display: flex;
  flex-direction: column;
  pointer-events: none;

  .toast {
    width: toasts.$toast-width;
  }
}

.toast {
  --post-notification-padding-x: #{toasts.$toast-padding-x};
  --post-notification-padding-y: #{toasts.$toast-padding-y};
  --post-notification-font-size: #{toasts.$toast-font-size};
  --post-notification-heading-font-size: #{toasts.$toast-heading-font-size};
  --post-notification-hr-margin-top: #{toasts.$toast-hr-margin-top};
  --post-notification-hr-margin-bottom: #{toasts.$toast-hr-margin-bottom};
  --post-notification-icon-size: #{toasts.$toast-icon-size};

  @extend %notification;
  @extend %notification-content;
  @extend %notification-dismissible;
}

.toast-close-button {
  @extend %btn-close;
  @extend %notification-close-button;
}

.toast > *:only-child,
.toast > .btn-close:first-child + *:last-child,
.toast-title {
  @extend %notification-title;
}

@each $name, $color, $icon in toasts.$toast-variants {
  .toast-#{$name} {
    @include color-mx.colored-background($color);

    &:not(.no-icon, [class^='pi-'], [class*=' pi-']) {
      @include icons-mx.pi($icon, contrast-fn.get-best-contrast-text($color));
    }

    > .toast-close-button {
      --post-close-filter: #{contrast-fn.get-black-icon-filter($color)};
    }
  }
}

// Responsive Design
@include media-breakpoint-down(md) {
  .toast-container .toast {
    --post-notification-max-width: #{toasts.$toast-width-sm};
  }
}

@include media-breakpoint-down(sm) {
  .toast-container {
    right: toasts.$toast-margin;
    left: toasts.$toast-margin;

    .toast {
      width: 100%;
    }
  }
}

// Positioning
.toast-top-center,
.toast-top-full-width,
.toast-top-left,
.toast-top-right {
  top: toasts.$toast-margin;
}

.toast-bottom-center,
.toast-bottom-full-width,
.toast-bottom-right,
.toast-bottom-left {
  bottom: toasts.$toast-margin;
}

.toast-top-left,
.toast-bottom-left,
.toast-top-full-width,
.toast-bottom-full-width,
.toast-center-left {
  left: toasts.$toast-margin;
}

.toast-top-right,
.toast-bottom-right,
.toast-top-full-width,
.toast-bottom-full-width,
.toast-center-right {
  right: toasts.$toast-margin;
}

.toast-top-center,
.toast-bottom-center {
  left: 50%;
  transform: translateX(-50%);
}

.toast-center-left,
.toast-center-right {
  top: 50%;
  transform: translateY(-50%);
}

.toast-center-center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.toast-top-full-width,
.toast-bottom-full-width {
  .toast {
    width: 100% !important;
  }
}
