@forward './../variables/options';

@use 'sass:map';

@use './../themes/bootstrap/core' as *;

@use './../variables/color';
@use './../variables/grid';
@use './../variables/spacing';
@use './../variables/type';
@use './../variables/components/topic-teaser';
@use './../mixins/size';
@use './../mixins/icons' as icons-mx;

.topic-teaser {
  &:not(.topic-teaser-reverse) {
    @each $breakpoint in topic-teaser.$grid-breakpoints-upper {
      @include media-breakpoint-only($breakpoint) {
        .container {
          padding-right: 0;
        }
      }
    }

    .topic-teaser-container {
      > .row {
        justify-content: flex-end;
      }
    }

    .topic-teaser-image-container {
      @each $breakpoint in topic-teaser.$grid-breakpoints-lower {
        @include media-breakpoint-only($breakpoint) {
          margin-right: map.get(grid.$grid-container-padding, $breakpoint) * -1;
        }
      }
    }
  }
}

.topic-teaser-reverse {
  @each $breakpoint in topic-teaser.$grid-breakpoints-upper {
    @include media-breakpoint-only($breakpoint) {
      .container {
        padding-left: 0;
      }
    }
  }

  .topic-teaser-container {
    > .row {
      @include media-breakpoint-down(lg) {
        flex-direction: column-reverse;
      }
    }
  }

  .topic-teaser-image-container {
    @each $breakpoint in topic-teaser.$grid-breakpoints-lower {
      @include media-breakpoint-only($breakpoint) {
        margin-left: map.get(grid.$grid-container-padding, $breakpoint) * -1;
      }
    }
  }
}

.topic-teaser-image-container {
  @include make-col-ready();
  @include size.responsive-size('huge', 'margin-bottom', '-$value');

  @each $breakpoint, $size in topic-teaser.$image-cols {
    @include media-breakpoint-up($breakpoint) {
      @include make-col($size);
    }
  }
}

.topic-teaser-image {
  object-fit: cover;

  @each $breakpoint, $aspectratio in topic-teaser.$image-aspectratio {
    @include media-breakpoint-up($breakpoint) {
      aspect-ratio: $aspectratio;
    }
  }
}

.topic-teaser-content {
  @include make-col-ready();
  display: flex;
  flex-direction: column;

  @each $breakpoint, $size in topic-teaser.$content-cols {
    @include media-breakpoint-up($breakpoint) {
      @include make-col($size);
    }
  }
  @each $breakpoint, $gap in topic-teaser.$content-gap {
    @include media-breakpoint-up($breakpoint) {
      gap: $gap;
    }
  }

  @include media-breakpoint-up(sm) {
    flex-direction: row;
  }
}

.topic-teaser-content > .link-list {
  width: 50%;

  @include media-breakpoint-down(sm) {
    width: 100%;
  }
}

.topic-teaser-title {
  width: 50%;

  @include media-breakpoint-down(sm) {
    width: auto;
  }
}

.topic-teaser-title > span {
  display: block;
}

.link-list {
  padding: 0;
  list-style-type: none;
  font-size: type.$font-size-small;

  @include media-breakpoint-up(lg) {
    font-size: type.$font-size-medium;
  }
}

.link-list-item > a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: spacing.$size-small-regular spacing.$size-regular;
  transition: opacity 200ms;
  border: 0;
  border-top: 1px solid rgba(var(--post-contrast-color-rgb), 0.2);
  text-decoration: none;

  &::after {
    @include icons-mx.icon(2050);
    content: '';
    display: inline-block;
    height: spacing.$size-regular;
    width: spacing.$size-regular;
    flex: 0 0 auto;
    transform: translateX(#{spacing.$size-micro});
    transition: transform 200ms;
  }

  &[href]:hover::after {
    transform: translateX(#{spacing.$size-mini});
  }

  @include media-breakpoint-up(lg) {
    padding-top: spacing.$size-small-large;
    padding-bottom: spacing.$size-small-large;
  }
}

.topic-teaser.bg-light .link-list-item > a {
  border-top-color: color.$gray-10;
}
