@forward './../variables/options';

@use 'sass:map';
@use 'sass:meta';

@use './../lic/bootstrap-license';
@use './../themes/bootstrap/overrides' as *;
@use './../themes/bootstrap/type' as bt;

@use './../variables/color';
@use './../variables/commons';
@use './../variables/type';
@use './../variables/spacing';
@use './../variables/components/paragraph';
@use './../layouts/portal/type' as portal;
@use './../placeholders/text';
@use './../mixins/type' as type-mx;

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-weight: type.$font-weight-bold;
}

h6,
.h6,
.font-curve-tiny {
  @include type-mx.font-curve('tiny');
}

.font-curve-small {
  @include type-mx.font-curve('small');
}

.font-curve-regular {
  @include type-mx.font-curve('regular');
}

h5,
.h5,
.font-curve-bigger-regular {
  @include type-mx.font-curve('bigger-regular');
}

h3,
.h3,
h4,
.h4,
.font-curve-medium {
  @include type-mx.font-curve('medium');
}

h2,
.h2,
.font-curve-large {
  @include type-mx.font-curve('large');
}

h1,
.h1,
.font-curve-big {
  @include type-mx.font-curve('big');
}

.blockquote {
  margin-top: type.$blockquote-margin-top;

  p {
    @extend %font-curve-regular;

    &::before {
      content: '\00ab';
    }

    &::after {
      content: '\00bb';
    }

    &:lang(en) {
      &::before {
        content: '\0022';
      }

      &::after {
        content: '\0022';
      }
    }
  }

  &,
  &-footer {
    padding-left: type.$blockquote-padding-left;
    border-left: type.$blockquote-border-left;
    font-weight: type.$blockquote-font-weight;

    @include media-breakpoint-up(md) {
      border-left-width: type.$blockquote-border-left-width-md;
    }

    @include media-breakpoint-up(xxl) {
      padding-left: type.$blockquote-padding-left-xxl;
    }
  }

  &-footer {
    cite {
      @extend %font-curve-small;
      font-weight: type.$blockquote-cite-font-weight;
    }
  }
}

q {
  quotes: '\00ab''\00bb''\2039''\203A';

  &:lang(en) {
    quotes: '\0022''\0022''\0027''\0027';
  }
}

.text-body {
  @include portal.styles;
}

code {
  color: inherit;
  font-size: inherit;
}
