@use 'sass:map';
@use '../functions/tokens';
@use '../tokens/components';

tokens.$default-map: components.$post-validation;

/*
Default feedback message classes
 */
.valid-feedback,
.invalid-feedback {
  display: none;
  align-items: flex-start;
  width: 100%;
  margin: 0;
  font-size: tokens.get('post-validation-font-size');

  .form-control-sm + & {
    font-size: tokens.get('input-small-assist-font-size', components.$post-text-input);
  }

  .form-select-sm + & {
    font-size: tokens.get('select-small-assist-font-size', components.$post-select);
  }
}

/*
 Valid input feedback
*/
.valid-feedback {
  color: tokens.get('post-validation-success');

  .was-validated :valid ~ &,
  .is-valid ~ & {
    display: flex;
  }
}

// Special for fieldset
.was-validated:has(:valid) ~ .valid-feedback,
:has(.is-valid) ~ .valid-feedback {
  display: flex;
}

// Special for fieldset
.was-validated:has(:invalid) ~ .invalid-feedback,
:has(.is-invalid) ~ .invalid-feedback {
  display: flex;
}

/*
 Invalid input feedback
*/
.invalid-feedback {
  color: tokens.get('post-validation-error');

  .was-validated :invalid ~ &,
  .is-invalid ~ & {
    display: flex;
  }
}

input:not([type='checkbox'], [type='radio']),
select,
textarea,
post-number-input {
  ~ .invalid-feedback,
  ~ .valid-feedback {
    margin-block: tokens.get('assist-padding-block', components.$post-assist) !important;
    padding-inline: tokens.get('validation-input-padding-inline');
  }
}

post-number-input.number-input-sm,
input.form-control-sm,
select.form-select-sm {
  + .invalid-feedback,
  + .valid-feedback {
    margin-block: tokens.get('hint-small-padding-block', components.$post-assist) !important;

    &:has(+ .form-hint) {
      margin-block-end: tokens.get('hint-small-gap-block', components.$post-assist) !important;
    }
  }
}

/*
 Checkbox and Radio box specific classes
*/
input[type='checkbox'],
input[type='radio'],
:has(input[type='checkbox']),
:has(input[type='radio']) {
  ~ .invalid-feedback::before,
  ~ .valid-feedback::before {
    height: tokens.get('validation-group-icon-size');
    width: tokens.get('validation-group-icon-size');
    margin-block-start: tokens.get('validation-group-icon-block-start');
    margin-block-end: tokens.get('validation-group-icon-block-end');
    margin-inline-end: tokens.get('validation-group-gap-inline');
    content: '';
    flex-shrink: 0;
    mask-size: contain;
    mask-position: center;
    mask-repeat: no-repeat;
  }

  &:not(.form-check-sm) ~ .invalid-feedback,
  &:not(.form-check-sm) ~ .valid-feedback {
    padding-inline-start: tokens.get('validation-group-padding-inline-start');
  }

  input[type='radio'],
  :has(input[type='radio']) {
    ~ .invalid-feedback,
    ~ .valid-feedback {
      margin-block-start: tokens.get('radio-button-gap-block-group', components.$post-radio-button);
      margin-block-end: tokens.get(
        'radio-button-padding-block-group',
        components.$post-radio-button
      );
    }
  }

  input[type='checkbox'],
  :has(input[type='checkbox']) {
    ~ .invalid-feedback,
    ~ .valid-feedback {
      margin-block-start: tokens.get('checkbox-gap-block-group', components.$post-checkbox);
      margin-block-end: tokens.get('checkbox-padding-block-group', components.$post-checkbox);
    }
  }

  ~ .invalid-feedback::before {
    background-image: var(--post-signal-icon-error);
  }

  ~ .valid-feedback::before {
    background-image: var(--post-signal-icon-success);
  }
}
