@use 'sass:map';
@use '../tokens/elements';
@use '../functions/tokens';
@use './../mixins/icons';

tokens.$default-map: (
  post-validation-error: #b20000,
  post-validation-success: #107800,
  post-device-font-size-9: 14px,
  post-radio-button-icon-width-inner: 24px,
  post-radio-button-icon-height-inner: 24px,
  post-validation-list-gap-inline: 8px,
  post-input-spacing-padding-block-text-assist: 6px,
  post-input-spacing-padding-inline-text-assist: 2px
);

/*
Default feedback message classes
 */

.valid-feedback,
.invalid-feedback {
  display: none;
  align-items: center;
  width: 100%;
  margin: 0;
  padding: tokens.get('post-input-spacing-padding-block-text-assist')
    tokens.get('post-input-spacing-padding-inline-text-assist');
  font-size: tokens.get('post-device-font-size-9');
}

/*
 Valid input feedback
*/
.was-validated :valid ~ .valid-feedback,
.is-valid ~ .valid-feedback {
  color: tokens.get('post-validation-success');
  display: flex;
}

/*
 Invalid input feedback
*/

.was-validated :invalid ~ .invalid-feedback,
.is-invalid ~ .invalid-feedback {
  color: tokens.get('post-validation-error');
  display: flex;
}

/*
 Checkbox and Radio box specific classes
*/
input[type='checkbox'],
input[type='radio'] {
  ~ .invalid-feedback,
  ~ .valid-feedback {
    &:before {
      height: tokens.get('post-radio-button-icon-height-inner');
      width: tokens.get('post-radio-button-icon-width-inner');
      display: inline-block;
      margin-inline-end: tokens.get('post-validation-list-gap-inline');
      background-color: currentColor;
      content: '';
    }
  }
  ~ .invalid-feedback:before {
    mask-image: url('error-icon.svg');
  }
  ~ .valid-feedback:before {
    mask-image: url('success-icon.svg');
  }
}

/*
 Radio group with fieldset specific classes
*/

.was-validated fieldset :valid,
.was-validated fieldset :invalid,
fieldset .is-invalid,
fieldset .is-valid {
  ~ .valid-feedback,
  .invalid-feedback {
    display: none;
    align-items: center;
    width: 100%;
    margin: 0;
    padding: tokens.get('post-input-spacing-padding-block-text-assist')
      tokens.get('post-input-spacing-padding-inline-text-assist');
    font-size: tokens.get('post-device-font-size-9');
    &:before {
      height: tokens.get('post-radio-button-icon-height-inner');
      width: tokens.get('post-radio-button-icon-width-inner');
      display: inline-block;
      margin-inline-end: tokens.get('post-validation-list-gap-inline');
      background-color: currentColor;
      content: '';
    }
  }
}

.was-validated fieldset :valid,
fieldset .is-valid {
  .valid-feedback {
    display: flex;
    color: tokens.get('post-validation-success');
    &:before {
      mask-image: url('success-icon.svg');
    }
  }
}

.was-validated fieldset :invalid,
fieldset .is-invalid {
  .invalid-feedback {
    display: flex;
    color: tokens.get('post-validation-error');
    &:before {
      mask-image: url('error-icon.svg');
    }
  }
}
