@use '@swisspost/design-system-styles/functions/tokens';
@use '@swisspost/design-system-styles/components/button';
@use '@swisspost/design-system-styles/core' as post;
@use '@swisspost/design-system-styles/mixins/icons' as icons;
@use '@swisspost/design-system-styles/mixins/utilities';
@use '@swisspost/design-system-styles/mixins/elevation' as elevation-mx;

tokens.$default-map: (
  post-floating-button-size-outer: 56px,
  post-floating-button-size-icon: 24px,
  post-floating-button-position-right: 40px,
  post-floating-button-position-bottom: 40px,
  post-floating-button-border-radius-round: 100%,
  post-floating-button-border-width: 2px,
  post-floating-button-enabled-border: #050400,
  post-floating-button-enabled-fg: #050400,
  post-floating-button-enabled-bg: white,
  post-floating-button-hover-border: #504f4b,
  post-floating-button-hover-fg: #504f4b,
  post-floating-button-hover-bg: white,
  post-floating-button-translate-y: 8rem
);

:host {
  --post-floating-button-translate-y: #{tokens.get('post-floating-button-translate-y')};
  position: fixed;
  bottom: tokens.get('post-floating-button-position-bottom');
  right: tokens.get('post-floating-button-position-right');

  button.back-to-top {
    @include post.reset-button;
    @include utilities.focus-style;
    @include elevation-mx.elevation('elevation-3');
    cursor: pointer;
    border-radius: tokens.get('post-floating-button-border-radius-round');
    width: tokens.get('post-floating-button-size-outer');
    height: tokens.get('post-floating-button-size-outer');
    border: tokens.get('post-floating-button-border-width') solid
      tokens.get('post-floating-button-enabled-border');
    color: tokens.get('post-floating-button-enabled-fg');
    background-color: tokens.get('post-floating-button-enabled-bg');

    &:hover {
      border-color: tokens.get('post-floating-button-hover-border');
      color: tokens.get('post-floating-button-hover-fg');
      background-color: tokens.get('post-floating-button-hover-bg');
    }
    post-icon {
      height: tokens.get('post-floating-button-size-icon');
      width: tokens.get('post-floating-button-size-icon');
    }
  }

  .visually-hidden {
    @include utilities.visuallyhidden();
  }
}
