@use '@swisspost/design-system-styles/mixins/utilities' as utilities-mx;
@use '@swisspost/design-system-styles/mixins/button';

post-language-menu-item {
  :is(a, button) {
    text-transform: uppercase;
  }

  &:where([variant='menu']) {
    min-width: 72px;
  }

  &:where([variant='list']) {
    button {
      @include button.reset-button;
    }

    a {
      text-decoration: none;
      display: inline-flex;
      align-items: center;
      justify-content: center;
    }

    :is(a, button) {
      width: 40px;
      height: 40px;
      border-radius: 2px;

      @include button.button-variant-def('enabled', 'tertiary');

      &:hover {
        @include button.button-variant-def('hover', 'tertiary');
      }
      
      @include utilities-mx.high-contrast-mode() {
        border: 1px solid ButtonBorder;
        color: ButtonText;
      }
    }
  }

  &[active]:not([active='false']) {
    &:where([variant='menu']) {
      display: none;
    }

    &:where([variant='list']) {
      :is(a, button) {
        @include button.button-variant-def('enabled', 'primary');
        cursor: default;

        @include utilities-mx.high-contrast-mode() {
          background-color: Highlight !important;
          color: HighlightText;
        }
      }
    }
  }

  .visually-hidden {
    @include utilities-mx.visuallyhidden();
  }
}
