@use 'sass:map';
@use '../functions/tokens';
@use '../tokens/elements';

tokens.$default-map: elements.$post-body;

// Resets type
@use '../components/fonts';

html {
  background-color: #ffcc00;
}

body {
  font-family: tokens.get('body-font-family');
  font-size: tokens.get('body-font-size');
  font-weight: tokens.get('body-font-weight');
  line-height: tokens.get('body-line-height');
  letter-spacing: tokens.get('body-letter-spacing');
  color: tokens.get('body-color');
  background-color: white;
}
