@use '../tokens/components';
@use '../functions/tokens';
@use '../mixins/utilities';

button {
  // <post-avatar> styles (when nested within a button tag)
  // Always keep this after the base button styles!
  &:has(post-avatar:only-child) {
    display: inline-flex;
    padding: 0;
    background-color: transparent;
    border: 0 none;
    border-radius: tokens.get('avatar-border-radius', components.$post-avatar);

    @include utilities.focus-style(
      $offset: tokens.get('avatar-focus-outline-offset', components.$post-avatar),
      $width: tokens.get('avatar-focus-outline-color', components.$post-avatar),
      $color: tokens.get('avatar-focus-outline-width', components.$post-avatar),
      $style: solid
    );
  }

  &:hover {
    post-avatar {
      --post-avatar-bg: #{tokens.get('avatar-hover-bg', components.$post-avatar)};
      --post-avatar-fg: #{tokens.get('avatar-hover-fg', components.$post-avatar)};

      &::after {
        background-color: tokens.get('avatar-image-hover-opacity', components.$post-avatar);
      }
    }
  }
}
