@use '../functions/tokens';
@use '../tokens/elements';

tokens.$default-map: elements.$post-legend;

legend {
  font-weight: tokens.get('legend-font-weight');
  line-height: tokens.get('legend-line-height');
  width: 100%;
  margin-bottom: tokens.get('legend-large-padding-block-end');

  &.large {
    font-size: tokens.get('legend-large-font-size');
    margin-block-start: tokens.get('legend-large-margin-block-start');
    margin-block-end: tokens.get('legend-large-margin-block-end');
    padding-block-end: tokens.get('legend-large-padding-block-end');
    border-bottom: tokens.get('legend-large-border-bottom');
  }
}
