@use '../functions/tokens';
@use '../tokens/elements';

tokens.$default-map: elements.$post-legend;

legend {
  margin-bottom: tokens.get('legend-margin-block-end');
  font-weight: tokens.get('legend-font-weight');
  line-height: tokens.get('legend-line-height');
  width: 100%;

  &.large {
    font-size: tokens.get('legend-large-font-size');
    padding-block-start: tokens.get('legend-large-padding-block-start');
    padding-block-end: tokens.get('legend-large-padding-block-end');
    margin-block-end: tokens.get('legend-large-margin-block-end');
    border-bottom: tokens.get('legend-large-border-width') tokens.get('legend-large-border-color')
      tokens.get('legend-large-border-style');
  }
}
