$font-base-path: 'https://fonts.post.ch/swiss-post-sans/v1';

@font-face {
  font-family: 'Swiss Post Sans';
  font-weight: 900;
  font-display: swap;
  src: url('#{$font-base-path}/SwissPostSans-Black.woff2') format('woff2');
}

@font-face {
  font-family: 'Swiss Post Sans';
  font-weight: 700;
  font-display: swap;
  src: url('#{$font-base-path}/SwissPostSans-Bold.woff2') format('woff2');
}

@font-face {
  font-family: 'Swiss Post Sans';
  font-weight: 400;
  font-display: swap;
  src: url('#{$font-base-path}/SwissPostSans-Regular.woff2') format('woff2');
}
