@use '../functions/tokens' as tokens;
@use '../tokens/elements' as elements;

tokens.$default-map: elements.$post-heading;

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  line-height: tokens.get('post-heading', 'line-height');
  font-weight: tokens.get('post-heading', 'font-weight');
}

h1,
.h1 {
  font-size: tokens.get('post-h1', 'font-size');
  margin-block-start: tokens.get('post-h1', 'margin-block-start');
  margin-block-end: tokens.get('post-h1', 'margin-block-end');
}

h2,
.h2 {
  font-size: tokens.get('post-h2', 'font-size');
  margin-block-start: tokens.get('post-h2', 'margin-block-start');
  margin-block-end: tokens.get('post-h2', 'margin-block-end');
}

h3,
.h3 {
  font-size: tokens.get('post-h3', 'font-size');
  margin-block-start: tokens.get('post-h3', 'margin-block-start');
  margin-block-end: tokens.get('post-h3', 'margin-block-end');
}

h4,
.h4 {
  font-size: tokens.get('post-h4', 'font-size');
  margin-block-start: tokens.get('post-h4', 'margin-block-start');
  margin-block-end: tokens.get('post-h4', 'margin-block-end');
}

h5,
.h5 {
  font-size: tokens.get('post-h5', 'font-size');
  margin-block-start: tokens.get('post-h5', 'margin-block-start');
  margin-block-end: tokens.get('post-h5', 'margin-block-end');
}

h6,
.h6 {
  font-size: tokens.get('post-h6', 'font-size');
  margin-block-start: tokens.get('post-h6', 'margin-block-start');
  margin-block-end: tokens.get('post-h6', 'margin-block-end');
}
