@use '../functions/tokens';
@use '../tokens/elements';
@use '../mixins/utilities';

tokens.$default-map: elements.$post-link;

a {
  text-decoration: tokens.get('post-link', 'decoration');
  border-radius: tokens.get('post-link', 'border-radius');
  color: inherit;

  &:hover {
    color: tokens.get('post-link', 'hover-fg');
  }

  @include utilities.focus-style(
    '',
    tokens.get('post-link', 'focus-outline-offset'),
    tokens.get('post-link', 'focus-outline-width'),
    tokens.get('post-link', 'focus-outline-color'),
    tokens.get('post-link', 'focus-outline-style')
  );

  @include utilities.high-contrast-mode() {
    &,
    &:focus {
      color: LinkText !important;
    }

    &:hover {
      text-decoration: none;
    }

    &:visited {
      color: VisitedText;
    }
  }
}
