@use '../functions/tokens';
@use '../tokens/elements';

tokens.$default-map: elements.$post-listnumber;

ol {
  display: grid;
  grid-template-columns: [marker] auto [item] 1fr;
  list-style: none;
  counter-reset: ol;
  padding: tokens.get('post-list-number', 'item-gap-block');
  gap: tokens.get('post-list-number', 'margin-block');

  ol {
    padding-left: 0;
  }

  > li {
    display: grid;
    grid-template-columns: subgrid;
    counter-increment: ol;
    column-gap: tokens.get('post-list-number', 'item-icon-gap-inline');
    grid-column: span 2;

    &::before {
      text-align: right;
      content: counters(ol, '.') '.';
      grid-column: marker;
      grid-row: span 30000;
    }
  }
}
