@use '../functions/tokens';
@use '../tokens/elements';
@use '../mixins/list';

tokens.$default-map: elements.$post-listnumber;

ol {
  padding: tokens.get('list-number-item-gap-block');
  margin-left: 33px;

  > li {
    display: list-item;
    padding-bottom: tokens.get('list-number-margin-block');
    padding-left: 3px;

    &:last-child {
      padding-bottom: 0;
    }
  }

  &.list-revert {
    @include list.list-revert();
  }

  &.list-unstyled {
    @include list.list-unstyled();
  }
}
