@use '../functions/tokens';
@use '../tokens/elements';
@use '../mixins/list';

tokens.$default-map: elements.$post-listnumber;

ol {
  margin-block: tokens.get('list-number-item-gap-block');
  padding-inline-end: tokens.get('list-number-item-gap-block');
  padding-inline-start: 45px;

  > li {
    padding-bottom: tokens.get('list-number-margin-block');
    padding-left: 3px;

    &:last-child {
      padding-bottom: 0;
    }
  }

  &.list-revert {
    @include list.list-revert();
  }

  &.list-unstyled {
    @include list.list-unstyled();
  }
}
