@use '@swisspost/design-system-styles/core' as post;

:host {
  display: inline-block;
}

.rating {
  margin: 0 (-(post.$size-micro)) (-(post.$size-micro));
}

.star {
  width: post.$lead-font-size;
  height: post.$lead-font-size;
  padding: 0 post.$size-micro 0 post.$size-micro;

  & path {
    fill: none;
    stroke: post.$gray-60;
    stroke-width: 1px;
  }
}

.active-star {
  & path {
    fill: post.$yellow;
    stroke: post.$black;
  }
}

.hovered-star {
  & path {
    fill: post.$yellow;
    stroke: post.$gray-80;
  }
}

.was-active-star {
  & path {
    fill: post.$gray-20;
    stroke: post.$gray-60;
  }
}
