@use '@swisspost/design-system-styles/core' as post;

:host {
  display: block;
}

.rating {
  margin: 0 (-(post.$size-micro));
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  row-gap: post.$size-micro;
  //gap: post.$size-micro;
  //flex-wrap: wrap;
  overflow: hidden;
  & :focus {
    outline: none;
  }
}

.rating:focus-visible {
  outline-offset: post.$input-focus-outline-thickness;
  outline: post.$input-focus-outline-thickness solid post.$input-focus-color;
}

.star {
  width: post.$lead-font-size;
  height: post.$lead-font-size;
  display: block;
  padding: 0 post.$size-micro 0 post.$size-micro;

  & path {
    fill: none;
    stroke: post.$gray-60;
    stroke-width: 1px;
  }
}

.active-star {
  & path {
    fill: post.$yellow;
    stroke: post.$black;
  }
}

.hovered-star {
  & path {
    fill: post.$yellow;
    stroke: post.$gray-80;
  }
}

.was-active-star {
  & path {
    fill: post.$gray-20;
    stroke: post.$gray-60;
  }
}

.default-disabled {
  & path {
    fill: none;
    stroke: post.$gray-40;
  }
}

.active-disabled {
  & path {
    fill: post.$gray-10;
    stroke: post.$gray-40;
  }
}
