@use '@swisspost/design-system-styles/core' as post;

:host {
  display: inline-block;
}

.rating {
  margin: 0 (-(post.$size-micro));
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  overflow: hidden;
  & :focus {
    outline: none;
  }
  &[aria-readonly='true'] .star-container {
    cursor: default;
  }
}

.rating:focus-visible {
  outline-offset: post.$input-focus-outline-thickness;
  outline: post.$input-focus-outline-thickness solid post.$input-focus-color;
  position: relative;
  z-index: 1;
}

.star-container {
  cursor: pointer;

  &.active-star {
    .fill {
      color: post.$yellow;
    }
    .border {
      color: post.$black;
    }
  }

  &.hovered-star {
    .fill {
      color: post.$yellow;
    }
    .border {
      color: post.$gray-80;
    }
  }

  &.was-active-star {
    .fill {
      color: post.$gray-20;
    }
    .border {
      color: post.$gray-60;
    }
  }

  &.default-disabled {
    .fill {
      color: post.$white;
    }
    .border {
      color: post.$gray-40;
    }
    & {
      cursor: default;
    }
  }

  &.active-disabled {
    .fill {
      color: post.$gray-10;
    }
    .border {
      color: post.$gray-40;
    }
    & {
      cursor: default;
    }
  }
}

.star-container {
  position: relative;
  width: post.$lead-font-size;
  height: post.$lead-font-size;
  padding: 0 post.$size-micro 0 post.$size-micro;
  display: block;
}

.fill {
  position: absolute;
  color: post.$white;
}

.border {
  width: post.$lead-font-size + 0.125em;
  height: post.$lead-font-size + 0.125em;
  position: absolute;
  top: -0.0625rem;
  left: post.$size-micro - 0.0625rem;
  color: post.$black;
}
