@use '@swisspost/design-system-styles/elements/anchor';
@use '@swisspost/design-system-styles/functions/tokens';
@use '@swisspost/design-system-styles/tokens/components';
@use '@swisspost/design-system-styles/mixins/utilities';
@use './mixins';

tokens.$default-map: components.$post-breadcrumb;

:host([variant='menuitem']) {
  :is(a, span) {
    white-space: normal;
    @include utilities.word-break;
  }
}

:host([variant='listitem']) {
  @include mixins.breadcrumb-item;

  &:host([selected]:not([selected='false'])) {
    :is(a, span) {
      color: tokens.get('breadcrumb-selected-fg');
      font-weight: tokens.get('breadcrumb-selected-font-weight');
      text-decoration: tokens.get('breadcrumb-link-selected-text-decoration');
    }
  }

  &:host([standalone]:not([standalone='false'])) {
    :is(a, span) {
      white-space: normal;
      @include utilities.word-break;
    }
  }
}
