@use 'sass:map';
@use '@swisspost/design-system-styles/mixins/media';
@use '@swisspost/design-system-styles/functions/tokens';
@use '@swisspost/design-system-styles/tokens/components';
@use '@swisspost/design-system-styles/mixins/utilities';

tokens.$default-map: components.$post-breadcrumb;

:host {
  display: inline-block;
}

.breadcrumb-item-text {
  display: inline-flex;
  align-items: center;
  padding-block: tokens.get('breadcrumb-padding-block-text');
  gap: tokens.get('breadcrumb-gap-inline-inner');
  color: tokens.get('breadcrumb-enabled-fg');
  text-decoration: none;

  &:hover {
    color: tokens.get('breadcrumb-hover-fg');
    text-decoration: underline;
  }

  &:focus,
  &:focus-visible {
    border-radius: tokens.get('breadcrumb-focus-outline-radius');
    outline: tokens.get('breadcrumb-focus-outline') solid tokens.get('breadcrumb-focus-outline-width');
    offset: tokens.get('breadcrumb-focus-padding-outline');
  }

  @include utilities.high-contrast-mode() {
    &,
    &:focus,
    &:hover {
      color: LinkText !important;
    }

    &:visited {
      color: VisitedText !important;
    }
  }
}
