@forward './temp/components';

$post-text-input: (
  post-input-sizing-height: 64px,
  post-input-sizing-line-height: 30px,
  post-input-sizing-font-size: 20px,
  post-input-sizing-label-enabled: 20px,
  post-input-sizing-label-selected: 14px,

  post-input-color-enabled-bg: var(--post-scheme-color-interactive-primary-enabled-bg1),
  post-input-color-enabled-fg: var(--post-scheme-color-interactive-primary-enabled-fg1),
  post-input-color-hover-bg: var(--post-scheme-color-interactive-primary-hover-bg),
  post-input-color-hover-fg: var(--post-scheme-color-interactive-primary-hover-fg1),
  post-input-color-disabled-bg: var(--post-scheme-color-interactive-primary-disabled-bg),
  post-input-color-disabled-fg: var(--post-scheme-color-interactive-primary-disabled-fg1),
  post-input-color-selected-bg: var(--post-scheme-color-interactive-primary-selected-bg1),
  post-input-color-selected-fg: var(--post-scheme-color-interactive-primary-selected-fg1),
  post-input-color-helptext-fg: var(--post-scheme-color-interactive-primary-enabled-fg2),
  post-input-color-enabled-stroke: var(--post-scheme-color-interactive-primary-enabled-stroke),
  post-input-color-hover-stroke: var(--post-scheme-color-interactive-primary-hover-stroke),
  post-input-color-disabled-stroke: var(--post-scheme-color-interactive-primary-disabled-stroke),
  post-input-color-selected-stroke: var(--post-scheme-color-interactive-primary-selected-stroke1),
  post-input-color-signal-error: var(--post-scheme-color-signal-error-dark),
  post-input-color-signal-success: var(--post-scheme-color-signal-success-dark),
  post-input-gap-inline-1: var(--post-device-spacing-gap-1),
  post-input-gap-inline-2: var(--post-device-spacing-gap-inline-4),
  post-input-padding-block-text1: var(--post-device-spacing-padding-block-1),
  post-input-padding-block-text2: var(--post-device-spacing-padding-block-3),
  post-input-padding-block-text-assist: var(--post-device-spacing-padding-block-5),
  post-input-padding-block-text5: var(--post-device-spacing-padding-block-2),
  post-input-padding-inline-start: var(--post-device-spacing-padding-inline-1),
  post-input-padding-inline-end: var(--post-device-spacing-padding-3),
  post-input-padding-inline-text-assist: var(--post-device-spacing-padding-2),
  post-input-sizing-icon: var(--post-device-sizing-notification-1),
  post-input-border-radius-surface: var(--post-device-border-radius-1),
  post-input-border-width: var(--post-device-border-width-default),
  post-input-border-style-default: var(--post-core-border-style-solid),
  post-input-border-style-disabled: var(--post-core-border-style-dash),
  post-input-empty-padding-block: var(--post-device-spacing-padding-block-1),
  post-input-label-empty-padding-block-start: var(--post-device-spacing-padding-block-28),
  post-input-label-empty-padding-inline-start: var(--post-device-spacing-padding-5),
  post-input-label-empty-padding-inline-end: var(--post-device-spacing-padding-inline-4),
  post-input-label-validated-padding-inline-end: var(--post-core-dimension-48),
  post-input-filled-padding-block-start: var(--post-device-spacing-padding-block-29),
  post-input-filled-padding-block-end: var(--post-device-spacing-padding-block-3),
  post-input-validation-icon-position-inline-end: var(--post-device-position-2),
);
