@use './temp/theme' as themes;

@use './core';
@use './../mixins/tokens';

:root {
  @include tokens.from(themes.$post-post);

  --post-border-width: 1px;
  --post-border-style: solid;
  --post-border-color: rgba(222, 226, 230, 1);
  --post-border-color-primary: 13, 110, 253;
  --post-border-color-secondary: 108, 117, 125;
  --post-border-color-success: 25, 135, 84;
  --post-border-color-danger: 220, 53, 70;
  --post-border-color-warning: 255, 193, 7;
  --post-border-color-info: 13, 202, 240;
  --post-border-color-light: 248, 249, 250;
  --post-border-color-dark: 33, 37, 41;
  --post-border-color-white: 255, 255, 255;
  --post-border-color-black: 0, 0, 0;
  --post-border-radius: 0.375rem;
  --post-border-radius-sm: 0.25rem;
  --post-border-radius-lg: 0.5rem;
  --post-border-radius-xl: 1rem;
  --post-border-radius-xxl: 2rem;
  --post-border-radius-pill: 50rem;
}
