@use './temp/theme' as themes;

@use './core';
@use './../mixins/tokens';

:root {
  @include tokens.from(themes.$post-post);
  --bs-border-width: 1px;
  --bs-border-color: var(--post-core-color-brand-black);
  --bs-border-style: solid;
}
