@forward './temp/scheme';

$post-light-test: (
  post-scheme-palette-default-bg: var(--post-core-color-sandgrey-002),
  post-scheme-palette-default-fg: var(--post-core-color-sandgrey-100),
  post-scheme-palette-alternate-bg: var(--post-core-color-sandgrey-006),
  post-scheme-palette-alternate-fg: var(--post-core-color-sandgrey-100),
  post-scheme-palette-accent-bg: var(--post-core-color-sandgrey-080),
  post-scheme-palette-accent-fg: var(--post-core-color-brand-white),
);

$post-dark-test: (
  post-scheme-palette-default-bg: var(--post-core-color-sandgrey-080),
  post-scheme-palette-default-fg: var(--post-core-color-brand-white),
  post-scheme-palette-alternate-bg: var(--post-core-color-sandgrey-090),
  post-scheme-palette-alternate-fg: var(--post-core-color-brand-white),
  post-scheme-palette-accent-bg: var(--post-core-color-sandgrey-002),
  post-scheme-palette-accent-fg: var(--post-core-color-sandgrey-100),
);
