@forward './temp/theme';

$post-post-test: (
  post-theme-accent-brand-bg: var(--post-core-color-brand-postyellow),
  post-theme-accent-brand-fg: var(--post-core-color-sandgrey-100),
  post-theme-accent-emphasis-bg: var(--post-core-color-sandgrey-080),
  post-theme-accent-emphasis-fg: var(--post-core-color-brand-white),
);
