@forward './temp/theme';

$post-post-test: (
  post-theme-accent-brand-bg: var(--post-core-color-brand-postyellow),
  post-theme-accent-brand-fg: var(--post-core-color-sandgrey-100),
  post-theme-accent-emphasis-bg: var(--post-scheme-accent-emphasis-bg),
  post-theme-accent-emphasis-fg: var(--post-scheme-accent-emphasis-fg),
);
