@forward './temp/theme';

$post-post-test: (
  post-theme-palette-brand-bg: var(--post-core-color-brand-postyellow),
  post-theme-palette-brand-fg: var(--post-core-color-sandgrey-100),
  post-theme-palette-accent-bg: var(--post-scheme-palette-accent-bg),
  post-theme-palette-accent-fg: var(--post-scheme-palette-accent-fg),
);

$post-cargo-test: (
  post-theme-palette-brand-bg: var(--post-core-color-cargo-green),
  post-theme-palette-brand-fg: var(--post-core-color-cargo-blue),
  post-theme-palette-accent-bg: var(--post-core-color-cargo-blue),
  post-theme-palette-accent-fg: var(--post-core-color-cargo-green),
);
