body {
  padding: 2rem;
}

.d-flex {
  gap: 30px;
}

.icon-variants {
  display: flex;
  align-items: start;
  gap: 1rem;

  + .icon-variants {
    margin-top: 1rem;
  }

  [class^='icon-'] {
    box-sizing: content-box;
    padding: 0.5rem;
    outline: 1px solid gray;
    line-height: 1;

    &.active {
      background-color: red;
    }
  }

  .icon-16 {
    width: 16px;
  }

  .icon-24 {
    width: 24px;
  }

  .icon-32 {
    width: 32px;
  }

  .icon-40 {
    width: 40px;
  }

  .icon-48 {
    width: 48px;
  }

  .icon-64 {
    width: 64px;
  }
}

.size-keeper {
  position: relative;
  height: 6rem;

  .resize {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0.5rem;
    width: 2rem;
    min-width: 2rem;
    max-width: 5rem;
    aspect-ratio: 1 / 1;
    overflow: hidden;
    resize: horizontal;
    outline: 1px solid gray;
  }
}

.post-icon {
  container-name: post-icon;
  container-type: inline-size;
  width: 100%;
  height: 100%;

  > svg {
    display: block;
    width: 100%;
    height: 100%;
  }
}

@container post-icon (max-width: 23.98px) {
  svg {
    --post-icon-size-16: block;
  }
}

@container post-icon (min-width: 24px) and (max-width: 31.98px) {
  svg {
    --post-icon-size-24: block;
  }
}

@container (min-width: 32px) and (max-width: 39.98px) {
  svg {
    --post-icon-size-32: block;
  }
}

@container (min-width: 40px) and (max-width: 47.98px) {
  svg {
    --post-icon-size-40: block;
  }
}

@container (min-width: 48px) and (max-width: 63.98px) {
  svg {
    --post-icon-size-48: block;
  }
}

@container (min-width: 64px) {
  svg {
    --post-icon-size-64: block;
  }
}
