@use 'sass:map';
@use 'sass:meta';
@use 'tests/jest';
@use 'src/utilities/mixins';

.test {
  @include mixins.generate-utilities(
    $group: 'font-weight',
    $tokens: (
      post-utility-font-weight-normal: 400,
    ),
    $properties: font-weight,
    $prefix: 'fw'
  );

  @include mixins.generate-utilities(
    $group: 'gutter',
    $tokens: (
      post-utility-gutter-12: 12px,
    ),
    $properties: (
      --gutter-x,
      --gutter-y,
    ),
    $prefix: 'g',
    $infix: '-lg'
  );
}
