@use 'sass:map';
@use '@swisspost/design-system-styles/mixins/media';
@use '@swisspost/design-system-styles/functions/tokens';
@use '@swisspost/design-system-styles/tokens/components';
@use '@swisspost/design-system-styles/mixins/utilities';
@use '@swisspost/design-system-styles/core' as post;
@use '@swisspost/design-system-styles/tokens/helpers';

tokens.$default-map: components.$post-breadcrumb;

:host {
  display: flex;
  align-items: center;
}

/* Breadcrumb Navigation */
.breadcrumbs-nav {
  display: flex;
  align-items: center;

  .breadcrumbs-list {
    display: flex;
    flex-wrap: nowrap;
    position: relative;
    margin: 0;
    padding: 0;
    list-style: none;
    align-items: center;
    height: 100%;
    gap: tokens.get('breadcrumb-gap-inline-outer');

    li {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0;

      a {
        height: 100%;
        display: flex;
        align-items: center;

        &:focus {
          border-radius: tokens.get('focus-border-radius', helpers.$post-focus);
          @include utilities.focus-style;
        }
      }
    }

    .home-icon {
      display: inline-block;
      height: tokens.get('breadcrum-icon-size');
      width: tokens.get('breadcrum-icon-size');
      color: tokens.get('breadcrumb-enabled-fg');
      padding-inline: tokens.get('breadcrumb-padding-inline-icon-home');
      padding-block: tokens.get('breadcrumb-padding-block-icon-home');

      &:hover {
        color: tokens.get('breadcrumb-hover-fg');
      }
    }
  }
}

/* Menu Trigger Styles */
.menu-trigger-wrapper {
  &:focus,
  &:focus-visible {
    border-radius: tokens.get('focus-border-radius', helpers.$post-focus);
    outline-offset: tokens.get('focus-outline-offset', helpers.$post-focus);
    outline: tokens.get('focus-outline-color', helpers.$post-focus)
      tokens.get('focus-border-style', helpers.$post-focus)
      tokens.get('focus-outline-width', helpers.$post-focus);
  }

  button {
    background: none;
    border: none;
    cursor: pointer;
    height: 100%;
    padding: 0;
    line-height: 150%;
    display: inline-flex;
    align-items: center;
  }
}

/* Breadcrumb Item */
.breadcrumb-item {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  padding-block: tokens.get('breadcrumb-padding-block-text');
  gap: tokens.get('breadcrumb-gap-inline-inner');
  color: tokens.get('breadcrumb-enabled-fg');
  text-decoration: tokens.get('breadcrumb-link-enabled-text-decoration');

  &:focus-within {
    border-radius: tokens.get('focus-border-radius', helpers.$post-focus);
    @include utilities.focus-style;
  }

  &:hover {
    color: tokens.get('breadcrumb-hover-fg');
    text-decoration: tokens.get('breadcrumb-link-hover-text-decoration');
  }

  a {
    text-decoration: none;
    color: inherit;

    &:focus,
    &:focus-visible {
      outline: none;
    }
  }

  post-icon {
    height: tokens.get('breadcrum-icon-size');
    width: tokens.get('breadcrum-icon-size');
    padding-block: tokens.get('breadcrumb-padding-block-icon-link');
    padding-inline: tokens.get('breadcrumb-padding-inline-icon-link');
  }

  @include utilities.high-contrast-mode() {
    &,
    &:focus,
    &:hover {
      color: LinkText !important;
    }

    &:visited {
      color: VisitedText !important;
    }
  }
}

/* Last Breadcrumb Item (Non-Interactive) */
post-breadcrumb-item:last-of-type {
  pointer-events: none;
  color: tokens.get('breadcrumb-selected-fg');
  font-weight: tokens.get('breadcrumb-selected-font-weight');
  text-decoration: tokens.get('breadcrumb-link-selected-text-decoration');

  &:hover {
    color: tokens.get('breadcrumb-selected-fg');
    text-decoration: none;
  }

  post-icon {
    color: tokens.get('breadcrumb-selected-fg');
  }
}

/* Menu Styles */
post-menu::part(popover-container) {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 0.3rem;
  gap: var(--post-device-spacing-gap-inline-4);

  /* Fallback for bottom margin */
  ::slotted(post-menu-item:not(:last-child)) {
    margin-bottom: var(--post-device-spacing-gap-inline-4);
  }
}

/* Breadcrumb Item Icon */
.breadcrumb-item-icon {
  height: tokens.get('breadcrum-icon-size');
  width: tokens.get('breadcrum-icon-size');
}

/* Visually Hidden Utility */
.visually-hidden {
  @include post.visually-hidden();
}
