@use '@swisspost/design-system-styles/functions/tokens';
@use '@swisspost/design-system-styles/tokens/components';

tokens.$default-map: components.$post-side-navigation;

:host {
  display: flex;

  &,
  & dialog {
    background-color: tokens.get('side-nav-color-bg');
    border-inline-end: tokens.get('side-nav-border-width') solid tokens.get('side-nav-color-border');
  }

  & dialog {
    overflow: visible;
    width: tokens.get('side-nav-width');
    bottom: auto;
    right: auto;
    border: none;
    padding: 0;
    max-height: 100dvh;
    transform: translateX(-100%);
    transition-property: transform, overlay, display;
    transition-behavior: allow-discrete;
    transition-duration: 350ms;
    box-shadow: tokens.get('side-nav-elevation');

    &[open] {
      transform: translateX(0);

      @starting-style {
        transform: translateX(-100%);
      }
    }

    @media (prefers-reduced-motion: reduce) {
      transition: none;
    }
  }

  post-closebutton {
    transform: translate(50%, 0);
  }
}
