@use './../../variables/color';
@use './../../variables/spacing';
@use './../../variables/commons';

@use './../../functions/tokens';
@use './../../tokens/utilities';

#languageParent {
  min-width: 18rem;
  padding: 0;
  overflow-y: visible;

  .language-menu {
    display: flex;

    .dropdown-item {
      flex: auto 1 1;
      padding: tokens.get('utility-gap-12', utilities.$post-spacing) 0;
      border: commons.$border-width solid color.$gray-20;
      border-top: 0;
      border-left: 0;
      border-radius: 0;
      text-align: center;
      overflow: initial;

      &:last-child {
        border-right: 0;
      }

      &:focus {
        z-index: commons.$zindex-dropdown;
      }
    }
  }

  .other-items {
    overflow-y: auto;
  }
}
