@use './../../variables/color';
@use './../../variables/commons';
@use './../../mixins/icons' as icons-mx;
@use './../../mixins/media';

@use './../../themes/bootstrap/core' as *;
@use './../../placeholders/dropdown';

.top-navigation {
  .nav-item#more {
    @include media.breakpoint-down(sm) {
      > span {
        display: none !important;
      }
    }

    > .nav-link::after {
      display: inline-flex;
      align-items: center;

      &::after {
        @extend %toggler-icon;
        @include icons-mx.icon(2051);
      }
    }

    &.hidden {
      > .nav-link::after {
        transform: rotate(180deg);
      }
    }
  }

  .nav-overflow {
    @include media.breakpoint-up(md) {
      position: absolute;
      z-index: 0;
      top: 100%;
      right: 0;
      margin-top: commons.$border-width;
      padding-bottom: commons.$border-width;
      border-left: commons.$border-width solid rgba(var(--post-contrast-color-rgb), 0.2);
      background-color: color.$white;

      &.dropup.show,
      &.dropdown.show {
        z-index: 1;
      }

      &.last-nav-overflow {
        padding-bottom: 0;
        border-bottom: commons.$border-width solid rgba(var(--post-contrast-color-rgb), 0.2);
      }
    }

    @include media.breakpoint-down(sm) {
      display: list-item !important;
      width: auto !important;
      transform: none !important;
    }
  }
}
