@use './../../variables/color';
@use './../../variables/spacing';
@use './../../variables/commons';
@use './../../variables/components/intranet-header';

@use './../../themes/bootstrap/core' as *;

// based from http://getbootstrap.com/docs/4.1/examples/dashboard/
.navbar-brand {
  margin: 0;
  padding-top: spacing.$spacer * 0.75;
  padding-bottom: spacing.$spacer * 0.75;
  font-size: spacing.$spacer;
}

.navbar {
  position: fixed;
  z-index: commons.$zindex-fixed;
  top: 0;
  left: 0;
  width: 100%;
  border-bottom: commons.$border-width solid rgba(var(--post-contrast-color-rgb), 0.2);
  background-color: color.$white;

  .nav-down {
    width: 100%;
  }

  .container,
  .container-fluid,
  .container-xs {
    .row {
      width: 100%;
    }
  }
}

@include media-breakpoint-up(md) {
  .navbar-expand-md .navbar-nav {
    flex-wrap: wrap;
  }
}

.intranet-header .title {
  overflow: hidden;

  h1 {
    overflow: hidden;
    font-size: 1.6rem; // Same as PostWeb
    text-overflow: ellipsis;
  }
}

.layout-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0 !important;

  > div.site-content {
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
  }

  @include media-breakpoint-down(sm) {
    &.header-big {
      .header-margin {
        margin-top: intranet-header.$header-size;
      }
    }

    &.header-big.with-searchbar {
      .header-margin {
        margin-top: intranet-header.$header-size-big;
      }
    }
  }

  &.header-big {
    .header-margin {
      margin-top: intranet-header.$header-size-big;
    }
  }

  &.header-small {
    .header-margin {
      margin-top: intranet-header.$header-size;
    }
  }
}
