@use './../../variables/color';
@use './../../variables/spacing';
@use './../../variables/type';
@use './../../variables/commons';
@use './../../variables/components/intranet-header';

@use './../../themes/bootstrap/core' as *;

header.navbar {
  .search-textbox {
    @include media-breakpoint-down(sm) {
      border-top: commons.$border-width solid rgba(var(--post-contrast-color-rgb), 0.2);
    }
    @include media-breakpoint-up(md) {
      border-left: commons.$border-width solid rgba(var(--post-contrast-color-rgb), 0.2);
    }

    input {
      height: intranet-header.$header-content-size;
      border: 0;
      background-color: rgba(var(--post-contrast-color-rgb), 0.1);
      font-size: 1.2em;
    }

    .btn {
      width: intranet-header.$header-content-size;
      height: 100%;
      padding: 0 1.25rem;
      border-radius: 0;
      border: 0 none;
    }
  }
}
