@use './../../variables/color';
@use './../../variables/components/forms';
@use './../../functions/color' as color-f;
@use './../../variables/components/intranet-header';

.settings {
  border-left: 1px solid rgba(var(--post-contrast-color-rgb), 0.2);

  &:hover {
    background-color: rgba(var(--post-contrast-color-rgb), 0.1);
    cursor: pointer;
  }

  .dropdown-toggle {
    padding-inline: 1rem !important;
  }

  img.profile-image {
    width: intranet-header.$profile-image-size;
    height: intranet-header.$profile-image-size;
    border: forms.$input-border-width solid color.$gray-10;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}
