@use './../../mixins/utilities';
@use './../../variables/color';
@use './../../variables/commons';
@use './../../variables/spacing';
@use './../../variables/components/intranet-header';

@use './../../themes/bootstrap/core' as *;

// Sidebar
#sidebar {
  display: flex;
  position: relative;
  z-index: intranet-header.$zindex-sidebar; // Behind the navbar
  top: 0;
  bottom: 0;
  left: 0;
  background-color: color.$light;

  flex: 1 0 auto;
  flex-direction: column;

  > div > ul > li:first-child {
    button {
      display: flex;
      width: 100%;
      height: 100%;
      align-items: center;
      background: none;
      border: 0;

      @include utilities.focus-style {
        border-radius: commons.$border-radius;
      }
    }
  }

  @include media-breakpoint-down(md) {
    flex: 0 0 auto;
  }

  @include media-breakpoint-down(md) {
    &.closed .sidebar-sticky {
      background-color: transparent !important;
    }
  }

  @include media-breakpoint-down(md) {
    > div > ul > li:first-child {
      display: block;

      margin: spacing.$spacer * -1;
      margin-bottom: 0;
      padding: spacing.$size-mini;
      padding-left: spacing.$size-regular;
      border-bottom: commons.$border-width solid rgba(var(--post-contrast-color-rgb), 0.2);
      background-color: color.$white;

      button {
        padding: spacing.$size-mini;
      }

      &:hover,
      &:focus {
        background-color: color.$light;
      }
    }

    &:not(.closed) > div > ul > li:first-child {
      margin-bottom: spacing.$spacer;
    }

    &.closed > div > ul > * {
      display: none;
    }

    + main {
      margin-top: 3rem;
    }
  }

  a {
    text-decoration: none;
  }

  .sidebar-sticky {
    position: fixed;
    top: auto;
    top: 0;
    bottom: 0;
    width: inherit;
    max-width: inherit;
    margin-left: spacing.$spacer * -1;
    padding: spacing.$spacer 0;
    overflow-x: hidden;
    overflow-y: auto; // Scrollable contents if viewport is shorter than content.
    background-color: color.$light;

    @include media-breakpoint-down(md) {
      bottom: auto;
    }

    > ul {
      padding-right: spacing.$spacer;
    }
  }

  ul {
    margin: 0;
    padding: 0;
    padding-left: spacing.$spacer;
    list-style: none;
  }

  li.separator {
    min-height: spacing.$spacer;
  }
}

@include media-breakpoint-down(md) {
  #sidebar .sidebar-sticky,
  #navbarsDefault {
    max-height: calc(100vh - 65px);
    overflow: auto;

    .layout-container.header-big.with-searchbar & {
      max-height: calc(100vh - 130px);
    }
  }
}
