@use './../../variables/color';
@use './../../variables/commons';
@use './../../variables/type';
@use './../../variables/components/nav';
@use './../../variables/components/navbar';

@use './../../mixins/button' as button-mixins;
@use './../../mixins/utilities';

@use './../../themes/bootstrap/navbar' as bn;
@use './../../themes/bootstrap/core' as *;

.top-navigation {
  button.nav-link {
    @include button-mixins.reset-button();
    display: flex;
    align-items: center;
    padding: nav.$nav-link-padding-y navbar.$navbar-nav-link-padding-x;

    @include media-breakpoint-down(md) {
      padding: 1rem 3rem 1rem 0;
    }
  }

  .nav-item > .nav-link {
    border-top: 4px solid transparent; // Border-Width according to PostWeb CSS
    border-bottom: 4px solid transparent; // Border-Width according to PostWeb CSS
    background-color: transparent;
    color: rgba(var(--post-contrast-color-rgb), 0.6);

    @include utilities.high-contrast-mode() {
      border-top: 4px solid canvas; // Border-Width according to PostWeb CSS
    }

    &:hover,
    &:focus {
      border-bottom-color: rgba(var(--post-contrast-color-rgb), 0.4);
      background-color: color.$gray-10;
      text-decoration: none;
    }

    &.active {
      border-bottom-color: color.$yellow;
      color: color.$black;

      @include utilities.high-contrast-mode() {
        // use important to prevent a tag to override styles
        border-bottom-color: highlight !important;
        color: highlight !important;
      }

      &:hover,
      &:focus {
        border-bottom-color: color.$yellow;
      }
    }
  }

  .nav-link {
    &:hover,
    &:focus {
      cursor: pointer;
    }
  }

  .nav-item {
    flex-shrink: 0;

    a {
      text-decoration: none;
    }
  }
}

@include media-breakpoint-down(rg) {
  .top-navigation #navbarsDefault {
    border-top: commons.$border-width solid rgba(var(--post-contrast-color-rgb), 0.2);
  }
}

@include media-breakpoint-up(md) {
  .top-navigation {
    border-top: commons.$border-width solid rgba(var(--post-contrast-color-rgb), 0.2);
  }
}

#navbarsDefault > ul > .nav-item {
  font-size: 1.25rem;
}
