@use '@swisspost/design-system-styles/core' as post;

:host {
  display: block;
}

post-language-option-switch {
  post-list > div[role='list'] {
    flex-direction: row;
    gap: 8px;

    post-language-option {
      width: 40px;
      height: 40px;
      border-radius: 2px;

      &[active] {
        background-color: #050400;
        color: #fff;
      }
    }
  }

  .hide {
    display: none;
  }
}
