@use 'sass:map';
@use 'sass:meta';

@use '../functions/string';
@use '../tokens/components';
@use '../tokens/theme';
@use '../tokens/scheme';
@use '../tokens/temp/core';

/**
 * This function aims to retrieve a token value from the core tokens.
 * It's usage is temporary, we must remove it as soon as the CSS light-dark() function is better supported.
 */

@function value($key, $theme: 'post', $scheme: 'light') {
  $value: get-upper-value(components.$post-accent, $key);

  $theme-map: map.get(meta.module-variables(theme), 'post-#{$theme}');
  $value: get-upper-value($theme-map, $value);

  $scheme-map: map.get(meta.module-variables(scheme), 'post-#{$scheme}');
  $value: get-upper-value($scheme-map, $value);

  @return get-upper-value(core.$post-core, $value);
}

@function get-upper-value($map, $key) {
  @if (map.has-key($map, $key)) {
    $value: map.get($map, $key);

    @if (meta.type-of($value) == 'string') {
      $value: string.replace($value, 'var(--', '');
      $value: string.replace($value, ')', '');
    }

    @return $value;
  }

  @return $key;
}
