@use '../functions/contrast';
@use '../functions/tokens';
@use '../placeholders/schemes';
@use '../tokens/elements';

@use './functions' as *;
@use './variables' as *;

@mixin generate-accent-class($name, $theme) {
  .accent-#{$name} {
    &,
    &:is([data-color-scheme='light'], [data-color-scheme='light'] *) {
      @include accent-styles($name, $theme, 'light', $redefine-tokens: true);
    }

    &:is([data-color-scheme='dark'], [data-color-scheme='dark'] *) {
      @include accent-styles($name, $theme, 'dark', $redefine-tokens: true);
    }
  }
}

@mixin default-accent-styles($theme) {
  &:not([data-color-scheme='dark']) {
    @include accent-styles($default-accent, $theme, 'light');
  }

  &[data-color-scheme='dark'] {
    @include accent-styles($default-accent, $theme, 'dark');
  }
}

@mixin accent-styles($name, $theme, $scheme, $redefine-tokens: false) {
  --post-accent-fg: var(--post-accent-#{$name}-fg);
  background-color: var(--post-accent-#{$name}-bg) !important;

  @if ($redefine-tokens == true) {
    // redefining the body color is required so that the new color scheme is taken into account
    color: tokens.get('body-color', elements.$post-body);

    $bg: value('post-accent-#{$name}-bg', '#{$theme}-test', '#{$scheme}-test');
    @if (contrast.light-or-dark($bg) == 'light') {
      @extend %color-scheme-light;
    } @else {
      @extend %color-scheme-dark;
    }
  }
}
