@use '@swisspost/design-system-styles/mixins/utilities';
@use '@swisspost/design-system-styles/functions/tokens';
@use '@swisspost/design-system-styles/tokens/components';
@use '@swisspost/design-system-styles/mixins/media';

tokens.$default-map: components.$post-stepper;

ol {
  @include utilities.reset-list;
  // start a counter for the step numbers
  counter-reset: step-index;

  display: grid;
  position: relative;
  overflow: hidden;

  // the first column is half a step wide to make sure the separators are the same size even on small screens
  grid-template-columns: calc(40px / 2);

  // all other columns are 1 fraction of the available space ase we don't know the number of steps
  grid-auto-columns: minmax(0, 1fr);

  // we use a padding and negative margin on the last step for the same reason we need the first column
  padding-inline-end: calc(40px / 2);

  @include media.max(md) {
    display: flex;
    padding-inline-end: 0;
  }
}

.active-step {
  font-size: tokens.get('stepper-step-label-font-size');
  font-weight: tokens.get('stepper-step-label-selected-font-weight');
  color: tokens.get('stepper-text-enabled-fg');

  @include media.min(md) {
    display: none;
  }
}
