@use 'sass:meta';
@use 'sass:math';
@use '@swisspost/design-system-styles/variables/color';
@use '@swisspost/design-system-styles/functions/color' as color-fn;
@use '@swisspost/design-system-styles/variables/spacing';
@use '@swisspost/design-system-styles/tokens/utilities';
@use '@swisspost/design-system-styles/functions/tokens';

tokens.$default-map: utilities.$post-spacing;

:host {
  display: none;
}

:host([open]) {
  display: block;
}

post-popovercontainer {
  padding: tokens.get('utility-gap-4') tokens.get('utility-gap-8');
  max-width: 200px;
  min-height: 32px;

  // Creates a safe space around the popovercontainer for save pointer crossing between trigger and tooltip
  &[arrow] {
    &::after {
      position: absolute;
      content: '';
      inset: -13px;
      z-index: -1;
    }
  }
}
