@use 'sass:meta';
@use 'sass:math';
@use '@swisspost/design-system-styles/variables/color';
@use '@swisspost/design-system-styles/functions/color' as color-fn;
@use '@swisspost/design-system-styles/variables/spacing';

:host {
  display: none;
  --post-contrast-color: #{color.$white};
  --post-bg-rgb: #{color-fn.rgb-values(color.$gray-80)};
}

:host([open]) {
  display: block;
}

post-popovercontainer {
  // Creates a safe space around the popovercontainer for save pointer crossing between trigger and tooltip
  &[arrow] {
    &::after {
      position: absolute;
      content: '';
      inset: -13px;
      z-index: -1;
    }
  }

  & > div {
    padding: spacing.$size-micro spacing.$size-mini;
    max-width: var(--post-tooltip-max-width, 280px);
    width: inherit;
    min-height: 32px;
    word-wrap: break-word;
    white-space: normal;
  }
}
