@use '../../variables/color';
@use '../../variables/components/forms';
@use '../../functions/color' as color-f;
@use '../../variables/components/intranet-header';

.settings {
  border-left: 1px solid color.$black-alpha-20;

  &:hover {
    background-color: color.$black-alpha-10;
    cursor: pointer;
  }

  img.profile-image {
    width: intranet-header.$profile-image-size;
    height: intranet-header.$profile-image-size;
    border: forms.$input-border-width solid
      color-f.get-solid-color(color.$black-alpha-20, color.$white);
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}
