@use 'sass:list';
@use 'sass:map';

$grid-breakpoints: (
  xs: 0,
  sm: 600px,
  md: 780px,
  lg: 1024px,
  xl: 1280px,
) !default;

$grid-breakpoint-to-device: (
  xs: 'mobile',
  sm: 'tablet',
  md: 'tablet',
  lg: 'desktop',
  xl: 'desktop',
);

$device-to-grid-breakpoints: () !default;
@each $breakpoint, $device in $grid-breakpoint-to-device {
  $breakpoint-list: if(
    map.has-key($device-to-grid-breakpoints, $device),
    map.get($device-to-grid-breakpoints, $device),
    ()
  );

  $device-to-grid-breakpoints: map.set(
    $device-to-grid-breakpoints,
    $device,
    list.append($breakpoint-list, $breakpoint)
  );
}
