@use 'sass:map';
@use 'sass:list';
@use './../functions/contrast' as contrast-fn;

/**
 * Colors used by the post style guide
 */

// Grayscale
$gray-10: hsl(0, 0%, 90%);
$gray-20: hsl(0, 0%, 80%);
$gray-40: hsl(0, 0%, 60%);
$gray-60: hsl(0, 0%, 40%);
$gray-80: hsl(0, 0%, 20%);

// Brand
$yellow: #fc0; // The one and only
$white: #fff;
$light: #faf9f8;
$gray: #f4f3f1;
$dark: $gray-80;
$black: #000;
$primary: $gray-80;
$secondary: $gray-60;

// Focus
$focus-light: #1976c8;
$focus-dark: $white;

// Accent colors
$nightblue-dark: #004976;
$nightblue-bright: #0076a8;
$petrol-dark: #006d68;
$petrol-bright: #00968f;
$coral-dark: #9e2a2f;
$coral-bright: #e03c31;
$purple-dark: #80276c;
$purple-bright: #c5299b;
$olive-dark: #716135;
$olive-bright: #aa9d2e;
$aubergine-dark: #523178;
$aubergine-bright: #7566a0;

// Signal Colors
$success-green: #2c871d; /* When value is changed, please changed as well the copied value in ../functions/_contrast.scss, @function light-or-dark()*/
$error-red: #a51728;
$warning-orange: #f49e00;
$success-background: #c0debb;
$error-background: #ffdade;
$warning-background: #fce2b2;

// Contextual colors (deprecated)
$success: $success-green;
$success-text: #255e1c;
$error: #a51728;
$error-text: #8f0d1c;
$warning: #f49e00;
$info: #cce4ee;

/**
 * Maps. Allow maps to have custom colors from the project
 * by always merging into a default empty map
 */

$post-grays: () !default;
$post-grays: map.merge(
  $post-grays,
  (
    'gray-10': $gray-10,
    'gray-20': $gray-20,
    'gray-40': $gray-40,
    'gray-60': $gray-60,
    'gray-80': $gray-80,
  )
);

$contextual-colors: () !default;
$contextual-colors: map.merge(
  $contextual-colors,
  (
    'info': $info,
    'success': $success-green,
    'warning': $warning,
    'danger': $error,
  )
);

$signal-colors: () !default;
$signal-colors: map.merge(
  $signal-colors,
  (
    'success-green': $success-green,
    'error-red': $error-red,
    'warning-orange': $warning-orange,
    'success-background': $success-background,
    'error-background': $error-background,
    'warning-background': $warning-background,
  )
);

$accent-colors: () !default;
$accent-colors: map.merge(
  $accent-colors,
  (
    'nightblue': $nightblue-dark,
    'nightblue-bright': $nightblue-bright,
    'petrol': $petrol-dark,
    'petrol-bright': $petrol-bright,
    'coral': $coral-dark,
    'coral-bright': $coral-bright,
    'olive': $olive-dark,
    'olive-bright': $olive-bright,
    'purple': $purple-dark,
    'purple-bright': $purple-bright,
    'aubergine': $aubergine-dark,
    'aubergine-bright': $aubergine-bright,
  )
);

// List of possible background colors with some synonyms for easier usage
$background-colors: () !default;
$background-colors: map.merge(
  $background-colors,
  (
    'yellow': $yellow,
    'white': $white,
    'light': $light,
    'gray': $gray,
    'dark': $dark,
    'black': $black,
    'primary': $primary,
    'secondary': $secondary,
  )
);

// Merge with the other lists
$background-colors: map.merge($background-colors, $contextual-colors);
$background-colors: map.merge($background-colors, $accent-colors);
$background-colors: map.merge($background-colors, $signal-colors);

// Compile a list of dark backgrounds, used in the :is selector mixin at mixins/color
$dark-backgrounds: () !default;
@each $colorname, $color in $background-colors {
  @if (contrast-fn.light-or-dark($color) == 'dark') {
    $dark-backgrounds: list.append($dark-backgrounds, '.bg-#{$colorname}', $separator: comma);
  }
}
