@use 'sass:map';

$elevation-none: none;
$elevation-1: var(--post-core-elevation-1);
$elevation-2: var(--post-core-elevation-2);
$elevation-3: var(--post-core-elevation-3);
$elevation-4: var(--post-core-elevation-4);
$elevation-5: var(--post-core-elevation-5);

$elevation-map: () !default;
$elevation-map: map.merge(
  $elevation-map,
  (
    'elevation-none': $elevation-none,
    'elevation-1': $elevation-1,
    'elevation-2': $elevation-2,
    'elevation-3': $elevation-3,
    'elevation-4': $elevation-4,
    'elevation-5': $elevation-5,
  )
);
