@use 'sass:map';
@use './../tokens/utilities';
@use './../functions/tokens';

tokens.$default-map: utilities.$post-elevation;

$elevation-none: none;
$elevation-100: tokens.get('utility-elevation-100');
$elevation-200: tokens.get('utility-elevation-200');
$elevation-300: tokens.get('utility-elevation-300');
$elevation-400: tokens.get('utility-elevation-400');
$elevation-500: tokens.get('utility-elevation-500');

$elevation-map: () !default;
$elevation-map: map.merge(
  $elevation-map,
  (
    'elevation-none': $elevation-none,
    'elevation-100': $elevation-100,
    'elevation-200': $elevation-200,
    'elevation-300': $elevation-300,
    'elevation-400': $elevation-400,
    'elevation-500': $elevation-500,
  )
);
