// Features
//
// Note: This variables have almost no influence on how the UI is shown,
// because they have not been used in the custom swisspost styling.
// Nevertheless, they have to be defined, for bootstrap to work as expected.

$enable-caret: true;
$enable-rounded: true;
$enable-shadows: false;
$enable-gradients: false;
$enable-transitions: true;
$enable-hover-media-query: false;
$enable-grid-classes: true;

// Prefix for :root CSS variables
// TODO: this variable will change from "$variable-prefix" to "$prefix" in bootstrap@5.2
// https://getbootstrap.com/docs/5.2/customize/css-variables/#prefix
$variable-prefix: 'bs-' !default;
