@use 'sass:map';
@use './breakpoints';

// list of breakpoint giving the possibility to loop over them
$grid-breakpoints-list: map.keys(breakpoints.$grid-breakpoints);

// Grid containers
$container-max-widths: (
  xl: 1280px,
) !default;

$grid-container-padding: (
  xs: 12px,
  sm: 16px,
  md: 32px,
  lg: 32px,
  xl: 40px,
) !default;

$grid-container-fluid-padding: (
  xs: map.get($grid-container-padding, xs),
  sm: map.get($grid-container-padding, sm),
  md: map.get($grid-container-padding, md),
  lg: map.get($grid-container-padding, lg),
  xl: map.get($grid-container-padding, lg),
) !default;

// Grid columns
$grid-columns: 12 !default;

/* Deprecated: $grid-gutter-width */
$grid-gutter-width: 30px !default;

$grid-gutter-x: (
  xs: 12px,
  sm: 16px,
  md: 16px,
  lg: 16px,
  xl: 16px,
) !default;
