@use './type';

// Intended for use with min-width, mobile first, bottom up approach
$heading-sizes-h1: (
  xs: type.$font-size-28,
  sm: type.$font-size-32,
  md: type.$font-size-40,
  xxl: type.$font-size-48,
);

$heading-sizes-h2: (
  xs: type.$font-size-24,
  sm: type.$font-size-28,
  md: type.$font-size-32,
  xxl: type.$font-size-40,
);

$heading-sizes-h3: (
  xs: type.$font-size-18,
  sm: type.$font-size-20,
  md: type.$font-size-24,
  xxl: type.$font-size-28,
);

$heading-sizes-h4: (
  xs: type.$font-size-16,
  sm: type.$font-size-18,
  md: type.$font-size-20,
  xxl: type.$font-size-24,
);

$heading-sizes-h5: (
  xs: type.$font-size-16,
  md: type.$font-size-18,
  xxl: type.$font-size-20,
);

$heading-sizes-h6: (
  xs: type.$font-size-14,
  md: type.$font-size-16,
  xxl: type.$font-size-18,
);

$heading-sizes: (
  'heading-sizes-h1': $heading-sizes-h1,
  'heading-sizes-h2': $heading-sizes-h2,
  'heading-sizes-h3': $heading-sizes-h3,
  'heading-sizes-h4': $heading-sizes-h4,
  'heading-sizes-h5': $heading-sizes-h5,
  'heading-sizes-h6': $heading-sizes-h6,
);
