@use 'sass:map';
@use './components/forms';
@use '../variables/color';
@use '../functions/color' as color-fn;

@forward './../svg-icon-map';

$icon-size-default: 1.5rem !default;

$svg-pre-path: "data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='";
$svg-post-path: "'%3E%3C/path%3E%3C/svg%3E";

// v2 icons
$next-icons: () !default;

$error-icon-name: 'error';
$error-icon-svg-path: 'M12.25 0C5.635 0 0.25 5.385 0.25 12C0.25 18.615 5.635 24 12.25 24C18.865 24 24.25 18.615 24.25 12C24.25 5.385 18.865 0 12.25 0ZM10.8325 5.22H13.9375V8.6025L13.3525 13.1175H11.4025L10.8325 8.6025V5.22ZM12.385 17.7225C11.2975 17.7225 10.5925 16.965 10.5925 16.05C10.5925 15.135 11.2975 14.3925 12.385 14.3925C13.4725 14.3925 14.1775 15.1725 14.1775 16.05C14.1775 16.9275 13.4725 17.7225 12.385 17.7225Z';
$next-icons: map.merge(
  (
    $error-icon-name: $error-icon-svg-path,
  ),
  $next-icons
);

$success-icon-name: 'success';
$success-icon-svg-path: 'M12 0C5.385 0 0 5.385 0 12C0 18.615 5.385 24 12 24C18.615 24 24 18.615 24 12C24 5.385 18.615 0 12 0ZM17.64 7.635L11.445 17.3925L6.1575 12.9525C5.8425 12.69 5.7975 12.21 6.0675 11.895C6.33 11.58 6.8025 11.535 7.125 11.805L11.1 15.1425L16.38 6.825C16.605 6.4725 17.07 6.3675 17.415 6.5925C17.7675 6.8175 17.865 7.275 17.6475 7.6275L17.64 7.635Z';
$next-icons: map.merge(
  (
    $success-icon-name: $success-icon-svg-path,
  ),
  $next-icons
);
