@use 'sass:map';

// Spacing
//
// Control the default styling of most Bootstrap elements by modifying these
// variables. Mostly focused on spacing.
// You can add more entries to the $spacers map, should you need more variation.

$spacer: 1rem !default;
$spacers: (
  0: 0,
  1: $spacer * 0.25,
  2: $spacer * 0.5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
) !default;

// Post-Sizes
$size-hair: 1px !default;
$size-line: 2px !default;
$size-micro: 0.25rem !default; //   ~4px
$size-mini: 0.5rem !default; //   ~8px
$size-small-regular: 0.75rem !default; //  ~12px
$size-regular: 1rem !default; //  ~16px
$size-small-large: 1.25rem !default; //  ~20px
$size-large: 1.5rem !default; //  ~24px
$size-big: 2rem !default; //  ~32px
$size-bigger-big: 2.5rem !default; //  ~40px
$size-small-huge: 3rem !default; //  ~48px
$size-huge: 3.5rem !default; //  ~56px
$size-small-giant: 4.5rem !default; //  ~72px
$size-giant: 5rem !default; //  ~80px
$size-bigger-giant: 7rem !default; // ~112px

$post-sizes: () !default;
$post-sizes: map.merge(
  (
    'hair': $size-hair,
    'line': $size-line,
    'micro': $size-micro,
    'mini': $size-mini,
    'small-regular': $size-small-regular,
    'regular': $size-regular,
    'small-large': $size-small-large,
    'large': $size-large,
    'big': $size-big,
    'bigger-big': $size-bigger-big,
    'small-huge': $size-small-huge,
    'huge': $size-huge,
    'small-giant': $size-small-giant,
    'giant': $size-giant,
    'bigger-giant': $size-bigger-giant,
  ),
  $post-sizes
);

// This variable affects the `.h-*` and `.w-*` classes.
$sizes: () !default;
$sizes: map.merge(
  (
    25: 25%,
    50: 50%,
    75: 75%,
    100: 100%,
    auto: auto,
  ),
  $sizes
);

// Abstand Gross, Section
$size-curve-giant: (
  'xs': $size-huge,
  'sm': $size-huge,
  'rg': $size-huge,
  'md': $size-giant,
  'lg': $size-giant,
  'xl': $size-giant,
) !default;

// Abstand standard
$size-curve-huge: (
  'xs': $size-big,
  'sm': $size-big,
  'rg': $size-big,
  'md': $size-bigger-big,
  'lg': $size-bigger-big,
  'xl': $size-huge,
) !default;

// Abstand Section halb
$size-curve-bigger-big: (
  'xs': $size-large,
  'sm': $size-large,
  'rg': $size-large,
  'md': $size-small-huge,
  'lg': $size-small-huge,
  'xl': $size-small-huge,
) !default;

// Abstand Breadcrumb, Stepper
$size-curve-big: (
  'xs': $size-small-large,
  'sm': $size-small-large,
  'rg': $size-small-large,
  'md': $size-big,
  'lg': $size-big,
  'xl': $size-bigger-big,
) !default;

// H2
$size-curve-large: (
  'xs': $size-regular,
  'sm': $size-regular,
  'rg': $size-regular,
  'md': $size-small-large,
  'lg': $size-small-large,
  'xl': $size-big,
) !default;

// Button
$size-curve-regular: (
  'xs': $size-regular,
  'sm': $size-regular,
  'rg': $size-regular,
  'md': $size-large,
  'lg': $size-large,
  'xl': $size-large,
) !default;

// Teaser
$size-curve-small: (
  'xs': $size-small-regular,
  'sm': $size-regular,
  'rg': $size-regular,
  'md': $size-regular,
  'lg': $size-regular,
  'xl': $size-regular,
) !default;

// Eingabefelder, p, h3, h4
$size-curve-tiny: (
  'xs': $size-small-regular,
  'sm': $size-small-regular,
  'rg': $size-small-regular,
  'md': $size-regular,
  'lg': $size-regular,
  'xl': $size-regular,
) !default;

// List of all adaptive size curves
$size-curves: (
  'giant': $size-curve-giant,
  'huge': $size-curve-huge,
  'bigger-big': $size-curve-bigger-big,
  'big': $size-curve-big,
  'large': $size-curve-large,
  'regular': $size-curve-regular,
  'small': $size-curve-small,
  'tiny': $size-curve-tiny,
) !default;

$responsive-spacing-properties: (
  'm': 'margin',
  'mt': 'margin-top',
  'mr': 'margin-right',
  'mb': 'margin-bottom',
  'ml': 'margin-left',
  'p': 'padding',
  'pt': 'padding-top',
  'pr': 'padding-right',
  'pb': 'padding-bottom',
  'pl': 'padding-left',
  'gap': 'gap',
);
