@use 'sass:map';

// Spacing
//
// Control the default styling of most Bootstrap elements by modifying these
// variables. Mostly focused on spacing.
// You can add more entries to the $spacers map, should you need more variation.

// Bootstrap
// ----------------------------------------

$spacer: 1rem !default;
$spacers: (
  0: 0,
  1: $spacer * 0.25,
  2: $spacer * 0.5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
) !default;

// Post
// ----------------------------------------

$space-0: 0 !default;
$space-1: 1px !default;
$space-2: 2px !default;
$space-4: 4px !default;
$space-8: 8px !default;
$space-16: 16px !default;
$space-24: 24px !default;
$space-32: 32px !default;
$space-40: 40px !default;
$space-48: 48px !default;
$space-64: 64px !default;
$space-80: 80px !default;
$space-96: 96px !default;
$space-112: 112px !default;

$spacings: () !default;
$spacings: map-merge(
  (
    0: $space-0,
    1: $space-1,
    2: $space-2,
    4: $space-4,
    8: $space-8,
    16: $space-16,
    24: $space-24,
    32: $space-32,
    40: $space-40,
    48: $space-48,
    64: $space-64,
    80: $space-80,
    96: $space-96,
    112: $space-112,
  ),
  $spacings
);

$auto-spacings: map-merge(
  $spacings,
  (
    auto: auto,
  )
);

$negative-spacings: ();

@each $space, $length in $spacings {
  @if $space != 0 {
    $negative-spacings: map-merge($negative-spacings, (n#{$space}: -$length));
  }
}
