@use 'sass:math';

@use './spacing';
@use './color';
@use './commons';
@use './components/paragraph';
@use './../functions/sizing';

// Fonts
//
// Font, line-height, and color for body text, headings, and more.

$font-family-sans-serif:
  'Frutiger Neue For Post',
  -apple-system,
  BlinkMacSystemFont,
  'Segoe UI',
  Roboto,
  'Helvetica Neue',
  Arial,
  sans-serif !default;
$font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New',
  monospace !default;
$font-family-base: $font-family-sans-serif !default;

// Deprecated
$font-size-tiny: sizing.px-to-rem(13px);
$font-size-small: sizing.px-to-rem(15px);
$font-size-regular: sizing.px-to-rem(16px);
$font-size-bigger-regular: sizing.px-to-rem(17px);
$font-size-medium: sizing.px-to-rem(20px);
$font-size-large: sizing.px-to-rem(24px);
$font-size-small-big: sizing.px-to-rem(28px);
$font-size-big: sizing.px-to-rem(32px);
$font-size-bigger-big: sizing.px-to-rem(40px);
$font-size-small-huge: sizing.px-to-rem(48px);
$font-size-huge: sizing.px-to-rem(56px);

// New
$font-size-12: sizing.px-to-rem(12px);
$font-size-14: sizing.px-to-rem(14px);
$font-size-16: sizing.px-to-rem(16px);
$font-size-18: sizing.px-to-rem(18px);
$font-size-20: sizing.px-to-rem(20px);
$font-size-24: sizing.px-to-rem(24px);
$font-size-28: sizing.px-to-rem(28px);
$font-size-32: sizing.px-to-rem(32px);
$font-size-40: sizing.px-to-rem(40px);
$font-size-48: sizing.px-to-rem(48px);
$font-size-56: sizing.px-to-rem(56px);

$line-height-sm: 1;
$line-height-copy: 1.5;
$line-height-heading: 1.2;

$font-weight-light: 300 !default; // Design System -> Frutiger Neue Light
$font-weight-normal: 400 !default; // Design System -> Frutiger Neue Roman
$font-weight-bold: 700 !default; // Design System -> Frutiger Neue Bold

// Deprecated
$font-sizes: (
  'tiny': $font-size-tiny,
  'small': $font-size-small,
  'regular': $font-size-regular,
  'bigger-regular': $font-size-bigger-regular,
  'medium': $font-size-medium,
  'large': $font-size-large,
  'small-big': $font-size-small-big,
  'big': $font-size-big,
  'bigger-big': $font-size-bigger-big,
  'small-huge': $font-size-small-huge,
  'huge': $font-size-huge,
);

$font-size-map: (
  12: $font-size-12,
  14: $font-size-14,
  16: $font-size-16,
  18: $font-size-18,
  20: $font-size-20,
  24: $font-size-24,
  28: $font-size-28,
  32: $font-size-32,
  40: $font-size-40,
  48: $font-size-48,
  56: $font-size-56,
);

// Deprecated
$font-curve-tiny: (
  'xs': $font-size-tiny,
  'sm': $font-size-tiny,
  'rg': $font-size-small,
  'md': $font-size-small,
  'lg': $font-size-regular,
  'xl': $font-size-regular,
  'xxl': $font-size-bigger-regular,
);
$font-curve-small: (
  'xs': $font-size-small,
  'sm': $font-size-small,
  'rg': $font-size-regular,
  'md': $font-size-regular,
  'lg': $font-size-bigger-regular,
  'xl': $font-size-bigger-regular,
  'xxl': $font-size-bigger-regular,
);
$font-curve-regular: (
  'xs': $font-size-bigger-regular,
  'sm': $font-size-bigger-regular,
  'rg': $font-size-bigger-regular,
  'md': $font-size-bigger-regular,
  'lg': $font-size-medium,
  'xl': $font-size-medium,
  'xxl': $font-size-medium,
);
$font-curve-bigger-regular: (
  'xs': $font-size-bigger-regular,
  'sm': $font-size-bigger-regular,
  'rg': $font-size-medium,
  'md': $font-size-medium,
  'lg': $font-size-large,
  'xl': $font-size-large,
  'xxl': $font-size-large,
);
$font-curve-medium: (
  'xs': $font-size-medium,
  'sm': $font-size-medium,
  'rg': $font-size-medium,
  'md': $font-size-medium,
  'lg': $font-size-large,
  'xl': $font-size-large,
  'xxl': $font-size-small-big,
);
$font-curve-large: (
  'xs': $font-size-large,
  'sm': $font-size-large,
  'rg': $font-size-small-big,
  'md': $font-size-small-big,
  'lg': $font-size-big,
  'xl': $font-size-big,
  'xxl': $font-size-bigger-big,
);
$font-curve-big: (
  'xs': $font-size-small-big,
  'sm': $font-size-small-big,
  'rg': $font-size-big,
  'md': $font-size-big,
  'lg': $font-size-bigger-big,
  'xl': $font-size-bigger-big,
  'xxl': $font-size-small-huge,
);

// Deprecated
$font-curves: (
  'tiny': $font-curve-tiny,
  'small': $font-curve-small,
  'regular': $font-curve-regular,
  'bigger-regular': $font-curve-bigger-regular,
  'medium': $font-curve-medium,
  'large': $font-curve-large,
  'big': $font-curve-big,
);

$font-size-base: $font-size-regular !default;
$font-weight-base: $font-weight-normal !default;
$line-height-base: $line-height-copy;
$line-height-sm: $line-height-heading;
$line-height-lg: $line-height-copy;

$headings-margin-bottom: (spacing.$spacer * 0.5) !default;
$headings-font-family: inherit !default;
$headings-font-weight: 700 !default;
$headings-line-height: $line-height-heading;
$headings-color: inherit !default;

// Deprecated because unused
$display1-weight: 300 !default;
$display2-weight: 300 !default;
$display3-weight: 300 !default;
$display4-weight: 300 !default;
$display-line-height: $headings-line-height !default;

$small-font-size: 80% !default;

$text-muted: color.$gray-60;

$blockquote-font-weight: $font-weight-bold !default;
$blockquote-border-left: commons.$border-thick solid color.$black !default;
$blockquote-border-left-width-md: spacing.$size-micro !default;
$blockquote-padding-left: spacing.$size-small-regular !default;
$blockquote-padding-left-xxl: spacing.$size-big !default;
$blockquote-margin-top: spacing.$size-large !default;
$blockquote-margin-y: spacing.$size-regular !default;
$blockquote-footer-font-size: math.div(1em * sizing.strip-unit($small-font-size), 100) !default;
$blockquote-cite-font-weight: $font-weight-normal !default;

$hr-border-color: rgba(color.$black, 0.1) !default; // Design System
$hr-border-color-light: rgba(color.$white, 0.4) !default; // Design System only
$hr-border-width: commons.$border-width !default;

$mark-padding: 0.2em !default;

$dt-font-weight: $font-weight-bold !default;

$kbd-box-shadow: inset 0 -0.1rem 0 rgba(color.$black, 0.25) !default;
$nested-kbd-font-weight: $font-weight-bold !default;

$list-inline-padding: 0.5rem !default;

$mark-bg: #fcf8e3 !default;

$hr-margin-y: spacing.$spacer !default;
