@use 'sass:math';

@use './../functions/tokens';
@use './../tokens/utilities';
@use './../tokens/elements' as element-tokens;

tokens.$default-map: utilities.$post-typo;

// Fonts
//
// Font, line-height, and color for body text, headings, and more.

$font-family-sans-serif:
  tokens.get('body-font-family', element-tokens.$post-body),
  -apple-system,
  BlinkMacSystemFont,
  'Segoe UI',
  Roboto,
  'Helvetica Neue',
  Arial,
  sans-serif !default;
$font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New',
  monospace !default;

$line-height-copy: 1.5;
$line-height-heading: 1.2;

$font-weight-normal: tokens.get('utility-font-weight-regular') !default;
$font-weight-bold: tokens.get('utility-font-weight-bold') !default;
$font-weight-black: tokens.get('utility-font-weight-black') !default;

$font-size-base: 1rem !default;
$font-weight-base: $font-weight-normal !default;
$line-height-base: $line-height-copy;
$line-height-1: tokens.get('utility-line-height-1');
$line-height-sm: tokens.get('utility-line-height-sm');
$line-height-lg: tokens.get('utility-line-height-lg');
