@use '@swisspost/design-system-styles/components/button';
@use '@swisspost/design-system-styles/components/icon-button';
@use '@swisspost/design-system-styles/functions/tokens';
@use '@swisspost/design-system-styles/tokens/components';
@use '@swisspost/design-system-styles/mixins/utilities';
@use '@swisspost/design-system-styles/variables/components/button' as button-var;

tokens.$default-map: components.$post-pagination;

.pagination {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 100%;
  padding: tokens.get('pagination-padding');
  overflow: hidden;
}

.pagination-list {
  display: flex;
  align-items: center;
  gap: tokens.get('pagination-numbers-gap');
  min-width: 0;
  max-width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  flex-wrap: nowrap;

  .pagination-control:first-child {
    margin-inline-end: calc(tokens.get('pagination-gap') - tokens.get('pagination-numbers-gap'));
  }

  .pagination-control:last-child {
    margin-inline-start: calc(tokens.get('pagination-gap') - tokens.get('pagination-numbers-gap'));
  }
}

.pagination-item {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  flex-shrink: 0;
  flex-grow: 0;
}

.pagination-ellipsis,
.pagination-link,
.pagination-ellipsis-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.pagination-link,
.pagination-ellipsis-content {
  width: tokens.get('pagination-number-size');
  height: tokens.get('pagination-number-size');
  min-width: tokens.get('pagination-number-size');
  font-size: tokens.get('pagination-number-font-size');
  color: tokens.get('pagination-number-color-enabled-fg');
  font-weight: tokens.get('pagination-number-font-weight');
}

.pagination-link {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-weight: tokens.get('pagination-number-font-weight');
  text-decoration: none;
  background-color: tokens.get('pagination-number-color-enabled-bg');
  border: tokens.get('pagination-number-border-width') solid
    tokens.get('pagination-number-color-enabled-stroke');
  border-radius: tokens.get('pagination-number-border-radius');
  cursor: pointer;
  appearance: none;
  outline: none;
  transition: button-var.$btn-transition;

  @include utilities.focus-style;

  &:active:not(.pagination-link-active),
  &:hover {
    color: tokens.get('pagination-number-color-hovered-fg');
    background-color: tokens.get('pagination-number-color-hovered-bg');
    border-color: tokens.get('pagination-number-color-hovered-stroke');
  }

  &.pagination-link-active {
    color: tokens.get('pagination-number-color-selected-enabled-fg');
    background-color: tokens.get('pagination-number-color-selected-enabled-bg');
    border-color: tokens.get('pagination-number-color-selected-enabled-stroke');
    cursor: default;
  }
}

.pagination-ellipsis {
  flex-shrink: 0;
  flex-grow: 0;
}

.pagination-ellipsis-content {
  user-select: none;
}

// === Utility classes ===
.hidden-items {
  position: absolute;
  display: flex;
  gap: tokens.get('pagination-gap');
  height: 0;
  overflow: hidden;
  white-space: nowrap;
  visibility: hidden;
  pointer-events: none;
}

.visually-hidden {
  @include utilities.visuallyhidden;
}
