@use 'sass:list';
@use 'sass:map';
@use 'sass:meta';

@use '../functions/string';
@use '../functions/tokens' as tokens-fn;
@use '../tokens/utilities' as tokens;

$token-maps: meta.module-variables(tokens);

@function from-tokens($set, $group: $set) {
  $map-name: 'post-#{$set}';
  $token-prefix: 'post-utility-#{$group}-';

  @if (not map.has-key($token-maps, $map-name)) {
    @error 'The utility token map named "$#{$map-name}" is missing.';
  }

  $values: ();
  @each $key, $value in map.get($token-maps, $map-name) {
    @if (string.contains($key, $token-prefix)) {
      $new-value: (
        string.replace($key, $token-prefix, ''): $value,
      );

      $values: map.merge($values, $new-value);
    }
  }

  @if (list.length($values) == 0) {
    @error 'No token matching "#{$token-prefix}*" was found in the "$#{$map-name}" map.';
  }

  @return $values;
}
