@use 'sass:map';

@use '../functions/string';

@use './mixins' as *;
@use './variables' as *;

@use './temp/legacy';

@each $set, $config in $utilities {
  $tokens: map.get($config, tokens);
  $classes: map.get($config, classes);

  @each $group, $classesConfig in $classes {
    $responsive: map.get($classesConfig, responsive);
    $prefixes: map.get($classesConfig, prefixes);

    @each $key, $value in $tokens {
      @if (string.contains($key, 'post-utility-#{$group}')) {
        $suffix: string.replace($key, 'post-utility-#{$group}', '');

        @each $prefix, $properties in $prefixes {
          @if $responsive {
            @include generate-responsive-utilities($properties, $value, $prefix, $suffix);
          } @else {
            @include generate-utilities($properties, $value, $prefix, $suffix);
          }
        }
      }
    }
  }
}
