@use 'sass:map';

@use '../functions/string';
@use '../mixins/media';
@use '../variables/breakpoints';

@use './mixins' as *;
@use './variables' as *;

@use './temp/legacy';

@each $set, $config in $utilities {
  $tokens: map.get($config, tokens);
  $classes: map.get($config, classes);

  @each $group, $classesConfig in $classes {
    $responsive: map.get($classesConfig, responsive);
    $prefixes: map.get($classesConfig, prefixes);

    @each $prefix, $properties in $prefixes {
      @if $responsive {
        @each $breakpoint, $min-width in breakpoints.$grid-breakpoints {
          @if ($min-width == 0) {
            // responsive utilities on smaller breakpoint (no breakpoint infix)
            @include generate-utilities($group, $tokens, $properties, $prefix);
          } @else {
            // responsive utilities on all breakpoints that are not the smallest (with breakpoint infix)
            @include media.min($min-width) {
              $infix: '-#{$breakpoint}';
              @include generate-utilities($group, $tokens, $properties, $prefix, $infix);
            }
          }
        }
      } @else {
        // non-responsive utilities
        @include generate-utilities($group, $tokens, $properties, $prefix);
      }
    }
  }
}
