@use '@swisspost/design-system-styles/core' as post;
@use '@swisspost/design-system-styles/functions/tokens' as tokens;
@use '@swisspost/design-system-styles/tokens/utilities' as utilities;

tokens.$default-map: utilities.$post-spacing;

.version-switcher__loading {
  display: flex;
  align-items: center;
  font-size: post.$font-size-14;
}

.version_switcher__sizing_placeholder {
  visibility: hidden !important;
}

.version-switcher__dropdown {
  .item__title {
    display: block;
  }

  .item__deps {
    display: flex;
    gap: tokens.get('utility-gap-12');
  }

  .deps_dep {
    display: flex;
    gap: tokens.get('utility-gap-2');
    font-size: 85%;
  }

  .dep__icon {
    display: block;
    height: 1.1em;
  }

  .dep__version {
    white-space: nowrap;
  }
}
