@use '@swisspost/design-system-styles/mixins/utilities';
@use './components';
@use '../addons/addons';
@use '../addons/version-switcher/version-switcher';

.sidebar-header {
  :nth-of-type(1) {
    flex: 0 0 48px;
  }
}

.visually-hidden {
  @include utilities.visuallyhidden();
}

#storybook-explorer-tree {
  .sidebar-subheading {
    width: 100%;

    button {
      letter-spacing: 0.1em;

      &:focus,
      &:hover {
        background: none;
      }
    }

    .sidebar-subheading-action {
      display: none;
    }
  }

  .sidebar-subheading,
  .sidebar-item {
    position: relative;
    border-radius: 0;

    &:before,
    &:after {
      display: block;
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      width: 13px;
      background-color: inherit;
    }

    &:before {
      right: 100%;
    }

    &:after {
      left: 100%;
    }

    &:hover,
    &:focus-visible {
      background-color: var(--post-gray-10);
    }
  }

  .sidebar-item {
    > span {
      margin-top: 4px;
    }

    + a:not([data-nodetype]) {
      display: none;
    }

    > div > svg {
      margin-top: 0;
      width: 1.2em;
      height: 1.2em;
    }

    &[data-nodetype='group'] svg {
      color: var(--post-gray-60);
    }
    &[data-nodetype='component'] svg {
      color: #0076a8;
    }
    &[data-nodetype='document'] svg {
      color: #e03c31;
    }
    &[data-nodetype='story'] svg {
      color: #7566a0;
    }

    &[data-selected='true'] {
      background-color: rgba(var(--post-yellow-rgb), 0.4);
      color: var(--post-contrast-color);
    }
  }

  #misc,
  [data-item-id^='health'],
  :is(#raw-components, [data-parent-id='raw-components']):where([data-env='production'] *) {
    display: none;
  }

  #introduction--docs,
  [data-parent-id='misc'] a {
    padding-inline-start: 0.5rem;
  }

  [data-parent-id='misc']:where(:not([data-parent-id='misc'] + *)) {
    margin-block-start: 1rem;
  }
}

#downshift-1-menu {
  .search-result-item {
    svg {
      margin-top: 1px;
      width: 1.2em;
      height: 1.2em;
      color: #7566a0;

      &[color='secondary'] {
        color: #0076a8;
      }
    }

    .search-result-item--label {
      span {
        color: var(--post-gray-60);
      }

      mark {
        color: inherit;
      }
    }

    &:hover,
    &:focus-visible {
      background-color: var(--post-gray-10);
    }
  }
}

.docblock-argstable {
  tr[title] button + span {
    letter-spacing: 0.1em;
  }
}
