// importing the global component styles
@use '@swisspost/design-system-components/post-components.css';

// importing the complete styles package scss
@use '@swisspost/design-system-styles/core.scss' as post;
@use '@swisspost/design-system-styles/functions/tokens';
@use '@swisspost/design-system-styles/mixins/media';
@use '@swisspost/design-system-styles/tokens/elements';
@use '@swisspost/design-system-styles/tokens/utilities';
@use '@swisspost/internet-header/dist/swisspost-internet-header/swisspost-internet-header.css';
@use './components';

tokens.$default-map: utilities.$post-color;

$monospace: SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;

// Mixin for toolbar button icons
$toolbar-icons: (
  '.docblock-code-toggle': 'chevrondown',
  '.docblock-code-toggle + button': 'resizeexpand',
  '.docblock-code-toggle + button + button': 'link',
  '.docblock-code-toggle + button + button + button': 'code'
);

#storybook-root,
#storybook-docs {
  .sbdocs-content *:not(.section) > .container >,
  .sbdocs-content *:not(.section) > .container > post-tabs > post-tab-panel >,
  .sbdocs-content *:not(.section) > .container > migration-global-state {
    // Target content headings only
    h1 {
      margin-block: 5rem 1rem;

      &:first-of-type {
        margin-block-start: 0;
      }
    }

    h2 {
      margin-block: 3rem 1rem;
    }

    h3 {
      margin-block: 2.5rem 1rem;
    }

    h4 {
      margin-block: 2rem 1rem;
    }

    h5 {
      margin-block: 1.5rem 1rem;
    }

    h6 {
      margin-block: 1rem;
    }

    .table,
    .table-responsive {
      margin-block: 1.5rem 1rem;
    }

    .table-fit-content {
      width: fit-content;

      th,
      td {
        padding-inline: 2rem;
      }
    }
  }

  .sbdocs-content .container {
    // Support for autolink-headings
    .docs-title :is(h1, h2, h3, h4, h5, h6),
    post-tab-panel > :is(h1, h2, h3, h4, h5, h6),
    > :is(h1, h2, h3, h4, h5, h6) {
      position: relative;
      padding-right: 32px; // needed to add space for the link icon

      @media (hover: hover) {
        > a {
          display: none;
        }
      }

      > a {
        position: absolute;
        bottom: 0;
        font-size: 1.5rem;
        padding: 0.5rem;
        line-height: 1;
      }

      &:hover > a {
        display: inline-block;
      }
    }
  }

  // Style buttons related to the current page next to the tile
  .docs-title,
  .docs-title > .buttons-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: tokens.get('utility-gap-8', utilities.$post-spacing);
  }

  // aligns figma button to the title
  .docs-title > link-design,
  .docs-title > .buttons-container {
    margin-block-end: tokens.get('h1-margin-block-end', elements.$post-heading);
  }

  // ensures the focus ring is visible on anchor links
  .docs-container ul li a > p {
    display: inline;
  }

  .docs-title {
    margin-bottom: tokens.get('utility-gap-8', utilities.$post-spacing);

    :first-child {
      margin-right: auto;
    }
  }

  .npm-package-link a {
    display: inline-block;
    @include post.focus-style;
  }

  pre {
    font-size: 100%;

    .token.comment,
    .token.doctype {
      color: #888;
    }
  }

  code {
    display: inline-block;
    position: relative;
    top: -0.1em;
    margin: 0 0.1em;
    padding: 0.15em 0.4em 0.1em;
    background-color: rgba(#fff, 0.75);
    border: 1px solid rgba(#000, 0.3);
    border-radius: 0.2em;
    font-family: $monospace;
    font-size: 0.75em;
    white-space: nowrap;
    line-height: 1;

    &[languages] {
      display: block;
      margin-top: 0.25rem;
      padding: 1rem;
      background-color: post.$black;
      color: post.$white;
    }
  }

  [data-color-scheme='dark'] {
    code {
      background-color: rgba(#000, 0.75);
      border-color: rgba(#fff, 0.3);
    }
  }

  .sbdocs-wrapper {
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-top: 0;
    background-color: transparent;

    .sbdocs-content {
      max-width: none;
    }

    .docs-container {
      padding-top: 4rem;
    }
  }

  .sbdocs-expandable {
    color: #0073bc;
  }

  .docs-story {
    [scale] {
      transform: none;
    }

    > :last-child {
      display: flex;
      width: 100%;
      justify-content: space-between;
      transition: all 0.3s ease;
      background: transparent;

      button {
        &:hover {
          background-color: rgba(0, 115, 188, 0.08);
        }

        &:nth-of-type(2) {
          border-top-left-radius: 4px;
        }
      }
    }
  }

  .docblock-argstable-body td a,
  // targets only the visible buttons
  .docblock-argstable-body td button:not([tabindex='-1']):not([tabindex='0']) {
    color: #0073bc;
  }

  @include media.max(sm) {
    .docs-story > div:first-child {
      padding-bottom: 3rem;
    }
  }

  @each $selector, $icon-name in $toolbar-icons {
    #{$selector} {
      @include media.min(md) {
        &::before {
          content: '';
          margin-right: 0.5rem;
          @include post.post-icon($name: $icon-name);
        }
      }
    }
  }

  .docblock-code-toggle {
    margin-right: auto;
    border-radius: 0 4px 0 0;

    @include media.min(md) {
      &::before {
        transition: all 0.3s ease;
      }

      &--expanded::before {
        transform: rotate(180deg);
      }
    }
  }

  .docblock-source {
    margin: 0 0 1rem;
  }

  .hide-col-default .docblock-argstable {
    th,
    td {
      &:nth-child(3) {
        display: none;
      }
    }
  }

  .hide-col-control .docblock-argstable {
    th,
    td {
      &:nth-child(4) {
        display: none;
      }
    }
  }

  @include post.high-contrast-mode() {
    .innerZoomElementWrapper {
      > * {
        border-color: Canvas !important;
      }
    }
  }

  // Used around a large <Source> block, it limits its height
  .limit-source-height [data-radix-scroll-area-viewport] {
    max-height: 15rem;
  }
}

#storybook-docs {
  overflow-x: hidden;
}

.sbdocs-preview {
  &:not([data-color-scheme]) {
    display: none;
  }

  .docs-story {
    > div:last-child {
      background: none !important;

      button {
        color: inherit;
      }
    }
  }

  &[data-color-scheme='light'] {
    .docs-story {
      > div:last-child {
        button {
          background-color: #efefef;
          border-color: #ccc;

          &:hover {
            background-color: #e2e2e2;
          }
        }
      }
    }
  }

  &[data-color-scheme='dark'] {
    .docs-story {
      > div:last-child {
        button {
          background-color: #4b4b4b;
          border-color: #5d5d5d;

          &:hover {
            background-color: #424242;
          }
        }
      }
    }
  }
}

.fake-content {
  margin-block: 2rem !important;
  position: relative;
  min-height: calc(1.6rem * 8);
  background: repeating-linear-gradient(
    rgb(230, 230, 230),
    rgb(230, 230, 230) 1rem,
    transparent 1rem,
    transparent 1.6rem
  );

  &::after {
    content: '';
    background: var(--post-current-bg);
    width: 33%;
    height: 1.7rem;
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
  }
}

.light-section {
  position: relative;
  background-color: post.$white;

  &:before,
  &:after {
    display: block;
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    background-color: inherit;
    width: 100vw;
  }

  &:before {
    right: 100%;
  }

  &:after {
    left: 100%;
  }
}

.sbdocs.sbdocs-preview.source-hidden > *:nth-child(2) {
  display: none !important;
}
