// importing the complete styles package scss
// TODO: replace intranet.scss with index.scss as soon as the issues in the portal.scss are fixed
@use '@swisspost/design-system-styles/intranet.scss';
@use '@swisspost/design-system-styles/core.scss' as post;

#storybook-root,
#storybook-docs {
  overflow: hidden;

  .sbdocs-content .container,
  .sbdocs-content .container > post-tabs > post-tab-panel {
    // Target content headings only
    > h1 {
      margin-block: 5rem 1rem;

      &:first-of-type {
        margin-block-start: 0;
      }
    }

    > h2 {
      margin-block: 3rem 1rem;
    }

    > h3 {
      margin-block: 2.5rem 1rem;
    }

    > h4 {
      margin-block: 2rem 1rem;
    }

    > h5 {
      margin-block: 1.5rem 1rem;
    }

    > h6 {
      margin-block: 1rem;
    }

    // Support for autolink-headings
    :is(h1,h2,h3,h4,h5,h6) {
      position: relative;

      @media (hover: hover) {
        > a {
          display: none;
        }
      }

      > a {
        position: absolute;
        top: 52%;
        transform: translateY(-50%);
        font-size: 1.5rem;
        padding: 0.625rem;
        line-height: 1;
      }

      &:hover > a{
        display:inline-block;
      }
    }
  }

  pre {
    font-size: 100%;
  }

  code {
    display: inline-block;
    position: relative;
    top: -0.1em;
    margin: 0 0.1em;
    padding: 0.15em 0.4em 0.1em;
    background-color: rgba(var(--post-contrast-color-inverted-rgb), 0.2);
    border: 1px solid rgba(var(--post-contrast-color-rgb), 0.1);
    border-radius: 0.2em;
    font-family: var(--bs-font-monospace);
    font-size: 0.75em;
    color: var(--post-contrast-color);
    white-space: nowrap;
    line-height: 1;
  }

  .sbdocs-wrapper {
    padding-left: 0;
    padding-right: 0;
    background-color: transparent;

    .sbdocs-content {
      max-width: none;
    }
  }

  .docs-story {
    [scale] {
      transform: none;
    }
  }

  .docblock-source {
    margin: 0 0 1rem;
  }

  .hide-col-default .docblock-argstable {
    th,
    td {
      &:nth-child(3) {
        display: none;
      }
    }
  }

  .hide-col-control .docblock-argstable {
    th,
    td {
      &:nth-child(4) {
        display: none;
      }
    }
  }

  .alert {
    &.alert-sm,
    &.alert-md {
      display: block;
      min-height: 0;
      font-family: inherit;

      a {
        opacity: 0.75;
        font-size: inherit;
        font-weight: inherit;
        color: inherit;

        &:hover {
          opacity: 1;
        }
      }

      &:last-child {
        margin-bottom: 0;
      }
    }

    &.alert-sm {
      padding: 0.25em 1em 0.25em 3em;
      font-size: 0.9em;
      font-weight: 400;

      &::before {
        height: 1.5em;
        width: 1.5em;
        left: 0.75em;
        top: 50%;
        transform: translateY(-50%);
      }
    }

    &.alert-md {
      padding: 1em 2em 1em 4em;
      font-size: inherit;

      &::before {
        height: 2em;
        width: 2em;
        left: 1em;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }

  @include post.high-contrast-mode() {
    .innerZoomElementWrapper {
      > * {
        border-color: Canvas !important;
      }
    }
  }
}

.fake-content {
  position: relative;
  min-height: calc(1.6rem * 8);
  background: repeating-linear-gradient(
    rgb(230, 230, 230),
    rgb(230, 230, 230) 1rem,
    transparent 1rem,
    transparent 1.6rem
  );

  &::after {
    content: '';
    background: white;
    width: 33%;
    height: 1.7rem;
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
  }
}
