.version-switcher-dropdown {
  display: flex;
  flex-flow: column nowrap;
  background-color: var(--post-light);

  .version-switcher-dropdown-item {
    border-top: 1px solid var(--post-black);
    max-width: 100%;
    padding: 0.5rem 0.75rem;
    text-decoration: none;
    color: inherit;

    &:first-child {
      border-top: none;
    }

    &:hover {
      background-color: var(--post-gray-10);
    }

    .icons {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      gap: 0.75rem;
      font-size: 0.8em;

      span {
        display: flex;
        align-items: center;
        gap: 0.25rem;

        img {
          max-width: 1.5em;
          min-width: 1.5em;
          width: 1.5em;
        }
      }
    }
  }
}
