@use 'sass:map';

@use '../functions/tokens';
@use '../mixins/media';
@use '../tokens/components';
@use '../variables/breakpoints';

tokens.$default-map: components.$post-container;

.container,
.container-fluid {
  width: 100%;
  margin-inline: auto;

  @each $breakpoint in map.keys(breakpoints.$grid-breakpoints) {
    @include media.min($breakpoint) {
      $gutter: tokens.get('grid-gutter-#{$breakpoint}');
      $margin: tokens.get('grid-margin-#{$breakpoint}');

      --post-grid-gutter-x: #{$gutter};

      // The `.row` has a negative margin equal to half the gutter size.
      // To prevent content from overflowing, the container needs to have
      // a padding of at least half the gutter size to offset this negative margin.
      padding-inline: max(#{$margin}, calc(0.5 * var(--post-grid-gutter-x)));
    }
  }
}

.container {
  max-width: tokens.get('grid-max-width');
}
