@use 'sass:map';

@use '../functions/tokens';
@use '../mixins/media';
@use '../tokens/components';
@use '../variables/breakpoints';

tokens.$default-map: components.$post-container;

.section {
  container: section / inline-size;
  margin-inline: auto;
  max-width: 1440px;

  > .container {
    --post-section-width: 100cqw;
    --post-section-container-width: min(#{tokens.get('grid-max-width')}, var(--post-section-width));
    --post-section-container-content-offset: calc(
      (var(--post-section-width) - var(--post-section-container-width)) * 0.5 +
        var(--post-section-container-padding)
    );

    @each $breakpoint in map.keys(breakpoints.$grid-breakpoints) {
      @include media.min($breakpoint) {
        --post-section-container-padding: #{tokens.get('grid-padding-#{$breakpoint}')};
      }
    }

    @each $breakpoint in map.keys(breakpoints.$grid-breakpoints) {
      @include media.min($breakpoint) {
        @if $breakpoint == 'xs' {
          .align-section-stretch,
          .align-section-start,
          .align-section-end,
          .align-container-stretch,
          .align-container-start,
          .align-container-end {
            display: block;
            margin-inline: unset;
            min-width: unset;
            max-width: unset;
            width: unset;
          }

          .align-section-none,
          .align-container-none {
            margin-inline: 0;
            width: 100%;
          }

          .align-section-stretch {
            margin-inline: calc(var(--post-section-container-content-offset) * -1);
            width: var(--post-section-width);
          }

          .align-section-start {
            margin-inline-start: calc(var(--post-section-container-content-offset) * -1);
            width: calc(100% + var(--post-section-container-content-offset));
          }

          .align-section-end {
            margin-inline-end: calc(var(--post-section-container-content-offset) * -1);
            width: calc(100% + var(--post-section-container-content-offset));
          }

          .align-container-stretch {
            margin-inline: calc(var(--post-section-container-padding) * -1);
            width: var(--post-section-container-width);
          }

          .align-container-start {
            margin-inline-start: calc(var(--post-section-container-padding) * -1);
            width: calc(100% + var(--post-section-container-padding));
          }

          .align-container-end {
            margin-inline-end: calc(var(--post-section-container-padding) * -1);
            width: calc(100% + var(--post-section-container-padding));
          }
        } @else {
          .align-section-#{$breakpoint}-stretch,
          .align-section-#{$breakpoint}-start,
          .align-section-#{$breakpoint}-end,
          .align-container-#{$breakpoint}-stretch,
          .align-container-#{$breakpoint}-start,
          .align-container-#{$breakpoint}-end {
            display: block;
            margin-inline: unset;
            min-width: unset;
            max-width: unset;
            width: unset;
          }

          .align-section-#{$breakpoint}-none,
          .align-container-#{$breakpoint}-none {
            margin-inline: 0;
            width: 100%;
          }

          .align-section-#{$breakpoint}-stretch {
            margin-inline: calc(var(--post-section-container-content-offset) * -1);
            width: var(--post-section-width);
          }

          .align-section-#{$breakpoint}-start {
            margin-inline-start: calc(var(--post-section-container-content-offset) * -1);
            width: calc(100% + var(--post-section-container-content-offset));
          }

          .align-section-#{$breakpoint}-end {
            margin-inline-end: calc(var(--post-section-container-content-offset) * -1);
            width: calc(100% + var(--post-section-container-content-offset));
          }

          .align-container-#{$breakpoint}-stretch {
            margin-inline: calc(var(--post-section-container-padding) * -1);
            width: var(--post-section-container-width);
          }

          .align-container-#{$breakpoint}-start {
            margin-inline-start: calc(var(--post-section-container-padding) * -1);
            width: calc(100% + var(--post-section-container-padding));
          }

          .align-container-#{$breakpoint}-end {
            margin-inline-end: calc(var(--post-section-container-padding) * -1);
            width: calc(100% + var(--post-section-container-padding));
          }
        }
      }
    }
  }
}
