@use '@swisspost/design-system-styles/functions/tokens';
@use '@swisspost/design-system-styles/mixins/utilities' as utilities-mx;
@use '@swisspost/design-system-styles/mixins/button' as button-mx;
@use '@swisspost/design-system-styles/variables/elevation';
@use '@swisspost/design-system-styles/tokens/components' as components;

tokens.$default-map: components.$post-tabs;

:host {
  display: block;

  .tabs-wrapper {
    position: relative;
    display: flex;
    align-items: center;

    // Scroll buttons
    button.scroll-btn {
      @include button-mx.reset-button;
      display: flex;
      align-items: center;
      justify-content: center;
      transition:
        background-color 100ms,
        border-color 100ms,
        color 100ms;
      padding-block: tokens.get('post-tabs-scroll-button-padding-block');
      cursor: pointer;

      post-icon {
        color: currentColor;
      }

      &[hidden] {
        display: none;
      }

      @include utilities-mx.focus-style() {
        outline-offset: -4px !important; // post-tabs-tab-focus-outline-offset is it ok to add a -4px token?
      }

      @include utilities-mx.high-contrast-mode() {
        transition: none;

        &:hover {
          color: HighlightText;
          border-color: HighlightText;
        }
      }
    }

    .tabs {
      overflow-x: hidden;
      background-color: transparent !important;
      display: flex;
      flex-wrap: nowrap;
      align-items: end;
      overscroll-behavior-x: contain;
      white-space: nowrap;

      @include utilities-mx.reset-list;
    }
  }
}

// Page Tabs variant
:host(.page-tabs) {
  .tabs-wrapper {
    button.scroll-btn {
      color: tokens.get('post-tabs-page-scroll-button-color-enabled-fg');
      background-color: tokens.get('post-tabs-page-scroll-button-color-enabled-bg');
      border: tokens.get('post-tabs-page-scroll-button-border-width') solid
        tokens.get('post-tabs-page-scroll-button-color-enabled-border');
      position: absolute;
      inset-block-start: tokens.get('post-tabs-page-scroll-button-position-top');
      z-index: 2;
      box-shadow: elevation.$elevation-200;
      border-radius: tokens.get('post-tabs-page-scroll-button-border-radius');

      post-icon {
        width: tokens.get('post-tabs-page-scroll-button-icon-size');
        height: tokens.get('post-tabs-page-scroll-button-icon-size');
      }

      // hovered
      &:hover {
        border-color: tokens.get('post-tabs-page-scroll-button-color-hovered-border') !important;
        color: tokens.get('post-tabs-page-scroll-button-color-hovered-fg');
        background-color: tokens.get('post-tabs-page-scroll-button-color-hovered-bg');
      }

      // Left Scroll button
      &.scroll-btn-left {
        inset-inline-start: 0;
        border-inline-start: none;
        border-radius: 0 tokens.get('post-tabs-page-scroll-button-border-radius')
          tokens.get('post-tabs-page-scroll-button-border-radius') 0;
      }

      // Right Scroll button
      &.scroll-btn-right {
        inset-inline-end: 0;
        border-inline-end: none;
        border-radius: tokens.get('post-tabs-page-scroll-button-border-radius') 0 0
          tokens.get('post-tabs-page-scroll-button-border-radius');
      }
    }

    &::after {
      content: '';
      position: absolute;
      inset-block-end: 0;
      inset-inline-start: 0;
      width: 100%;
      height: tokens.get('post-tabs-border-width');
      background-color: tokens.get('post-tabs-page-border-color');

      @include utilities-mx.high-contrast-mode() {
        background-color: LinkText;
      }
    }

    .tabs {
      padding-inline-start: tokens.get('post-tabs-page-padding-inline');
      gap: tokens.get('post-tabs-page-gap-inline');
    }
  }
}

// Content Tabs variant
:host(.content-tabs) {
  .tabs-wrapper {
    button.scroll-btn {
      flex-shrink: 0;
      color: tokens.get('post-tabs-content-scroll-button-color-enabled-fg');

      // hovered
      &:hover {
        border-color: tokens.get('post-tabs-content-scroll-button-color-hovered-border') !important;
        color: tokens.get('post-tabs-content-scroll-button-color-hovered-fg');
      }
    }
  }
}

// Large variant
:host([size='large']),
:host {
  .tabs-wrapper {
    button.scroll-btn {
      height: tokens.get('post-tabs-large-scroll-button-height');
      width: tokens.get('post-tabs-large-scroll-button-width');

      // Left Scroll button
      &.scroll-btn-left {
        padding-inline: tokens.get('post-tabs-large-scroll-button-left-padding-inline-start')
          tokens.get('post-tabs-large-scroll-button-left-padding-inline-end');
      }

      // Right Scroll button
      &.scroll-btn-right {
        padding-inline: tokens.get('post-tabs-large-scroll-button-right-padding-inline-start')
          tokens.get('post-tabs-large-scroll-button-right-padding-inline-end');
      }
    }
  }
}

// Small variant
:host([size='small']) {
  .tabs-wrapper {
    button.scroll-btn {
      height: tokens.get('post-tabs-small-scroll-button-size');
      width: tokens.get('post-tabs-small-scroll-button-size');

      // Left Scroll button
      &.scroll-btn-left {
        padding-inline: tokens.get('post-tabs-small-scroll-button-left-padding-inline-start')
          tokens.get('post-tabs-small-scroll-button-left-padding-inline-end');
      }

      // Right Scroll button
      &.scroll-btn-right {
        padding-inline: tokens.get('post-tabs-small-scroll-button-right-padding-inline-start')
          tokens.get('post-tabs-small-scroll-button-right-padding-inline-end');
      }
    }
  }
}

// Full width
:host(.content-tabs[full-width]) {
  .tabs-wrapper {
    margin-inline: calc(-1 * var(--post-container-offset));

    .tabs {
      padding-inline: var(--post-container-offset);
    }
  }
}

:host(.page-tabs[full-width]) {
  .tabs-wrapper {
    margin-inline: calc(-1 * (var(--post-container-offset) + 40px));

    .tabs {
      padding-inline: calc(var(--post-container-offset) + 40px);
    }
  }
}
