@use 'sass:map';
@use '@swisspost/design-system-styles/functions/tokens';
@use '@swisspost/design-system-styles/mixins/utilities' as utilities-mx;
@use '@swisspost/design-system-styles/mixins/button' as button-mx;
@use '@swisspost/design-system-styles/variables/elevation';

:host(.content-tabs[full-width]) {
  .tabs-wrapper {
    margin-inline: calc(-1 * var(--post-container-offset));

    .tabs {
      padding-inline: var(--post-container-offset);
    }
  }
}

:host(.page-tabs[full-width]) {
  .tabs-wrapper {
    margin-inline: calc(-1 * (var(--post-container-offset) + 40px));

    .tabs {
      padding-inline: calc(var(--post-container-offset) + 40px);
    }
  }
}

:host {
  display: block;

  .tabs-wrapper {
    position: relative;
    display: flex;
    align-items: center;

    // Scroll buttons
    button.scroll-btn {
      @include button-mx.reset-button;
      display: flex;
      align-items: center;
      justify-content: center;
      transition:
        background-color 100ms,
        border-color 100ms,
        color 100ms;

      padding-block: 12px; // post-tabs-scroll-button-padding-block
      cursor: pointer;

      post-icon {
        color: currentColor;
      }

      &[hidden] {
        display: none;
      }

      // Left Scroll button
      &.scroll-btn-left {
        left: 0;
        padding-inline: 7px 9px; // post-tabs-scroll-button-left-padding-inline-start + post-tabs-scroll-button-left-padding-inline-end
      }

      // Right Scroll button
      &.scroll-btn-right {
        right: 0;
        padding-inline: 9px 7px; // post-tabs-scroll-button-left-padding-inline-end + post-tabs-scroll-button-right-padding-inline-end
      }

      &:hover {
        @include utilities-mx.high-contrast-mode() {
          color: HighlightText;
          border-color: HighlightText;
        }
      }

      @include utilities-mx.focus-style() {
        outline-offset: -4px !important; // post-tabs-tab-focus-outline-offset
      }

      @include utilities-mx.high-contrast-mode() {
        transition: none;
      }
    }

    .tabs {
      overflow-x: hidden;
      background-color: transparent !important;
      display: flex;
      flex-wrap: nowrap;
      align-items: end;
      overscroll-behavior-x: contain;
      white-space: nowrap;

      @include utilities-mx.reset-list;
    }
  }
}

// Pages Tabs variant
:host(.page-tabs) {
  border: 2px solid #050400; // post-tabs-border-width    + post-tabs-page-default-color-border ????

  .tabs-wrapper {
    button.scroll-btn {
      color: #050400; // post-tabs-page-scroll-button-color-enabled-fg
      background-color: #fafafa; // post-tabs-page-scroll-button-color-enabled-bg
      border: 2px solid #050400; // post-tabs-page-scroll-button-border-width +  post-tabs-page-scroll-button-color-enabled-border
      position: absolute;
      top: 12px; // post-tabs-page-scroll-button-position-top
      z-index: 2;
      width: 40px; // post-tabs-page-scroll-button-width
      height: 48px; // post-tabs-page-scroll-button-height
      box-shadow: elevation.$elevation-200;
      border-radius: 8px; // post-tabs-page-scroll-button-border-radius

      post-icon {
        width: 24px; // post-tabs-page-scroll-button-icon-size
        height: 24px; // post-tabs-page-scroll-button-icon-size
      }

      &:hover {
        border-color: #504f4b !important; // post-tabs-page-scroll-button-color-hovered-border
        color: #504f4b; // post-tabs-page-scroll-button-color-hovered-fg
        background-color: #ffffff; //post-tabs-page-scroll-button-color-hovered-bg
      }

      &.scroll-btn-left {
        border-inline-start: none;
        border-radius: 0 8px 8px 0; // post-tabs-scroll-button-left-border-start-end-radius + post-tabs-scroll-button-left-border-end-end-radius
      }

      // Right Scroll button
      &.scroll-btn-right {
        border-inline-end: none;
        border-radius: 8px 0 0 8px; // post-tabs-scroll-button-right-border-start-end-radius + post-tabs-scroll-button-right-border-end-end-radius
      }
    }

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 2px; // post-tabs-page-border-block-end-width
      background-color: #050400; // post-tabs-page-border-color

      @include utilities-mx.high-contrast-mode() {
        background-color: LinkText;
      }
    }

    .tabs {
      align-items: end;
      padding-inline-start: 40px; // post-tabs-page-padding-inline
      gap: 2px; // post-tabs-page-gap-inline
    }
  }
}

:host(.content-tabs) {
  button.scroll-btn {
    border-radius: 4px; // post-tabs-content-scroll-button-border-radius
    width: 44px; // post-tabs-content-scroll-button-width
    height: 52px; // post-tabs-content-scroll-button-height
    flex-shrink: 0;
    color: #050400; // post-tabs-content-scroll-button-color-enabled-fg

    post-icon {
      width: 16px; // post-tabs-content-scroll-button-icon-size
      height: 16px; // post-tabs-content-scroll-button-icon-size
    }

    &:hover {
      border-color: #504f4b !important; // post-tabs-scroll-button-hovered-border-color
      color: #504f4b; // post-tabs-content-scroll-button-color-hovered-fg
    }
  }
}
