.container {
  div {
    overflow: visible;
  }
}

#storybook-docs {
  .header-story-wrapper {
    max-height: 20rem !important;
  }
}

// Used for internet header stories
.fake-content {
  position: relative;
  min-height: calc(1.6rem * 8);
  background: repeating-linear-gradient(
    rgb(230, 230, 230),
    rgb(230, 230, 230) 1rem,
    transparent 1rem,
    transparent 1.6rem
  );

  &::after {
    content: '';
    background: white;
    width: 33%;
    height: 1.7rem;
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
  }
}

.paragraph {
  margin-top: 1em;
}
