@use '@swisspost/design-system-styles/mixins/media';

:host {
  // The following variables will affect the header to minimize it on scroll
  --post-global-header-top: calc(
    var(--post-global-header-reduced-height) - var(--post-global-header-expanded-height)
  );
  --post-header-top: calc(var(--post-header-reduced-height) - var(--post-header-expanded-height));

  --post-logo-height: calc(
    var(--post-global-header-expanded-height) - var(--post-header-scroll-top, 0px)
  );
  --post-global-controls-top: clamp(
    /* 0 when header is static, large negative when header shrinks to enable offset */ 1000 *
      (var(--post-global-header-reduced-height) - var(--post-global-header-expanded-height)),
    calc(
      -1 * min(var(--post-header-scroll-top, 0px) / 4, var(--post-global-header-reduced-height))
    ),
    0px
  );

  @include media.only(desktop) {
    --post-header-gap: 8px;
    --post-global-header-padding-inline-start: 4px;
    --post-global-header-padding-inline-end: 8px;
    --post-local-header-padding-inline-start: 12px;
    --post-local-header-padding-inline-end: 8px;
  }

  @include media.only(tablet) {
    --post-header-gap: 12px 8px;
    --post-global-header-padding-inline-start: 4px;
    --post-global-header-padding-inline-end: 4px;
    --post-local-header-padding-inline-start: 12px;
    --post-local-header-padding-inline-end: 4px;
    --post-local-header-padding-block: 12px;
    --post-burger-menu-padding-inline: 40px;
    --post-burger-menu-body-gap: 32px;
    --post-burger-menu-footer-gap: 24px;
  }

  // this is being discussed in Figma
  @include media.only(sm) {
    --post-burger-menu-padding-inline: 16px;
  }

  @include media.only(mobile) {
    --post-header-gap: 12px 8px;
    --post-global-header-padding-inline-start: 0px;
    --post-global-header-padding-inline-end: 8px;
    --post-local-header-padding-inline-start: 8px;
    --post-local-header-padding-inline-end: 8px;
    --post-local-header-padding-block: 8px;
    --post-burger-menu-padding-inline: 16px;
    --post-burger-menu-body-gap: 24px;
    --post-burger-menu-footer-gap: 16px;
  }
}

:host(:not([full-width])),
:host([full-width='false']) {
  --post-header-content-max-width: 1440px;
}

:host([data-expanded]), // case when mobile menu is closed and focus is moved inside the local-header
:host([data-menu-extended]) // case when mobile menu is open and page is scrolled down
{
  --post-header-top: 0;
  --post-global-header-top: -0.001px; // Fixes a Firefox rendering engine (Gecko) glitch related to position sticky, causing the header to be positioned incorrectly.
  --post-global-controls-top: 0;
  --post-global-header-reduced-height: var(--post-global-header-expanded-height);
}
