@use '@swisspost/design-system-styles/mixins/media';
@use '@swisspost/design-system-styles/variables/commons';
@use '@swisspost/design-system-styles/variables/animation';
@use '@swisspost/design-system-styles/variables/elevation';
@use '@swisspost/design-system-styles/variables/color';

*,
::before,
::after {
  box-sizing: border-box;
}

:host {
  z-index: commons.$zindex-header;
  --global-header-height: 72px;
  --global-header-minimal-height: 24px;
  --local-header-height: 112px;
  --local-header-min-height: 56px;
  --header-height: calc(var(--global-header-height) + var(--local-header-height));

  z-index: 1020;
  position: relative;

  @include media.min(lg) {
    --global-header-reduced-height: 24px;
    --main-navigation-height: 56px;
  }

  @include media.max(lg) {
    --global-header-height: 64px;
    --local-header-height: 48px;
    --local-header-min-height: 48px;
    --main-navigation-height: 0px;
  }
}

:host(:not(:has([slot='title']))) {
  --local-header-height: var(--main-navigation-height);

  .local-header {
    padding-block-start: 0;
  }

  .local-sub {
    display: none;
  }
}

.d-flex {
  display: flex;
}

.space-between {
  justify-content: space-between;
}

.global-header {
  background-color: #ffcc00;
  display: flex;
  justify-content: space-between;
  position: sticky;
  padding-inline: 4px;
  height: var(--global-header-height);

  @include media.max(lg) {
    z-index: 3;
    inset-block-start: 0;
  }

  @include media.min(lg) {
    z-index: 5;
    padding-inline-end: 12px;
    inset-block-start: calc(
      (var(--global-header-height) - var(--global-header-reduced-height)) * -1
    );
  }
}

.global-sub {
  display: flex;
  align-items: center;
  gap: 24px;
}

.align-end {
  align-items: flex-end;
}

.logo {
  flex: 1 0 auto;
  height: var(--global-header-height);
  width: var(--global-header-height);
  min-height: var(--global-header-reduced-height);
  align-self: flex-end;

  @include media.min(lg) {
    height: calc(var(--global-header-height) - var(--header-scroll-top));
  }
}

::slotted(ul) {
  margin-block: 0 !important;
  list-style: none;
  display: flex;
  padding-left: 0;
  gap: 1rem;
  flex-shrink: 0 !important;
}

.local-header {
  display: flex;
  position: sticky;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  min-height: var(--local-header-min-height);
  background: color.$white;
  transition: box-shadow 0.2s ease-in-out;

  @include media.min(lg) {
    z-index: 3;
    inset-block-start: calc(
      -1 * (var(--local-header-height) - var(--main-navigation-height)) + var(--global-header-reduced-height)
    );
    padding-block-start: 18px;
    box-shadow: elevation.$elevation-300;
  }

  @include media.max(lg) {
    z-index: 2;
    inset-block-start: var(--global-header-height);
    padding-block: 9px;
    flex-wrap: wrap;

    &.local-header-mobile-extended {
      border-bottom: 1px solid #e1e0dc;
    }

    &:not(.title-header-mobile-extended) {
      box-shadow: elevation.$elevation-300;
    }
  }
}

.local-sub {
  margin-inline-end: 16px;
}

::slotted(.list-inline) {
  margin: -8px 0 !important;
  z-index: 3 !important;
  position: relative !important;
}

::slotted(h1) {
  margin: 0 !important;
  flex-shrink: 10;
  z-index: 3;

  @include media.min(sm) {
    margin-inline-start: 12px !important;
  }

  @include media.max(sm) {
    margin-inline-start: 8px !important;
  }

  @include media.min(lg) {
    font-size: 28px !important;
  }

  @include media.max(lg) {
    font-size: 20px !important;
    max-width: calc(100vw - 8px - 16px);
  }
}

.mobile-toggle {
  @include media.min(lg) {
    display: none;
  }
}

.navigation {
  width: 100%;

  @include media.min(lg) {
    inset-block-start: var(--global-header-minimal-height);

    &::before {
      display: block;
      content: '';
      position: absolute;
      inset: 0;
      z-index: 2;
      background: color.$white;
    }
  }
}

// only for tablet and mobile
@include media.max(lg) {
  .navigation {
    position: fixed;
    z-index: 1;
    inset-inline: 0;
    background: color.$white;
    inset-block-end: calc(100vh - var(--header-height));
  }

  ::slotted(post-mainnavigation),
  .navigation-footer {
    display: none;
    flex-direction: column;
    padding-block: 16px 24px;
    padding-inline: 32px;

    .navigation.extended & {
      display: flex;
    }
  }

  .navigation.extended {
    height: calc(100vh - var(--header-height));
    display: flex;
    flex-direction: column;

    ::slotted(post-mainnavigation) {
      flex-grow: 1 !important;
    }
  }

  ::slotted(post-mainnavigation) {
    background-color: #fafafa;
    gap: 32px;
  }

  .navigation-footer {
    background-color: #f0efed;
    gap: 24px;
  }
}

// only for mobile
@include media.max(sm) {
  ::slotted(post-mainnavigation),
  .navigation-footer {
    padding-inline: 16px;
  }
}
