@use '@swisspost/design-system-styles/mixins/media';
@use '@swisspost/design-system-styles/variables/animation';

*,
::before,
::after {
  box-sizing: border-box;
}

:host {
  --global-header-height: 72px;
  --main-header-height: 56px;
  --header-height: calc(var(--global-header-height) + var(--main-header-height));

  @include media.max(lg) {
    --global-header-height: 64px;
  }
}

.d-flex {
  display: flex;
}

.space-between {
  justify-content: space-between;
}

// ensures the global-header and title-header are above the main-navigation
.global-header,
.title-header {
  position: relative;
  z-index: 1;
}

.global-header {
  background-color: #ffcc00;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  padding-inline-start: 4px;
  padding-inline-end: 12px;

  height: var(--global-header-height);

  @include media.max(lg) {
    top: 0;
  }

  @include media.min(lg) {
    top: calc((var(--global-header-height) - 24px) * -1);
  }
}

slot[name='post-logo'] {
  align-self: flex-end;
}

.global-sub {
  display: flex;
  align-items: center;
  gap: 2rem;
  height: var(--global-header-height);
}

.align-end {
  align-items: flex-end;
}

.logo {
  flex: 1 0 auto;
  height: var(--global-header-height);
  width: var(--global-header-height);
  min-height: 24px;
  align-self: flex-end;

  @include media.min(lg) {
    height: calc(var(--global-header-height) - var(--header-scroll-top));
  }
}

::slotted(ul) {
  margin-block: 0;
  list-style: none;
  display: flex;
  padding-left: 0;
  gap: 1rem;
}

.title-header {
  display: flex;
  align-items: center;
  padding-inline: 12px;
  background: white;
  height: var(--main-header-height);

  @include media.max(lg) {
    border-bottom: 1px solid black;
  }
}
:host(:not(:has([slot='title']))) .title-header {
  display: none;
}

::slotted(h1) {
  margin: 0 !important;
  font-size: 28px !important;
}

.mobile-toggle {
  @include media.min(lg) {
    display: none;
  }
}

.navigation {
  background: var(--post-core-color-brand-white);
  box-shadow: var(--post-core-elevation-3);
}

// only for tablet and mobile
@include media.max(lg) {
  .navigation {
    position: absolute;
    inset-inline: 0;
    inset-block-end: calc(100vh - var(--header-height));
    transition: transform animation.$transition-time-area-medium animation.$transition-easing-accelerate;

    &.extended {
      transform: translateY(100%);
      transition-timing-function: animation.$transition-easing-decelerate;
    }
  }

  :is(.main-navigation, .bottom-navigation) {
    display: flex;
    flex-direction: column;
    padding-block: var(--post-core-dimension-16) var(--post-core-dimension-24);
    padding-inline: var(--post-core-dimension-32);
    visibility: hidden;
    transition-property: visibility;
    transition-delay: 0s;

    .navigation.extended & {
      visibility: visible;
      transition-delay: animation.$transition-time-area-medium;
    }
  }

  .main-navigation {
    background-color: var(--post-core-color-sandgrey-002);
    gap: var(--post-core-dimension-32);
  }

  .bottom-navigation {
    background-color: var(--post-core-color-sandgrey-006);
    gap: var(--post-core-dimension-24);
  }
}
