@use '@swisspost/design-system-styles/mixins/utilities';
@use '@swisspost/design-system-styles/functions/tokens';
@use '@swisspost/design-system-styles/tokens/components';
@use '@swisspost/design-system-styles/placeholders/button';

:host {
  post-menu-trigger {
    button {
      @extend %btn;
      border-radius: tokens.get('avatar-border-radius', components.$post-avatar) !important;
      border: 0 none;
      min-height: 0;
      padding: 0;
    }

    .visually-hidden {
      @include utilities.visuallyhidden();
    }
  }
}
