/* stylelint-disable length-zero-no-unit */ // needed for calculation

@use '../../mixins/media';

:root:has(post-header) {
  // expanded height
  --post-local-header-expanded-height: var(
    --post-local-header-expanded-min-height
  ); // default value later updated with JavaScript
  --post-header-expanded-height: calc(
    var(--post-global-header-expanded-height) + var(--post-local-header-expanded-height)
  );

  // reduced height
  --post-global-header-reduced-height: var(--post-global-header-expanded-height);
  --post-local-header-reduced-height: var(--post-local-header-expanded-height);
  --post-header-reduced-height: calc(
    var(--post-global-header-reduced-height) + var(--post-local-header-reduced-height)
  );

  // total height (dynamic depending on the scroll position)
  --post-global-header-height: max(
    var(--post-global-header-expanded-height) - var(--post-header-scroll-top, 0px),
    var(--post-global-header-reduced-height)
  );
  --post-local-header-height: max(
    var(--post-local-header-expanded-height) - var(--post-header-scroll-top, 0px),
    var(--post-local-header-reduced-height)
  );
  --post-header-height: calc(var(--post-global-header-height) + var(--post-local-header-height));

  // header height adapted for case when mobile menu is open and page is scrolled down
  &:has([data-menu-extended]) {
    --post-header-height: (
      var(--post-global-header-expanded-height) + var(--post-local-header-expanded-height)
    );
  }

  // portal & microsite
  &:has(post-header post-mainnavigation) {
    --post-global-header-expanded-height: 4rem;
    --post-local-header-reduced-height: 0rem;

    @include media.only(mobile) {
      --post-local-header-expanded-min-height: 3rem;
    }

    @include media.only(tablet) {
      --post-local-header-expanded-min-height: 3.5rem;
    }

    @include media.only(desktop) {
      --post-global-header-expanded-height: 4.5rem;
      --post-local-header-expanded-min-height: 7rem;

      // header reducing on desktop
      --post-global-header-reduced-height: 1.5rem;
      --post-local-header-reduced-height: 3.5rem;
      --post-main-navigation-height: var(--post-local-header-reduced-height);
    }
  }

  // one pager
  &:not(:has(post-header post-mainnavigation)) {
    --post-global-header-expanded-height: 4rem;
    --post-local-header-expanded-min-height: 3.5rem;

    @include media.only(desktop) {
      --post-global-header-expanded-height: 4.5rem;
      --post-local-header-expanded-min-height: 4rem;
    }
  }

  // portal only
  &:not(:has(post-header [slot='title'])) {
    --post-local-header-expanded-min-height: var(--post-main-navigation-height, 0rem);
  }
}

post-header {
  // hide burger button if there is no main navigation
  &:not(:has([slot='main-nav'])) {
    --post-burger-button-display: none;
  }

  // Hide local header if it has neither title nor main navigation
  &:not(:has([slot='title']), :has([slot='main-nav'])) {
    --post-local-header-display: none;
  }

  // On tablet & mobile, Hide local header if it has no title
  @include media.max(desktop) {
    &:not(:has([slot='title'])) {
      --post-local-header-display: none;
    }
  }

  // -------------------------------
  // Local header layouts without local-nav
  // -------------------------------

  // Only main navigation (Portal)
  &:has([slot='main-nav']):not(:has([slot='title'])) {
    --post-local-header-grid-template: 'main-nav' auto / 1fr;
  }

  // Only title (One-pager)
  &:has([slot='title']):not(:has([slot='main-nav'])) {
    --post-local-header-grid-template: 'title' 1fr / 1fr;
  }

  // Both title and main navigation (Microsite)
  &:has([slot='title']):has([slot='main-nav']) {
    --post-local-header-align-items: end;
    --post-local-header-grid-template: 'title' 1fr 'main-nav' auto / 1fr;
  }

  // -------------------------------
  // Local header layouts with local-nav
  // -------------------------------

  &:has([slot='local-nav']) {
    // Main-nav + local-nav, no title (Portal)
    &:has([slot='main-nav']):not(:has([slot='title'])) {
      --post-local-header-grid-template: 'main-nav local-nav' auto / minmax(0, 1fr) auto;
    }

    // Title + local-nav, no main-nav (One-pager)
    &:has([slot='title']):not(:has([slot='main-nav'])) {
      --post-local-header-grid-template: 'title local-nav' 1fr / minmax(0, 1fr) auto;
    }

    // Title + main-nav + local-nav (Microsite)
    &:has([slot='title']):has([slot='main-nav']) {
      --post-local-header-grid-template: 'title local-nav' 1fr 'main-nav main-nav' auto /
        minmax(0, 1fr) auto;
    }
  }
}
