@use '../../mixins/icons';

@mixin subsidiary-header-interactive() {
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  gap: var(--post-core-dimension-6);
  border-radius: var(--post-core-dimension-24);
  font-size: var(--post-core-font-size-16);
  padding: var(--post-core-dimension-3) var(--post-core-dimension-10);
}

@mixin mobile-header-interactive() {
  width: 100%;
  min-width: 100%;
  height: var(--post-core-dimension-48);
  padding-inline: 8px 12px;
  gap: var(--post-core-dimension-16);
  font-weight: var(--post-core-font-weight-400);
  position: relative;

  @content;

  &::before {
    content: '';
    background-color: #050400;
    bottom: 0;
    width: 100%;
    height: var(--post-core-dimension-1);
    position: absolute;
    left: 0;
  }

  &.selected,
  &[aria-expanded='true'] {
    background-color: #050400;
    color: #fff;
  }

  &:hover {
    background-color: #504f4b;
    color: #fff;

    &::before {
      background-color: #504f4b;
    }
  }
}
