@use '../../mixins/button';
@use '../../mixins/media';

@use './mixins' as *;
@use './placeholders' as *;

post-mainnavigation {
  > ul {
    @extend %header-list;
    column-gap: 0;
    height: 100%;
    align-items: stretch;
    flex-wrap: nowrap;
  }

  > *,
  post-megadropdown-trigger > * {
    @include interactive-elements {
      @extend %header-control;
      height: 100%;

      @include nav-item-block-layout;

      @include media.only(desktop) {
        @include button.button-variant-def('enabled', 'secondary');
        padding: 0 0.75rem;

        &::before {
          content: unset;
        }
      }
    }
  }

  post-megadropdown-trigger {
    > button {
      @include nav-item-rotating-chevron;
    }

    @include media.only(desktop) {
      height: 100%;

      > button {
        &:not([inert]) {
          display: grid;
          grid-template-columns: 1fr auto;

          @include active-state {
            font-weight: 700;
          }
        }
      }

      &[inert] {
        font-weight: 700;
      }
    }

    @include media.max(desktop) {
      width: 100%;

      > button {
        &::after {
          margin-inline-start: auto;
          transform: rotate(-90deg);
          font-size: var(--post-nav-item-icon-size);
        }

        &[inert] {
          display: none;
        }
      }
    }
  }
}
