@use '../../mixins/list';
@use '../../mixins/media';
@use '../../mixins/utilities';
@use '../../variables/color';
@use '../../functions/tokens';
@use '../../tokens/elements';
@use '../../tokens/components';
@use '../../mixins/button' as button-mx;
@use 'mixins' as *;

tokens.$default-map: components.$post-button;

post-header {
  // all header lists
  > ul {
    @include list.list-inline;
    gap: 0 0.25rem;

    > li {
      flex: 1 0 auto !important;
    }
  }

  // all slotted links and buttons
  > [slot] {
    @include slotted-controls {
      @include header-control-base;
    }
  }

  // links and buttons remaining in the global header on tablet and mobile
  > :is([slot='global-controls'], [slot='global-login'], [slot='post-togglebutton']) {
    @include media.only(mobile) {
      @include slotted-controls {
        @include header-control-icon-only;
      }
    }
  }

  // target group on mobile
  > ul[slot='target-group'] {
    @include media.only(mobile) {
      flex-direction: column;
      gap: 0.5rem;
    }
  }

  > ul[slot='meta-navigation'] {
    @include media.max(desktop) {
      flex-direction: column;

      > li > a {
        flex-direction: row-reverse;
        @include header-control-navigation;
      }
    }
  }
}
