@use '../../mixins/media';

@use './mixins' as *;
@use './placeholders' as *;

post-megadropdown {
  --header-megadropdown-col-min-width: calc(
    0.75rem + 0.5rem + 13.75ch
  ); // total-padding-inline + 13.75ch (11ch * 1.25(rem))

  @include media.only(tablet) {
    --header-megadropdown-col-min-width: calc(
      0.75rem + 0.5rem + 25ch
    ); // total-padding-inline + 25ch * 1(rem))
  }

  .row {
    --post-grid-gutter-x: 1.5rem;
    --post-grid-gutter-y: 1.5rem;

    @include media.max(desktop) {
      --post-grid-gutter-x: 1rem;
    }

    @include media.only(mobile) {
      --post-grid-gutter-y: 1rem;
    }
  }

  .post-megadropdown-list {
    @extend %header-list;
    flex-direction: column;
  }

  .post-megadropdown-overview,
  .post-megadropdown-list-title,
  .post-megadropdown-list > li > :where(#{$interactive-elements-selector}) {
    @extend %header-control;
    @include nav-item-block-layout;
    @include media.only(desktop) {
      font-size: 1.25rem;
    }
    text-wrap: wrap;
  }

  .post-megadropdown-list-title {
    margin: 0;
    font-weight: 950;
    --post-nav-item-border-width: 2px;

    &:not(#{$interactive-elements-selector}) {
      pointer-events: none;
    }
  }

  .post-megadropdown-overview {
    margin-block: 0 1rem;

    &:first-child {
      margin-block-start: -0.5rem;
    }
  }

  .post-megadropdown-grid {
    li,
    a {
      word-break: break-word;
    }
  }
}
