@use '../../mixins/media';

@use './mixins' as *;
@use './placeholders' as *;

$post-megadropdown-list-item-padding-inline-start: 0.5rem;
$post-megadropdown-list-item-padding-inline-end: 0.75rem;
$min-list-item-text-width-desktop: 13ch; // 11ch * 1.25(rem) = 13.75 - rounded down to 13ch
$min-list-item-text-width-tablet: 25ch; // 25ch * 1(rem)

post-megadropdown {
  --header-megadropdown-col-min-width: calc(
    $post-megadropdown-list-item-padding-inline-start +
      $post-megadropdown-list-item-padding-inline-end + $min-list-item-text-width-desktop
  );

  @include media.only(tablet) {
    --header-megadropdown-col-min-width: calc(
      $post-megadropdown-list-item-padding-inline-start +
        $post-megadropdown-list-item-padding-inline-end + $min-list-item-text-width-tablet
    );
  }

  .post-megadropdown-list {
    @extend %header-list;
    flex-direction: column;
    li,
    a {
      word-break: break-word;
    }
  }

  .post-megadropdown-overview,
  .post-megadropdown-list-title,
  .post-megadropdown-list > li > :where(#{$interactive-elements-selector}) {
    @extend %header-control;
    @include nav-item-block-layout;
    @include media.only(desktop) {
      font-size: 1.25rem;
    }
    text-wrap: wrap;
  }

  .post-megadropdown-list-title {
    margin: 0;
    font-weight: 950;
    --post-nav-item-border-width: 2px;

    &:not(#{$interactive-elements-selector}) {
      pointer-events: none;
    }
  }

  .post-megadropdown-overview {
    margin-block: 0 1rem;

    &:first-child {
      margin-block-start: -0.5rem;
    }
  }

  .post-megadropdown-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(var(--header-megadropdown-col-min-width), 1fr));
    gap: 24px;

    @include media.only(tablet) {
      column-gap: 16px;
    }

    @include media.only(mobile) {
      grid-template-columns: 1fr;
      column-gap: 0;
    }
  }
}
