@use '../../mixins/button';
@use '../../mixins/media';

@use './mixins' as *;
@use './placeholders' as *;

post-mainnavigation {
  grid-area: main-nav;

  &:where(post-header:has([slot='local-nav']):not(:has([slot='title']))) {
    max-width: calc(100% + var(--post-local-header-padding-inline-start));
  }

  > ul {
    @extend %header-list;
    column-gap: 0;
    height: 100%;
    align-items: stretch;
    flex-wrap: nowrap;
  }

  > * {
    @include interactive-elements {
      @extend %mainnavigation-control;
    }
  }

  post-megadropdown-trigger {
    height: 100%;
    width: 100%;
  }
}
