@use '../../mixins/media';
@use '../../functions/tokens';
@use '../../tokens/components';

@use './mixins' as *;
@use './placeholders' as *;

body:has(post-header) {
  scroll-padding-top: var(--post-header-height);
}

[data-post-scroll-locked] {
  overflow: hidden !important;
}

// Added to prevent Back-to-top button from showing up before header is hydrated
body:has(post-header:not([data-hydrated])) post-back-to-top {
  visibility: hidden !important;
}

post-header {
  &:not(:defined),
  &:not([data-hydrated]) {
    display: block;
    height: var(--post-header-height);
  }

  // all header lists
  > ul {
    @extend %header-list;
  }

  // all slotted links and buttons
  > * {
    @include interactive-elements {
      @extend %header-control;
    }
  }

  // links and buttons remaining in the global and local headers on tablet and mobile
  > :is([slot='global-nav-primary'], [slot='post-login'], [slot='local-nav']) {
    @include media.max(desktop) {
      flex-direction: row;
    }

    @include media.only(mobile) {
      @include interactive-elements {
        @include nav-item-icon-only;
      }
    }
  }

  // links and buttons remaining in the global header on tablet and mobile
  > :is([slot='global-nav-primary'], [slot='post-login']) {
    @include media.only(mobile) {
      @include interactive-elements {
        padding: 0.625rem;
      }
    }
  }

  // links and buttons in the local header
  > :is([slot='local-nav']) {
    grid-area: local-nav;

    @include media.only(mobile) {
      @include interactive-elements {
        padding: 0.25rem 0.75rem;
      }
    }
  }

  // audience
  > [slot='audience'] {
    &:where(ul) {
      @include media.only(tablet) {
        flex-direction: row;
        margin-block: 1rem;
      }

      @include media.only(mobile) {
        gap: 0.5rem;
      }
    }

    @include interactive-elements {
      padding-inline: 1rem;
    }
  }

  // meta navigation on desktop
  > [slot='global-nav-secondary'] {
    @include media.max(desktop) {
      &:where(ul) {
        flex-direction: column;
      }

      @include interactive-elements {
        flex-direction: row-reverse;
        @include nav-item-block-layout;

        > post-icon {
          margin: unset;
        }
      }
    }
  }

  // title
  $header-title-line-height: 34px;

  [slot='title'] {
    grid-area: title;
    margin: 0;
    font-size: 1.25rem;
    font-weight: 950;

    @include media.only(desktop) {
      font-size: 1.75rem;
      line-height: $header-title-line-height;
    }
  }

  // global user menu trigger
  [slot='post-login'] > post-menu-trigger > button {
    display: block;
  }

  // local user menu trigger
  .local-login button {
    display: block;
    margin-block: calc(
      (#{$header-title-line-height} - #{tokens.get('avatar-size', components.$post-avatar)}) / 2
    );
  }

  &:has(post-mainnavigation) post-language-menu[variant='menu'] {
    @include media.max(desktop) {
      display: none;
    }
  }
}
