@use '../../functions/tokens';
@use '../../tokens/components';

post-header {
  [slot='post-login'],
  .local-login {
    > post-menu-trigger > button {
      display: block;
      border-radius: tokens.get('avatar-border-radius', components.$post-avatar);
    }

    > post-menu {
      > [slot='header'] {
        $avatar-size: tokens.get('avatar-size', components.$post-avatar);
        $menu-header-padding: 1rem;
        $menu-header-gap: 0.5rem;

        display: block;
        position: relative;
        padding-inline-start: calc(#{$menu-header-padding} + #{$avatar-size} + #{$menu-header-gap});

        > post-avatar {
          position: absolute;
          inset-inline-start: $menu-header-padding;
          top: 50%;
          transform: translateY(-50%);
        }

        > p {
          margin-block: 0;

          &:first-of-type:not(:last-of-type) {
            margin-block-end: -4px;
            font-size: 12px;
            font-weight: 400;
          }
        }
      }

      > post-menu-item > a > post-icon {
        order: -1;
      }
    }
  }
}
