@use '../../mixins/media';
@use '../../mixins/utilities';
@use '../../variables/color';

@use 'mixins' as *;

post-header {
  ul[slot='meta-navigation'] {
    gap: 4px;

    @include media.max(lg) {
      flex-direction: column;

      a,
      button {
        justify-content: space-between;
        border-radius: 0;
        @include mobile-header-interactive;

        @include utilities.focus-style-custom {
          border-radius: 4px;
        }
      }
    }

    @include media.max(sm) {
      a,
      button {
        font-size: 14px;
      }
    }
  }

  a,
  post-togglebutton {
    &:not(post-mainnavigation *) {
      @include subsidiary-header-interactive;

      @include media.min(sm) {
        post-icon {
          height: 22px;
          width: 22px;
        }
      }

      @include media.max(sm) {
        padding: 8px;

        post-icon {
          height: 24px;
          width: 24px;
        }

        .visually-hidden-sm {
          @include utilities.visuallyhidden;
        }
      }
    }
  }

  a.selected,
  post-togglebutton[aria-pressed='true'] {
    &:not(post-mainnavigation *) {
      color: color.$white;
      background: #050400;
    }
  }
}
