@use '@swisspost/design-system-styles/functions/tokens';
@use '@swisspost/design-system-styles/mixins/utilities';
@use '@swisspost/design-system-styles/tokens/helpers';
@use '@swisspost/design-system-styles/variables/color';

:host,
.logo {
  display: inline-block;

  &,
  .logo > svg {
    height: 100%;
  }
}

.description {
  @include utilities.visuallyhidden;
}

.logo-link {
  @include utilities.focus-style;
  @include utilities.focus-style-custom {
    border-radius: 0.5rem;
    outline-offset: calc(-1 * #{tokens.get('focus-outline-width', helpers.$post-focus)}) !important;
  }
}
