@use '@swisspost/design-system-styles/variables/color';
@use '@swisspost/design-system-styles/mixins/utilities';

:host,
.logo {
  display: inline-block;
  height: 100%;
  aspect-ratio: 1 / 1;
}

.description {
  @include utilities.visuallyhidden;
}

