@use 'tests/jest';
@use 'src/functions/index' as functions;

@include jest.equal(gray, functions.get-solid-color(rgba(black, 0.5)));
@include jest.equal(maroon, functions.get-solid-color(rgba(black, 0.5), red));

$list: 0 1 2 3 4;
@include jest.equal(1 2 3 4, functions.remove-nth($list, 1));

$value: 10px;
$em-value: 1em;
$rem-value: 1rem;
$box-shadow: 0 0 5px 0 black;
@include jest.equal(functions.strip-unit($value), 10);
@include jest.equal(functions.px-to-em($value), 0.625em);
@include jest.equal(functions.px-to-rem($value), 0.625rem);
@include jest.equal(functions.to-em($value), 10em);
@include jest.equal(functions.to-rem($value), 10rem);
@include jest.equal(functions.to-px($em-value), 1px);
@include jest.equal(functions.calculate-inner-height(1rem, 1.5, 0.25rem), 2rem);

$text: 'Surprise, motherfucker';
$match: 'Surprise';
@include jest.equal(functions.average(1, 2, 3), 2);
@include jest.equal(functions.starts-with-any($text, $match), true);
