:host {
  display: inline-block;
  width: 1em;
  vertical-align: -0.15em;
}

svg {
  display: block;
  width: 100%;
  fill: currentColor;
}

// flip

:host([flip-h]) {
  svg { scale: -1 1; }
}

:host([flip-v]) {
  svg { scale: 1 -1; }
}

:host([flip-h][flip-v]) {
  svg { scale: -1; }
}

// scale
// done with inline styling

// rotate
// done with inline styling

// animation

:host([animation]) {
  svg {
    transform-origin: center;
  }
}

:host([animation="cylon"]) {
  svg {
    animation: icon-animation-cylon 750ms ease-in-out infinite alternate;
  }
}

:host([animation="cylon-vertical"]) {
  svg {
    animation: icon-animation-cylon-vertical .75s ease-in-out infinite alternate;
  }
}

:host([animation="spin"]) {
  svg {
    animation: icon-animation-spin 2s linear infinite normal;
  }
}

:host([animation="spin-reverse"]) {
  svg {
    animation: icon-animation-spin 2s linear infinite reverse;
  }
}

:host([animation="fade"]) {
  svg {
    animation: icon-animation-fade .75s ease-in-out infinite alternate;
  }
}

:host([animation="throb"]) {
  svg {
    animation: icon-animation-throb .75s ease-in-out infinite alternate;
  }
}

@keyframes icon-animation-cylon {
  from { transform: translateX(-25%) }
  to { transform: translateX(25%) }
}

@keyframes icon-animation-cylon-vertical {
  from { transform: translateY(25%); }
  to { transform: translateY(-25%); }
}

@keyframes icon-animation-fade {
  from { opacity: .1; }
  to { opacity: 1; }
}

@keyframes icon-animation-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(359deg); }
}

@keyframes icon-animation-throb {
  from {
    opacity: .5;
    transform: scale(0.5);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
