@use '@swisspost/design-system-styles/core' as post;

:host {
  display: flex;
  flex-direction: column;
  gap: var(--post-list-title-gap, 0);
}

:host(:where([horizontal]:not([horizontal='false']))) {
  flex-direction: row;
  align-items: center;

  [role='list'] {
    flex-direction: row;
    align-items: center;
  }
}

.visually-hidden {
  @include post.visually-hidden();
}

[role='list'] {
  display: flex;
  flex-direction: column;
  gap: var(--post-list-item-gap, 0);
}
