@use '@swisspost/design-system-styles/core' as post;
@use '@swisspost/design-system-styles/mixins/utilities';

:host {
  display: inline-block;
  width: fit-content;
}

button {
  @include post.reset-button;
  @include utilities.high-contrast-mode() {
    background-color: ButtonFace !important;
    color: ButtonText !important;
    &:hover {
      background-color: Highlight !important;
    }
  }
}

a {
  color: inherit;
  text-decoration: none;
}

:is(a, button) {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  padding: var(--post-language-option-padding);
}

.post-language-option-list {
  @include post.focus-style;
  border-radius: 2px;
  width: 40px;
  height: 40px;

  &[aria-current='true'],
  &[aria-current='page'] {
    background-color: #050400;
    color: #fff;
    @include utilities.high-contrast-mode() {
      background-color: SelectedItem !important;
    }
  }
}

.post-language-option-dropdown {
  padding-block: 13px;
  padding-inline: 24px;
  box-sizing: border-box;
  position: relative;

  &[aria-current='true'],
  &[aria-current='page'] {
    @include utilities.high-contrast-mode() {
      background-color: SelectedItem !important;
    }

    &::after {
      content: '';
      left: -2px;
      height: 3px;
      background-color: #504f4b;
      width: calc(100% + 4px);
      display: block;
      position: absolute;
      bottom: 3px;
    }

    &:focus::after {
      width: calc(100% - 5px);
      left: 2px;
    }
  }
}
