@use '@swisspost/design-system-styles/core' as post;
@use '@swisspost/design-system-styles/mixins/utilities' as utilities-mx;

post-language-option {
  display: inline-block;

  button {
    @include post.reset-button;
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  :is(a, button) {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    border-radius: 2px;
    text-transform: inherit;
    @include utilities-mx.focus-style;
  }

  &:has([aria-current]):not([aria-current='false']) {
    display: none;
  }

  &:where([variant='list']) {
    :is(a, button) {
      padding-inline: 0.7rem;
      height: 40px;
      border-radius: 2px;

      &:hover {
        color: #504f4b;
      }
    }

    &:where(:not([type]), [type='language']) {
      :is(a, button) {
        padding-inline: 0;
        width: 40px;
      }
    }
  }

  &:where([variant='menu']) {
    width: 100%;

    :is(a, button) {
      padding-block: 13px;
      padding-inline: 24px;
      box-sizing: border-box;
      position: relative;
      left: -1px;
      width: calc(100% + 2px);
    }
  }
}
