@use '@swisspost/design-system-styles/mixins/button';
@use '@swisspost/design-system-styles/mixins/media';
@use '@swisspost/design-system-styles/mixins/utilities';
@use '@swisspost/design-system-styles/variables/elevation';

*,
::before,
::after {
  box-sizing: border-box;
}

.megadropdown {
  position: absolute;
  inset-inline: 0;
  overflow-y: auto;
  background-color: #fafafa;
  box-shadow: elevation.$elevation-300;

  @include media.only(desktop) {
    z-index: -1;
    inset-block-start: 100%;

    &.slide-in {
      animation: slide-down 350ms forwards;
    }

    &.slide-out {
      animation: slide-up 350ms forwards;
    }
  }

  @include media.max(desktop) {
    z-index: 1;
    inset-block-start: var(--post-header-navigation-current-inset);
    overscroll-behavior: contain;
  }

  @include utilities.high-contrast-mode() {
    border-block-end: 1px solid CanvasText;
  }
}

.section {
  width: 100%;
  max-width: var(--post-header-content-max-width);
  margin-inline: auto;
  position: relative;

  @include media.only(desktop) {
    max-height: calc(100vh - var(--post-header-height) - 3rem);
    padding: 2rem 2.5rem 2.5rem;
  }

  @include media.max(desktop) {
    display: flex;
    flex-direction: column;
    height: calc(
      min(var(--post-header-scroll-parent-height, 100dvh), 100dvh) - var(--post-header-height)
    );
    padding-inline: var(--post-burger-menu-padding-inline);
    padding-block: 1.5rem;
  }
}

.megadropdown-title {
  margin-block: 0 1rem;
  font-weight: 950;

  @include media.only(tablet) {
    font-size: 1.25rem;
  }

  @include media.only(mobile) {
    font-size: 1.125rem;
  }
}

.back-button {
  @include button.button-base;
  @include button.button-size(sm);
  @include button.button-variant-def('enabled', 'tertiary');
  order: -1;
  width: fit-content;
  padding-inline: 0;

  &:hover {
    @include button.button-variant-def('hover', 'tertiary');
  }

  @include media.only(tablet) {
    margin-block-end: 2rem;
  }

  @include media.only(mobile) {
    margin-block-end: 1.5rem;
  }
}

.close-button {
  position: absolute;
  inset-block-start: 1rem;
  inset-inline-end: 1rem;

  button {
    border: unset;
    background: unset;
    box-shadow: unset;
    height: 24px;
    width: 24px;
  }

  @include media.max(lg) {
    display: none;
  }
}
