@use '@swisspost/design-system-styles/mixins/button';
@use '@swisspost/design-system-styles/mixins/media';
@use '@swisspost/design-system-styles/variables/color';
@use '@swisspost/design-system-styles/variables/commons';
@use '@swisspost/design-system-styles/components/header/mixins' as header-mx;
@use '@swisspost/design-system-styles/mixins/utilities';

@keyframes slide-in {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes slide-out {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(100%);
  }
}

@keyframes slide-down {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0%);
  }
}

@keyframes slide-up {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-100%);
  }
}

.megadropdown-container {
  box-shadow: 0 8px 6px rgba(0, 0, 0, 16%);
  position: absolute;
  background-color: #fafafa;
  border: none;
  width: 100%;
  inset-block-start: 100%;
  inset-inline-start: 0;
  border-radius: 0;

  @include utilities.high-contrast-mode() {
    border-block-end: 1px solid CanvasText;
  }

  &.slide-in {
    animation: slide-down 350ms forwards;
  }

  &.slide-out {
    animation: slide-up 350ms forwards;
  }

  @include media.max(lg) {
    z-index: 1;
    position: absolute;
    inset-block-start: var(--post-header-navigation-current-inset);
    inset-inline: 0;

    height: calc(
      min(var(--post-header-scroll-parent-height, 100dvh), 100dvh) - var(--post-header-height)
    );
    border-block-start: unset;
    overflow-y: auto;
    overscroll-behavior: contain;

    &.slide-in {
      animation: slide-in 350ms forwards;
    }

    &.slide-out {
      animation: slide-out 350ms forwards;
    }
  }

  @include media.min(lg) {
    z-index: -1;
    max-height: calc(100vh - var(--post-header-height) - 48px);
    overflow-y: auto;
  }
}

.megadropdown {
  padding: 31px 40px 40px;
  background-color: #fafafa;

  @include media.max(lg) {
    display: flex;
    flex-direction: column;
    width: inherit;
    padding: 16px 32px 24px;
  }

  @include media.max(sm) {
    padding-inline: 16px;
  }
}

.megadropdown-content {
  display: flex;
  flex-wrap: wrap;
  column-gap: 1.5rem;
}

.megadropdown-title {
  display: none;
  margin-block: 0 8px;
  font-weight: 900;

  a {
    text-decoration: none;
    display: none;
    font-weight: inherit;
    border-block: 0;
  }

  @include media.max(lg) {
    display: block;
    font-size: 1.25rem;
  }

  @include media.max(sm) {
    font-size: 1.125rem;
  }
}

.back-button {
  @include button.button-base;
  @include button.button-size(sm);
  @include button.button-variant-def('enabled', 'tertiary');
  order: -1;
  width: fit-content;
  margin-block-end: 2rem;
  padding-inline: 0;

  &:hover {
    @include button.button-variant-def('hover', 'tertiary');
  }
}

.close-button {
  position: absolute;
  inset-block-start: 1rem;
  inset-inline-end: 1rem;

  @include media.max(lg) {
    display: none;
  }
}
