@use '@swisspost/design-system-styles/layout';
@use '@swisspost/design-system-styles/variables/color';
@use '@swisspost/design-system-styles/placeholders/text';
@use '@swisspost/design-system-styles/placeholders/color' as color-ph;
@use '@swisspost/design-system-styles/functions';
@use '@swisspost/design-system-styles/components/button';
@use '../../utils/utils.scss';
@use '../../utils/mixins.scss';

:host {
  @extend %color-background-light-variables;

  display: block;
}

h3 {
  font-size: inherit;
  margin-top: 0;
}

.btn.btn-link {
  padding-left: 0;
  padding-right: 0;

  &:hover {
    cursor: pointer;
  }
}

.post-internet-footer {
  font-size: 1rem;
  font-weight: 300;
  border-top: 2px solid color.$gray-10;
}

.pre-footer {
  padding-top: 2rem;
  padding-bottom: 2rem;
  border-bottom: 2px solid color.$gray-10;

  .block-custom,
  .link-list {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem 1.5rem;
  }

  h3,
  .link-list li {
    margin: 0;
  }
}

.footer-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 3.5rem 2rem;
  margin-top: 3.5rem;
  margin-bottom: 3.5rem;

  @include mixins.max(lg) {
    grid-template-columns: 1fr 1fr;
  }

  @include mixins.max(rg) {
    gap: 1.5rem 2rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }
}

.block-list {
  @include mixins.max(sm) {
    grid-column: 1 / 3;
  }
}

.block-contact,
.block-address {
  @include mixins.max(rg) {
    grid-column: 1 / 3;
  }
}

.block-socials {
  margin-top: 3.5rem;

  @include mixins.max(rg) {
    margin-top: 1.5rem;
  }
}

address {
  font-style: normal;
}

.link-list {
  li {
    margin: 1rem 0;
  }
  a {
    display: block;
    text-decoration: none;
    color: color.$gray-60;
    transition: color 200ms;

    &:hover {
      color: black;
    }
  }
}

.content-row {
  padding: 0.5rem 0;

  h3 + & {
    padding-top: 0;
  }

  &:last-child {
    padding-bottom: 0;
  }

  & + & {
    border-top: 1px solid color.$gray-10;
  }

  p,
  button {
    margin: 0.25rem;
  }
}

.text {
  font-weight: 700;
}

.describe {
  font-size: 0.8125rem;
  color: color.$gray-60;
  font-weight: 400;
}

.number {
  font-size: 1.25rem;
}

.socials {
  display: inline-grid;
  grid-auto-flow: row;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem 1.5rem;

  a {
    display: block;
    color: color.$gray-60;
    transition: color 200ms;

    &:hover,
    &:focus {
      color: black;
    }
  }

  svg {
    display: block;
    width: 1.5rem;
    height: 1.5rem;
  }
}

.copyright {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem 1.5rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-size: functions.px-to-rem(12px);
}

.footer-meta-links {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  font-weight: 400;
}
