@use 'sass:list';

@use '../variables/color';
@use '../functions/color' as color-fn;

// CWF light backgrounds color-variables (not rendered by bootstrap)
%variables-background-light {
  --contrast-color: #{color.$black};
  --contrast-color-rgb: #{color-fn.rgb-values(color.$black)};
  --contrast-color-inverted: #{color.$white};
  --contrast-color-inverted-rgb: #{color-fn.rgb-values(color.$white)};
}

// CWF dark backgrounds color-variables (not rendered by bootstrap)
%variables-background-dark {
  --contrast-color: #{color.$white};
  --contrast-color-rgb: #{color-fn.rgb-values(color.$white)};
  --contrast-color-inverted: #{color.$black};
  --contrast-color-inverted-rgb: #{color-fn.rgb-values(color.$black)};

  // Invert grays
  $l: list.length(color.$grays);
  @for $i from 1 through $l {
    $color-name: list.nth(list.nth(color.$grays, $l + 1 - $i), 1);
    $color-value: list.nth(list.nth(color.$grays, $i), 2);
    // stylelint-disable-next-line order/order
    --gray-#{$color-name}: #{$color-value};
  }

  color: color.$white;
}
