@use 'sass:list';

@use '../variables/color-post' as colors;
@use '../variables/color-bootstrap-overrides' as bs-colors;
@use '../functions/color' as color-fn;

// CWF color variables not rendered by bootstrap
%color-variables {
  --text-color: #{colors.$black};
  --text-color-rgb: #{color-fn.rgb-values(colors.$black)};
  --background-color: #{colors.$white};
  --background-color-rgb: #{color-fn.rgb-values(colors.$white)};
}

// Inverted CWF variables for dark backgrounds
%inverted-colors {
  --text-color: #{colors.$white};
  --text-color-rgb: #{color-fn.rgb-values(colors.$white)};
  --background-color: #{colors.$black};
  --background-color-rgb: #{color-fn.rgb-values(colors.$black)};

  // Invert grays
  $l: list.length(bs-colors.$grays);
  @for $i from 1 through $l {
    $color-name: list.nth(list.nth(bs-colors.$grays, $l + 1 - $i), 1);
    $color-value: list.nth(list.nth(bs-colors.$grays, $i), 2);
    --gray-#{$color-name}: #{$color-value};
  }

  color: colors.$white;

  & .btn-animated::after {
    filter: invert(1);
  }

  & .btn-primary.pi,
  & .btn-primary.btn-animated::after {
    filter: invert(0);
  }
}
