section {
  margin-block-start: 2rem;
  padding: 2rem;
  border: 1px hsl(0, 0%, 80%) solid;
  border-radius: 0.5rem;

  .status-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    border: 1px hsl(0, 0%, 80%) solid;
    border-radius: 8px;
    height: 100%;

    .status-title {
      margin: 0;
      font-size: 1rem;
      font-weight: 400;
    }

    .status-count {
      font-size: 3rem;
      font-weight: 900;
    }
  }

  .status-danger {
    color: red;
  }

  .status-success {
    color: green;
  }

  .form {
    margin-block: 1rem;
  }

  .overall-status {
    padding: 1rem;
    border: 2px solid currentColor;
    border-radius: 8px;
    font-size: 2rem !important;

    > span {
      display: flex;
      justify-content: space-between;
    }

    .error-count {
      display: none;
    }

    post-icon {
      font-size: 32px;
      color: inherit;
    }

    &.status-success {
      color: rgb(0, 100, 0);
      background-color: rgb(100, 240, 100);
    }

    &.status-danger {
      color: rgb(100, 0, 0);
      background-color: rgb(240, 100, 100);
    }
  }

  post-icon.preview-icon {
    font-size: 16px;

    &.size-24 {
      font-size: 24px;
    }
    &.size-32 {
      font-size: 32px;
    }
    &.size-40 {
      font-size: 40px;
    }
    &.size-48 {
      font-size: 48px;
    }
    &.size-64 {
      font-size: 64px;
    }
  }
}
