.report-container {
  border: 1px hsl(0, 0%, 80%) solid;
  border-radius: 0.5rem;
  margin-block-start: 2rem;
  padding: 2rem;

  .status-danger {
    color: red;
  }

  .status-success {
    color: green;
  }

  .form {
    margin-block: 1rem;
  }

  .icons {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(35px, 1fr));
    gap: 1rem;
  }

  .icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 0.8rem;
    span {
      max-width: 100%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      vertical-align: middle;
    }
  }

  .icon img {
    width: 24px;
    height: 24px;
    margin: 0.2rem 0;
  }
  pre {
    white-space: pre-wrap;
    word-break: break-all;
  }
}
