@forward '../variables/options';

@use '../lic/bootstrap-license';
@use '../themes/bootstrap/overrides' as *;
@use '../themes/bootstrap/accordion' as ba;

@use '../mixins/type';
@use '../mixins/utilities';
@use '../variables/components/accordion';
@use '../variables/components/button';

.accordion-item {
  border-right: 0;
  border-left: 0;
  background-color: transparent;

  &:last-of-type {
    border-bottom: 0;
  }
}

.accordion-button {
  @include type.font-size-and-lineheight(accordion.$accordion-font-curve...);
  background-color: transparent;
  font-weight: accordion.$accordion-button-font-weight;
  line-height: accordion.$accordion-button-line-height;

  &:hover,
  &:focus {
    &:not(:disabled) {
      color: accordion.$accordion-button-hover-color;
    }
  }

  &:disabled {
    opacity: button.$btn-disabled-opacity !important;
  }

  .accordion-item[open] &::after {
    transform: accordion.$accordion-icon-transform;
  }

  // style to improve hcm mode
  /* stylelint-disable-next-line order/order */
  @include utilities.high-contrast-mode() {
    &:disabled {
      opacity: 1 !important;
    }

    &::after {
      background-image: $accordion-hcm-icon;
    }

    &:not(.collapsed)::after {
      background-image: $accordion-hcm-icon;
    }
  }
}

.accordion-body {
  padding-top: accordion.$accordion-body-padding-top;
  padding-bottom: accordion.$accordion-body-padding-bottom;

  p {
    @include type.font-size-calc(accordion.$accordion-font-curve...);
  }

  h2,
  h3,
  h4,
  h5,
  h6 {
    @include type.font-size-and-lineheight(accordion.$accordion-font-curve...);
    margin-top: accordion.$accordion-body-heading-margin-top;
    margin-bottom: 0;
    font-weight: accordion.$accordion-body-heading-font-weight;

    &,
    p {
      &:first-child {
        margin-top: 0;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
