@forward '../variables/options';

@use 'sass:map';
@use 'sass:math';

@use '../variables/components/button';
@use '../variables/color';
@use '../variables/type';
@use '../variables/spacing';
@use '../mixins/color' as color-mx;
@use '../mixins/icons';
@use '../mixins/utilities';
@use '../mixins/forms';
@use '../mixins/button' as button-mx;
@use '../functions/icons' as icon-fn;
@use '../functions/color' as color-fn;
@use '../placeholders/button' as button-ph;

.btn {
  @include button-mx.button-size(md);
  @include forms.focus-outline();

  // Resets
  display: inline-flex;
  position: relative;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  overflow: hidden;
  transition: opacity 250ms, border-color 250ms, background-color 250ms, color 250ms;
  border-width: button.$btn-border-width;
  border-radius: button.$btn-border-radius;
  background-color: transparent;
  box-shadow: none;
  color: var(--text-color);
  font-family: inherit;
  font-weight: button.$btn-font-weight;
  line-height: inherit;
  text-decoration: none !important; // For <a> tags, !important for hover
  white-space: nowrap; // Long content should never break in buttons
}

// Primary
.btn-primary {
  border: 0;
  background-color: rgba(var(--text-color-rgb), 0.8);
  color: var(--background-color);

  @include utilities.not-disabled-focus-hover() {
    background-color: var(--text-color);
    color: var(--background-color); // Override <a> color
  }

  @include color-mx.on-dark-background {
    background-color: var(--text-color);

    @include utilities.not-disabled-focus-hover() {
      background-color: rgba(var(--text-color-rgb), 0.8);
    }
  }

  // Styles  to improve accessibility in high contrast mode
  @include utilities.high-contrast-mode() {
    background-color: var(--text-color);

    &:hover {
      border-color: highlight;
    }
  }

  &:disabled {
    background-color: rgba(var(--text-color-rgb), 0.4);
  }

  .pi {
    filter: invert(1);
    forced-color-adjust: none;
  }

  // stylelint-disable-next-line order/order
  @include color-mx.on-dark-background() {
    .pi {
      filter: invert(0);
    }
  }
}

// Default / secondary
.btn-default,
.btn-secondary {
  @extend %btn-default;

  // Invert icon on dark backgrounds
  @include color-mx.on-dark-background() {
    .pi {
      filter: invert(1);
    }
  }
}

// Tertiary
.btn-link,
.btn-tertiary {
  border: 0;
  color: inherit;

  @include utilities.not-disabled-focus-hover() {
    color: rgba(var(--text-color-rgb), 0.8);
  }

  &:disabled {
    color: rgba(var(--text-color-rgb), 0.6);
  }

  // Styles  to improve accessibility in high contrast mode
  @media (forced-colors: active) {
    color: linktext;
    text-decoration: underline !important;
  }
}

// Icon
.btn-icon {
  @include button-mx.icon-button();

  @each $size in sm, rg, lg {
    &.btn-#{$size} {
      @include button-mx.icon-button($size);
    }
  }
}

// Animated
.btn-animated {
  &::after {
    content: '';
    position: absolute;
    right: button.$btn-padding-x-md - button.$btn-animation-distance-md;
    width: 0.625em;
    height: 0.625em;
    transform: rotateZ(315deg) translate(-2px, -2px);
    transform-origin: center center;
    transition: opacity 250ms, transform 250ms;
    border-right: 2px solid currentColor;
    border-bottom: 2px solid currentColor;
    opacity: 0;
  }

  @each $size in sm, rg, lg {
    &.btn-#{$size}::after {
      right: map.get(button.$btn-padding-x-map, $size) -
        map.get(button.$btn-animation-distance-map, $size);
    }
  }

  > span {
    transition: transform 250ms;
  }

  // Only animate when user prefers to see animations
  @media (prefers-reduced-motion: no-preference) {
    @include utilities.not-disabled-focus-hover() {
      > span {
        transform: translateX(map.get(button.$btn-animation-distance-map, md) * -1);
      }

      @each $size in sm, rg, lg {
        &.btn-#{$size} > span {
          transform: translateX(map.get(button.$btn-animation-distance-map, $size) * -1);
        }
      }

      &::after {
        transform: rotateZ(315deg) translate(0, 0);
        opacity: 1;
      }
    }

    > span {
      // Initially transform to place text in the right rendering context for a smooth animation
      transform: translateX(0);
    }
  }
}

// Size variants, default is rg
@each $size in sm, rg, lg {
  .btn-#{$size} {
    @include button-mx.button-size($size);
  }
}

// Color variants
@each $name, $color in color.$accent-colors {
  @include button-mx.button-color-variant($name, $color);
}

// Intranet contextual buttons
@each $name, $color in color.$contextual-colors {
  @include button-mx.button-color-variant($name, $color);
}
