@use '../variables/color';
@use '../mixins/utilities';
@use '../placeholders/button';

.btn-group {
  display: inline-flex;
  gap: 0.125rem;

  .btn-primary {
    // Reset primary button for backwards compatibility
    @extend %btn-default;
  }

  .btn {
    border: 0;
    outline-offset: 0.25rem;
    background-color: var(--background-color);
    box-shadow: 0 0 0 0.125rem color.$gray-20;
    cursor: pointer;

    @include utilities.not-disabled-focus-hover() {
      box-shadow: 0 0 0 0.125rem var(--text-color);
    }

    &:focus,
    &:focus-within {
      z-index: 1;
    }

    &:not(:disabled):hover {
      z-index: 2;
    }

    &:not(:first-child) {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }

    &:not(:last-child) {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }

    &.active {
      border-color: color.$yellow;
      background-color: color.$yellow;
      color: color.$black;

      @include utilities.high-contrast-mode() {
        background-color: Highlight;
      }
    }

    /* stylelint-disable-next-line order/order */
    @include utilities.high-contrast-mode() {
      &:focus,
      &:focus-within,
      &:focus-visible {
        outline: 2px solid highlight;
      }
    }

    input[type='checkbox'],
    input[type='radio'] {
      @include utilities.visuallyhidden();
    }
  }
}
