@forward '../variables/options';

@use '../lic/bootstrap-license';
@use '../themes/bootstrap/pagination' as pg;
@use '../variables/components/pagination';
@use '../variables/spacing';
@use '../variables/commons';
@use '../mixins/icons' as icon-mixin;
@use '../mixins/utilities';
@use './icons.scss';

.pagination {
  .page-item {
    width: pagination.$pagination-width;
    color: pagination.$pagination-color;

    &.disabled:first-child,
    &.disabled:last-child {
      display: none;
    }

    .page-link {
      height: 100%;
      color: inherit;
      text-align: center;
      text-decoration: none;

      @include utilities.high-contrast-mode() {
        &:focus,
        &:focus-within,
        &:focus-visible {
          border-radius: commons.$border-radius;
          outline: spacing.$size-line solid highlight;
        }
      }

      &[aria-label='Previous'],
      &[aria-label='Next'] {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
      }

      &[aria-label='Previous'] span,
      &[aria-label='Next'] span {
        display: none;
      }

      &[aria-label='Previous'] {
        &::before {
          @extend %pi;
          @include icon-mixin.pi(2110, pagination.$pagination-color);
          content: '';
        }
      }

      &[aria-label='Next'] {
        &::before {
          @extend %pi;
          @include icon-mixin.pi(2111, pagination.$pagination-color);
          content: '';
        }
      }

      &[aria-disabled] {
        border-top: 0;
        border-bottom: 0;
        background-color: transparent;
      }
    }

    &:hover,
    &:focus,
    &.active {
      color: pagination.$pagination-active-color;
    }
  }
}
