@forward '../variables/options';
@forward '../variables/components/switch';

@use '../variables/color';
@use '../variables/components/switch';
@use '../variables/components/button';
@use '../mixins/utilities';
@use '../mixins/size';

.switch {
  @include size.responsive-size('tiny', 'gap');

  display: flex;
  position: relative;
  align-items: center;

  input[type='checkbox'] {
    @include utilities.visuallyhidden();

    // Handle label colors for all states
    &:not(:checked) ~ label {
      color: color.$gray-800;
    }

    &:disabled ~ label {
      color: color.$gray-400;
    }

    &:disabled:checked ~ label {
      color: color.$gray-600;
    }
  }
}

.switch-toggler,
.switch > label:only-child {
  position: relative;
  flex-shrink: 0;
  width: switch.$switch-width;
  height: switch.$switch-width * 0.5;
  overflow: hidden;
  border-radius: switch.$switch-width * 0.25;
  background-color: color.$black-alpha-20;
  cursor: pointer;

  // Fix broken overflow hidden on safari
  // https://stackoverflow.com/questions/49066011/overflow-hidden-with-border-radius-not-working-on-safari
  mask-image: radial-gradient(color.$white, color.$black);

  &::before,
  &::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(0);
    transition: all 0.33s;
  }

  // Green bg
  &::before {
    left: switch.$switch-width * -0.75;
    width: 100%;
    height: 100%;
    background-color: color.$green;
  }

  // Knob
  &::after {
    width: 50%;
    height: 100%;
    border: 2px solid color.$black-alpha-60;
    border-radius: switch.$switch-width * 0.5;
    background-color: color.$white;
  }

  // Focused/active state
  input[type='checkbox']:not(:disabled):focus ~ &,
  input[type='checkbox']:not(:disabled):active ~ & {
    box-shadow: button.$input-btn-focus-box-shadow;
  }

  // Checked state
  input[type='checkbox']:checked ~ & {
    &::before,
    &::after {
      transform: translateX(switch.$switch-width * 0.5);
    }

    &::after {
      border-color: color.$black;
    }
  }

  input[disabled] ~ & {
    background-color: color.$gray-100;
    cursor: default;

    &::before {
      background-color: color.$gray-400;
    }

    &::after {
      border-color: color.$gray-400 !important;
      background-color: color.$gray-100;
    }
  }
}
