@forward '../variables/options';
@use '../variables/color-post' as color;
@use '../lic/bootstrap-license';
@use '../themes/bootstrap/tables' as bt;

.table > thead > * > * {
  border-bottom-width: 0;
}

.table-light {
  border-color: color.$white;
}

.table > :not(:first-child) {
  border-top: 0;
}
