@forward '../variables/options';

@use 'sass:map';

@use '../themes/bootstrap/overrides' as *;

@use '../functions/icons';
@use '../variables/color';
@use '../variables/grid';
@use '../variables/spacing';
@use '../variables/components/topic-teaser';
@use '../mixins/size';

.topic-teaser {
  &[class*='bg-'] {
    @include media-breakpoint-up(xxl) {
      background-color: transparent !important;
    }
  }

  .topic-teaser-container {
    @include media-breakpoint-up(xxl) {
      padding-left: map.get(grid.$grid-container-padding, xxl) * 0.5;
      padding-right: map.get(grid.$grid-container-padding, xxl) * 0.5;
    }
  }

  &:not(.topic-teaser-reverse) {
    @each $key in topic-teaser.$grid-keys-upper {
      @include media-breakpoint-only($key) {
        .container {
          padding-right: 0;
        }
      }
    }

    .topic-teaser-container {
      @include media-breakpoint-up(xxl) {
        padding-right: 0;
        // webkit subpixel-issue fix
        margin-right: -1px;
        clip-path: inset(0 1px (map.get(spacing.$size-curve-huge, 'xxl') * -1) 0);
      }

      > .row {
        justify-content: flex-end;
      }
    }

    .topic-teaser-image-container {
      @each $key in topic-teaser.$grid-keys-lower {
        @include media-breakpoint-only($key) {
          margin-right: map.get(grid.$grid-container-padding, $key) * -1;
        }
      }
    }
  }
}

.topic-teaser-reverse {
  @each $key in topic-teaser.$grid-keys-upper {
    @include media-breakpoint-only($key) {
      .container {
        padding-left: 0;
      }
    }
  }

  .topic-teaser-container {
    @include media-breakpoint-up(xxl) {
      padding-left: 0;
    }

    > .row {
      @include media-breakpoint-down(lg) {
        flex-direction: column-reverse;
      }
    }
  }

  .topic-teaser-image-container {
    @each $key in topic-teaser.$grid-keys-lower {
      @include media-breakpoint-only($key) {
        margin-left: map.get(grid.$grid-container-padding, $key) * -1;
      }
    }
  }
}

.topic-teaser-image-container {
  @include size.responsive-size('huge', 'margin-bottom', '-$value');
}

.topic-teaser-image {
  object-fit: cover;

  @each $key, $value in topic-teaser.$topic-teaser-image-ratios {
    @include media-breakpoint-up($key) {
      aspect-ratio: $value;
    }
  }
}

.topic-teaser-content {
  display: flex;
  flex-direction: column;

  @include media-breakpoint-up(rg) {
    flex-direction: row;
    gap: var(--gutter-x);
  }
}

.topic-teaser-content > .link-list {
  width: 50%;

  @include media-breakpoint-down(rg) {
    width: 100%;
  }
}

.topic-teaser-title {
  width: 50%;

  @include media-breakpoint-down(rg) {
    width: auto;
  }
}

.topic-teaser-title > span {
  display: block;
}

.link-list {
  padding: 0;
  list-style-type: none;
}

.link-list-item > a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.25rem 1.5rem 1.25rem 1rem;
  transition: opacity 200ms, background-position 200ms;
  border: 0;
  border-top: 1px solid rgba(var(--white-rgb), 0.2);
  background-image: url(icons.get-colored-svg-url('2050', color.$white));
  background-repeat: no-repeat;
  background-position: 99% center;
  background-size: 1rem;
  text-decoration: none;

  &[href]:hover {
    background-position: 100% center;
  }
}

.topic-teaser.bg-light .link-list-item > a {
  border-top: 1px solid color.$gray-10;
  background-image: url(icons.get-colored-svg-url('2050', color.$gray-60));
}
