@use 'sass:map';

@use '../variables/components/button';
@use '../variables/type';
@use '../variables/color';
@use '../placeholders/color' as color-ph;
@use '../functions/color' as color-fn;
@use 'utilities';

@mixin reset-button {
  padding: 0;
  overflow: visible;
  border: 0;
  background: none;
  color: inherit;
  font: inherit;
  line-height: normal;
  user-select: none;
  appearance: button; // for input
}

@mixin button-size($size: md) {
  height: map.get(button.$btn-height-map, $size);
  padding: 0 map.get(button.$btn-padding-x-map, $size);
  font-size: map.get(type.$font-size-map, $size);
  gap: map.get(button.$btn-padding-x-map, $size) * 0.5;

  > .pi {
    width: map.get(button.$btn-icon-size-map, $size);
    height: map.get(button.$btn-icon-size-map, $size);
  }
}

@mixin icon-button($size: md) {
  // Padding for icon buttons is (button-height - font-size) / 2
  $icon-size: map.get(button.$btn-icon-size-map, $size);
  $button-height: map.get(button.$btn-height-map, $size);
  $padding-y: ($button-height - $icon-size) * 0.5 - button.$input-btn-focus-width;
  min-width: $button-height;
  padding-right: $padding-y;
  padding-left: $padding-y;
}

@mixin button-color-variant($name, $color) {
  .btn-#{$name} {
    border-color: transparent;
    background-color: $color;

    @if (color-fn.get-contrast-color($color) == #fff) {
      color: color.$white;
    }

    @include utilities.not-disabled-focus-hover() {
      background-color: darken($color, 10%);
    }
  }
}
