@use '@swisspost/design-system-styles/components/button';
@use '@swisspost/design-system-styles/components/icon-button';
@use '@swisspost/design-system-styles/helpers/visually-hidden';

@use '@swisspost/design-system-styles/mixins/utilities';
@use '@swisspost/design-system-styles/mixins/close-button';

post-closebutton {
  &[size='small'] {
    .btn {
      height: tokens.get('close-small-size');
      width: tokens.get('close-small-size');
    }
  }

  &:not([placement]),
  &[placement='auto'] {
    position: absolute;
    inset-block-start: 0;
    inset-inline-end: 0;
    transform: translate(50%, -50%);
  }

  .btn {
    background-color: tokens.get('close-enabled-bg');

    @include utilities.not-disabled-hover {
      background-color: tokens.get('close-hover-bg');
    }
  }
}
