@use '@swisspost/design-system-styles/components/button';
@use '@swisspost/design-system-styles/components/icon-button';
@use '@swisspost/design-system-styles/helpers/visually-hidden';

@use '@swisspost/design-system-styles/mixins/utilities';
@use '@swisspost/design-system-styles/functions/tokens';
@use '@swisspost/design-system-styles/tokens/components';

tokens.$default-map: components.$post-close;

post-closebutton {
  > .btn {
    background-color: tokens.get('close-enabled-bg');
    background-clip: padding-box;

    @include utilities.not-disabled-hover {
      background-color: tokens.get('close-hover-bg');
    }
  }

  &[small]:not([small="false"]) > .btn {
    height: tokens.get('close-small-size');
    width: tokens.get('close-small-size');
  }
}

