@use "sass:map";
@use "@swisspost/design-system-styles/variables/breakpoints";

@mixin min($point) {
  @media (min-width: map.get(breakpoints.$grid-breakpoints, $point)) {
    @content;
  }
}

@mixin max($point) {
  @media (max-width: map.get(breakpoints.$grid-breakpoints, $point) - 0.02px) {
    @content;
  }
}

@mixin between($pointA, $pointB) {
  @media (min-width: map.get(breakpoints.$grid-breakpoints, $pointA)) and (max-width: map.get(breakpoints.$grid-breakpoints, $pointB) - 0.02px) {
    @content;
  }
}

@mixin reset-visually-hidden() {
  position: static;
  width: auto;
  height: auto;
  margin: auto;
  overflow: visible;
  clip: auto;
  visibility: visible;
}

@mixin container-padding() {
  @include max(rg) {
    padding-right: 16px;
    padding-left: 16px;
  }

  @include between(rg, lg) {
    padding-right: 32px;
    padding-left: 32px;
  }

  @include min(lg) {
    padding-right: 40px;
    padding-left: 40px;
  }
}
