@use "sass:map";
@use 'sass:selector';
@use 'sass:string';
@use "@swisspost/design-system-styles/variables/breakpoints";

@mixin min($point) {
  @media (min-width: map.get(breakpoints.$grid-breakpoints, $point)) {
    @content;
  }
}

@mixin max($point) {
  @media (max-width: map.get(breakpoints.$grid-breakpoints, $point) - 0.02px) {
    @content;
  }
}

@mixin between($pointA, $pointB) {
  @media (min-width: map.get(breakpoints.$grid-breakpoints, $pointA)) and (max-width: map.get(breakpoints.$grid-breakpoints, $pointB) - 0.02px) {
    @content;
  }
}

@mixin reset-visually-hidden() {
  position: static;
  width: auto;
  height: auto;
  margin: auto;
  overflow: visible;
  clip: auto;
  visibility: visible;
}

@mixin container-padding() {
  @include max(rg) {
    padding-right: 16px;
    padding-left: 16px;
  }

  @include between(rg, lg) {
    padding-right: 32px;
    padding-left: 32px;
  }

  @include min(lg) {
    padding-right: 40px;
    padding-left: 40px;
  }
}

@mixin set-custom-property($var, $sizes) {
  $is-root: selector.is-superselector(&, ':root');
  $previous-size: null;
  @each $breakpoint, $size in $sizes {
    $value: if($is-root, $size, var(#{string.insert($var, "post-", 3)}, $size));

    @if($size == $previous-size) {
      // no styles
    } @else if($breakpoint == xs) {
      #{$var}: $value;
    } @else {
      @include min($breakpoint) {
        #{$var}: $value;
      }
    }

    $previous-size: $size;
  }
}
