$meta-header-height: (
  xs: 0px,
  sm: 0px,
  rg: 0px,
  md: 0px,
  lg: 3rem,
  xl: 3rem,
  xxl: 3rem,
);

$header-height: (
  xs: 3.5rem,
  sm: 3.5rem,
  rg: 3.5rem,
  md: 3.5rem,
  lg: 4rem,
  xl: 4.5rem,
  xxl: 4.5rem,
);

$header-slide-in-transition: top 200ms ease-out;
