@use 'sass:math';
@use 'sass:list';
@use 'sass:map';
@use '../mixins';
@use '@swisspost/design-system-styles/functions/tokens';
@use '@swisspost/design-system-styles/tokens/utilities';

$post-docs-banner-padding-md: 1em 2em 1em 3.5em;
$post-docs-banner-padding-sm: 0.25em 1em 0.25em 2.25em;

$post-docs-banner-icon-size-md: 2em;
$post-docs-banner-icon-size-sm: 1.4em;

$post-docs-banner-line-height-md: 1.35;
$post-docs-banner-line-height-sm: 1.25;

@include mixins.style-docs-only-guard('post-banner') {
  min-height: 0;
  padding: $post-docs-banner-padding-md;
  font-size: 1rem;
  line-height: $post-docs-banner-line-height-md;
  margin-block-end: 0.5rem;

  &::before {
    top: list.nth($post-docs-banner-padding-md, 1) +
        (($post-docs-banner-line-height-md - $post-docs-banner-icon-size-md) * 0.5);
    left: (list.nth($post-docs-banner-padding-md, 4) - $post-docs-banner-icon-size-md) * 0.5;
    width: $post-docs-banner-icon-size-md;
    height: $post-docs-banner-icon-size-md;
  }

  &:last-child {
    margin-bottom: 0;
  }

  &[data-size="sm"] {
    padding: $post-docs-banner-padding-sm;
    line-height: $post-docs-banner-line-height-sm;
    margin-block-end: 0.25rem;
    font-size: 0.825rem;

    &::before {
      top: list.nth($post-docs-banner-padding-sm, 1) +
        (($post-docs-banner-line-height-sm - $post-docs-banner-icon-size-sm) * 0.5);
      left: (list.nth($post-docs-banner-padding-sm, 4) - $post-docs-banner-icon-size-sm) * 0.5;
      width: $post-docs-banner-icon-size-sm;
      height: $post-docs-banner-icon-size-sm;
    }
  }

  :not(code) {
    font-family: inherit;
  }

  [slot="heading"] {
    font-weight: bold;
  }

  a {
    font-weight: inherit;
    color: var(--post-current-fg);

    &:hover {
      color: black;
    }
  }
}
