@use '@swisspost/design-system-styles/core' as post;

#storybook-docs {
  .blockquote {
    padding: 0;
    border-left: 0 none;
    font-style: italic;
  }

  .blockquote-footer {
    padding: 0;
    border-left: 0 none;
  }
}
