@use '@swisspost/design-system-styles/core' as post;
@use '@swisspost/design-system-styles/elements/body';
@use '@swisspost/design-system-styles/functions/tokens';
@use '@swisspost/design-system-styles/tokens/utilities';

tokens.$default-map: utilities.$post-spacing;

#storybook-docs {
  .sbdocs-preview {
    border-color: post.$border-color;
    border-radius: tokens.get('utility-gap-8');
    box-shadow: none;
  }

  .docblock-argstable {
    border-radius: tokens.get('utility-gap-8');

    tbody {
      position: relative;
      -webkit-filter: none;
      filter: none;

      &:before {
        display: block;
        content: '';
        position: absolute;
        inset: 0;
        border: post.$border-width solid post.$border-color;
        border-radius: tokens.get('utility-gap-8');
        z-index: -1;
      }

      > tr {
        > th,
        > td {
          background-color: transparent;
          border: 0 none;
        }

        &:not(:first-child) {
          > th,
          > td {
            border-top: post.$border-width solid post.$border-color;
          }
        }

        // category headers
        &[title] {
          > td {
            background-clip: padding-box !important;

            &:first-child {
              border-inline-start: tokens.get('utility-gap-2') solid transparent;
            }

            &:last-child {
              border-inline-end: tokens.get('utility-gap-2') solid transparent;
            }
          }

          &:first-child > td {
            border-block-start: tokens.get('utility-gap-1') solid transparent;

            &:first-child {
              border-start-start-radius: tokens.get('utility-gap-8');
            }

            &:last-child {
              border-start-end-radius: tokens.get('utility-gap-8');
            }
          }

          &:last-child > td {
            &:first-child {
              border-end-start-radius: tokens.get('utility-gap-8');
            }

            &:last-child {
              border-end-end-radius: tokens.get('utility-gap-8');
            }
          }
        }
      }
    }
  }

  .docblock-source {
    border-radius: tokens.get('utility-gap-8');
    box-shadow: none;
  }
}
