@use '@swisspost/design-system-styles/core' as post;
@use '../mixins';

@include mixins.style-docs-only-guard('post-tabs') {
  &::part(tabs) {
    background: none;
  }

  &::part(content) {
    position: relative;
  }

  > post-tab-header {
    border-top-left-radius: post.$border-radius;
    border-top-right-radius: post.$border-radius;

    &.active {
      border-top-left-radius: post.$border-radius;
      border-top-right-radius: post.$border-radius;

      &::before {
        background-color: post.$black;
        border-radius: inherit;
      }
    }

    ~ post-tab-header {
      margin-left: 1px;
    }
  }

  &:where(.sb-tabs-lg, :has(post-tab-panel > .sbdocs)) {
    margin-top: post.$size-big;

    &::part(tabs) {
      &::before {
        display: block;
        content: '';
        position: absolute;
        bottom: 0;
        left: 50%;
        width: 100vw;
        height: 1px;
        background-color: post.$border-color;
        transform: translateX(-50%);
      }
    }
  }

  &:not(.sb-tabs-lg, :has(post-tab-panel > .sbdocs)) {
    > post-tab-header {
      font-size: post.$font-size-sm;
    }

    &::part(content) {
      &::after {
        display: block;
        content: '';
        position: absolute;
        top: calc(100% + #{post.$size-regular});
        left: 0;
        right: post.$size-mini * -1;
        border-top: post.$border-width dashed post.$border-color;
      }
    }
  }
}
