:root {
  --post-docs-font-sansserif: 'FiraCode', 'InterDisplay', 'Reddit Sans', sans-serif;
  --post-docs-font-monospace: 'Reddit Mono', monospace;
}

body {
  font-family: var(--post-docs-font-sansserif);

  // manager
  #root {
    * {
      font-family: var(--post-docs-font-monospace);
    }
  }

  // preview
  #storybook-docs {
    * {
      font-family: inherit;
    }

    :is(pre, .prismjs) {
      font-family: var(--post-docs-font-monospace);
    }

    .docs-story > :first-child {
      font-family: var(--bs-body-font-family);
    }

    .font-sans-serif {
      font-family: var(--bs-font-sans-serif) !important;
    }

    .font-monospace {
      font-family: var(--bs-font-monospace) !important;
    }
  }
}
