:root {
  --post-docs-font-sansserif: 'FiraCode', 'InterDisplay', 'Reddit Sans', sans-serif;
  --post-docs-font-monospace: 'Reddit Mono', monospace;
}

body {
  font-family: var(--post-docs-font-sansserif);

  // manager
  #root {
    * {
      font-family: var(--post-docs-font-monospace);
    }
  }

  // preview
  #storybook-docs {
    * {
      font-family: inherit;
    }

    :is(h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6, pre, .prismjs) {
      font-family: var(--post-docs-font-monospace);
    }

    .docs-story > :first-child {
      font-family: var(--bs-body-font-family);
    }
  }
}
