@use 'sass:math';
@use 'sass:list';

@use './utilities';
@use './list' as list-fn;

@function strip-unit($value) {
  @return math.div($value, $value * 0 + 1);
}

@function px-to-em($px, $ref: 16px) {
  @return to-em(math.div(to-px($px), to-px($ref)));
}

@function px-to-rem($px) {
  @return to-rem(math.div(strip-unit($px), strip-unit(16px)));
}

@function to-em($val) {
  /* stylelint-disable-next-line length-zero-no-unit */
  @return (strip-unit($val) + 0em);
}

@function to-rem($val) {
  /* stylelint-disable-next-line length-zero-no-unit */
  @return (strip-unit($val) + 0rem);
}

@function to-px($val) {
  /* stylelint-disable-next-line length-zero-no-unit */
  @return (strip-unit($val) + 0px);
}

@function calculate-inner-height(
  $font-size,
  $line-height,
  $padding-top,
  $padding-bottom: $padding-top
) {
  @return ($line-height * $font-size) + $padding-top + $padding-bottom;
}

@function calculate-single-box-shadow-size($box-shadow) {
  $len: list.length($box-shadow);
  $multiplier: 1;
  $box-shadow-size: 0;

  @if ($len > 6 or $len < 2) {
    @error "The function 'calculate-single-box-shadow-size($box-shadow)' is not for calculating the combined size of multiple box-shadows. Failed value: '#{$box-shadow}'.";
  }

  @if (list.nth($box-shadow, 1) == 'inset') {
    $multiplier: -1;
    $box-shadow: list-fn.remove-nth($box-shadow, 1);
  }

  @if (utilities.starts-with-any(list.nth($box-shadow, -1), 'hsl', 'rgb', '#')) {
    $box-shadow: list-fn.remove-nth($box-shadow, -1);
  }

  $len: list.length($box-shadow);

  @if ($len > 4) {
    @error "The function 'calculate-single-box-shadow-size($box-shadow)' is not for calculating the combined size of multiple box-shadows. Failed value: '#{$box-shadow}'.";
  }

  @if (math.abs(list.nth($box-shadow, 1)) >= math.abs(list.nth($box-shadow, 2))) {
    $box-shadow-size: $box-shadow-size + math.abs(list.nth($box-shadow, 1));
  } @else {
    $box-shadow-size: $box-shadow-size + math.abs(list.nth($box-shadow, 2));
  }

  @if ($len >= 3) {
    $box-shadow-size: $box-shadow-size + (math.abs(list.nth($box-shadow, 3)) * 0.7);
  }

  @if ($len == 4) {
    $box-shadow-size: $box-shadow-size + list.nth($box-shadow, 4);
  }

  @if (math.unit($box-shadow-size) == 'px') {
    $box-shadow-size: math.ceil($box-shadow-size);
  }

  @return $box-shadow-size;
}
