@use 'sass:string';

@function replace($string, $term, $replacement: '') {
  $index: string.index($string, $term);

  @if $index {
    $before: string.slice($string, 1, $index - 1);
    $after: string.slice($string, $index + string.length($term));
    @return $before + $replacement + replace($after, $term, $replacement);
  }

  @return $string;
}
