@use '@swisspost/design-system-styles/mixins/button';
@use '@swisspost/design-system-styles/mixins/media';
@use '@swisspost/design-system-styles/mixins/utilities';
@use '@swisspost/design-system-styles/variables/animation';

post-menu-item {
  button {
    @include button.reset-button;
  }

  a {
    text-decoration: none;
  }

  button,
  a {
    position: relative;
    display: flex;
    width: 100%;
    align-items: center;
    padding: .5rem 1rem;
    gap: .5rem;
    font-size: 1rem;
    color: #050400;
    transition: color animation.$transition-base-timing;
    outline-offset: 0;

    @include media.min(lg) {
      font-size: 1.25rem;
    }

    @include media.min(sm) {
      padding-block: .75rem;
      gap: 1rem;
    }

    &:focus-visible {
      outline-offset: -2px !important;
      border-radius: 4px;
    }

    &::after {
      content: "";
      display: block;
      position: absolute;
      inset-block-end: 0;
      inset-inline: 0;
      height: 3px;
      background-color: transparent;
      transition: background-color animation.$transition-base-timing;
    }

    &:hover {
      color: #504F4B;

      &::after {
        background-color: currentColor;
      }
    }
  }

  post-icon {
    font-size: 1.5rem;
  }
}
