@use '@swisspost/design-system-styles/components/accordion';
@use '@swisspost/design-system-styles/mixins/accordion' as accordion-mx;

@use '@swisspost/design-system-styles/mixins/color' as color-mx;
@use '@swisspost/design-system-styles/functions/contrast';
@use '@swisspost/design-system-styles/variables/color';
@use '@swisspost/design-system-styles/placeholders/color' as color-ph;

:host {
  display: block;
  color: red;
}

.accordion-button {
  cursor: pointer;

  > ::slotted(.text-truncate) {
    display: block;
  }
}

.accordion-item {
  @include accordion-mx.background-color-host-context;
}

@supports not selector(:host-context(A)) {
  .post-accordion-item::part(accordion-item) {
    @include accordion-mx.background-color;
  }
}

:host(:not(:first-of-type)) .accordion-item {
  border-block-start: 0;
}
