@use '@swisspost/design-system-styles/components/accordion';
@use '@swisspost/design-system-styles/mixins/accordion' as accordion-mx;

:host {
  display: block;
}

.accordion-button {
  cursor: pointer;

  > ::slotted(.text-truncate) {
    display: block;
  }
}

post-accordion-item::part(accordion-item) {
  @include accordion-mx.background-color;

  post-accordion-item + & {
    border-block-start: 0!important;
  }
}
