@use 'sass:map';

@use './../../themes/bootstrap/core' as *;

@use './../../variables/grid';
@use './../../variables/commons';

.container-fluid {
  max-width: map.get(grid.$container-max-widths, xs);
  padding-right: 0;
  padding-left: 0;

  &:not(.allow-overflow) {
    overflow: hidden; // hides scrollbar
  }
}

//deprecated
// px-gutters class is used to manipulate border collapse in product-cards
.row.px-gutters {
  margin-right: -(commons.$border-width);
  margin-bottom: -(commons.$border-width);
  margin-left: 0;

  > .col,
  > [class*='col-'] {
    padding-right: commons.$border-width;
    padding-bottom: commons.$border-width;
    padding-left: 0;
  }
}
