@use './../../themes/bootstrap/core' as *;

@use './../../variables/spacing';
@use './../../variables/type';
@use './../../variables/components/paragraph';
@use './../../mixins/type' as type-mx;
@use './../../placeholders/text';

@mixin styles {
  h3,
  .h3,
  h4,
  .h4,
  h5,
  .h5 {
    // Temporary resolution to avoid margin-top spreading inside Notification Overlay
    .modal-dialog & {
      margin-top: 0;
    }
  }

  p {
    @extend %font-curve-regular;
    @extend %text-bottom-spacer;
    margin-top: 0;
  }

  .lead {
    @include type-mx.font-curve('bigger-regular');
    margin-bottom: paragraph.$text-bottom-space;
  }
}
