@use 'sass:meta';
@use 'sass:math';
@use '@swisspost/design-system-styles/variables/color';
@use '@swisspost/design-system-styles/variables/commons';
@use '@swisspost/design-system-styles/variables/spacing';
@use '@swisspost/design-system-styles/mixins/color' as color-mx;
@use '@swisspost/design-system-styles/mixins/elevation' as elevation-mx;
@use '@swisspost/design-system-styles/functions/color' as color-fn;

.popover {
  @include elevation-mx.elevation('elevation-3');

  position: fixed;
  z-index: commons.$zindex-popover;

  width: max-content;
  margin: 0;
  padding: 0;

  box-sizing: border-box;
  color: var(--post-contrast-color);
  background-color: rgb(var(--post-bg-rgb));
  border: 1px solid transparent; // Keeping the default border for HCM
  border-radius: commons.$border-radius;

  // Keeps the little arrow visible
  overflow: visible;
}

.arrow {
  // Diagonale of 16px -> 1rem -> 1/1.41 = ~0.7
  // https://www.omnicalculator.com/math/square-diagonal?c=CHF&v=hide:0,diagonal:16!cm
  $arrow-size: math.div(spacing.$size-regular, math.sqrt(2));
  position: absolute;
  width: $arrow-size;
  height: $arrow-size;
  background-color: inherit;
  rotate: 45deg;
  pointer-events: none;
  z-index: -1;

  // Create transparent border to be styled by and for the high contrast mode
  border-right: 2px solid transparent;
  border-bottom: 2px solid transparent;
}
