@use 'sass:meta';
@use 'sass:math';
@use '@swisspost/design-system-styles/variables/color';
@use '@swisspost/design-system-styles/variables/commons';
@use '@swisspost/design-system-styles/variables/spacing';
@use '@swisspost/design-system-styles/mixins/color' as color-mx;
@use '@swisspost/design-system-styles/mixins/elevation' as elevation-mx;
@use '@swisspost/design-system-styles/functions/color' as color-fn;
@use '@swisspost/design-system-styles/mixins/utilities';

// Puts polyfilled styles in a separate layer so they are easy to override
// Can be removed as soon as popover is supported by all major browsers
// https://caniuse.com/?search=popover
@layer polyfill {
  @supports not selector(:popover-open) {
    [popover]:not(.\:popover-open) {
      display: none;
    }
  }
}

:where(post-popovercontainer) {
  @include elevation-mx.elevation('elevation-3');

  background: var(--post-current-palette-bg);
  color: var(--post-current-palette-fg);
  position: fixed;
  z-index: commons.$zindex-popover;
  width: max-content;
  margin: 0;
  padding: 0;

  &[tooltip] {
    @include utilities.visuallyhidden();
  }

  box-sizing: border-box;
  border: 2px solid transparent; // Keeping the default border for HCM
  border-radius: commons.$border-radius;

  // Keeps the little arrow visible
  overflow: visible;

  // Safe space overlay styles
  &[safe-space]::after {
    content: '';
    position: fixed;
    inset: 0;
    z-index: -1;
    pointer-events: auto;
  }

  &[safe-space='triangle']::after {
    clip-path: polygon(
      var(--safe-space-cursor-x, 0) var(--safe-space-cursor-y, 0),
      var(--safe-space-popover-x-start, var(--safe-space-popover-x, 0))
        var(--safe-space-popover-y, var(--safe-space-popover-y-start, 0)),
      var(--safe-space-popover-x-end, var(--safe-space-popover-x, 0))
        var(--safe-space-popover-y, var(--safe-space-popover-y-end, 0))
    );
  }

  &[safe-space='trapezoid']::after {
    clip-path: polygon(
      var(--safe-space-trigger-x-start, var(--safe-space-trigger-x, 0))
        var(--safe-space-trigger-y, var(--safe-space-trigger-y-start, 0)),
      var(--safe-space-trigger-x-end, var(--safe-space-trigger-x, 0))
        var(--safe-space-trigger-y, var(--safe-space-trigger-y-end, 0)),
      var(--safe-space-popover-x-end, var(--safe-space-popover-x, 0))
        var(--safe-space-popover-y, var(--safe-space-popover-y-end, 0)),
      var(--safe-space-popover-x-start, var(--safe-space-popover-x, 0))
        var(--safe-space-popover-y, var(--safe-space-popover-y-start, 0))
    );
  }

  &:not(:has(.arrow)) {
    @include elevation-mx.elevation('elevation-3');
  }

  &:has(.arrow) {
    filter: drop-shadow(1px 2px 3px hsla(216, 9%, 11%, 0.15))
      drop-shadow(2px 4px 6px hsla(225, 17%, 9%, 0.15))
      drop-shadow(4px 8px 12px hsla(225, 7%, 11%, 0.15));
  }

  &:has(.arrow.top) {
    filter: drop-shadow(0px -2px 3px hsla(216, 9%, 11%, 0.15))
      drop-shadow(0px -4px 6px hsla(225, 17%, 9%, 0.15))
      drop-shadow(0px -8px 12px hsla(225, 7%, 11%, 0.15));
  }

  &:has(.arrow.left) {
    filter: drop-shadow(-2px 0px 3px hsla(216, 9%, 11%, 0.15))
      drop-shadow(-4px 0px 6px hsla(225, 17%, 9%, 0.15))
      drop-shadow(-8px 0px 12px hsla(225, 7%, 11%, 0.15));
  }

  &:has(.arrow.right) {
    filter: drop-shadow(2px 0px 3px hsla(216, 9%, 11%, 0.15))
      drop-shadow(4px 0px 6px hsla(225, 17%, 9%, 0.15))
      drop-shadow(8px 0px 12px hsla(225, 7%, 11%, 0.15));
  }

  .arrow {
    $arrow-size: 0.5825rem;
    position: absolute;
    width: $arrow-size;
    height: $arrow-size;
    background-color: inherit;
    rotate: 45deg;
    pointer-events: none;
    z-index: -1;

    // Create transparent border to be styled by and for the high contrast mode
    &.top {
      border-left: 2px solid transparent;
      border-top: 2px solid transparent;
    }

    &.right {
      border-right: 2px solid transparent;
      border-top: 2px solid transparent;
    }

    &.left {
      border-left: 2px solid transparent;
      border-bottom: 2px solid transparent;
    }

    &.bottom {
      border-right: 2px solid transparent;
      border-bottom: 2px solid transparent;
    }
  }
}
