@use '@swisspost/design-system-styles/variables/color';
@use '@swisspost/design-system-styles/mixins/media';
@use '@swisspost/design-system-styles/mixins/list';
@use '@swisspost/design-system-styles/mixins/utilities';
@use '@swisspost/design-system-styles/functions/tokens';
@use '@swisspost/design-system-styles/tokens/elements';

tokens.$default-map: elements.$post-heading;

:host {
  display: block;
}

footer {
  // mobile
  --post-footer-container-padding-inline: 16px;
  --post-footer-container-max-width: 1200px;
  --post-footer-prefooter-padding-block: 16px;

  --post-footer-grid-template: auto / auto;
  --post-footer-grid-padding-block: 32px;

  --post-footer-column-flex-direction: column;
  --post-footer-column-align-items: start;
  --post-footer-column-gap: 0;

  --post-footer-list-flex-direction: column;
  --post-footer-list-gap: 8px;
  --post-footer-list-align-items: start;

  --post-footer-socialmedia-padding-block: 16px;
  --post-footer-app-padding-block: var(--post-footer-socialmedia-padding-block);
  --post-footer-businesssectors-padding-block: var(--post-footer-socialmedia-padding-block);

  --post-footer-base-padding-block: var(--post-footer-socialmedia-padding-block);
  --post-footer-base-gap: 8px;
  --post-footer-meta-font-size: inherit;
  --post-footer-copyright-font-size: var(--post-footer-meta-font-size);

  // tablet sm
  @include media.min(sm) {
    --post-footer-prefooter-padding-block: 32px;

    --post-footer-grid-template: repeat(2, auto) / repeat(2, auto);

    --post-footer-list-flex-direction: row;
    --post-footer-list-gap: 16px;
    --post-footer-list-align-items: center;

    --post-footer-base-gap: 4px;
  }

  // tablet md
  @include media.min(md) {
    --post-footer-container-padding-inline: 40px;
    --post-footer-grid-padding-block: 48px;
    --post-footer-socialmedia-padding-block: 24px;
  }

  // desktop lg
  @include media.min(lg) {
    --post-footer-grid-template: auto / repeat(4, auto);

    --post-footer-column-flex-direction: row;
    --post-footer-column-align-items: center;
    --post-footer-column-gap: 32px;

    --post-footer-list-gap: 24px;

    --post-footer-meta-font-size: 16px;
  }
}

:is(h3, .h3) {
  margin: 0;
  font-size: tokens.get('h6-font-size');
  line-height: tokens.get('heading-line-height');
  font-weight: tokens.get('heading-font-weight');
  text-wrap: balance;
}

::slotted(ul) {
  list-style: none;
  padding: 0;
  margin: 0;
}

.visually-hidden {
  @include utilities.visuallyhidden();
}

.footer-container {
  box-sizing: content-box;
  margin: 0 auto;
  padding-inline: var(--post-footer-container-padding-inline);
  max-width: var(--post-footer-container-max-width);
}

.prefooter {
  background-color: color.$lighter;
  border-block-start: 1px solid color.$sandgray-80;
  padding-block: var(--post-footer-prefooter-padding-block);

  .footer-container {
    padding-block: 0;
  }
}

.footer-main {
  background-color: color.$yellow;
  border-block-start: 1px solid color.$sandgray-80;

  .prefooter:not(.d-none) + & {
    border-block-start: unset;
  }
}

.footer-grid {
  display: grid;
  grid-template: var(--post-footer-grid-template);
  gap: 32px 24px;
  padding-block: var(--post-footer-grid-padding-block);

  // post-accordion-item
  ::part(button),
  ::part(body) {
    padding-inline: 0;
  }
}

.footer-column {
  display: flex;
  flex-direction: var(--post-footer-column-flex-direction);
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: var(--post-footer-column-align-items);
  column-gap: var(--post-footer-column-gap);
}

.footer-socialmedia,
.footer-app,
.footer-meta {
  ::slotted(div) {
    display: flex !important;
    flex-direction: var(--post-footer-list-flex-direction) !important;
    gap: var(--post-footer-list-gap) !important;
    align-items: var(--post-footer-list-align-items) !important;
  }
}

.footer-socialmedia {
  padding-block: var(--post-footer-socialmedia-padding-block);
}

.footer-app {
  padding-block: var(--post-footer-app-padding-block);
}

.prefooter,
.footer-businesssectors {
  ::slotted(div) {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: var(--post-footer-list-gap) !important;
  }
}

.footer-businesssectors {
  padding-block: var(--post-footer-businesssectors-padding-block);
}

.footer-base {
  background-color: color.$yellow;
  border-block-start: 1px solid color.$sandgray-80;
  padding-block: var(--post-footer-base-padding-block);
  gap: var(--post-footer-base-gap);
}

.footer-meta {
  font-size: var(--post-footer-meta-font-size);
}

.footer-copyright {
  display: flex;
  flex-wrap: wrap;
  column-gap: 0.5rem;
  font-size: var(--post-footer-copyright-font-size);
}

.d-none {
  display: none;
}
