@use '../../../../node_modules/@swisspost/design-system-styles/core' as post;

.elevation-container {
  display: flex;
  flex-wrap: wrap;
  gap: post.$size-big;
  margin-block: post.$size-large post.$size-bigger-big;
}

.elevation-tile {
  padding: post.$size-regular;
  border-radius: post.$border-radius;

  .h3 {
    margin-bottom: post.$size-large;
    text-transform: capitalize;
  }

  dl {
    display: grid;
    grid-template-columns: max-content 1fr;
    column-gap: post.$size-regular;
    margin-bottom: 0;
  }

  dl,
  dt,
  dd {
    @include post.font-curve(tiny);
  }
}
