@use '@swisspost/design-system-styles/placeholders/color' as color-ph;
@use '@swisspost/design-system-styles/components/button';
@use '@swisspost/design-system-styles/components/grid';
@use '@swisspost/design-system-styles/components/spinner';
@use '@swisspost/design-system-styles/variables/color';
@use '@swisspost/design-system-styles/functions';
@use '@swisspost/design-system-styles/mixins/utilities';
@use '@swisspost/design-system-styles/variables/components/button' as button-var;
@use '../../utils/utils.scss';
@use '../../utils/mixins.scss';

:host {
  @extend %color-background-light-variables;

  display: block;
  position: relative;
}

.breadcrumbs {
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  min-height: button-var.$btn-height-md; // Avoid visual shift when buttons are hidden.

  @include mixins.max(rg) {
    font-size: functions.px-to-rem(14px);
  }
}

.breadcrumbs-nav {
  white-space: nowrap;
  // Make the nav take all the available space, used for concatenation calculation
  flex-grow: 1;
  flex-shrink: 1;
  min-width: 0;
}

.breadcrumbs-list,
.nav-link {
  display: flex;
  align-items: center;
}

.breadcrumbs-list {
  li {
    display: flex;
    // First and middle breadcrumbs should never shrink. If there's not enough space -> collapse
    flex-shrink: 0;

    &:last-child {
      // Ellipsis for very small viewports or very long last item paths
      flex-shrink: 2;
      min-width: 0;
      overflow: hidden;
      text-overflow: ellipsis;
      padding: 4px; // Allow space for the focus outline
    }
  }

  svg {
    margin-left: 0 !important;
    width: 1.5em;
    height: 1.5em;
    color: rgba(color.$black, 0.6);
    @include utilities.high-contrast-mode() {
      forced-color-adjust: auto;
    }
  }
}

.breadcrumb-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  // Buttons should let the breadcrumbs shrink
  flex-shrink: 0;

  .btn {
    cursor: pointer;
    gap: 0.5rem;
    font-size: inherit;

    &.btn-secondary > svg {
      width: 1.5rem;
      height: 1.5rem;
      margin: 0;
    }

    @include mixins.min(lg) {
      span {
        @include mixins.reset-visually-hidden();
      }
    }
  }
}

.nav-link {
  gap: 0;
  color: rgba(color.$black, 0.6);
  font-weight: 400;
}

.middle-dropdown-container {
  position: relative;
  display: flex;
  align-items: center;
}

.middle-dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  background: white;
  border: 1px solid color.$gray-10;
  padding: 0.5rem 0;
  z-index: 1;

  .nav-link {
    padding: 0.5rem 1rem;
    transition: color 200ms;

    &:hover {
      background-color: color.$gray-10;
    }
  }
}

.middle-dropdown-button {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.25rem;
  width: 1.5em;
  height: 1.5em;
  min-height: 0;
  font-size: inherit;
  color: inherit;

  span {
    margin: 0;
  }

  svg {
    margin: 0;
    flex-shrink: 0;
    width: 1.4em;
    height: 1.4em;
  }
}

.overlay {
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: calc(var(--header-z-index, 10) + 1);
  opacity: 0;
  visibility: hidden;
  transition: opacity 500ms, visibility 0s 500ms;

  &.open {
    visibility: visible;
    opacity: 1;
    transition: opacity 500ms, visibility 0s 0s;
  }
}

.overlay-container {
  position: relative;
  background: white;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.6);
  transform: translateY(3rem);
  opacity: 0;
  transition: transform 500ms, opacity 500ms;
}

iframe {
  display: block;
  width: 1px;
  min-width: 100%;
  overflow: auto;
  max-height: 80vh;
}

.overlay-close {
  position: absolute !important;
  top: 1rem;
  right: 1rem; // ca. Scrollbar width
  cursor: pointer;
  padding: 0.5rem;
  color: rgba(color.$black, 0.8);

  &:hover,
  &:focus {
    color: black;
  }

  // Contact overlay has a purple background
  &.phone {
    color: white;

    &:hover,
    &:focus {
      color: rgba(color.$white, 0.8);
    }
  }

  span {
    @include mixins.min(rg) {
      @include mixins.reset-visually-hidden();
    }
  }
}

.loader-wrapper {
  position: absolute;
  display: grid;
  place-items: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.loaded .loader-wrapper {
  display:none;
}

.hidden-control-breadcrumbs {
  position: absolute;
  top: 100%;
  width: 0;
  overflow: hidden;
  display: flex;
  pointer-events: none;

  .breadcrumbs-nav {
    flex-shrink: 0;
  }

  .breadcrumbs-list {
    li {
      flex-shrink: 0;
    }
  }
}
