@use '@swisspost/design-system-styles/core' as post;
@use '@swisspost/design-system-styles/mixins/media';

:host {
  display: block;
}

:where([part='post-menu']) {
  display: flex;
  flex-direction: column;
  padding-block: 0.5rem;
}

::slotted([slot='header']) {
  margin-top: -0.5rem;
  padding: 1rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  border-block-end: 1px solid #050400;
  font-weight: 700;

  @include media.max(lg) {
    padding: 0.75rem 1rem;
  }

  @include media.max(md) {
    padding: 0.5rem 1rem;
  }
}
