@use '@swisspost/design-system-styles/core' as post;

:host {
  display: block;
}

:where([part='menu']) {
  display: flex;
  flex-direction: column;
  padding-block: 0.5rem;
}

::slotted([slot='header']) {
  margin-top: -8px;
  padding: 16px;
  display: flex;
  align-items: center;
  gap: 8px;
  border-bottom: 1px solid #050400;
}
