@use 'sass:map';
@use '@swisspost/design-system-styles/core' as post;

:export {
  fontFamilies: [('sans-serif')];
  fontSizes: [map.keys(post.$font-sizes)];
  fontWeights: [('normal', 'bold')];
  fontStyles: [('normal', 'italic')];
  relativeLineHeights: [('1', 'base', 'sm', 'lg')];
}
