@use 'sass:map';
@use '@swisspost/design-system-styles/core' as post;

:export {
  fontFamilies: [('sans-serif', 'monospace')];
  fontSizes: [map.keys(post.$font-sizes)];
  fontWeights: [('normal', 'bold')];
  fontStyles: [('normal', 'italic')];
  fixedLineHeights: [map.keys(post.$post-sizes)];
  relativeLineHeights: [('1', 'base', 'sm', 'lg')];
  colors: [map.keys(post.$theme-colors)];
}
