@use 'sass:map';
@use '@swisspost/design-system-styles/core' as post;

:export {
  fontFamilies: [('sans-serif', 'monospace')];
  fontSizes: [map.keys(post.$font-sizes)];
  fontWeights: [('light', 'normal', 'bold')];
  fontStyles: [('normal', 'italic')];
  fontLineheights: [map.keys(post.$line-heights)];
  colors: [map.keys(post.$theme-colors)]
}
