:host {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  justify-content: space-between;
  min-height: 100vh;
  padding: 4rem;
  background-color: whitesmoke;
}

sp-intranet-header {
  display: block;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.25);
}
