.alert .pi.placing {
  margin-top: -0.3rem;
  margin-left: -0.6rem;
}

.header-showcase-page {
  background: white;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.4);
}

.header-showcase-container {
  background: #f4f3f1;
}
