@use '@swisspost/design-system-styles/components/accordion';

:host {
  display: block;
}

.accordion-button {
  cursor: pointer;

  > ::slotted(.text-truncate) {
    display: block;
  }
}

post-collapsible + post-collapsible::part(accordion-item) {
  border-block-start: 0!important;
}
