.post-listbox-styling-example:not(:has(.listbox-snapshot)) {
  height: 200px;
  width: 250px;
  box-shadow: rgba(71, 71, 71, 0.2) 2px 2px 4px 3px;
  padding: 10px 30px;
  post-listbox {
    post-listbox-item[selected] {
      background-color: #ebebeb;
    }
  }
}
