@use 'sass:map';
@use './../../mixins/typo' as typo-mx;
@use './../../tokens/components' as tokens;

.form-text-v2,
.valid-feedback-v2,
.invalid-feedback-v2 {
  @include typo-mx.use(label-small);
  margin: 0;
  padding-block: map.get(tokens.$post-text-input, post-input-spacing-padding-block-text-assist);
  padding-inline: map.get(tokens.$post-text-input, post-input-spacing-padding-inline-text-assist);
}

.valid-feedback-v2 {
  color: map.get(tokens.$post-text-input, post-input-color-signal-success);

  &:not(.is-valid-v2 ~ &) {
    display: none;
  }
}

.invalid-feedback-v2 {
  color: map.get(tokens.$post-text-input, post-input-color-signal-error);

  &:not(.is-invalid-v2 ~ &) {
    display: none;
  }
}
