@use './../../functions/calc';
@use './../../functions/tokens';
@use '../../functions/typo';
@use './../../mixins/components/forms/input' as input-mx;
@use './../../mixins/utilities' as utility-mx;
@use './../../mixins/typo' as typo-mx;
@use './../../tokens/components' as token-maps;
@use './../../variables/components/forms/input';

$m: token-maps.$post-text-input;

.form-control-v2 {
  @include typo-mx.use(label-default);
  @include input-mx.padding-inline-end;

  width: 100%;
  padding-inline-start: tokens.get($m, input-spacing-padding-inline-text-start);
  padding-block-start: calc.add(
    tokens.get($m, input-spacing-padding-block-text2),
    typo.get-height(label-smaller)
  );
  padding-block-end: tokens.get($m, input-spacing-padding-block-text2);

  color: tokens.get($m, input-color-primary-enabled-fg);
  border: input.$input-border-width solid tokens.get($m, input-color-primary-enabled-stroke);
  border-radius: tokens.get($m, input-border-radius-surface);
  background-color: tokens.get($m, input-color-primary-enabled-bg);

  &:placeholder-shown:not(:focus) {
    &::placeholder {
      color: transparent;
    }
  }

  &:hover {
    border-color: tokens.get($m, input-color-primary-hover-stroke);
    background-color: tokens.get($m, input-color-primary-hover-bg);
  }

  &:disabled {
    color: tokens.get($m, input-color-primary-disabled-fg);
    border-style: dashed;
    border-color: tokens.get($m, input-color-primary-disabled-stroke);
    background-color: tokens.get($m, input-color-primary-disabled-bg);
  }

  @include utility-mx.focus-style($outline-color: tokens.get($m, input-color-primary-focus-stroke));

  &.is-valid-v2,
  &.is-invalid-v2 {
    background-size: tokens.get($m, input-sizing-icon);
    background-position: center right tokens.get($m, input-spacing-padding-inline-text-end);
    background-repeat: no-repeat;
  }

  &.is-valid-v2 {
    background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_1266_5647)'%3E%3Cpath d='M16 0C7.16 0 0 7.16 0 16C0 24.84 7.16 32 16 32C24.84 32 32 24.84 32 16C32 7.16 24.84 0 16 0ZM25.05 9.01L14.4 25.15L7.04 17.27C6.66 16.87 6.68 16.23 7.09 15.86C7.49 15.48 8.13 15.5 8.5 15.91L14.13 21.94L23.38 7.92C23.68 7.46 24.3 7.33 24.77 7.64C25.23 7.94 25.36 8.56 25.05 9.03V9.01Z' fill='%23107800'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_1266_5647'%3E%3Crect width='32' height='32' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
  }

  &.is-invalid-v2 {
    background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_1266_5583)'%3E%3Cpath d='M16 0C7.16 0 0 7.16 0 16C0 24.84 7.16 32 16 32C24.84 32 32 24.84 32 16C32 7.16 24.84 0 16 0ZM14.49 6.28H17.53V10.76L16.93 17.11H15.09L14.49 10.76V6.28ZM16.01 22.33C14.93 22.33 14.08 21.48 14.08 20.42C14.08 19.36 14.93 18.53 16.01 18.53C17.09 18.53 17.94 19.38 17.94 20.42C17.94 21.46 17.09 22.33 16.01 22.33Z' fill='%23B20000'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_1266_5583'%3E%3Crect width='32' height='32' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
  }
}
