$post-border-widths: (
  post-utility-border-0: 0,
  post-utility-border-1: 1px,
  post-utility-border-2: 2px,
  post-utility-border-3: 3px,
  post-utility-border-4: 4px,
  post-utility-border-5: 5px,
  post-utility-border-6: 6px,
  post-utility-border-8: 8px,
  post-utility-border-10: 10px,
  post-utility-border-11: 11px,
  post-utility-border-12: 12px,
  post-utility-border-14: 14px,
  post-utility-border-15: 15px,
  post-utility-border-16: 16px,
  post-utility-border-18: 18px,
  post-utility-border-19: 19px,
  post-utility-border-20: 20px,
  post-utility-border-22: 22px,
  post-utility-border-24: 24px,
  post-utility-border-26: 26px,
  post-utility-border-28: 28px,
  post-utility-border-30: 30px,
  post-utility-border-32: 32px,
  post-utility-border-34: 34px,
  post-utility-border-36: 36px,
  post-utility-border-40: 40px,
  post-utility-border-48: 48px,
  post-utility-border-56: 56px,
  post-utility-border-64: 64px,
  post-utility-border-78: 78px,
  post-utility-border-80: 80px,
  post-utility-border-96: 96px,
  post-utility-border-100: 100px,
  post-utility-border-112: 112px,
);

$post-border-colors: (
  post-utility-border-primary: rgba(13, 110, 253, var(--post-border-opacity)),
  post-utility-border-secondary: rgba(108, 117, 125, var(--post-border-opacity)),
  post-utility-border-success: rgba(25, 135, 84, var(--post-border-opacity)),
  post-utility-border-danger: rgba(220, 53, 69, var(--post-border-opacity)),
  post-utility-border-warning: rgba(255, 193, 7, var(--post-border-opacity)),
  post-utility-border-info: rgba(13, 202, 240, var(--post-border-opacity)),
  post-utility-border-light: rgba(245, 245, 245, var(--post-border-opacity)),
  post-utility-border-dark: rgba(33, 37, 41, var(--post-border-opacity)),
  post-utility-border-white: rgba(245, 245, 245, var(--post-border-opacity)),
  post-utility-border-black: rgba(33, 37, 41, var(--post-border-opacity)),
);

$post-border-radius: (
  post-utility-border-0: 0,
  post-utility-border-1: 0.2rem,
  post-utility-border-2: 0.375rem,
  post-utility-border-3: 0.5rem,
  post-utility-border-4: 1rem,
  post-utility-border-5: 2rem,
  post-utility-border-pill: 50rem,
  post-utility-border-circle: 50%,
);
