$variables: (
  post-utility-display-none: none,
  post-utility-display-inline: inline,
  post-utility-display-inline-block: inline-block,
  post-utility-display-block: block,
  post-utility-display-grid: grid,
  post-utility-display-inline-grid: inline-grid,
  post-utility-display-table: table,
  post-utility-display-table-cell: table-cell,
  post-utility-display-table-row: table-row,
  post-utility-display-flex: flex,
  post-utility-display-inline-flex: inline-flex,
);
