$direction: (
  post-utility-flex-direction-row: row,
  post-utility-flex-direction-row-reverse: row-reverse,
  post-utility-flex-direction-column: column,
  post-utility-flex-direction-column-reverse: column-reverse,
);

$align-items: (
  post-utility-align-items-end: end,
  post-utility-align-items-start: start,
  post-utility-align-items-center: center,
  post-utility-align-items-baseline: baseline,
  post-utility-align-items-stretch: stretch,
);

$justify-content: (
  post-utility-justify-content-end: end,
  post-utility-justify-content-start: start,
  post-utility-justify-content-center: center,
  post-utility-justify-content-between: between,
  post-utility-justify-content-around: around,
  post-utility-justify-content-evenly: evenly,
);

$align-content: (
  post-utility-align-content-end: end,
  post-utility-align-content-start: start,
  post-utility-align-content-center: center,
  post-utility-align-content-between: between,
  post-utility-align-content-around: around,
  post-utility-align-content-stretch: stretch,
);

$align-self: (
  post-utility-align-self-end: end,
  post-utility-align-self-start: start,
  post-utility-align-self-center: center,
  post-utility-align-self-baseline: baseline,
  post-utility-align-self-stretch: stretch,
  post-utility-align-self-auto: auto,
);

$fill: (
  post-utility-flex-fill: '1 1 auto',
);

$grow: (
  post-utility-flex-grow-0: '0',
  post-utility-flex-grow-1: '1',
);

$shrink: (
  post-utility-flex-shrink-0: '0',
  post-utility-flex-shrink-1: '1',
);

$wrap: (
  post-utility-flex-wrap-nowrap: nowrap,
  post-utility-flex-wrap-wrap: wrap,
  post-utility-flex-wrap-wrap-reverse: wrap-reverse,
);

$order: (
  post-utility-order-first: -1,
  post-utility-order-0: 0,
  post-utility-order-1: 1,
  post-utility-order-2: 2,
  post-utility-order-3: 3,
  post-utility-order-4: 4,
  post-utility-order-5: 5,
  post-utility-order-last: 6,
);
