@use 'sass:map';

$post-sizing: (
  post-utility-width-0: 0,
  post-utility-width-25: 25%,
  post-utility-width-50: 50%,
  post-utility-width-75: 75%,
  post-utility-width-100: 100%,
  post-utility-width-auto: auto,
  post-utility-height-0: 0,
  post-utility-height-25: 25%,
  post-utility-height-50: 50%,
  post-utility-height-75: 75%,
  post-utility-height-100: 100%,
  post-utility-height-auto: auto,
  post-utility-viewport-width-0: 0,
  post-utility-viewport-width-25: 25vw,
  post-utility-viewport-width-50: 50vw,
  post-utility-viewport-width-75: 75vw,
  post-utility-viewport-width-100: 100vw,
  post-utility-viewport-width-auto: auto,
  post-utility-viewport-height-0: 0,
  post-utility-viewport-height-25: 25vh,
  post-utility-viewport-height-50: 50vh,
  post-utility-viewport-height-75: 75vh,
  post-utility-viewport-height-100: 100vh,
  post-utility-viewport-height-auto: auto,
  )