@use '@swisspost/design-system-styles/mixins/media';

post-megadropdown-trigger {
  width: 100%;
  position: relative;

  @include media.max(lg) {
    z-index: 3;
  }

  @include media.min(lg) {
    z-index: 4;
  }
}
