@use '@swisspost/design-system-styles/mixins/icons';
@use '@swisspost/design-system-styles/mixins/media';

post-megadropdown-trigger {
  width: 100%;

  > button {
    &::after {
      content: '';
      display: block;
      height: 1em;
      width: 1em;
    }

    @include media.only(desktop) {
      &::after {
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
        @include icons.post-icon(chevrondown);
      }

      &[aria-expanded='true']::after {
        transform: rotate(180deg);
      }
    }

    @include media.max(desktop) {
      &::after {
        margin-inline-start: auto;
        @include icons.post-icon(chevronright);
      }
    }

    @include media.only(tablet) {
      &::after {
        font-size: 1.5rem;
      }
    }
  }
}
