@use '@swisspost/design-system-styles/mixins/button';
@use '@swisspost/design-system-styles/mixins/icons';
@use '@swisspost/design-system-styles/mixins/media';
@use '@swisspost/design-system-styles/mixins/utilities';
@use '@swisspost/design-system-styles/functions/icons' as icon-fn;
@use '@swisspost/design-system-styles/functions/tokens';
@use '@swisspost/design-system-styles/tokens/elements';
@use '@swisspost/design-system-styles/variables/animation';

$nav-height: var(--post-core-dimension-56);

post-mainnavigation {
  // reset links and buttons
  post-list-item {
    a {
      text-decoration: none;
      border-radius: 0;
    }

    button {
      @include button.reset-button;
      text-align: start;
    }

    a,
    button {
      &:hover {
        color: tokens.get('post-link-hover-fg', elements.$post-link);
      }
    }
  }

  // desktop styles
  @include media.min(lg) {

    nav {
      position: relative;
      max-width: 100vw;
      max-height: $nav-height;
      overflow: hidden;
      user-select: none;

      &.scroll-snap-align-start post-list-item {
        scroll-snap-align: start;
      }

      &.scroll-snap-align-end post-list-item {
        scroll-snap-align: end;
      }
    }

    .scroll-left-button,
    .scroll-right-button {
      position: absolute;
      inset-block: 0;
      @include button.reset-button;
      background: var(--post-core-color-brand-white);
      padding-inline: var(--post-core-dimension-4);
    }

    .scroll-left-button {
      inset-inline-start: 0;
      padding-inline-end: var(--post-core-dimension-12);
      background: linear-gradient(90deg, var(--post-core-color-brand-white) 70%, transparent);
    }

    .scroll-right-button {
      inset-inline-end: 0;
      padding-inline-start: var(--post-core-dimension-12);
      background: linear-gradient(-90deg, var(--post-core-color-brand-white) 70%, transparent);
    }

    post-list > [role="list"] {
      flex-direction: row;
      max-width: 100vw;
      overflow: auto hidden;
      scroll-snap-type: x proximity;
      scroll-behavior: smooth;
    }

    post-list-item {
      a,
      button {
        padding-inline: var(--post-core-dimension-12);
        height: $nav-height;
        border-block: var(--post-core-dimension-4) solid transparent;
        display: flex;
        align-items: center;
        gap: var(--post-core-dimension-4);
        font-size: var(--post-core-font-size-16);
      }

      // styles specific to for the mega-dropdown buttons
      button {
        padding-inline-end: var(--post-core-dimension-12);
        transition: border-block-end-color animation.$transition-base-timing;

        &::after {
          content: '';
          @include icons.icon(2113);
          height: var(--post-core-dimension-24);
          width: var(--post-core-dimension-24);
          transition: transform animation.$transition-base-timing;
        }

        &.selected {
          border-block-end-color: currentColor;
          font-weight: var(--post-core-font-weight-700);

          &::after {
            transform: rotate(180deg);
          }
        }
      }
    }
  }

  // tablet/mobile styles
  @include media.max(lg) {
    post-list-item {
      a,
      button {
        display: block;
        width: 100%;
        padding-block: var(--post-core-dimension-12);
        padding-inline-end: var(--post-core-dimension-12);
        border-bottom: var(--post-core-dimension-1) solid currentColor;
        font-weight: var(--post-core-font-weight-700);
      }
    }
  }
}
