@use './../variables/components/badge';
@use './../mixins/utilities';

@mixin badge-hover-state {
  color: badge.$badge-hover-color;
  background-color: badge.$badge-hover-bg-color;
  border-color: transparent;

  @include utilities.high-contrast-mode() {
    background-color: Highlight;
    border-color: Highlight;
    color: HighlightText;
    forced-color-adjust: none; // Disable "readability backplate" on blink browser that interferes with the colors on this case
  }
}

@mixin badge-active-state {
  color: badge.$badge-active-color;
  background-color: badge.$badge-active-bg-color;
  border-color: transparent;

  > .badge {
    background-color: badge.$badge-nested-active-bg-color;
  }

  @include utilities.high-contrast-mode() {
    background-color: SelectedItem;
    color: SelectedItemText;
    forced-color-adjust: none; // Disable "readability backplate" on blink browser that interferes with the colors on this case
  }
}
