@use '../variables/breakpoints' as bp;

@function breakpoint-min($name, $breakpoints: bp.$grid-breakpoints) {
  @return map.get($breakpoints, $name);
}

@function breakpoint-infix($name, $breakpoints: bp.$grid-breakpoints) {
  @return if(breakpoint-min($name, $breakpoints) == 0, '', '-#{$name}');
}

@mixin media-breakpoint-up($name, $breakpoints: bp.$grid-breakpoints) {
  $min: breakpoint-min($name, $breakpoints);
  @if $min {
    @media (min-width: $min) {
      @content;
    }
  } @else {
    @content;
  }
}

@each $breakpoint in map.keys(bp.$grid-breakpoints) {
  @include media-breakpoint-up($breakpoint, bp.$grid-breakpoints) {
    $infix: breakpoint-infix($breakpoint, bp.$grid-breakpoints);

    .sticky#{$infix}-top {
      position: sticky;
      top: 0;
      z-index: 1020;
    }

    .sticky#{$infix}-bottom {
      position: sticky;
      bottom: 0;
      z-index: 1020;
    }
  }
}
