@use './../variables/components/badge';
@use './../variables/components/chip';
@use './../mixins/utilities';

@mixin chip-hover-state {
  color: chip.$chip-hover-color;
  background-color: chip.$chip-hover-bg;

  > .badge {
    background-color: badge.$badge-hover-bg-color;
    border-color: badge.$badge-hover-border-color;
  }

  @include utilities.high-contrast-mode() {
    background-color: Highlight;
    border-color: Highlight;
    color: HighlightText;
    forced-color-adjust: none; // Disable "readability backplate" on blink browser that interferes with the colors on this case
  }
}

@mixin chip-active-state {
  color: chip.$chip-active-color;
  background-color: chip.$chip-active-bg;
  border-color: transparent;

  > .badge {
    background-color: badge.$badge-active-bg-color;
    border-color: badge.$badge-active-border-color;
  }

  @include utilities.high-contrast-mode() {
    background-color: SelectedItem;
    color: SelectedItemText;
    forced-color-adjust: none; // Disable "readability backplate" on blink browser that interferes with the colors on this case
  }
}
