@use '../tokens/components';
@use '../functions/tokens';

tokens.$default-map: components.$post-chip;

@mixin chip-styles {
  position: relative;
  font-size: tokens.get('chip-label-font-size');
  font-weight: tokens.get('chip-label-font-weight');
  color: tokens.get('chip-enabled-fg');
  background-color: tokens.get('chip-enabled-bg');
  border: tokens.get('chip-border-width') solid tokens.get('chip-enabled-stroke');
  border-radius: tokens.get('chip-border-radius');
  height: tokens.get('chip-height');
  display: inline-flex;
  align-items: center;
  max-width: 100%;

  > .chip-text {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
}

@mixin chip-styles-disabled() {
  color: tokens.get('chip-disabled-fg');
  background-color: tokens.get('chip-disabled-bg');
  border-color: tokens.get('chip-disabled-stroke');
}
