@use './../tokens/components';
@use './../functions/tokens';
@use './utilities';

@mixin close-button() {
  padding: 0;
  border: unset;
  min-height: unset;
  min-width: unset;
  width: tokens.get('close-size', components.$post-close);
  height: tokens.get('close-size', components.$post-close);
  border-radius: tokens.get('close-border-radius', components.$post-close);
  background-color: tokens.get('close-enabled-bg', components.$post-close);
  color: tokens.get('close-enabled-fg', components.$post-close);
  display: flex;
  align-items: center;
  justify-content: center;
  @include utilities.focus-style;

  @include utilities.not-disabled-hover() {
    cursor: pointer;
    background-color: tokens.get('close-hover-bg', components.$post-close);
    color: tokens.get('close-hover-fg', components.$post-close);

    @include utilities.high-contrast-mode() {
      color: HighlightText !important;
    }
  }
}

@mixin close-button-icon() {
  min-width: tokens.get('close-icon-size', components.$post-close);
  width: tokens.get('close-icon-size', components.$post-close);
  height: tokens.get('close-icon-size', components.$post-close);
}
