@use './../variables/components/forms';
@use './../mixins/utilities';
@use './../functions/icons';
@use './../functions/tokens';
@use './../tokens/components';

// Placeholder in input fields
@mixin placeholder() {
  &::placeholder {
    @content;
  }

  // For very old Edge
  /* stylelint-disable */
  &::input-placeholder {
    @content;
  }
  /* stylelint-enable */
}

/* Deprecated use the one in utilities.scss */
@mixin focus-outline {
  outline: none;
  outline-offset: forms.$input-focus-outline-thickness;

  /* Compatibility with button-group */
  &:is(:focus-visible, :focus-within, .pretend-focus) {
    outline: forms.$input-focus-outline-thickness solid var(--post-contrast-color);
    @content;
  }
}

@mixin select-bg-image($state: null, $validation: null) {
  @if ($validation == 'valid') {
    $validation: forms.$valid-icon;
  } @else if ($validation == 'invalid') {
    $validation: forms.$invalid-icon;
  }

  @if ($state) {
    $state: url('#{icons.get-colored-svg-url('2052', tokens.get('select-color-#{$state}-fg',components.$post-select))}');
  }
  background-image: $state, $validation;
}
