@use './../functions/icons';
@use './../variables/color';
@use './../variables/components/form-check';

@mixin form-validation-state-selector($state) {
  @if ($state == 'valid' or $state == 'invalid') {
    #{if(&, "&", "")}.is-#{$state} {
      @content;
    }
  } @else {
    #{if(&, "&", "")}.is-#{$state} {
      @content;
    }
  }
}

@mixin form-check-color($color, $color-label: $color) {
  border-color: $color;

  ~ .form-check-label {
    color: var(--post-contrast-color);
  }
}

@mixin form-check-icons($color) {
  &[type='radio']:checked {
    background-image: url(icons.add-fill-color(
      form-check.$form-check-radio-checked-bg-icon,
      $color
    ));
  }

  &[type='checkbox']:checked {
    background-image: url(icons.get-colored-svg-url(
      form-check.$form-check-input-checked-bg-icon,
      $color
    ));
  }

  &[type='checkbox']:indeterminate {
    background-image: url(icons.get-colored-svg-url(
      form-check.$form-check-input-indeterminate-bg-icon,
      $color
    ));
  }
}
