@use 'sass:map';
@use './../variables/components/forms';
@use './../mixins/utilities';
@use './../functions/icons';
@use './../functions/forms' as forms-fx;
@use './../functions/utilities' as utilities-fx;

// Placeholder in input fields
@mixin placeholder() {
  &::placeholder {
    @content;
  }

  // For very old Edge
  /* stylelint-disable */
  &::input-placeholder {
    @content;
  }
  /* stylelint-enable */
}

/* Deprecated use the one in utilities.scss */
@mixin focus-outline {
  outline: none;
  outline-offset: forms.$input-focus-outline-thickness;

  /* Compatibility with button-group */
  &:is(:focus-visible, :focus-within, .pretend-focus) {
    outline: forms.$input-focus-outline-thickness solid #000;
    @content;
  }
}

// Used on form elements to set the correct colored validation icon
@mixin validation-icons() {
  &.is-valid:not(:disabled) {
    background-image: forms-fx.success-icon();

    @include utilities.high-contrast-mode-dark() {
      background-image: forms-fx.success-icon(#e0e0e0);
    }

    @include utilities.high-contrast-mode-light() {
      background-image: forms-fx.success-icon(#333);
    }
  }

  &.is-invalid:not(:disabled) {
    background-image: forms-fx.warning-icon();

    @include utilities.high-contrast-mode-dark() {
      background-image: forms-fx.warning-icon(#e0e0e0);
    }

    @include utilities.high-contrast-mode-light() {
      background-image: forms-fx.warning-icon(#333);
    }
  }
}

@mixin textarea-resizer-svg($color) {
  &::-webkit-resizer {
    $clean-color: utilities-fx.replace('#{$color}', '#', '%23');
    background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" width="25" height="24" viewBox="0 0 25 24" fill="none"%3E%3Cg clip-path="url(%23clip0_7846_3191)"%3E%3Cpath d="M6.5 18H9.5V21H6.5V18Z" fill="#{$clean-color}"/%3E%3Cpath d="M12.5 18H15.5V21H12.5V18Z" fill="#{$clean-color}"/%3E%3Cpath d="M12.5 12H15.5V15H12.5V12Z" fill="#{$clean-color}"/%3E%3Cpath d="M18.5 12H21.5V15H18.5V12Z" fill="#{$clean-color}"/%3E%3Cpath d="M18.5 6H21.5V9H18.5V6Z" fill="#{$clean-color}"/%3E%3Cpath d="M18.5 18H21.5V21H18.5V18Z" fill="#{$clean-color}"/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id="clip0_7846_3191"%3E%3Crect width="24" height="24" fill="white" transform="translate(0.5)"/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E');
    background-repeat: no-repeat;
    background-size: 100%;
  }
}
