@use './../functions/icons';
@use './../variables/color';
@use './../variables/components/form-check';

@mixin form-check-color($color, $color-label: $color) {
  border-color: $color;

  ~ .form-check-label {
    color: var(--post-core-color-brand-black);
  }
}

@mixin form-check-icons($color) {
  &[type='radio']:checked {
    background-image: url('#{icons.add-fill-color(form-check.$form-check-radio-checked-bg-icon, $color)}');
  }

  &[type='checkbox']:checked {
    background-image: url('#{icons.get-colored-svg-url(form-check.$form-check-input-checked-bg-icon, $color)}');
  }

  &[type='checkbox']:indeterminate {
    background-image: url('#{icons.get-colored-svg-url(form-check.$form-check-input-indeterminate-bg-icon, $color)}');
  }
}
