@use 'sass:map';
@use 'sass:color';

@use '../functions/tokens';
@use '../tokens/components';

@mixin icon-button($size: md) {
  $size-map: (
    'sm': 'small',
    'md': 'medium',
    'lg': 'large',
  );
  $actual-size: map.get($size-map, $size);
  padding: 0;
  width: tokens.get('icon-button-#{$actual-size}-outer', components.$post-icon-button);
  height: tokens.get('icon-button-#{$actual-size}-outer', components.$post-icon-button);
  min-height: 0;
  vertical-align: text-bottom;

  // Button links have no padding to be "flush" with a text content
  &.btn-link {
    width: tokens.get('icon-button-#{$actual-size}-icon', components.$post-icon-button);
    height: tokens.get('icon-button-#{$actual-size}-icon', components.$post-icon-button);
  }

  > post-icon {
    display: block;
    width: tokens.get('icon-button-#{$actual-size}-icon', components.$post-icon-button);
    height: tokens.get('icon-button-#{$actual-size}-icon', components.$post-icon-button);
  }
}
