@use 'sass:map';
@use 'sass:meta';
@use 'sass:list';

@use './../variables/type';
@use './../variables/color';
@use './../variables/components/button';
@use './../functions/icons' as icon-fn;
@use './../mixins/utilities';
@use './../utilities/env-variables' as icon-version;

@mixin mask-image($name) {
  /* stylelint-disable-next-line property-no-vendor-prefix */
  -webkit-mask-image: var(--post-icon-#{$name});
  mask-image: var(--post-icon-#{$name});
  background-color: currentColor;
  color: currentColor; // Required in this case with usage of forced-color-adjust: preserve-parent-color
  forced-color-adjust: preserve-parent-color;
  @include custom-property($name);
}

$loaded-custom-properties: () !default;

@mixin custom-property($name, $path: '../icons/temp') {
  @if list.index($loaded-custom-properties, $name) == null {
    $loaded-custom-properties: list.append($loaded-custom-properties, $name) !global;
    @at-root {
      @include meta.load-css('#{$path}/#{$name}');
    }
  }
}

@mixin post-icon($name, $color: inherit, $width: 1em, $height: 1em) {
  display: inline-block;
  width: $width;
  height: $height;
  vertical-align: -0.15em;
  background-color: currentColor;
  color: $color;
  /* stylelint-disable-next-line property-no-vendor-prefix */
  -webkit-mask-image: var(--post-icon-#{$name});
  mask-image: var(--post-icon-#{$name});
  /* stylelint-disable-next-line property-no-vendor-prefix */
  -webkit-mask-position: center center;
  mask-position: center center;
  /* stylelint-disable-next-line property-no-vendor-prefix */
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  /* stylelint-disable-next-line property-no-vendor-prefix */
  -webkit-mask-size: 100%;
  mask-size: 100%;
  @include custom-property($name);
}

@mixin remove-icon() {
  mask-image: none;
}
