@use 'sass:map';
@use 'sass:color';

@use '../functions/tokens';
@use '../tokens/components';

tokens.$default-map: components.$post-icon-button;

@mixin icon-button($size: md) {
  $size-map: (
    'sm': 'small',
    'md': 'medium',
    'lg': 'large'
  );
  $actual-size: map.get($size-map, $size);
  min-width: tokens.get('icon-button-#{$actual-size}-outer');
  width: tokens.get('icon-button-#{$actual-size}-outer');
  height: tokens.get('icon-button-#{$actual-size}-outer');

  > .pi,
  > post-icon {
    min-width: tokens.get('icon-button-#{$actual-size}-icon');
    height: tokens.get('icon-button-#{$actual-size}-icon');
  }
}
