@use 'sass:map';
@use 'sass:meta';
@use '../functions/breakpoint';

$offset: 0.01;

/**
  Creates a min-width breakpoint with the given value
  @param $device-size A pixel value or a key for the breakpoints map
*/
@mixin min($device-size) {
  @if (meta.type-of($device-size) == 'string') {
    $device-size: breakpoint.min-width($device-size);
  }

  @if $device-size != 0 {
    @media screen and (min-width: $device-size) {
      @content;
    }
  } @else {
    @content;
  }
}

/**
  Creates a max-width breakpoint with the given value
  @param $device-size A pixel value or a key for the breakpoints map
*/
@mixin max($device-size) {
  @if (meta.type-of($device-size) == 'string') {
    $device-size: breakpoint.min-width($device-size);
  }

  @media screen and (max-width: ($device-size - $offset)) {
    @content;
  }
}

/**
  Creates an in-between breakpoint with the given values
  @param $min-size A pixel value or a key for the breakpoints map
  @param $max-size A pixel value or a key for the breakpoints map
*/
@mixin between($min-size, $max-size) {
  @if (meta.type-of($min-size) == 'string') {
    $min-size: breakpoint.min-width($min-size);
  }
  @if (meta.type-of($max-size) == 'string') {
    $max-size: breakpoint.min-width($max-size);
  }

  @media screen and (min-width: $min-size) and (max-width: ($max-size - $offset)) {
    @content;
  }
}

/**
  Creates a breakpoint with only the given value
  @param $size A key for the breakpoint to target
*/
@mixin only($size) {
  @if (meta.type-of($size) == 'string') {
    $min-size: breakpoint.min-width($size);
    $next: breakpoint.next($size);
    $max-size: breakpoint.min-width($next);

    @if $max-size != null {
      @media screen and (min-width: $min-size) and (max-width: ($max-size - $offset)) {
        @content;
      }
    } @else if $max-size == null {
      @media screen and (min-width: $min-size) {
        @content;
      }
    }
  }
}
