@use 'sass:map';
@use 'sass:list';

@use './utilities' as utilities-mx;

@use './../variables/components/notification';
@use '../tokens/components';
@use '../functions/tokens';

tokens.$default-map: components.$post-banner;

@mixin notification-size($size) {
  $default-var: list.nth(notification.$notification-variants, 1);
  $icon-size: map.get(notification.$notification-icon-size-map, $size);
  $padding-x: map.get(notification.$notification-padding-x-map, $size);
  $padding-y: map.get(notification.$notification-padding-y-map, $size);
  $elevation: map.get(notification.$notification-elevation-map, $size);
  $gap: map.get(notification.$notification-gap-map, $size);
  min-height: calc(#{$icon-size} + (2 * #{$padding-y}));
  box-sizing: border-box;

  box-shadow: $elevation;
  border-radius: tokens.get('banner-border-radius');

  padding: $padding-y $padding-x;
  padding-inline-start: calc(#{$padding-x} + #{$icon-size} + #{$gap});
  font-weight: notification.$notification-font-weight;
  border-style: tokens.get('banner-border-style');
  border-width: tokens.get('banner-border-width');
  position: relative;
  color: var(--post-current-fg);

  // Set the info notification as the default color
  @include notification-variant(
    list.nth($default-var, 2),
    list.nth($default-var, 3),
    list.nth($default-var, 4),
    list.nth($default-var, 5),
    list.nth($default-var, 6)
  );

  &::before {
    content: '';
    display: block;
    position: absolute;
    height: $icon-size;
    width: $icon-size;
    left: $padding-x;
    top: $padding-y;
  }

  @include utilities-mx.high-contrast-mode {
    filter: none !important;
    border: 2px solid CanvasText;
  }
}

@mixin notification-body($size) {
  $hr-margin-block: map.get(notification.$notification-hr-margin-block-map, $size);

  /* stylelint-disable-next-line scss/selector-no-redundant-nesting-selector */
  & {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: notification.$notification-body-gap;
  }

  a {
    font-weight: notification.$notification-link-font-weight;
  }

  hr {
    margin-block: $hr-margin-block !important;
  }

  > * {
    margin: 0;
  }
}

@mixin notification-variant($color, $icon, $border-color, $icon-color, $scheme) {
  background-color: $color;
  border-color: $border-color;
  color-scheme: $scheme;

  &::before {
    background-image: #{$icon};
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
}
