/*!
 * Copyright 2021 by Swiss Post, Information Technology
 */
@use './../variables/color';

@mixin scroll-shadows-y($background-color: color.$white) {
  $shadow-top: linear-gradient(rgba(color.$black, 0.2), rgba(color.$black, 0.1) 25%, transparent)
    center top/100% 4px no-repeat scroll;
  $shadow-bottom: linear-gradient(transparent, rgba(color.$black, 0.1) 75%, rgba(color.$black, 0.2))
    center bottom/100% 4px no-repeat scroll;
  $shadow-cover-top: linear-gradient(#{$background-color}, #{$background-color}) center top/100% 4px
    no-repeat local;
  $shadow-cover-bottom: linear-gradient(#{$background-color}, #{$background-color}) center
    bottom/100% 4px no-repeat local;

  background: $shadow-cover-top, $shadow-top, $shadow-cover-bottom, $shadow-bottom;
}
