@use 'sass:map';
@use './../tokens/temp/figmaonly' as tokens;

@mixin use($typo-name) {
  font-family:
    map.get(tokens.$post-figmaonly, utility-typo-#{$typo-name}-fontFamily),
    'Frutiger Neue For Post',
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    'Helvetica Neue',
    Arial,
    sans-serif;
  font-weight: map.get(tokens.$post-figmaonly, utility-typo-#{$typo-name}-fontWeight);
  font-size: map.get(tokens.$post-figmaonly, utility-typo-#{$typo-name}-fontSize);
  line-height: map.get(tokens.$post-figmaonly, utility-typo-#{$typo-name}-lineHeight);
  letter-spacing: map.get(tokens.$post-figmaonly, utility-typo-#{$typo-name}-letterSpacing);
}
