@use 'sass:math';
@use 'sass:map';
@use 'sass:list';

@use './../mixins/media';
@use './../variables/breakpoints';
@use './../variables/type';
@use './../functions/sizing';
@use './../functions/utilities';
@use './../themes/bootstrap/core' as *;

@mixin font-curve($curve-size: 'regular', $curve-map: type.$font-curves) {
  $curve: map.get($curve-map, $curve-size);

  @if ($curve) {
    $font-cache: 0;

    @each $key, $value in $curve {
      @if ($key == 'xs') {
        font-size: $value;
      } @else {
        @if ($font-cache != $value) {
          @include media.breakpoint-up($key) {
            font-size: $value;
          }
        }
      }

      $font-cache: $value;
    }
  } @else {
    @error 'Font curve #{$curve-size} is not defined.';
  }
}

@mixin font-smoothing() {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@mixin font-smoothing-reset() {
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: auto;
}
