@use '@swisspost/design-system-styles/functions/forms' as forms-fx;

:host {
  position: relative;
  display: block;
}

::slotted(post-listbox) {
  position: absolute;
  width: 100%;
  z-index: 100;
  inset-block-start: 56px;
}

.autocomplete-icon {
  position: absolute;
  inset-block-start: 16px;
  inset-inline-end: 16px;
  width: 24px;
  height: 24px;
  pointer-events: none;
}

:host([open]) .autocomplete-icon {
  transform: rotate(180deg);
}

.autocomplete-clear {
  position: absolute;
  inset-block-start: 16px;
  inset-inline-end: 48px;
  width: 24px;
  height: 24px;
  background: none;
  border: none;
  cursor: pointer;
}
