@use './close';
@use '../commons';
@use '../color';
@use '../spacing';
@use '../type';

// Alerts and Toasts
//
// Define alert colors, border radius, and padding.

$alert-padding-y: spacing.$size-small-large !default; // CWF
$alert-padding-x: spacing.$size-large !default; // CWF
$alert-toast-padding-y: spacing.$size-small-regular !default; // CWF only
$alert-toast-padding-x: spacing.$size-regular !default; // CWF only

$alert-margin-bottom: 1rem !default; // CWF
$alert-margin: $alert-margin-bottom; // CWF only
$alert-border-radius: commons.$border-radius !default;
$alert-link-font-weight: type.$font-weight-bold !default;
$alert-border-width: commons.$border-width !default;

$alert-bg-level: -10 !default;
$alert-border-level: -9 !default;
$alert-color-level: 6 !default;

$alert-list: (
  'primary' color.$primary 3134,
  'notification' color.$primary 3134,
  'success' color.$success 2105,
  'danger' color.$danger 2104,
  'error' color.$danger 2104,
  'warning' color.$warning 2104,
  'info' color.$info 2106
); // CWF only

$alert-line-height: type.$line-height-base; // CWF only
$alert-text-space-between: spacing.$size-micro;

$alert-icon-size: spacing.$size-small-huge; // CWF only
$alert-close-icon-size: close.$btn-close-width + spacing.$size-micro; // CWF only

$alert-toast-icon-size: spacing.$size-big; // CWF only

$alert-font-size: type.$font-size-bigger-regular; // CWF only
$alert-font-size-small: type.$font-size-small; // CWF only

$alert-toast-width: 25rem; // CWF only
$alert-toast-width-small-breakpoint: 21rem; // CWF only

$alert-toast-box-shadow-hover: 0 0 1rem 0 color.$black-alpha-40; // CWF only
$alert-close-hover-opacity: 0.4; // CWF only
