@use 'sass:map';

@use '../color';
@use '../type';
@use '../commons';
@use '../spacing';
@use '../animation';

@use '../../functions/sizing';

// Buttons + Forms
//
// Shared variables that are reassigned to `$input-` and `$btn-` specific variables.
$input-btn-border-width: commons.$border-thick !default;
$input-btn-border-width-rem: sizing.px-to-rem($input-btn-border-width);

$input-btn-padding-y: spacing.$size-regular - $input-btn-border-width-rem !default;
$input-btn-padding-x: spacing.$size-small-large - $input-btn-border-width-rem !default;
$input-btn-line-height: type.$line-height-base !default;

$input-btn-padding-y-sm: spacing.$size-mini - $input-btn-border-width-rem !default;
$input-btn-padding-x-sm: spacing.$size-regular - $input-btn-border-width-rem !default;
$input-btn-line-height-sm: type.$line-height-small !default;

$input-btn-padding-y-rg: spacing.$size-small-regular - $input-btn-border-width-rem !default;
$input-btn-padding-x-rg: spacing.$size-regular - $input-btn-border-width-rem !default;
$input-btn-line-height-rg: type.$line-height-regular !default;

$input-btn-padding-y-lg: spacing.$size-small-large - $input-btn-border-width-rem !default;
$input-btn-padding-x-lg: spacing.$size-large - $input-btn-border-width-rem !default;
$input-btn-line-height-lg: type.$line-height-large !default;

$input-btn-focus-width: 0.125rem !default; // 2px
$input-btn-focus-color: rgba(color.$gray-80, 0.25) !default;
$input-btn-focus-box-shadow: 0 0 0 $input-btn-focus-width $input-btn-focus-color !default;

// Buttons
$btn-animation-distance-factor: 0.5 !default;

// sm
$btn-padding-y-sm: spacing.$size-mini !default;
$btn-padding-x-sm: spacing.$size-regular !default;
$btn-animation-distance-sm: spacing.$size-mini !default;
// CWF only
$btn-height-sm: 2rem;
$btn-icon-size-sm: spacing.$size-regular !default;

// rg
$btn-padding-y-rg: spacing.$size-small-regular !default;
$btn-padding-x-rg: spacing.$size-large !default;
$btn-animation-distance-rg: 0.625rem !default;
// CWF only
$btn-height-rg: 2.5rem;
$btn-icon-size-rg: 1.125rem !default;

// md
$btn-padding-y-md: spacing.$size-regular !default;
$btn-padding-x-md: spacing.$size-big !default;
$btn-animation-distance-md: spacing.$size-small-regular !default;
// CWF only
$btn-height-md: 3rem;
$btn-icon-size-md: spacing.$size-small-large !default;

// lg
$btn-padding-y-lg: spacing.$size-small-large !default;
$btn-padding-x-lg: spacing.$size-bigger-big !default;
$btn-animation-distance-lg: spacing.$size-regular !default;
// CWF only
$btn-height-lg: 3.5rem;
$btn-icon-size-lg: spacing.$size-large !default;

// Available button sizes except the default, which is md
$btn-non-default-sizes: sm, rg, lg !default;

$btn-animation-distance-map: (
  'sm': $btn-animation-distance-sm,
  'rg': $btn-animation-distance-rg,
  'md': $btn-animation-distance-md,
  'lg': $btn-animation-distance-lg,
);
$btn-padding-y-map: (
  'sm': $btn-padding-y-sm,
  'rg': $btn-padding-y-rg,
  'md': $btn-padding-y-md,
  'lg': $btn-padding-y-lg,
);
$btn-padding-x-map: (
  'sm': $btn-padding-x-sm,
  'rg': $btn-padding-x-rg,
  'md': $btn-padding-x-md,
  'lg': $btn-padding-x-lg,
);
$btn-height-map: (
  'sm': $btn-height-sm,
  'rg': $btn-height-rg,
  'md': $btn-height-md,
  'lg': $btn-height-lg,
);
$btn-icon-size-map: (
  'sm': $btn-icon-size-sm,
  'rg': $btn-icon-size-rg,
  'md': $btn-icon-size-md,
  'lg': $btn-icon-size-lg,
);

$btn-border-width: $input-btn-border-width !default;

$btn-font-weight: type.$font-weight-normal !default;
$btn-box-shadow: none !default;
$btn-focus-width: $input-btn-focus-width !default;
$btn-focus-box-shadow: $input-btn-focus-box-shadow !default;
$btn-disabled-opacity: 0.4 !default;
$btn-disabled-background: rgba(color.$black, 0.4) !default;
$btn-active-box-shadow: none !default;

$btn-link-disabled-color: color.$gray-20 !default;

$btn-block-spacing-y: 0.5rem !default;

// Allows for customizing button radius independently from global border radius
$btn-border-radius: commons.$border-radius !default;

$btn-transition-fade-arrow: opacity animation.$transition-time-default
  animation.$transition-easing-default !default;
$btn-transition-base-label: transform animation.$transition-time-default
  animation.$transition-easing-default !default;
$btn-transition: all animation.$transition-time-default animation.$transition-easing-default !default;
