@use 'sass:list';

$grid-keys-lower: (xs, sm, rg, md);
$grid-keys-upper: (lg, xl);

$topic-teaser-image-ratios: (
  xs: list.slash(1, 0.75),
  sm: list.slash(1, 0.75),
  rg: list.slash(1, 0.75),
  md: list.slash(1, 0.75),
  lg: auto,
  xl: auto,
  xxl: auto,
);
