@use 'sass:list';

$grid-breakpoints-lower: (xs, sm, rg, md);
$grid-breakpoints-upper: (lg, xl, xxl);

$image-aspectratio: (
  xs: list.slash(1, 0.75),
  sm: list.slash(1, 0.75),
  rg: list.slash(1, 0.75),
  md: list.slash(1, 0.75),
  lg: auto,
  xl: auto,
  xxl: auto,
);
