@use '@swisspost/design-system-styles/core' as post;
@use '@swisspost/design-system-styles/mixins/utilities' as utilities-mx;
@use '@swisspost/design-system-styles/components/close';
@use '@swisspost/design-system-styles/functions/tokens';
@use '@swisspost/design-system-styles/tokens/elements';

* {
  box-sizing: border-box;
}

:host {
  display: block;
}

.visually-hidden {
  @include post.visuallyhidden();
}

.popover-container {
  display: flex;
  align-items: self-start;
  padding: 0.5em;

  min-width: 160px;
  max-width: min(var(--post-popover-max-width, 280px), 100vw);
}

.popover-content {
  padding: 0.5em;
  flex-grow: 1;
}

.btn-close {
  color: tokens.get('body-color', elements.$post-body);

  &:hover {
    @include utilities-mx.high-contrast-mode() {
      color: HighlightText !important;
    }
  }
}
