@use 'sass:map';
@use '@swisspost/design-system-styles/core' as post;
@use '@swisspost/design-system-styles/functions/tokens';
@use '@swisspost/design-system-styles/tokens/components';
@use '@swisspost/design-system-styles/components/close';

tokens.$default-map: components.$post-popover;

.popover-container {
  position: relative;
  min-width: 160px;
  max-width: 280px;
  padding-block: tokens.get('popover', 'surface-padding-block');
  padding-inline-start: tokens.get('popover', 'surface-padding-inline-start');
  padding-inline-end: tokens.get('popover', 'surface-padding-inline-end');

  // Max available width on mobile, popovercontainer will handle offsets
  @include post.media-breakpoint-down(rg) {
    max-width: 100%;
  }
}

.popover-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: tokens.get('popover', 'surface-gap-inline');
}

.btn-close {
  position: absolute;
  top: var(--post-device-spacing-gap-1);
  right: var(--post-device-spacing-gap-1);
  color: tokens.get('popover', 'close-button-enabled-fg');

  &:not(:disabled):hover {
    color: tokens.get('popover', 'close-button-hover-fg');
    background-color: tokens.get('popover', 'close-button-hover-bg');
  }
  &:focus,
  &:focus-visible {
    outline-color: tokens.get('popover', 'close-button-focus-stroke');
  }
}
