@use './../../mixins/color' as color-mx;
@use './../../mixins/utilities' as utilities-mx;
@use './../../variables/color';
@use './../../variables/spacing';
@use './../../variables/components/nav';

@use './../../functions/tokens';
@use './../../tokens/utilities';

tokens.$default-map: utilities.$post-spacing;

post-tab-item.tab-title,
post-tab-item.nav-item a {
  position: relative;
  box-sizing: border-box;
  background-color: transparent;
  cursor: pointer;
  color: #050400; //post-tabs-color-fg

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px; //post-tabs-item-elements-gap

  // common tokens
  padding-inline: 24px; //post-tabs-item-padding-inline

  post-icon {
    width: 24px; //post-tabs-item-icon-size
    height: 24px; //post-tabs-item-icon-size

    @include utilities-mx.high-contrast-mode() {
      forced-color-adjust: auto;
      color: inherit;
    }
  }

  @include utilities-mx.focus-style;
}

// Panels Mode
post-tab-item.tab-title {
  height: 64px; //post-tabs-content-item-height
  padding-block: 20px; //post-tabs-panel-item-padding-block
  transition:
    background-color 100ms,
    border-color 100ms,
    color 100ms;
  border-bottom: 2px solid transparent; //  post-tabs-content-item-hovered-border-block-end-width
  color: #050400; // post-tabs-content-item-color-fg

  &[disabled] {
    color: #696864; //post-tabs-content-item-disabled-color-fg
    pointer-events: none;
  }

  &:hover:not([disabled]) {
    border-color: #504f4b; // post-tabs-content-item-hovered-border-color
    color: #504f4b; // post-tabs-content-item-hovered-color-fg
  }

  &[aria-selected='true'] {
    border-color: #050400; // post-tabs-content-item-selected-border-color

    &:hover {
      border-color: #504f4b; // post-tabs-content-item-selected-hovered-border-color
      color: #504f4b; // post-tabs-content-item-selected-hovered-color-fg
    }
  }

  @include utilities-mx.high-contrast-mode() {
    border-color: Canvas;
    color: ButtonText;

    &[disabled] {
      color: GrayText;
    }

    &:hover:not([disabled]),
    &[aria-selected='true'] {
      border-color: Highlight;
      color: HighlightText;
    }
  }
}

// Navigation Mode
post-tab-item.nav-item {
  cursor: default;

  a {
    text-decoration: none;
    display: flex;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    position: relative;
    outline: none;
    cursor: pointer;

    transition:
      background-color 100ms,
      border-color 100ms,
      color 100ms,
      padding-block 200ms;

    border-block-start: 2px solid transparent; // post-tabs-item-enabled-border-color + post-tabs-page-item-border-width
    border-inline-start: 2px solid transparent; // post-tabs-item-enabled-border-color + post-tabs-page-item-border-width
    border-inline-end: 2px solid transparent; // post-tabs-item-enabled-border-color + post-tabs-page-item-border-width
    background-color: #050400; // post-tabs-page-item-enabled-color-bg
    border-radius: 12px 12px 0 0; // post-tabs-page-item-border-start-start-radius + post-tabs-page-item-border-start-end-radius
    border-color: #050400; //post-tabs-page-item-enabled-border-color
    color: white; //post-tabs-page-item-enabled-color-fg
    padding-block: 15px; //post-tabs-page-item-enabled-padding-block

    &:hover {
      background-color: #504f4b; // post-tabs-page-item-hovered-color-bg
      border-color: #504f4b; //post-tabs-page-item-hovered-border-color
      padding-block: 19px; // post-tabs-page-item-hovered-padding-block
    }

    &[aria-current='page'] {
      background-color: #fafafa; // post-tabs-page-item-selected-color-bg
      color: #050400; //post-tabs-page-item-selected-color-fg
      border-color: #050400; // post-tabs-page-item-selected-border-color
      padding-block: 19px; // post-tabs-page-item-hovered-padding-block

      &:hover {
        color: #504f4b; // post-tabs-page-item-selected-hovered-color-fg
        border-color: #504f4b; // post-tabs-page-item-selected-hovered-border-color
      }
    }

    @include utilities-mx.high-contrast-mode() {
      color: LinkText;
      border-color: LinkText;
      forced-color-adjust: none;
      transition: padding-block 200ms;

      &:hover {
        background-color: Highlight;
        border-color: HighlightText;
        color: HighlightText;
      }

      &[aria-current='page'] {
        background-color: Highlight;
        border-color: Highlight;
        color: HighlightText;

        &:hover {
          border-color: HighlightText;
          color: HighlightText;
        }
      }
    }
  }

  &[disabled] a:not([aria-current='page']) {
    background-color: #fafafa; // post-tabs-page-item-disabled-color-bg
    border-color: #696864; // post-tabs-page-item-disabled-border-color
    color: #696864; // post-tabs-item-page-disabled-color-fg
    border-style: dashed;
    pointer-events: none;

    @include utilities-mx.high-contrast-mode() {
      color: GrayText;
      border-color: GrayText;
    }
  }
}

// Active state
post-tab-item.tab-title[aria-selected='true'],
post-tab-item.nav-item a[aria-current='page'] {
  z-index: 1;
  font-weight: 700;
}

// SSR specific styles

// Show by default the first panel for SSR if no explicit prop is set
post-tabs[active-tab] {
  // Style active post-tab-item for SSR if there is a [active-tab] set
  post-tab-item.tab-title.ssr {
    z-index: calc(var(--active, 0) * 1);
    border-right-color: color-mix(
      in srgb,
      #{nav.$nav-tabs-border-color} calc(var(--active, 0) * 100%),
      transparent
    );
    border-left-color: color-mix(
      in srgb,
      #{nav.$nav-tabs-border-color} calc(var(--active, 0) * 100%),
      transparent
    );
    opacity: calc(0.7 + var(--active, 0) * 0.3);
    background-color: color-mix(
      in srgb,
      #{color.$white} calc(var(--active, 0) * 100%),
      transparent
    );
    color: #{color.$black};
    font-weight: calc(400 + var(--active, 0) * 300);
    cursor: default;

    @include utilities-mx.high-contrast-mode() {
      color: LinkText;
      border-left-color: ButtonText;
      border-right-color: ButtonText;
    }
  }
}

// Style the first item for SSR when no [active-tab] is set
post-tabs:not([active-tab]) {
  &:has(post-tab-item.tab-title.ssr) post-tab-panel:first-of-type {
    display: block !important;
  }

  post-tab-item.tab-title.ssr[data-navigation-mode='false'] {
    cursor: default;

    &:first-of-type {
      z-index: 1;
      border-right-color: nav.$nav-tabs-border-color;
      border-left-color: nav.$nav-tabs-border-color;
      background-color: color.$white;
      color: color.$black;
      font-weight: 700;

      @include utilities-mx.high-contrast-mode() {
        color: HighlightText;
        background-color: Highlight;
      }
    }

    &:not(:first-of-type) {
      &:hover {
        color: color.$black;
        background-color: transparent;
      }
    }
  }
}
