@use './../../mixins/utilities' as utilities-mx;
@use './../../variables/color';
@use './../../variables/components/nav';
@use './../../functions/tokens';
@use './../../tokens/utilities';
@use './../../tokens/helpers';

tokens.$default-map: utilities.$post-spacing;

// Common for all variants
post-tab-item.tab-title,
post-tab-item.nav-item a {
  position: relative;
  box-sizing: border-box;
  background-color: transparent;
  cursor: pointer;
  color: #050400; // post-tabs-color-fg
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700; // missing token

  post-icon {
    @include utilities-mx.high-contrast-mode() {
      forced-color-adjust: auto;
      color: inherit;
    }
  }

  @include utilities-mx.focus-style() {
    outline-offset: -4px !important; // post-tabs-tab-focus-outline-offset
  }
}

// Content Tabs Variant
post-tab-item.tab-title {
  padding-block: 20px; // post-tabs-panel-item-padding-block
  transition:
    background-color 100ms,
    border-color 100ms,
    color 100ms;
  border-block-end: 2px solid transparent; // post-tabs-border-width
  color: #050400; // post-tabs-content-tab-color-enabled-fg

  // selected
  &[aria-selected='true'] {
    border-color: #050400; // post-tabs-content-tab-selected-color-enabled-border
    color: #050400; // post-tabs-content-tab-selected-color-enabled-fg;
  }

  // hovered
  &:hover:not([disabled]) {
    border-color: #504f4b; // post-tabs-content-tab-color-hovered-border
    color: #504f4b; // post-tabs-content-tab-color-hovered-fg
  }

  // disabled
  &[disabled] {
    color: #696864; // post-tabs-content-tab-color-disabled-fg
    pointer-events: none;
  }

  // HCM
  @include utilities-mx.high-contrast-mode() {
    transition: none;
    border-color: Canvas;
    color: ButtonText;

    &[disabled] {
      color: GrayText;
    }

    &:hover:not([disabled]),
    &[aria-selected='true'] {
      border-color: Highlight;
      color: HighlightText;
    }
  }
}

// Page Tabs Variant
post-tab-item.nav-item {
  a {
    // enabled
    cursor: default;
    text-decoration: none;
    width: 100%;
    height: 100%;
    transition:
      background-color 100ms,
      border-color 100ms,
      color 100ms,
      padding-block 200ms,
      height 200ms;

    border-block-start: 2px solid transparent; // post-tabs-border-width + post-tabs-item-enabled-border-color
    border-inline-start: 2px solid transparent; // post-tabs-border-width + post-tabs-item-enabled-border-color
    border-inline-end: 2px solid transparent; // post-tabs-border-width + post-tabs-item-enabled-border-color
    background-color: #050400; // post-tabs-page-default-tab-color-enabled-bg
    border-color: #050400; // post-tabs-page-default-tab-color-enabled-border
    color: white; // post-tabs-page-default-tab-color-enabled-fg

    // Dark background needs the inverted focus ring color
    @include utilities-mx.focus-style-custom {
      outline-color: tokens.get('focus-outline-color-inverted', helpers.$post-focus) !important;
      outline-offset: -4px !important;
    }

    // hovered
    &:hover {
      background-color: #504f4b; // post-tabs-page-default-tab-color-hovered-bg
      border-color: #504f4b; // post-tabs-page-default-tab-color-hovered-border
      color: #ffffff; //post-tabs-page-default-tab-color-hovered-fg
    }

    // selected
    &[aria-current='page'] {
      background-color: #fafafa; // post-tabs-page-default-tab-selected-color-enabled-bg
      color: #050400; // post-tabs-page-default-tab-selected-color-enabled-fg
      border-color: #050400; // post-tabs-page-default-tab-selected-color-enabled-border

      // Light background reverts to the default focus ring color
      @include utilities-mx.focus-style-custom {
        outline-color: tokens.get('focus-outline-color', helpers.$post-focus) !important;
        outline-offset: -4px !important;
      }

      // selected — hovered
      &:hover {
        color: #504f4b; // post-tabs-page-default-tab-selected-color-hovered-fg
        background-color: #fafafa; // post-tabs-page-default-tab-selected-color-hovered-bg
        border-color: #504f4b; // ppost-tabs-page-default-tab-selected-color-hovered-border
      }
    }

    // HCM
    @include utilities-mx.high-contrast-mode() {
      color: LinkText;
      border-color: LinkText;
      forced-color-adjust: none;
      transition:
        padding-block 200ms,
        height 200ms; // no color transition in HCM

      &:hover {
        background-color: Highlight;
        border-color: HighlightText;
        color: HighlightText;
      }

      &[aria-current='page'] {
        background-color: Highlight;
        border-color: Highlight;
        color: HighlightText;

        &:hover {
          border-color: HighlightText;
          color: HighlightText;
        }
      }
    }
  }

  // disabled
  &[disabled] a:not([aria-current='page']) {
    background-color: #fafafa; // post-tabs-page-default-tab-color-disabled-bg
    border-color: #696864; // post-tabs-page-default-tab-color-disabled-border
    color: #696864; // post-tabs-page-default-tab-color-disabled-fg
    border-style: dashed; // post-tabs-tab-disabled-border-style
    pointer-events: none;
    border-block-end: none;

    @include utilities-mx.high-contrast-mode() {
      color: GrayText;
      border-color: GrayText;
    }
  }
}

// Active state — all variants
post-tab-item.tab-title[aria-selected='true'],
post-tab-item.nav-item a[aria-current='page'] {
  z-index: 1;
}

// Large variant (default)
post-tabs[size='large'] post-tab-item,
post-tabs post-tab-item {
  // content tabs
  &.tab-title {
    padding-inline: 24px; // post-tabs-large-tab-padding-inline
    gap: 12px; // post-tabs-large-tab-gap-inline
    height: 64px; // post-tabs-content-large-tab-height
    padding-block: 17px; // post-tabs-content-large-tab-padding-block
  }

  // large page
  &.nav-item {
    a {
      // enabled
      padding-inline: 24px; // post-tabs-large-tab-padding-inline
      gap: 12px; // post-tabs-large-tab-gap-inline
      border-radius: 12px 12px 0 0; // post-tabs-page-large-tab-border-radius
      padding-block: 15px; // post-tabs-page-large-tab-enabled-padding-block
      height: 62px; //post-tabs-page-large-tab-enabled-height;

      post-icon {
        width: 24px; // post-tabs-large-icon-size
        height: 24px; // post-tabs-large-icon-size
        padding-block: 3px; // post-tabs-large-tab-icon-padding-block ?? added
      }

      // selected
      &[aria-current='page'] {
        padding-block: 19px; // post-tabs-page-large-tab-selected-enabled-padding-block
        height: 70px; // post-tabs-page-large-tab-selected-enabled-height
      }

      // hovered
      &:hover {
        height: 70px; // post-tabs-page-large-tab-hovered-height
        padding-block: 19px; // post-tabs-page-large-tab-hovered-padding-block
      }

      // focused
      &:focus,
      &:focus-visible,
      &:focus-within {
        height: 70px; // post-tabs-page-large-tab-focused-height
        padding-block: 19px; // post-tabs-page-large-tab-focused-padding-block
      }
    }

    // disabled
    &[disabled] a:not([aria-current='page']) {
      padding-block: 15px; // post-tabs-page-large-tab-disabled-padding-block
      height: 62px; // post-tabs-page-large-tab-disabled-height
    }
  }
}

// Small variant
post-tabs[size='small'] post-tab-item {
  // content tabs
  &.tab-title {
    padding-inline: 16px; // post-tabs-small-tab-padding-inline
    gap: 8px; // post-tabs-small-tab-gap-inline
    height: 48px; // post-tabs-content-small-tab-height
    padding-block: 12px; // post-tabs-content-small-tab-padding-block
  }

  // page variant
  &.nav-item {
    a {
      // enabled
      padding-inline: 16px; // post-tabs-small-tab-padding-inline
      gap: 8px; // post-tabs-small-tab-gap-inline
      height: 46px; // post-tabs-page-small-tab-enabled-height
      border-radius: 8px; // post-tabs-page-small-tab-border-radius ?? added
      padding-block: 10px; // post-tabs-page-small-tab-enabled-padding-block

      // selected
      &[aria-current='page'] {
        padding-block: 14px; // post-tabs-page-small-tab-selected-enabled-padding-block
        height: 54px; // post-tabs-page-small-tab-selected-enabled-height
      }

      // hovered
      &:hover {
        padding-block: 14px; // post-tabs-page-small-tab-hovered-padding-block
        height: 54px; // post-tabs-page-small-tab-hovered-height
      }

      // focused
      &:focus,
      &:focus-visible,
      &:focus-within {
        padding-block: 14px; // post-tabs-page-small-tab-focused-padding-block
        height: 54px; // post-tabs-page-small-tab-focused-height
      }
    }

    // disabled
    &[disabled] a:not([aria-current='page']) {
      padding-block: 10px; // post-tabs-page-small-tab-disabled-padding-block
      height: 46px; // post-tabs-page-small-tab-disabled-height
    }
  }

  post-icon {
    width: 16px; // post-tabs-small-icon-size
    height: 16px; // post-tabs-small-icon-size
    padding-block: 4px; // post-tabs-small-tab-icon-padding-block ?? added ??
  }
}

// SSR

// Show by default the first panel for SSR if no explicit prop is set
post-tabs[active-tab] {
  // Content Tabs: Style active post-tab-item for SSR if there is a [active-tab] set
  post-tab-item.tab-title.ssr {
    border-color: color-mix(
      in srgb,
      #050400 calc(var(--active, 0) * 100%),
      transparent
    ); // post-tabs-content-item-selected-border-color
    font-weight: calc(400 + var(--active, 0) * 300);
    z-index: calc(var(--active, 0) * 1);

    @include utilities-mx.high-contrast-mode() {
      forced-color-adjust: none;
      transition: none;
      border-color: color-mix(in srgb, Highlight calc(var(--active, 0) * 100%), Canvas);
      color: color-mix(in srgb, HighlightText calc(var(--active, 0) * 100%), ButtonText);
    }
  }

  // Page Tabs: Style active post-tab-item for SSR if there is a [active-tab] set
  post-tab-item.nav-item.ssr a {
    background-color: color-mix(
      in srgb,
      #fafafa calc(var(--active, 0) * 100%),
      #050400
    ); // post-tabs-page-item-selected-color-bg / post-tabs-page-item-enabled-color-bg
    color: color-mix(
      in srgb,
      #050400 calc(var(--active, 0) * 100%),
      white
    ); // post-tabs-page-item-selected-color-fg / post-tabs-page-item-enabled-color-fg
    padding-block: calc(
      15px + var(--active, 0) * 4px
    ); // post-tabs-page-item-selected-padding-block / post-tabs-page-item-enabled-padding-block
    font-weight: calc(400 + var(--active, 0) * 300);
    z-index: calc(var(--active, 0) * 1);

    @include utilities-mx.high-contrast-mode() {
      &[style*='--active: 1'] {
        background-color: Highlight;
        border-color: Highlight;
        color: HighlightText;
      }
    }
  }
}

// Style the first item for SSR when no [active-tab] is set
post-tabs:not([active-tab]) {
  &:has(post-tab-item.tab-title.ssr, post-tab-item.nav-item.ssr) post-tab-panel:first-of-type {
    display: block !important;
  }

  // Content Tabs: first item is active
  post-tab-item.tab-title.ssr:first-of-type {
    border-color: #050400; // post-tabs-content-item-selected-border-color
    font-weight: 700;
    z-index: 1;

    @include utilities-mx.high-contrast-mode() {
      border-color: Highlight;
      color: HighlightText;
    }
  }

  // Page Tabs: first item is active
  post-tab-item.nav-item.ssr:first-of-type a {
    background-color: #fafafa; // post-tabs-page-item-selected-color-bg
    color: #050400; // post-tabs-page-item-selected-color-fg
    padding-block: 19px; // post-tabs-page-item-selected-padding-block
    font-weight: 700;
    z-index: 1;

    @include utilities-mx.high-contrast-mode() {
      background-color: Highlight;
      border-color: Highlight;
      color: HighlightText;
    }
  }
}
