@use '@swisspost/design-system-styles/mixins/media';
@use '@swisspost/design-system-styles/mixins/list';

@use './mixins' as *;

post-megadropdown {
  .row {
    --post-grid-gutter-x: 1.5rem;
    --post-grid-gutter-y: 1.5rem;

    @include media.max(desktop) {
      --post-grid-gutter-x: 1rem;
    }

    @include media.only(mobile) {
      --post-grid-gutter-y: 1rem;
    }
  }

  .post-megadropdown-list {
    @include list.list-inline;
    gap: 0 0.25rem;
    margin: 0;
    flex-direction: column;

    > li {
      flex: 1 0 auto !important;
    }
  }

  .post-megadropdown-overview {
    @include nav-item-base;
    @include nav-item-block-layout;

    @include media.only(desktop) {
      font-size: 1.25rem;
    }
  }

  .post-megadropdown-list-title {
    @include nav-item-base;
    @include nav-item-block-layout;
    margin: 0;
    font-weight: 950;
    --post-nav-item-border-width: 2px;

    @include media.only(desktop) {
      font-size: 1.25rem;
    }

    &:not(#{$interactive-elements-selector}) {
      pointer-events: none;
    }
  }

  .post-megadropdown-list > li > :where(#{$interactive-elements-selector}) {
    @include nav-item-base;
    @include nav-item-block-layout;

    @include media.only(desktop) {
      font-size: 1.25rem;
    }
  }

  .post-megadropdown-overview {
    margin-block: 0 1rem;

    &:first-child {
      margin-block-start: -0.5rem;
    }
  }
}
