@use './button';
@use './../animation';
@use './../color';
@use './../commons';
@use './../spacing';
@use './../type';

$accordion-padding: spacing.$spacer !default;
$accordion-border-width: commons.$border-thick !default;
$accordion-border-color: color.$gray-10 !default;

$accordion-header-font-curve: 'regular' !default;
$accordion-header-font-weight: type.$font-weight-bold !default;
$accordion-header-line-height: type.$line-height-copy !default;

$accordion-button-cursor: pointer !default;
$accordion-button-padding: $accordion-padding !default;
$accordion-button-disabled-opacity: button.$btn-disabled-opacity !default;
$accordion-button-focus-box-shadow: button.$btn-focus-box-shadow !default;

$accordion-icon-name: 2112 !default;
$accordion-icon-size: spacing.$size-large !default;
$accordion-icon-transition: transform animation.$transition-base-timing !default;
$accordion-icon-transform: rotate(-180deg) !default;

$accordion-body-padding: spacing.$size-small-regular $accordion-padding spacing.$size-bigger-big !default;

$accordion-heading-margin: spacing.$size-bigger-big 0 0 !default;
$accordion-heading-font-curve: $accordion-header-font-curve !default;
$accordion-heading-font-weight: $accordion-header-font-weight !default;
