@use './../color';
@use './../commons';
@use './../spacing';
@use './../type';

$alert-padding-x: spacing.$size-small-large !default;
$alert-padding-y: spacing.$size-regular !default;
$alert-margin-bottom: spacing.$spacer !default;
$alert-box-shadow: 0 2px 4px 0 rgba(color.$black, 0.2) !default;
$alert-border-radius: commons.$border-radius !default;
$alert-gap-x: spacing.$size-small-large !default;
$alert-gap-y: spacing.$size-micro !default;
$alert-font-size: type.$font-size-base !default;
$alert-font-weight: type.$font-weight-light !default;

$alert-heading-font-size: type.$font-size-bigger-regular !default;
$alert-heading-font-weight: type.$headings-font-weight !default;

$alert-link-font-weight: type.$font-weight-normal !default;

$alert-hr-margin-top: spacing.$size-mini !default;
$alert-hr-margin-bottom: spacing.$size-small-regular !default;

$alert-icon-size: spacing.$size-small-huge !default;

$alert-action-button-margin-start: spacing.$size-mini !default;

$alert-variants: (
  'primary' color.$gray-80 3134,
  'notification' color.$gray-80 3134,
  'success' color.$success 2105,
  'danger' color.$error 2104,
  'error' color.$error 2104,
  'warning' color.$warning 2104,
  'info' color.$info 2106,
  'cookies' color.$gray-background 2201
);
