@use './close';
@use './../commons';
@use './../color';
@use './../spacing';
@use './../type';

// Alerts and Toasts
//
// Define alert colors, border radius, and padding.

$alert-padding-y: spacing.$size-small-large !default; // Design System
$alert-padding-x: spacing.$size-large !default; // Design System
$alert-toast-padding-y: spacing.$size-small-regular !default; // Design System only
$alert-toast-padding-x: spacing.$size-regular !default; // Design System only

$alert-margin-bottom: 1rem !default; // Design System
$alert-margin: $alert-margin-bottom; // Design System only
$alert-border-radius: commons.$border-radius !default;
$alert-link-font-weight: type.$font-weight-bold !default;
$alert-border-width: commons.$border-width !default;

$alert-bg-level: -10 !default;
$alert-border-level: -9 !default;
$alert-color-level: 6 !default;

$alert-list: (
  'primary' color.$gray-80 3134,
  'notification' color.$gray-80 3134,
  'success' color.$success 2105,
  'danger' color.$error 2104,
  'error' color.$error 2104,
  'warning' color.$warning 2104,
  'info' color.$info 2106
); // Design System only

$alert-line-height: type.$line-height-copy; // Design System only
$alert-text-space-between: spacing.$size-micro;

$alert-icon-size: spacing.$size-small-huge; // Design System only
$alert-close-icon-size: close.$btn-close-width + spacing.$size-micro; // Design System only

$alert-toast-icon-size: spacing.$size-big; // Design System only

$alert-font-size: type.$font-size-bigger-regular; // Design System only
$alert-font-size-small: type.$font-size-small; // Design System only

$alert-toast-width: 25rem; // Design System only
$alert-toast-width-small-breakpoint: 21rem; // Design System only

$alert-toast-box-shadow-hover: 0 0 1rem 0 rgba(var(--post-contrast-color-rgb), 0.4); // Design System only
$alert-close-hover-opacity: 0.4; // Design System only
