@use './../color';
@use './../commons';
@use './../spacing';
@use './../type';

@use './button';
@use './../../functions/sizing';

$badge-border-radius: 50rem;
$badge-line-height: type.$line-height-copy;
$badge-border-color: color.$white;
$badge-bg: color.$error-red;

$badge-height: spacing.$size-large;
$badge-height-sm: spacing.$size-regular;
$badge-height-empty: spacing.$size-mini;

$badge-padding-x: spacing.$size-mini;
$badge-padding-x-sm: spacing.$size-micro;
$badge-padding-x-empty: 0%; // needs a unit for the calculated min-width

$badge-border-width: commons.$border-thick;
$badge-border-width-sm: commons.$border-width;
$badge-border-width-empty: commons.$border-width;

$badge-font-size: type.$font-size-12;
$badge-font-size-sm: 10px;

// DEPRECATED
$badge-gap: spacing.$size-mini;
$badge-transition:
  color 250ms,
  background-color 250ms,
  border-color 250ms;
$badge-hover-color: color.$black;
$badge-hover-bg-color: color.$gray-10;
$badge-active-color: color.$black;
$badge-active-bg-color: color.$yellow;
$badge-gap-sm: sizing.px-to-rem(6px);
$badge-nested-height: sizing.px-to-rem(22px);
$badge-nested-color: color.$gray-60;
$badge-nested-bg-color: color.$gray-10;
$badge-nested-border-color: color.$white;
$badge-nested-font-size: sizing.px-to-rem(10px);
$badge-nested-translate-x: ($badge-height - $badge-nested-height) * 0.5;
$badge-nested-active-bg-color: color.$white;
$badge-nested-translate-x-sm: ($badge-height-sm - $badge-nested-height) * 0.5;
$badge-check-input-height: spacing.$size-small-large;
$badge-check-input-bg-color: color.$white;
$badge-font-weight: type.$font-weight-normal;
$badge-color: var(--post-gray-80);
$badge-padding-y: 0;
