@use './../color';
@use './../commons';
@use './../spacing';
@use './../type';

@use './button';
@use './../../functions/sizing';

$badge-border-radius: 50rem;
$badge-line-height: type.$line-height-copy;
$badge-color: color.$white;
$badge-bg: color.$error;
$badge-border: color.$white solid commons.$border-thick;

$badge-height: spacing.$size-large;
$badge-height-sm: spacing.$size-regular;
$badge-height-empty: spacing.$size-mini;

$badge-padding-x: spacing.$size-mini;
$badge-padding-x-sm: spacing.$size-micro;
$badge-padding-x-empty: 0%; // needs a unit for the calculated min-width

$badge-font-size: type.$font-size-12;
$badge-font-size-sm: 10px;
