@use 'sass:string';

@use './../color';
@use './../commons';

// Breadcrumbs

$breadcrumb-font-size: null !default;

$breadcrumb-padding-y: 0.75rem !default;
$breadcrumb-padding-x: 1rem !default;
$breadcrumb-item-padding: 0.5rem !default;

$breadcrumb-margin-bottom: 1rem !default;

$breadcrumb-bg: color.$gray-20 !default;
$breadcrumb-divider-color: color.$gray-60 !default;
$breadcrumb-link-color: color.$gray-60 !default;
$breadcrumb-hover-color: color.$black !default;
$breadcrumb-active-color: color.$gray-60 !default;
$breadcrumb-divider: string.quote('/') !default;

$breadcrumb-border-radius: commons.$border-radius !default;
