@use 'sass:map';

@use './../color';
@use './../commons';
@use './../animation';

@use './../../functions/sizing';

@use '../../functions/tokens';
@use '../../tokens/components';
@use '../../tokens/utilities';

tokens.$default-map: components.$post-button;

// Available button sizes except the default, which is md
$btn-non-default-sizes: sm, lg !default;

$btn-padding-x-map: (
  'sm': tokens.get('button-small-padding-inline'),
  'md': tokens.get('button-medium-padding-inline'),
  'lg': tokens.get('button-large-padding-inline'),
);

$btn-height-map: (
  'sm': tokens.get('button-small-height'),
  'md': tokens.get('button-medium-height'),
  'lg': tokens.get('button-large-height'),
);

$btn-border-width: commons.$border-thick !default;

// Allows for customizing button radius independently from global border radius
$btn-border-radius: tokens.get('button-border-radius-round') !default;

$btn-transition-duration: animation.$transition-time-default;
$btn-transition: (
  opacity $btn-transition-duration,
  border-color $btn-transition-duration,
  background-color $btn-transition-duration,
  color $btn-transition-duration
) !default;

$btn-variants: primary, default, secondary, tertiary, link !default;

// For sizes
$btn-gap-x-map: (
  'sm': tokens.get('button-small-gap-inline'),
  'md': tokens.get('button-medium-gap-inline'),
  'lg': tokens.get('button-large-gap-inline'),
);

$btn-icon-size-map: (
  'sm': tokens.get('button-small-icon'),
  'md': tokens.get('button-medium-icon'),
  'lg': tokens.get('button-large-icon'),
);
