@use './../color';
@use './../commons';
@use './../grid';
@use './../type';
@use './../spacing';
@use './../../functions/sizing';
@use '../../functions/tokens';
@use '../../tokens/utilities';

tokens.$default-map: utilities.$post-spacing;

// Cards
$card-font-size: type.$font-size-small !default; // Design System only
$card-font-size-large: type.$font-size-large !default; // Design System only

$card-shadow: commons.$box-shadow !default;
$card-margin-top: sizing.calculate-single-box-shadow-size(
  commons.$box-shadow
) !default; // ensures the shadow is visible

$card-spacer-y: 20px !default; // px value to avoid bootstrap build errors
$card-spacer-x: tokens.get('utility-gap-16') !default;

$card-border-width: commons.$border-width !default;
$card-border-radius: commons.$border-width * 2 !default; // Design System
$card-border-color: color.$gray-20 !default; // Design System
$card-inner-border-radius: calc(
  #{$card-border-radius} - #{$card-border-width}
) !default; // Design System
$card-cap-bg: color.$light !default;
$card-bg: color.$white !default;
$card-color: color.$black !default;

$card-img-overlay-padding: $card-spacer-x !default;
