@use './button';
@use './../animation';
@use './../color';
@use './../commons';
@use './../spacing';
@use './../type';

@use './../../functions/sizing';

$chip-color: color.$gray-80;
$chip-bg: color.$white;
$chip-border-color: color.$gray-60;
$chip-border-width: commons.$border-thick;
$chip-border-radius: commons.$border-radius-pill;

$chip-height: 2.5rem;
$chip-max-width: 100%;
$chip-padding-x: spacing.$size-regular;
$chip-gap: spacing.$size-mini;

$chip-font-size: type.$font-size-16;
$chip-font-weight: type.$font-weight-normal;
$chip-line-height: type.$line-height-copy;

$chip-transition:
  color animation.$transition-base-timing,
  background-color animation.$transition-base-timing,
  border-color animation.$transition-base-timing;

$chip-height-sm: 2rem;
$chip-gap-sm: sizing.px-to-rem(6px);
$chip-font-size-sm: type.$font-size-14;
$chip-padding-x-sm: spacing.$size-small-regular;

$chip-hover-color: color.$black;
$chip-hover-bg: color.$gray-20;

$chip-active-color: color.$black;
$chip-active-bg: color.$yellow;

$chip-disabled-bg: color.$white;
$chip-disabled-active-bg: color.$gray;

$chip-text-transition: text-decoration animation.$transition-time-simple
  animation.$transition-easing-default;

$chip-badge-border-width: commons.$border-width;
$chip-badge-line-height: 1;

$chip-close-button-icon: 2043;
$chip-close-button-border-width: commons.$border-width;
$chip-close-button-border-radius: commons.$border-radius-round;
$chip-close-button-border: $chip-close-button-border-width solid $chip-border-color;
$chip-close-button-height: spacing.$size-large;
$chip-close-button-height-sm: spacing.$size-regular;

$chip-dismissable-padding-start: spacing.$size-mini;
