@use 'sass:map';

@use './button';
@use './../animation';
@use './../color';
@use './../commons';
@use './../spacing';
@use './../type';

@use './../../functions/sizing';
@use '../../tokens/utilities';
@use '../../functions/tokens';

tokens.$default-map: utilities.$post-spacing;

$chip-color: color.$gray-80;
$chip-bg: color.$white;
$chip-border-color: color.$gray-60;
$chip-border-width: commons.$border-thick;
$chip-border-radius: commons.$border-radius-pill;

$chip-height: map.get(button.$btn-height-map, 'md');
$chip-max-width: 100%;
$chip-padding-x: tokens.get('utility-gap-16');
$chip-gap: tokens.get('utility-gap-8');

$chip-font-size: type.$font-size-16;
$chip-font-weight: type.$font-weight-normal;
$chip-line-height: type.$line-height-copy;

$chip-transition:
  color animation.$transition-base-timing,
  background-color animation.$transition-base-timing,
  border-color animation.$transition-base-timing;

$chip-height-sm: button.$btn-height-sm;
$chip-gap-sm: sizing.px-to-rem(6px);
$chip-font-size-sm: type.$font-size-14;
$chip-padding-x-sm: tokens.get('utility-gap-12');

$chip-hover-color: color.$black;
$chip-hover-bg: color.$gray-20;

$chip-active-color: color.$black;
$chip-active-bg: color.$yellow;

$chip-disabled-bg: color.$white;
$chip-disabled-active-bg: color.$gray;

$chip-text-transition: text-decoration animation.$transition-time-simple
  animation.$transition-easing-default;

$chip-badge-border-width: commons.$border-width;
$chip-badge-line-height: 1;

$chip-close-button-icon: 2043;
$chip-close-button-border-width: commons.$border-width;
$chip-close-button-border-radius: commons.$border-radius-round;
$chip-close-button-border: $chip-close-button-border-width solid $chip-border-color;
$chip-close-button-height: tokens.get('utility-gap-24');
$chip-close-button-height-sm: tokens.get('utility-gap-16');

$chip-dismissable-padding-start: tokens.get('utility-gap-8');
