@use './button';
@use './../color';
@use './../../functions/tokens';
@use './../../tokens/utilities';

tokens.$default-map: utilities.$post-spacing;

$close-size: tokens.get('utility-gap-24') !default;
$close-border-radius: button.$btn-border-radius !default;
$close-color: color.$black !default;
$close-hover-color: color.$black !default;
$close-disabled-color: color.$gray-40 !default;
$close-transition: button.$btn-transition !default;
