@use './button';
@use './../color';
@use './../spacing';
@use './../../functions/icons';
@use './../../functions/tokens';
@use './../../tokens/utilities';

tokens.$default-map: utilities.$post-spacing;

$close-size: tokens.get('utility-gap-24') !default;
$close-border-radius: button.$btn-border-radius !default;
$close-color: color.$black !default;
$close-hover-color: color.$black !default;
$close-disabled-color: color.$gray-40 !default;
$close-transition: button.$btn-transition !default;

// DEPRECATED
$btn-close-width: tokens.get('utility-gap-24') !default;
$btn-close-height: $btn-close-width !default;
$btn-close-padding-x: tokens.get('utility-gap-16') !default;
$btn-close-color: color.$black !default;
$_btn-close-bg: icons.get-colored-svg-url(2043, $btn-close-color);
$_btn-close-hcm-bg: icons.get-colored-svg-url(2043, color.$white);
$btn-close-bg: url('#{$_btn-close-bg}') !default;
$btn-close-hcm-bg: url('#{$_btn-close-hcm-bg}') !default;
$btn-close-opacity: 0.5 !default;
$btn-close-hover-opacity: 0.75 !default;
