@use './../color';

// Code

$code-font-size: 1rem !default;
$code-color: #004976 !default;

$kbd-padding-y: 0.2rem !default;
$kbd-padding-x: 0.4rem !default;
$kbd-font-size: $code-font-size !default;
$kbd-color: color.$white !default;
$kbd-bg: color.$gray-80 !default;

$pre-color: color.$gray-80 !default;
