@use './forms';

// nested calc functions are not supported by IE. That's the reason why the $input-height variable isn't used.

$ngb-dp-icon-size: 22px;
$ngb-dp-icon-size-sm: 18px;
$ngb-dp-icon-size-lg: 24px;
