@use 'sass:math';
@use 'sass:list';
@use 'sass:map';

@use './button';
@use './../color';
@use './../type';
@use './../spacing';
@use './../animation';
@use './../../functions/utilities';
@use './../../functions/sizing';

// Forms

$form-bg-size: 32px !default;
$form-bg-size-sm: 24px !default;

$form-label-margin-bottom: spacing.$size-mini !default;
$form-label-color: var(--post-contrast-color) !default;
$form-label-font-size-sm: type.$font-size-14;

$input-padding-y: button.$input-btn-padding-y !default;
$input-padding-x: button.$input-btn-padding-x !default;
$input-line-height: type.$line-height-copy !default;

$input-padding-y-sm: button.$input-btn-padding-y-sm !default;
$input-padding-x-sm: button.$input-btn-padding-x-sm !default;
$input-line-height-sm: type.$line-height-copy !default;

$input-padding-y-rg: button.$input-btn-padding-y-rg !default;
$input-padding-x-rg: button.$input-btn-padding-x-rg !default;
$input-line-height-rg: type.$line-height-copy !default;

$input-padding-y-lg: button.$input-btn-padding-y-lg !default;
$input-padding-x-lg: button.$input-btn-padding-x-lg !default;
$input-line-height-lg: type.$line-height-copy !default;

$input-bg: color.$white !default;
$input-disabled-bg: rgba(var(--post-contrast-color-inverted-rgb), 0.4) !default;
$input-disabled-color: var(--post-gray-60); // Design System only
$input-disabled-border-color: var(--post-gray-40); // Design System only
$input-disabled-border-style: spacing.$size-line dashed;

$input-color: color.$black !default;
$input-border-color: color.$gray-80 !default;
$input-border-width: button.$input-btn-border-width !default;
$input-box-shadow: none !default;

$input-border-radius: 0 !default;
$input-border-radius-lg: 0 !default;
$input-border-radius-rg: 0 !default;
$input-border-radius-sm: 0 !default;

$input-focus-bg: $input-bg !default;
$input-focus-border-color: inherit !default;
$input-focus-color: $input-color !default;
$input-focus-width: button.$input-btn-focus-width !default;
$input-focus-box-shadow: none !default;
$input-focus-outline-thickness: spacing.$size-line;

$input-placeholder-color: color.$gray-60 !default;
$input-plaintext-color: var(--post-contrast-color) !default;

$input-height-border: $input-border-width * 2 !default;

$input-height-content: type.$font-size-base * $input-line-height !default;
$input-height-inner: $input-height-content + ($input-padding-y * 2) !default;
$input-height: $input-height-inner + sizing.px-to-rem($input-height-border) !default;

$input-height-content-sm: type.$font-size-14 * 1 !default;
$input-height-inner-sm: $input-height-content-sm + ($input-padding-y-sm * 2) + sizing.px-to-rem(2) !default; // + 2px approximation from Figma mockup
$input-height-sm: $input-height-inner-sm + sizing.px-to-rem($input-height-border) !default;

$form-floating-input-height-content-sm: type.$font-size-14 * 1 !default;
$form-floating-input-height-inner-sm: $form-floating-input-height-content-sm +
  (spacing.$size-regular * 2) - sizing.px-to-rem(2) !default; // - 2px approximation from Figma mockup
$form-floating-input-height-sm: $form-floating-input-height-inner-sm +
  sizing.px-to-rem($input-height-border) !default;

$input-height-content-rg: type.$font-size-regular * $input-line-height-rg !default;
$input-height-inner-rg: $input-height-content-rg + ($input-padding-y-rg * 2) !default;
$input-height-rg: calc(#{$input-height-inner-rg} + #{$input-height-border}) !default;

$input-height-content-lg: (type.$font-size-16 * $input-line-height-lg) - sizing.px-to-rem(2) !default; // - 2px and remove approximation in Figma
$input-height-inner-lg: $input-height-content-lg + ($input-padding-y-lg * 2) !default;
$input-height-lg: $input-height-inner-lg + sizing.px-to-rem($input-height-border) !default;

$input-transition:
  border-color 0.15s ease-in-out,
  box-shadow 0.15s ease-in-out !default;

$form-text-color: var(--post-contrast-color);
$form-text-font-size: type.$font-size-tiny;
$form-text-margin-top: spacing.$size-micro !default;

$form-group-margin-bottom: 1rem !default;

$input-group-addon-color: $input-color !default;
$input-group-addon-bg: rgba(var(--post-contrast-color-inverted-rgb), 0.6) !default;
$input-group-addon-border-color: $input-border-color !default;

$form-range-track-height: 0.2rem !default;
$form-range-track-bg: color.$gray-20 !default;
$form-range-track-box-shadow: inset 0 0.25rem 0.25rem rgba(color.$black, 0.1) !default;

$form-range-thumb-width: 2rem !default;
$form-range-thumb-height: $form-range-thumb-width !default;
$form-range-thumb-bg: color.$white !default;
$form-range-thumb-border: 2px solid color.$black !default;
$form-range-thumb-focus-box-shadow:
  0 0 0 1px color.$black,
  0 0 0 0.2rem rgba(color.$gray-80, 0.25) !default;
$form-range-thumb-focus-box-shadow-width: 0.2rem; // For focus box shadow issue in Edge
$form-range-thumb-active-bg: color.$white !default;
$form-range-thumb-disabled-bg: $form-range-thumb-bg !default;
$form-range-thumb-disabled-border-color: $input-disabled-border-color !default;

$form-range-height: $form-range-thumb-height + $form-range-thumb-focus-box-shadow-width * 2;
$form-range-input-height-ie: 6rem !default;

$form-file-button-hover-bg: $input-bg;

$form-floating-height: $input-height-lg * $input-line-height-lg;
$form-floating-padding-x: $input-padding-x-lg;
$form-floating-padding-y: $input-padding-y-lg;
$form-floating-line-height: type.$line-height-copy;
$form-floating-input-padding-t: spacing.$size-large;
$form-floating-input-padding-b: 0;
$form-floating-label-opacity: 1;
$form-floating-label-height: $form-floating-height;
$form-floating-label-color: color.$gray-80;
$form-floating-label-font-size: type.$font-size-16;
$form-floating-label-font-size-small: type.$font-size-12;
$form-floating-label-scale: math.div(
  $form-floating-label-font-size-small,
  $form-floating-label-font-size
);
$form-floating-label-upscale: math.div(1, $form-floating-label-scale);
$form-floating-label-padding-t: $form-floating-label-height * 0.5 - $form-floating-label-font-size *
  type.$line-height-copy * 0.5;
$form-floating-label-translate-x: $form-floating-padding-x * (1 - $form-floating-label-scale);
$form-floating-label-transform: scale($form-floating-label-scale);
$form-floating-transition: animation.$transition-base;
$form-floating-transition-in:
  $form-floating-transition,
  width 0ms list.nth(animation.$transition-base, 2);
$form-floating-transition-out:
  $form-floating-transition,
  width 0ms linear;
$form-floating-select-bg-size: 32px 32px;

$form-floating-label-font-size-sm: type.$font-size-12;
$form-floating-label-font-size-placeholder-sm: type.$font-size-14;
$form-floating-label-scale-sm: math.div(
  $form-floating-label-font-size-sm,
  $form-floating-label-font-size-placeholder-sm
);
$form-floating-label-upscale-sm: math.div(1, $form-floating-label-scale-sm);
$form-floating-padding-x-sm: spacing.$size-regular;
$form-floating-padding-y-sm: $input-padding-y-sm;
$form-floating-label-translate-x-sm: $form-floating-padding-x-sm *
  (1 - $form-floating-label-scale-sm);
$form-floating-label-height-sm: $form-floating-input-height-sm;
$form-floating-label-padding-t-sm: $form-floating-label-height-sm * 0.5 -
  $form-floating-label-font-size-sm;

$form-floating-textarea-padding-t: spacing.$size-mini + $form-floating-label-font-size *
  $form-floating-line-height * $form-floating-label-scale; // The Space needed for the label on focus
$form-floating-textarea-padding-t-sm: spacing.$size-mini +
  $form-floating-label-font-size-placeholder-sm * $input-line-height-sm *
  $form-floating-label-scale-sm;
