@use './forms';
@use './../color';
@use './../../functions/icons';

$form-select-border-radius: forms.$input-border-radius;
$form-select-disabled-color: forms.$input-disabled-color;
$form-select-disabled-bg: forms.$input-disabled-bg;
$form-select-disabled-border-color: color.$gray-40;
$form-select-indicator-color: color.$black;
$_form-select-indicator: icons.get-colored-svg-url(2113, $form-select-indicator-color);
$_form-select-indicator-disabled: icons.get-colored-svg-url(2113, $form-select-disabled-border-color);
$_form-select-indicator-hcm-dark: icons.get-colored-svg-url(2113, color.$white);
$_form-select-indicator-hcm-light: icons.get-colored-svg-url(2113, color.$black);
$form-select-indicator: url('#{$_form-select-indicator}') !default;
$form-select-indicator-disabled: url('#{$_form-select-indicator-disabled}') !default;
$form-select-indicator-hcm-dark: url('#{$_form-select-indicator-hcm-dark}') !default;
$form-select-indicator-hcm-light: url('#{$_form-select-indicator-hcm-light}') !default;