@use './../color';
@use './../spacing';
@use './../type';
@use './../components/button';
@use './../components/forms';
@use './../../functions/icons';
@use './../../functions/sizing';

// Bootstrap variables
$form-feedback-margin-top: 0 !default;
$form-feedback-font-size: type.$font-size-12 !default;
$form-feedback-valid-color: color.$gray-60 !default;
$form-feedback-invalid-color: color.$error !default;
$_form-feedback-icon-valid: icons.get-colored-svg-url(2105, color.$success);
$_form-feedback-icon-valid-hcm-dark: icons.get-colored-svg-url(2105, color.$white);
$_form-feedback-icon-valid-hcm-light: icons.get-colored-svg-url(2105, color.$black);
$_form-feedback-icon-invalid: icons.get-colored-svg-url(2104, color.$error);
$_form-feedback-icon-invalid-hcm-dark: icons.get-colored-svg-url(2104, color.$white);
$_form-feedback-icon-invalid-hcm-light: icons.get-colored-svg-url(2104, color.$black);
$form-feedback-icon-valid: url('#{$_form-feedback-icon-valid}') !default;
$form-feedback-icon-valid-hcm-dark: url('#{$_form-feedback-icon-valid-hcm-dark}') !default;
$form-feedback-icon-valid-hcm-light: url('#{$_form-feedback-icon-valid-hcm-light}') !default;
$form-feedback-icon-invalid: url('#{$_form-feedback-icon-invalid}') !default;
$form-feedback-icon-invalid-hcm-dark: url('#{$_form-feedback-icon-invalid-hcm-dark}') !default;
$form-feedback-icon-invalid-hcm-light: url('#{$_form-feedback-icon-invalid-hcm-light}') !default;

// Design System custom variables
$form-feedback-padding-x: spacing.$size-regular !default;
$form-feedback-padding-y: sizing.px-to-rem(6);
$form-feedback-padding-y-sm: spacing.$size-micro;
$form-feedback-icon-size: 2rem !default; // Equals 24pt [svg-size]
$form-feedback-icon-offset: spacing.$size-mini !default;
$form-feedback-valid-bg: color.$success !default;
$form-feedback-valid-text: color.$white !default;
$form-feedback-invalid-bg: color.$error !default;
$form-feedback-invalid-text: color.$white !default;
$form-feedback-custom-color: color.$success !default;
$form-feedback-custom-bg: color.$success !default;
$form-feedback-invalid-box-shadow: 0 0 0 forms.$input-focus-width
  rgba($form-feedback-invalid-color, 0.25) !default;
$form-feedback-valid-box-shadow: 0 0 0 forms.$input-focus-width
  rgba($form-feedback-valid-color, 0.25) !default;
$form-feedback-custom-text: color.$white !default;
$form-feedback-custom-box-shadow: 0 0 0 0.2rem rgba($form-feedback-custom-color, 0.25) !default;
