@use './../color';
@use './../spacing';
@use './../type';
@use './../components/button';
@use './../components/forms';
@use './../../functions/icons';

// Bootstrap variables
$form-feedback-margin-top: 0 !default;
$form-feedback-font-size: type.$font-size-12 !default;
$form-feedback-valid-color: color.$gray-60 !default;
$form-feedback-invalid-color: color.$error !default;
$form-feedback-icon-valid: url(icons.get-colored-svg-url('2105', color.$success)) !default;
$form-feedback-icon-valid-hcm-dark: url(icons.get-colored-svg-url('2105', color.$white)) !default;
$form-feedback-icon-valid-hcm-light: url(icons.get-colored-svg-url('2105', color.$black)) !default;
$form-feedback-icon-invalid: url(icons.get-colored-svg-url('2104', color.$error)) !default;
$form-feedback-icon-invalid-hcm-dark: url(icons.get-colored-svg-url('2104', color.$white)) !default;
$form-feedback-icon-invalid-hcm-light: url(icons.get-colored-svg-url(
  '2104',
  color.$black
)) !default;

// Design System custom variables
$form-feedback-padding-x: button.$input-btn-padding-x !default;
$form-feedback-padding-y: 0.5 * button.$input-btn-padding-x !default;
$form-feedback-icon-size: 2rem !default; // Equals 24pt [svg-size]
$form-feedback-icon-offset: spacing.$size-mini !default;
$form-feedback-valid-bg: color.$success !default;
$form-feedback-valid-text: color.$white !default;
$form-feedback-invalid-bg: color.$error !default;
$form-feedback-invalid-text: color.$white !default;
$form-feedback-custom-color: color.$success !default;
$form-feedback-custom-bg: color.$success !default;
$form-feedback-invalid-box-shadow: 0 0 0 forms.$input-focus-width
  rgba($form-feedback-invalid-color, 0.25) !default;
$form-feedback-valid-box-shadow: 0 0 0 forms.$input-focus-width
  rgba($form-feedback-valid-color, 0.25) !default;
$form-feedback-custom-text: color.$white !default;
$form-feedback-custom-box-shadow: 0 0 0 0.2rem rgba($form-feedback-custom-color, 0.25) !default;
