@use './forms';
@use './../color';
@use './../spacing';
@use './../type';
@use './../animation';
@use './../../functions/icons';
@use './../../functions/sizing';
@use './../../functions/forms' as forms-fn;

$form-check-row-gap: spacing.$size-small-regular !default;
$form-check-column-gap: spacing.$size-mini !default;
$form-check-margin-bottom: spacing.$size-regular !default;
$form-check-inline-margin-right: spacing.$size-large !default;
$form-check-input-size: 1.375rem !default;
$form-check-input-size-sm: spacing.$size-regular !default;
$form-check-input-border-width: forms.$input-border-width !default;
$form-check-input-focus-box-shadow: forms.$input-focus-box-shadow !default;
$form-check-input-disabled-svg-border-width: $form-check-input-border-width * 2;
$form-check-input-disabled-svg-stroke-square-pattern-lg: '2 1.5 4 1.5 4 1.5 4 1.5 2 3.5 4 1.5 4 1.5 4 1.5 2 3.5 4 1.5 4 1.5 4 1.5 2 3.5 4 1.5 4 1.5 4';
$form-check-input-disabled-svg-stroke-square-pathlength-lg: 88;
$form-check-input-disabled-svg-stroke-square-pattern-sm: '2 1.5 4 1.5 4 1.5 2 3.5 4 1.5 4 1.5 2 3.5 4 1.5 4 1.5 2 3.5 4 1.5 4 1.5 4';
$form-check-input-disabled-svg-stroke-square-pathlength-sm: 66;
$form-check-input-disabled-svg-stroke-circle-pattern: '4 2';

// Checkbox lg
$form-check-input-disabled-background-url-light-lg: forms-fn.get-background-svg-stroke(
  'square',
  color.$gray-60,
  $form-check-input-disabled-svg-stroke-square-pattern-lg,
  $form-check-input-disabled-svg-stroke-square-pathlength-lg,
  $form-check-input-disabled-svg-border-width
);
$form-check-input-disabled-background-url-dark-lg: forms-fn.get-background-svg-stroke(
  'square',
  color.$white-alpha-80,
  $form-check-input-disabled-svg-stroke-square-pattern-lg,
  $form-check-input-disabled-svg-stroke-square-pathlength-lg,
  $form-check-input-disabled-svg-border-width
);
$form-check-input-disabled-background-url-hcm-lg: forms-fn.get-background-svg-stroke(
  'square',
  'GrayText',
  $form-check-input-disabled-svg-stroke-square-pattern-lg,
  $form-check-input-disabled-svg-stroke-square-pathlength-lg,
  $form-check-input-disabled-svg-border-width
);
//Checkbox sm
$form-check-input-disabled-background-url-light-sm: forms-fn.get-background-svg-stroke(
  'square',
  color.$gray-60,
  $form-check-input-disabled-svg-stroke-square-pattern-sm,
  $form-check-input-disabled-svg-stroke-square-pathlength-sm,
  $form-check-input-disabled-svg-border-width
);
$form-check-input-disabled-background-url-dark-sm: forms-fn.get-background-svg-stroke(
  'square',
  color.$white-alpha-80,
  $form-check-input-disabled-svg-stroke-square-pattern-sm,
  $form-check-input-disabled-svg-stroke-square-pathlength-sm,
  $form-check-input-disabled-svg-border-width
);
$form-check-input-disabled-background-url-hcm-sm: forms-fn.get-background-svg-stroke(
  'square',
  'GrayText',
  $form-check-input-disabled-svg-stroke-square-pattern-sm,
  $form-check-input-disabled-svg-stroke-square-pathlength-sm,
  $form-check-input-disabled-svg-border-width
);
// Radio
$form-check-input-radio-disabled-background-url-light: forms-fn.get-background-svg-stroke(
  'circle',
  color.$gray-60,
  $form-check-input-disabled-svg-stroke-circle-pattern,
  initial,
  $form-check-input-disabled-svg-border-width
);
$form-check-input-radio-disabled-background-url-dark: forms-fn.get-background-svg-stroke(
  'circle',
  color.$white-alpha-80,
  $form-check-input-disabled-svg-stroke-circle-pattern,
  initial,
  $form-check-input-disabled-svg-border-width
);
$form-check-input-radio-disabled-background-url-hcm: forms-fn.get-background-svg-stroke(
  'circle',
  'GrayText',
  $form-check-input-disabled-svg-stroke-circle-pattern,
  initial,
  $form-check-input-disabled-svg-border-width
);

$form-switch-column-gap: spacing.$size-regular !default;
$form-switch-height: spacing.$size-big !default;
$form-switch-width: 2 * spacing.$size-big !default;
$form-switch-bg: rgba(var(--post-contrast-color-rgb), 0.3) !default;
$form-switch-checked-bg: var(--post-success) !default;
$form-switch-disabled-bg: color.$gray-20 !default;
$form-switch-background-image: linear-gradient(
  to right,
  #{$form-switch-bg} 50%,
  #{$form-switch-checked-bg} 50%
) !default;
$form-switch-color: color.$white !default;
$form-switch-border-color: color.$gray-60 !default;
$form-switch-checked-border-color: color.$black !default;
$form-switch-disabled-border-color: color.$gray-40 !default;
$form-switch-label-padding-top: ($form-switch-height - type.$line-height-copy) * 0.5 !default;

// DEPRECATED
$form-check-inline-margin-left: spacing.$size-large !default;
$form-check-input-width: spacing.$size-large !default;
$form-check-min-height: $form-check-input-width !default;
$form-check-padding-start: 0 !default;
$form-check-input-color: forms.$input-border-color !default;
$form-check-input-bg: transparent !default;
$form-check-input-border: $form-check-input-border-width solid $form-check-input-color !default;
$form-check-input-border-radius: forms.$input-border-radius !default;
$form-check-radio-border-radius: 50% !default;
$form-check-input-focus-border: forms.$input-focus-border-color !default;
$form-check-input-focus-width: forms.$input-focus-width !default;
$form-check-input-focus-box-shadow: 0 0 0 $form-check-input-focus-width
  rgba($form-check-input-focus-border, 0.25) !default;
$form-check-input-active-filter: none;
$form-check-input-hover-color: forms.$input-focus-border-color !default;
$form-check-input-checked-color: forms.$input-focus-border-color !default;
$form-check-input-checked-bg-color: transparent !default;
$form-check-input-checked-border-color: $form-check-input-checked-color !default;
$form-check-input-checked-bg-icon: 3035 !default;
$_form-check-input-checked-bg-image: icons.get-colored-svg-url($form-check-input-checked-bg-icon, $form-check-input-checked-color);
$form-check-input-checked-bg-image: url('#{$_form-check-input-checked-bg-image}') !default; 
$form-check-radio-checked-bg-icon: "data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' viewBox='-3 -3 6 6'%3E%3Ccircle r='2'%3E%3C/circle%3E%3C/svg%3E" !default;
$_form-check-radio-checked-bg-image: icons.add-fill-color($form-check-radio-checked-bg-icon, $form-check-input-checked-color);
$form-check-radio-checked-bg-image: url('#{$_form-check-radio-checked-bg-image}') !default;
$form-check-input-indeterminate-color: $form-check-input-checked-color !default;
$form-check-input-indeterminate-bg-color: transparent !default;
$form-check-input-indeterminate-border-color: $form-check-input-indeterminate-color !default;
$form-check-input-indeterminate-bg-icon: 2039 !default;
$_form-check-input-indeterminate-bg-image: icons.get-colored-svg-url($form-check-input-indeterminate-bg-icon, $form-check-input-indeterminate-color);
$form-check-input-indeterminate-bg-image: url('#{$_form-check-input-indeterminate-bg-image}') !default;
$form-check-inline-margin-end: spacing.$size-large !default;
$form-check-label-cursor: pointer !default;
$form-check-label-color: forms.$form-label-color !default;
$form-check-label-padding-x: spacing.$size-mini !default;
$form-check-label-padding-top: (
    $form-check-input-width + sizing.px-to-rem($form-check-input-border-width) -
      type.$line-height-copy
  ) * 0.5 !default;
$form-check-label-padding-start: $form-check-label-padding-top 0 0 $form-check-label-padding-x !default;
$form-check-label-padding-end: $form-check-label-padding-top $form-check-label-padding-x 0 0 !default;
$form-check-feedback-margin-top: spacing.$size-small-regular !default;
$form-switch-padding-start: 0 !default;
$form-switch-bg-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-16 -16 32 32'><circle r='15' stroke='#{$form-switch-border-color}' stroke-width='2' fill='#{$form-switch-color}'/></svg>") !default;
$form-switch-border-radius: $form-switch-width !default;
$form-switch-transition:
  background-position animation.$transition-base-timing,
  background-color animation.$transition-time-default !default;
$form-switch-checked-color: color.$white !default;
$form-switch-checked-bg-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-16 -16 32 32'><circle r='15' stroke='#{$form-switch-checked-border-color}' stroke-width='2' fill='#{$form-switch-checked-color}'/></svg>") !default;
$form-switch-focus-bg-image: $form-switch-checked-bg-image;
$form-switch-checked-bg-image-size: $form-switch-height;
$form-switch-hover-bg: rgba(var(--post-contrast-color-rgb), 0.1) !default;
$form-switch-linear-gradient: linear-gradient(
  to right,
  #{$form-switch-bg} 50%,
  #{$form-switch-checked-bg} 50%
);
$form-switch-linear-gradient-size: (2 * $form-switch-width - $form-switch-height)
  $form-switch-height;
$form-switch-label-padding-x: spacing.$size-regular !default;
$form-switch-label-padding-start: $form-switch-label-padding-top 0 0 $form-switch-label-padding-x !default;
$form-switch-label-padding-end: $form-switch-label-padding-top $form-switch-label-padding-x 0 0 !default;
