@use './forms';
@use './../color';
@use './../spacing';
@use './../type';
@use './../animation';
@use './../../functions/icons';
@use './../../functions/sizing';
@use './../../functions/forms' as forms-fn;

$form-check-row-gap: spacing.$size-small-regular !default;
$form-check-column-gap: spacing.$size-mini !default;
$form-check-margin-bottom: spacing.$size-regular !default;
$form-check-inline-margin-right: spacing.$size-large !default;
$form-check-input-size: 1.375rem !default;
$form-check-input-size-sm: spacing.$size-regular !default;
$form-check-input-border-width: forms.$input-border-width !default;
$form-check-input-focus-box-shadow: forms.$input-focus-box-shadow !default;
$form-check-input-disabled-svg-border-width: $form-check-input-border-width * 2;
$form-check-input-disabled-svg-stroke-square-pattern-lg: '2 1.5 4 1.5 4 1.5 4 1.5 2 3.5 4 1.5 4 1.5 4 1.5 2 3.5 4 1.5 4 1.5 4 1.5 2 3.5 4 1.5 4 1.5 4';
$form-check-input-disabled-svg-stroke-square-pathlength-lg: 88;
$form-check-input-disabled-svg-stroke-square-pattern-sm: '2 1.5 4 1.5 4 1.5 2 3.5 4 1.5 4 1.5 2 3.5 4 1.5 4 1.5 2 3.5 4 1.5 4 1.5 4';
$form-check-input-disabled-svg-stroke-square-pathlength-sm: 66;
$form-check-input-disabled-svg-stroke-circle-pattern: '4 2';

// Checkbox lg
$form-check-input-disabled-background-url-light-lg: forms-fn.get-background-svg-stroke(
  'square',
  color.$gray-60,
  $form-check-input-disabled-svg-stroke-square-pattern-lg,
  $form-check-input-disabled-svg-stroke-square-pathlength-lg,
  $form-check-input-disabled-svg-border-width
);
$form-check-input-disabled-background-url-dark-lg: forms-fn.get-background-svg-stroke(
  'square',
  color.$white-alpha-80,
  $form-check-input-disabled-svg-stroke-square-pattern-lg,
  $form-check-input-disabled-svg-stroke-square-pathlength-lg,
  $form-check-input-disabled-svg-border-width
);
$form-check-input-disabled-background-url-hcm-lg: forms-fn.get-background-svg-stroke(
  'square',
  'GrayText',
  $form-check-input-disabled-svg-stroke-square-pattern-lg,
  $form-check-input-disabled-svg-stroke-square-pathlength-lg,
  $form-check-input-disabled-svg-border-width
);
//Checkbox sm
$form-check-input-disabled-background-url-light-sm: forms-fn.get-background-svg-stroke(
  'square',
  color.$gray-60,
  $form-check-input-disabled-svg-stroke-square-pattern-sm,
  $form-check-input-disabled-svg-stroke-square-pathlength-sm,
  $form-check-input-disabled-svg-border-width
);
$form-check-input-disabled-background-url-dark-sm: forms-fn.get-background-svg-stroke(
  'square',
  color.$white-alpha-80,
  $form-check-input-disabled-svg-stroke-square-pattern-sm,
  $form-check-input-disabled-svg-stroke-square-pathlength-sm,
  $form-check-input-disabled-svg-border-width
);
$form-check-input-disabled-background-url-hcm-sm: forms-fn.get-background-svg-stroke(
  'square',
  'GrayText',
  $form-check-input-disabled-svg-stroke-square-pattern-sm,
  $form-check-input-disabled-svg-stroke-square-pathlength-sm,
  $form-check-input-disabled-svg-border-width
);
// Radio
$form-check-input-radio-disabled-background-url-light: forms-fn.get-background-svg-stroke(
  'circle',
  color.$gray-60,
  $form-check-input-disabled-svg-stroke-circle-pattern,
  initial,
  $form-check-input-disabled-svg-border-width
);
$form-check-input-radio-disabled-background-url-dark: forms-fn.get-background-svg-stroke(
  'circle',
  color.$white-alpha-80,
  $form-check-input-disabled-svg-stroke-circle-pattern,
  initial,
  $form-check-input-disabled-svg-border-width
);
$form-check-input-radio-disabled-background-url-hcm: forms-fn.get-background-svg-stroke(
  'circle',
  'GrayText',
  $form-check-input-disabled-svg-stroke-circle-pattern,
  initial,
  $form-check-input-disabled-svg-border-width
);
