@use './forms';
@use './../color';
@use './../spacing';
@use './../type';
@use './../animation';
@use './../../functions/icons';
@use './../../functions/sizing';
@use './../../functions/forms' as forms-fn;

$form-check-row-gap: spacing.$size-small-regular !default;
$form-check-column-gap: spacing.$size-mini !default;
$form-check-margin-bottom: spacing.$size-regular !default;
$form-check-inline-margin-right: spacing.$size-large !default;
$form-check-input-size: 1.375rem !default;
$form-check-input-size-sm: spacing.$size-regular !default;
$form-check-input-border-width: forms.$input-border-width !default;
$form-check-input-focus-box-shadow: forms.$input-focus-box-shadow !default;
$form-check-input-disabled-svg-border-width: $form-check-input-border-width * 2;
$form-check-input-disabled-svg-stroke-square-pattern-lg: '2 1.5 4 1.5 4 1.5 4 1.5 2 3.5 4 1.5 4 1.5 4 1.5 2 3.5 4 1.5 4 1.5 4 1.5 2 3.5 4 1.5 4 1.5 4';
$form-check-input-disabled-svg-stroke-square-pathlength-lg: 88;
$form-check-input-disabled-svg-stroke-square-pattern-sm: '2 1.5 4 1.5 4 1.5 2 3.5 4 1.5 4 1.5 2 3.5 4 1.5 4 1.5 2 3.5 4 1.5 4 1.5 4';
$form-check-input-disabled-svg-stroke-square-pathlength-sm: 66;
$form-check-input-disabled-svg-stroke-circle-pattern: '4 2';

// Checkbox lg
$form-check-input-disabled-background-url-light-lg: forms-fn.get-background-svg-stroke(
  'square',
  color.$gray-60,
  $form-check-input-disabled-svg-stroke-square-pattern-lg,
  $form-check-input-disabled-svg-stroke-square-pathlength-lg,
  $form-check-input-disabled-svg-border-width
);
$form-check-input-disabled-background-url-dark-lg: forms-fn.get-background-svg-stroke(
  'square',
  color.$white-alpha-80,
  $form-check-input-disabled-svg-stroke-square-pattern-lg,
  $form-check-input-disabled-svg-stroke-square-pathlength-lg,
  $form-check-input-disabled-svg-border-width
);
$form-check-input-disabled-background-url-hcm-lg: forms-fn.get-background-svg-stroke(
  'square',
  'GrayText',
  $form-check-input-disabled-svg-stroke-square-pattern-lg,
  $form-check-input-disabled-svg-stroke-square-pathlength-lg,
  $form-check-input-disabled-svg-border-width
);
//Checkbox sm
$form-check-input-disabled-background-url-light-sm: forms-fn.get-background-svg-stroke(
  'square',
  color.$gray-60,
  $form-check-input-disabled-svg-stroke-square-pattern-sm,
  $form-check-input-disabled-svg-stroke-square-pathlength-sm,
  $form-check-input-disabled-svg-border-width
);
$form-check-input-disabled-background-url-dark-sm: forms-fn.get-background-svg-stroke(
  'square',
  color.$white-alpha-80,
  $form-check-input-disabled-svg-stroke-square-pattern-sm,
  $form-check-input-disabled-svg-stroke-square-pathlength-sm,
  $form-check-input-disabled-svg-border-width
);
$form-check-input-disabled-background-url-hcm-sm: forms-fn.get-background-svg-stroke(
  'square',
  'GrayText',
  $form-check-input-disabled-svg-stroke-square-pattern-sm,
  $form-check-input-disabled-svg-stroke-square-pathlength-sm,
  $form-check-input-disabled-svg-border-width
);
// Radio
$form-check-input-radio-disabled-background-url-light: forms-fn.get-background-svg-stroke(
  'circle',
  color.$gray-60,
  $form-check-input-disabled-svg-stroke-circle-pattern,
  initial,
  $form-check-input-disabled-svg-border-width
);
$form-check-input-radio-disabled-background-url-dark: forms-fn.get-background-svg-stroke(
  'circle',
  color.$white-alpha-80,
  $form-check-input-disabled-svg-stroke-circle-pattern,
  initial,
  $form-check-input-disabled-svg-border-width
);
$form-check-input-radio-disabled-background-url-hcm: forms-fn.get-background-svg-stroke(
  'circle',
  'GrayText',
  $form-check-input-disabled-svg-stroke-circle-pattern,
  initial,
  $form-check-input-disabled-svg-border-width
);

$form-switch-column-gap: spacing.$size-regular !default;
$form-switch-height: spacing.$size-big !default;
$form-switch-width: 2 * spacing.$size-big !default;
$form-switch-bg: rgba(var(--post-contrast-color-rgb), 0.3) !default;
$form-switch-checked-bg: var(--post-success) !default;
$form-switch-disabled-bg: color.$gray-20 !default;
$form-switch-background-image: linear-gradient(
  to right,
  #{$form-switch-bg} 50%,
  #{$form-switch-checked-bg} 50%
) !default;
$form-switch-color: color.$white !default;
$form-switch-border-color: color.$gray-60 !default;
$form-switch-checked-border-color: color.$black !default;
$form-switch-disabled-border-color: color.$gray-40 !default;
$form-switch-label-padding-top: ($form-switch-height - type.$line-height-copy) * 0.5 !default;

// DEPRECATED
$form-switch-padding-start: 0 !default;
$form-switch-bg-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-16 -16 32 32'><circle r='15' stroke='#{$form-switch-border-color}' stroke-width='2' fill='#{$form-switch-color}'/></svg>") !default;
$form-switch-border-radius: $form-switch-width !default;
$form-switch-transition:
  background-position animation.$transition-base-timing,
  background-color animation.$transition-time-default !default;
$form-switch-checked-color: color.$white !default;
$form-switch-checked-bg-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-16 -16 32 32'><circle r='15' stroke='#{$form-switch-checked-border-color}' stroke-width='2' fill='#{$form-switch-checked-color}'/></svg>") !default;
$form-switch-focus-bg-image: $form-switch-checked-bg-image;
$form-switch-checked-bg-image-size: $form-switch-height;
$form-switch-hover-bg: rgba(var(--post-contrast-color-rgb), 0.1) !default;
$form-switch-linear-gradient: linear-gradient(
  to right,
  #{$form-switch-bg} 50%,
  #{$form-switch-checked-bg} 50%
);
$form-switch-linear-gradient-size: (2 * $form-switch-width - $form-switch-height)
  $form-switch-height;
$form-switch-label-padding-x: spacing.$size-regular !default;
$form-switch-label-padding-start: $form-switch-label-padding-top 0 0 $form-switch-label-padding-x !default;
$form-switch-label-padding-end: $form-switch-label-padding-top $form-switch-label-padding-x 0 0 !default;
