@use 'sass:map';
@use './../color';
@use './../spacing';
@use './../commons';

// List group

$list-group-bg: color.$white !default;
$list-group-border-color: color.$gray-10 !default;
$list-group-border-width: commons.$border-width !default;
$list-group-border-radius: 0 !default;

$list-group-item-padding-y: map.get(spacing.$post-sizes, 'small-regular') !default;
$list-group-item-padding-x: map.get(spacing.$post-sizes, 'large') !default;

$list-group-hover-bg: color.$light !default;
$list-group-hover-bg-inverted: color.$white !default;
$list-group-active-color: color.$white !default;
$list-group-active-bg: color.$gray-80 !default;
$list-group-active-border-color: $list-group-active-bg !default;

$list-group-disabled-color: color.$gray-20 !default;
$list-group-disabled-bg: $list-group-bg !default;

$list-group-action-color: color.$gray-60 !default;
$list-group-action-hover-color: color.$black !default;

$list-group-action-active-color: color.$black !default;
$list-group-action-active-bg: color.$gray-20 !default;
