@use './../color';
@use './../type';
@use './../commons';
@use './../spacing';

@use './../../functions/sizing';

@use './button';

@use '../../tokens/utilities';
@use '../../functions/tokens';

tokens.$default-map: utilities.$post-spacing;

// Modals

// Padding applied to the modal footer
$modal-inner-padding: tokens.get('utility-gap-16') !default;

// Padding applied to the modal body
$modal-body-padding-y: tokens.get('utility-gap-8') !default;
$modal-body-padding-x: tokens.get('utility-gap-32') !default;
$modal-body-padding: $modal-body-padding-y $modal-body-padding-x !default;

// Margin between elements in footer, must be lower than or equal to 2 * $modal-inner-padding
$modal-footer-margin-between: 0.5rem !default;

$modal-dialog-margin: tokens.get('utility-gap-12') !default;
$modal-dialog-margin-y-sm-up: tokens.get('utility-gap-32') !default;

$modal-title-line-height: type.$line-height-copy !default;

$modal-content-color: null !default;
$modal-content-bg: color.$white !default;
$modal-content-border-color: rgba(color.$black, 0.2) !default;
$modal-content-border-width: commons.$border-width !default;
$modal-content-border-radius: commons.$border-radius-lg !default;
$modal-content-inner-border-radius: subtract(
  $modal-content-border-radius,
  $modal-content-border-width
) !default;
$modal-content-box-shadow-xs: 0 0.25rem 0.5rem rgba(color.$black, 0.5) !default;
$modal-content-box-shadow-sm-up: 0 0.5rem 1rem rgba(color.$black, 0.5) !default;

$modal-backdrop-bg: color.$black !default;
$modal-backdrop-opacity: 0.5 !default;
$modal-header-border-color: commons.$border-color !default;
$modal-footer-border-color: $modal-header-border-color !default;
$modal-header-border-width: $modal-content-border-width !default;
$modal-footer-border-width: $modal-header-border-width !default;
$modal-header-padding-y: tokens.get('utility-gap-24') !default;
$modal-header-padding-x: $modal-body-padding-x !default;
$modal-header-padding: $modal-header-padding-y $modal-header-padding-x !default; // Keep this for backwards compatibility

$modal-dialog-width-xl: 1140px !default;
$modal-dialog-width-lg: 800px !default;
$modal-dialog-width-md: 500px !default;
$modal-dialog-width-sm: 300px !default;

$modal-xl: calc(sizing.px-to-rem($modal-dialog-width-xl) - 2 * #{$modal-dialog-margin}) !default;
$modal-lg: calc(sizing.px-to-rem($modal-dialog-width-lg) - 2 * #{$modal-dialog-margin}) !default;
$modal-md: calc(sizing.px-to-rem($modal-dialog-width-md) - 2 * #{$modal-dialog-margin}) !default;
$modal-sm: calc(sizing.px-to-rem($modal-dialog-width-sm) - 2 * #{$modal-dialog-margin}) !default;

$modal-fade-transform: translate(0, -50px) !default;
$modal-show-transform: none !default;
$modal-transition: transform 0.3s ease-out !default;
$modal-scale-transform: scale(1.02) !default;

// Padding applied to the close button
$modal-btn-close-margin-y: tokens.get('utility-gap-8') !default;
$modal-btn-close-margin-x: tokens.get('utility-gap-16') !default;
$modal-btn-close-margin: $modal-btn-close-margin-y $modal-btn-close-margin-x !default;
