@use 'sass:color' as sass-color;
@use './../color';
@use './../commons';
@use './../type';
@use './../spacing';

// Bootstrap variables
$nav-link-padding-y: spacing.$spacer !default;
$nav-link-padding-x: 1rem !default;
$nav-link-font-size: null !default;
$nav-link-font-weight: null !default;
$nav-link-color: color.$gray-60 !default;
$nav-link-hover-color: color.$black !default;
$nav-link-transition:
  color 0.15s ease-in-out,
  background-color 0.15s ease-in-out,
  border-color 0.15s ease-in-out !default;
$nav-link-disabled-color: color.$gray-20 !default;

$nav-tabs-border-color: color.$gray-20 !default;
$nav-tabs-border-width: 4px !default;
$nav-tabs-border-radius: 0 !default;
$nav-tabs-link-hover-border-color: color.$gray-40 !default;
$nav-tabs-link-active-color: color.$black !default;
$nav-tabs-link-active-bg: color.$white !default;
$nav-tabs-link-active-border-color: color.$yellow !default;

$nav-pills-border-radius: commons.$border-radius !default;
$nav-pills-link-active-color: color.$white !default;
$nav-pills-link-active-bg: color.$gray-80 !default;

// Design System custom variables
$nav-link-padding: spacing.$spacer !default;

$nav-tabs-link-hover-bg: sass-color.adjust(color.$gray-10, $lightness: 5%) !default;
$nav-tabs-link-text-color: color.$gray-60 !default;
$nav-tabs-link-active-font-weight: bold !default;

$nav-tabs-focus-box-shadow:
  0 0 0 1px color.$white,
  0 0 0 2px color.$gray-80 !default;
$nav-tabs-focus-box-shadow-width: 2px !default;

$nav-tabs-i-border-color: color.$white-alpha-40 !default;
$nav-tabs-i-link-hover-bg: color.$black-alpha-10 !default;
$nav-tabs-i-link-hover-border-color: color.$white-alpha-80 !default;
$nav-tabs-i-link-text-color: color.$white !default;
$nav-tabs-i-link-active-color: color.$white !default;

$nav-tabs-alternate-link-hover-bg: color.$white !default;

$nav-pills-outline-border-width: commons.$border-width !default;

$nav-divider-color: color.$gray-20 !default;
$nav-divider-margin-y: (spacing.$spacer * 0.5) !default;

// Compute the navbar-brand padding-y so the navbar-brand will have the same height as navbar-text and nav-link
$nav-link-height: (
  type.$font-size-base * type.$line-height-copy + $nav-link-padding-y * 2
) !default;
