@use './../color';
@use './../spacing';

// Leftover variables used in tabs
$nav-link-padding-x: 1rem !default;

$nav-tabs-border-color: color.$gray-20 !default;
$nav-tabs-link-active-bg: color.$white !default;
$nav-tabs-link-active-border-color: color.$yellow !default;

// Design System custom variables
$nav-link-padding: spacing.$spacer !default;

$nav-tabs-focus-box-shadow:
  0 0 0 1px color.$white,
  0 0 0 2px color.$gray-80 !default;
$nav-tabs-focus-box-shadow-width: 2px !default;
