@use './../color';
@use './../spacing';
@use './../type';
@use './../commons';
@use './button';

// Pagination

$pagination-padding-y: spacing.$size-mini !default;
$pagination-padding-x: 0 !default;
$pagination-padding-y-sm: spacing.$size-micro !default;
$pagination-padding-x-sm: 0 !default;
$pagination-padding-y-lg: spacing.$size-small-regular !default;
$pagination-padding-x-lg: 0 !default;
$pagination-line-height: 1.25 !default;

$pagination-color: color.$gray-60 !default;
$pagination-bg: color.$white !default;
$pagination-border-width: 2px !default;
$pagination-border-color: color.$gray-10 !default;

$pagination-focus-box-shadow: button.$input-btn-focus-box-shadow !default;
$pagination-focus-outline: 0 !default;

$pagination-hover-color: color.$black !default;
$pagination-hover-bg: color.$light !default;
$pagination-hover-border-color: color.$gray-10 !default;

$pagination-active-color: color.$black !default;
$pagination-active-bg: color.$yellow !default;
$pagination-active-border-color: color.$yellow !default;

$pagination-disabled-color: color.$gray-40 !default;
$pagination-disabled-bg: color.$light !default;
$pagination-disabled-border-color: color.$gray-10 !default;

$pagination-height-border: $pagination-border-width * 2 !default;
$pagination-height-inner: (type.$font-size-base * $pagination-line-height) +
  ($pagination-padding-y * 2) !default;
$pagination-height: calc(#{$pagination-height-inner} + #{$pagination-height-border}) !default;

$pagination-width: $pagination-height !default;
