@use './../type';
@use './../color';
@use './../commons';

// Popovers

$popover-font-size: 0.75rem !default;
$popover-bg: color.$yellow !default;
$popover-max-width: 310px !default;
$popover-border-width: commons.$border-width !default;
$popover-border-color: $popover-bg !default;
$popover-border-radius: commons.$border-radius-lg !default;
$popover-box-shadow: none !default;

$popover-header-bg: $popover-bg !default;
$popover-header-color: type.$headings-color !default;
$popover-header-padding-y: 0.5rem !default;
$popover-header-padding-x: 0.5rem !default;

$popover-body-color: color.$black !default;
$popover-body-padding-y: $popover-header-padding-y !default;
$popover-body-padding-x: $popover-header-padding-x !default;

$popover-arrow-width: 1rem !default;
$popover-arrow-height: 0.5rem !default;
$popover-arrow-color: $popover-bg !default;

$popover-arrow-outer-color: $popover-bg !default;
