@use 'sass:math';
@use './../color';
@use './../spacing';
@use './../type';
@use './../../functions/sizing';

// Spinners

$spinner-color-primary: color.$yellow !default;
$spinner-color-secondary: color.$gray-60 !default;

$spinner-size: type.$font-size-56 !default;
$spinner-border-width: 6px !default;

$spinner-duration: 3.125s !default;
$spinner-speed-reduced-motion: math.div(1, 8) !default;

$spinner-size-map: (
  12: type.$font-size-12,
  16: type.$font-size-16,
  24: type.$font-size-24,
  32: type.$font-size-32,
  40: type.$font-size-40,
  48: type.$font-size-48,
  // 56 is already defined as default
  80: sizing.px-to-rem(80px),
);

// DEPRECATED
$spinner-size-sm: type.$font-size-40 !default;
$spinner-border-width-sm: spacing.$size-micro !default;

$spinner-size-xs: type.$font-size-16 !default;
$spinner-border-width-xs: spacing.$size-line !default;
