@use './../type';
@use './../color';
@use './../spacing';
@use './../animation';

@use './../../functions/icons' as icon-fn;

$stepper-bar-height: spacing.$size-micro;
$stepper-bar-color: color.$gray-40;
$stepper-bar-fill-color: color.$yellow;

$stepper-indicator-size: spacing.$size-bigger-big;
$stepper-indicator-border-width: spacing.$size-micro;
$stepper-indicator-border-color: rgb(var(--post-bg-rgb, 255 255 255));
$stepper-indicator-font-weight: type.$font-weight-bold;
$stepper-indicator-bg: color.$yellow;
$stepper-indicator-color: color.$black;
$stepper-indicator-check-size: spacing.$size-large;
$stepper-indicator-transition:
  color animation.$transition-base-timing,
  background-color animation.$transition-base-timing;

$stepper-indicator-hover-color: var(--post-contrast-color-inverted);
$stepper-indicator-hover-bg: var(--post-contrast-color);

$stepper-indicator-future-bg: color.$gray-60;
$stepper-indicator-future-color: color.$white;
$stepper-indicator-check-icon: url('#{icon-fn.get-colored-svg-url('2105', $stepper-indicator-color)}');
$stepper-indicator-check-icon-size: $stepper-indicator-check-size;

$stepper-link-line-height: type.$line-height-sm;
$stepper-link-gap: spacing.$size-mini;
$stepper-link-spacing: spacing.$size-regular;
$stepper-link-color: var(--post-gray-60);

$stepper-link-current-color: var(--post-gray-80);
$stepper-link-current-font-weight: type.$font-weight-bold;
