@use './forms';
@use './../type';
@use './../color';
@use './../spacing';

@use './../../functions/icons' as icon-fn;

$stepper-bar-height: spacing.$size-micro;

$stepper-indicator-height: spacing.$size-bigger-big;
$stepper-indicator-border-width: spacing.$size-micro;
$stepper-indicator-border-color: color.$white;
$stepper-indicator-font-size: type.$font-size-regular;
$stepper-indicator-font-weight: type.$font-weight-base;
$stepper-indicator-bg: color.$yellow;
$stepper-indicator-color: color.$black;
$stepper-indicator-check-icon-size: spacing.$size-large;
$stepper-indicator-hover-color: color.$white;
$stepper-indicator-hover-bg: color.$black;
$stepper-indicator-hover-outline: forms.$input-focus-outline-thickness solid
  var(--post-contrast-color);
$stepper-indicator-future-bg: color.$gray-60;
$stepper-indicator-future-color: color.$white;

$stepper-link-gap: spacing.$size-mini;
$stepper-link-color: color.$gray-60;
$stepper-link-hover-color: color.$black;
$stepper-link-current-color: color.$black;
$stepper-link-current-font-size: type.$font-size-regular;
$stepper-link-current-font-weight: type.$font-weight-bold;

// DEPRECATED
$stepper-indicator-check-icon: url('#{icon-fn.get-colored-svg-url('2105', $stepper-indicator-color)}');
$stepper-indicator-hover-check-icon: url('#{icon-fn.get-colored-svg-url('2105',$stepper-indicator-hover-color)}');
