@use 'sass:map';
@use './../color';
@use './../commons';
@use './../spacing';
@use './../../functions/sizing';

// Subnavigation

$subnavigation-background-color: color.$white;
$subnavigation-background-color-alternate: color.$light;

$subnavigation-border-bottom-width: commons.$border-width;
$subnavigation-border-bottom-color: color.$gray-10;

// These heights have to be synchronous to main navigation heights
$subnavigation-height-xs: sizing.px-to-rem(56);
$subnavigation-height-lg: sizing.px-to-rem(64);
$subnavigation-height-xl: sizing.px-to-rem(72);

$subnavigation-link-color: rgba(var(--post-contrast-color-rgb), 0.6);
$subnavigation-link-color-hover: var(--post-contrast-color);

$subnavigation-link-underscore-height: map.get(spacing.$post-sizes, 'micro');
$subnavigation-link-underscore-color-active: color.$yellow;
$subnavigation-link-underscore-color-hover: rgba(var(--post-contrast-color-rgb), 0.4);

$subnavigation-link-padding-xs: map.get(spacing.$post-sizes, 'regular')
  map.get(spacing.$post-sizes, 'small-regular');
$subnavigation-link-padding-lg: map.get(spacing.$post-sizes, 'small-large')
  map.get(spacing.$post-sizes, 'regular');

$subnavigation-result-margin-left: map.get(spacing.$post-sizes, 'mini');
