@use 'sass:color' as color-fn;
@use './../color';
@use './../commons';
@use './../spacing';
@use './../type';

$table-cell-padding-y: spacing.$size-small-regular !default;
$table-cell-padding-x: $table-cell-padding-y !default;
$table-cell-padding: $table-cell-padding-y $table-cell-padding-x !default;

$table-cell-padding-y-sm: spacing.$size-micro !default;
$table-cell-padding-x-sm: $table-cell-padding-y-sm !default;
$table-cell-padding-sm: $table-cell-padding-y-sm $table-cell-padding-x-sm !default;

// Tables
//
// Customizes the `.table` component with basic values, each used across all table variations.

$table-bg: transparent !default;
$table-accent-bg: transparent !default;
$table-hover-bg: rgba(color.$black, 0.075) !default;
$table-active-bg: $table-hover-bg !default;

$table-border-width: commons.$border-width !default;
$table-border-color: rgba(var(--post-contrast-color-rgb), 0.4) !default;
$table-group-separator-color: rgba(var(--post-contrast-color-rgb), 0.4) !default;

$table-head-color: color.$gray-40 !default;

$table-dark-bg: color.$gray-80 !default;
$table-dark-accent-bg: rgba(color.$white, 0.05) !default;
$table-dark-hover-bg: rgba(color.$white, 0.075) !default;
$table-dark-border-color: color-fn.adjust(color.$gray-80, $lightness: 7.5%) !default;
$table-dark-color: color.$black !default;

$table-striped-order: odd !default;

$table-caption-color: type.$text-muted !default;
