@use 'sass:color' as sass-color;
@use './../color';
@use './../commons';
@use './../spacing';
@use './../type';

@use '../../tokens/utilities';
@use '../../functions/tokens';

tokens.$default-map: utilities.$post-spacing;

// Bootstrap variables
$table-cell-padding-y: tokens.get('utility-gap-12') !default;
$table-cell-padding-x: tokens.get('utility-gap-4') !default;
$table-cell-padding-y-sm: tokens.get('utility-gap-8') !default;
$table-cell-padding-x-sm: tokens.get('utility-gap-4') !default;
$table-cell-vertical-align: top !default;
$table-color: color.$black !default;
$table-bg: transparent !default;
$table-accent-bg: transparent !default;
$table-th-font-weight: type.$font-weight-bold !default;
$table-striped-color: $table-color !default;
$table-striped-bg-factor: 1 !default;
$table-striped-bg: color.$light !default;
$table-active-color: $table-color !default;
$table-active-bg-factor: 1 !default;
$table-active-bg: color.$yellow !default;
$table-hover-color: $table-color !default;
$table-hover-bg-factor: 1 !default;
$table-hover-bg: color.$gray-10 !default;
$table-border-factor: 1 !default;
$table-border-width: commons.$border-width !default;
$table-border-color: color.$gray-10 !default;
$table-striped-order: odd !default;
$table-striped-columns-order: even !default;
$table-group-separator-color: color.$gray-10 !default;
$table-caption-color: #666 !default;
$table-bg-scale: -80% !default;

// Custom variables
$table-cell-padding: $table-cell-padding-y $table-cell-padding-x !default;
$table-cell-padding-sm: $table-cell-padding-y-sm $table-cell-padding-x-sm !default;

// DEPRECATED
$table-head-color: color.$error !default;
$table-dark-bg: color.$gray-80 !default;
$table-dark-accent-bg: rgba(color.$white, 0.05) !default;
$table-dark-hover-bg: rgba(color.$white, 0.075) !default;
$table-dark-border-color: sass-color.adjust(color.$gray-80, $lightness: 7.5%) !default;
$table-dark-color: color.$black !default;
