@use './../color' as color;
@use './../spacing' as spacing;
@use './../type' as type;
@use '../../functions/sizing' as sizing;

$tag-gap: spacing.$size-micro;
$tag-padding-y: 0;
$tag-padding-x: spacing.$size-mini;
$tag-max-width: 100%;
$tag-border-width: spacing.$size-hair;
$tag-border-radius: spacing.$size-micro;
$tag-font-size: type.$font-size-16;
$tag-line-height: spacing.$size-big - (sizing.px-to-rem($tag-border-width) * 2);
$tag-icon-size: $tag-font-size * 1.25;

$tag-sm-line-height: spacing.$size-large;
$tag-sm-icon-size: $tag-font-size;

$tag-default-background: color.$gray-10;
$tag-backgrounds: (
  'white': color.$white,
  'yellow': color.$yellow,
  'success': color.$success,
  'warning': color.$warning,
  'danger': color.$error,
  'info': color.$info,
);
