@use 'sass:map';

@use '../../functions/tokens';
@use '../../tokens/utilities';

$timepicker-icon-size-sm: tokens.get('utility-gap-16', utilities.$post-spacing) !default;
$timepicker-icon-size-rg: 1.125rem !default;
$timepicker-icon-size-md: tokens.get('utility-gap-20', utilities.$post-spacing) !default;
$timepicker-icon-size-lg: 1.375rem !default;

$timepicker-icon-size-map: (
  'sm': $timepicker-icon-size-sm,
  'rg': $timepicker-icon-size-rg,
  'md': $timepicker-icon-size-md,
  'lg': $timepicker-icon-size-lg,
);
