@use './../color';

// Toasts

$toast-max-width: 350px !default;
$toast-padding-x: 0.75rem !default;
$toast-padding-y: 0.25rem !default;
$toast-font-size: 0.875rem !default;
$toast-color: null !default;
$toast-background-color: rgba(color.$white, 0.85) !default;
$toast-border-width: 1px !default;
$toast-border-color: rgba(color.$black, 0.1) !default;
$toast-border-radius: 0.25rem !default;
$toast-box-shadow: 0 0.25rem 0.75rem rgba(color.$black, 0.1) !default;

$toast-header-color: color.$gray-60 !default;
$toast-header-background-color: rgba(color.$white, 0.85) !default;
$toast-header-border-color: rgba(color.$black, 0.05) !default;
