@use 'sass:map';

@use './../spacing';
@use './../type';
@use './../components/alert';

$toast-width: 25rem;
$toast-width-sm: 21rem;

$toast-margin: spacing.$spacer;
$toast-padding-x: spacing.$size-regular;
$toast-padding-y: spacing.$size-small-regular;
$toast-font-size: type.$font-size-tiny;
$toast-heading-font-size: type.$font-size-small;
$toast-hr-margin-top: spacing.$size-micro;
$toast-hr-margin-bottom: spacing.$size-small-regular;
$toast-icon-size: spacing.$size-big;

$toast-variants: alert.$alert-variants;
