@use './../color';

// Tooltips

$tooltip-font-size: 1rem !default;
$tooltip-max-width: 310px !default;
$tooltip-color: color.$black !default;
$tooltip-bg: color.$yellow !default;
$tooltip-border-radius: 0 !default;
$tooltip-opacity: 1 !default;
$tooltip-padding-y: 0.25rem !default;
$tooltip-padding-x: 0.5rem !default;
$tooltip-margin: 0 !default;

$tooltip-arrow-width: 0.8rem !default;
$tooltip-arrow-height: 0.4rem !default;
$tooltip-arrow-color: $tooltip-bg !default;
