@use 'sass:list';

$grid-breakpoints-lower: (xs, sm, md);
$grid-breakpoints-upper: (lg, xl);

$content-cols: (
  xs: 12,
  lg: 8,
  xl: 7,
);

$content-gap: (
  sm: 32px,
  xl: 40px,
);

$image-cols: (
  xs: 10,
  sm: 8,
  lg: 4,
  xl: 5,
);

$image-aspectratio: (
  xs: list.slash(1, 0.7),
  sm: list.slash(1, 0.7),
  md: list.slash(1, 0.7),
  lg: list.slash(0.66, 1),
  xl: list.slash(0.9, 1),
);
