@use '@swisspost/design-system-styles/variables/color';
@use '@swisspost/design-system-styles/placeholders/color' as color-ph;
@use '../../utils/utils.scss';
@use '../../utils/mixins.scss';
@use '../../utils/variables.scss';
@use './logo-animation/logo-animation.scss';

:host {
  @extend %color-background-light-variables;

  display: block;
  position: relative;
  font-size: 1rem;
  font-weight: 300;
  z-index: var(--header-z-index, 10);

  --language-dropdown-margin-top: 0px;

  @include mixins.set-custom-property(--meta-header-height, variables.$meta-header-height);
  @include mixins.set-custom-property(--header-height, variables.$header-height);
}

// Set height to 0 if meta is never visible
:host([meta='false']) {
  --meta-header-height: 0px;
  // Compensation for header border-bottom, when language dropdown is displayed within main navigation controls
  --language-dropdown-margin-top: 1px;
}

// Support different kinds of stickyness modes
// Works only in combination with setting header heights dynamically
@supports (position: sticky) {
  // If stickyness is none, simply apply no styles, all others are sticky
  :host(:not(.stickyness-none)) {
    position: sticky;
  }

  // Everything is always sticky
  :host(.stickyness-full) {
    top: 0;
  }

  // Only main nav is sticky
  :host(.stickyness-main) {
    top: calc(var(--meta-header-height, 0px) * -1);
  }

  // Hide everything
  :host(.stickyness-minimal) {
    top: calc((var(--header-height, 0px) + var(--meta-header-height, 0px) + 1px) * -1);
    transition: top 200ms ease-in;
  }

  // Show main when scrolling up or any of the menus are open
  :host(.stickyness-minimal.scrolling-up),
  :host(.stickyness-minimal.dropdown-open) {
    top: calc(var(--meta-header-height, 0px) * -1);
    transition: top 200ms ease-out;
  }
}

.post-internet-header {
  border-bottom: 1px solid color.$gray-10;
  background-color: white;
}

.main-navigation-container {
  display: flex;

  & > .main-navigation-controls {
    flex: 0 1 auto;
  }
}

.main-navigation {
  display: flex;
}

.sub-navigation-container {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  display: flex;
  background: white;
  visibility: hidden;
}

.main-navigation-item:hover .sub-navigation-container {
  visibility: visible;
}

.main-navigation-controls {
  display: flex;
  margin-left: auto;

  @include mixins.max(lg) {
    font-weight: 400;
  }

  @include mixins.min(lg) {
    font-size: 1.0625rem;
  }

  & > * {
    border-left: 1px solid color.$gray-10;
    flex: 0 0 auto;
  }
}

.main-navigation-custom-content {
  max-height: var(--header-height);
  display: flex;
  align-items: center;
  flex-shrink: 1;
}

.menu-button {
  display: flex;
  align-items: center;
  padding: 0 calc(1rem - 1px);
  font-weight: 300;
  cursor: pointer;
  border-left: 1px solid color.$gray-10;
  order: 1; /* Display on the far right because of tab order */

  @include mixins.min(lg) {
    display: none;
  }

  .visually-hidden {
    @include mixins.between(rg, lg) {
      @include mixins.reset-visually-hidden();

      margin-right: 0.5rem;
    }
  }

  svg {
    width: 1.5rem;
    height: 1.5rem;
  }
}

.full-width {
  .wide-container {
    max-width: none;
  }
}
