@use '@swisspost/design-system-styles/core.scss' as post;

.principle {
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease, background-color 0.3s ease;

  &:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    background-color: post.$light;
  }

  &--title {
    font-size: post.$font-size-regular;
  }

  &--description {
    font-size: post.$font-size-sm;
  }
}
